%h2 I. Data (Calon) Tertanggung
%fieldset
	%span.Number.Single.PositionerLeft 1.
	%label.Medium.Wrap.PositionerLeft{ :for => "TextPolicyHolderSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
	%table#TextPolicyHolderSPAJNumber.BoxSquare.PositionerLeft
	%br

	%span.Number.Single.PositionerLeft 2.
	%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
	%table#TextPolicyHolderFullName1.BoxSquare.PositionerLeft
	%br
	%table#TextPolicyHolderFullName2.BoxSquare.MediumIndent.PositionerLeft
	%br

	%span.Number.Single.PositionerLeft 3
	%label.Wrap.Medium.PositionerLeft{ :for => "TextPolicyHolderBirthPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
	%input#TextPolicyHolderBirthPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
	%span.Separator.Single.PositionerLeft ,
	%table#DatePolicyHolderBirthDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DatePolicyHolderBirthMonth.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DatePolicyHolderBirthYear.BoxSquare.PositionerLeft
	%br