%h2 Pernyataan Dan Kuasa
%fieldset
	%div.Note		
		%ol
			%li 
				Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam
				%span.QuestionnaireTitle 
				ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
			%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada)
			%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
			%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
	%br

	%label.Wrap.PositionerLeft{ :for => "TextSignedPlace" } Ditandatangani
	%input#TextSignedPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
	%span.Separator.Single.PositionerLeft
	%label.Wrap.PositionerLeft{ :for => "DateSignedDay" } Tanggal
	%span.Separator.Single.PositionerLeft
	%table#DateSignedDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DateSignedMonth.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DateSignedYear.BoxSquare.PositionerLeft
	%br

	%div.ContainerFit
		%div.Signature.Item1
			%img
			%span.Name#TextPolicyHolderSignature
			%span.Description
				Nama Lengkap & Tanda tangan
				%br
				(Calon) Pemegang Polis

		%div.Signature.Item1
			%img
			%span.Name#TextProspectiveInsuredSignature
			%span.Description
				Nama Lengkap & Tanda tangan
				%br
				(Calon) Tertanggung

		%div.Signature.Item1
			%img
			%span.Name#TextSalesSignature
			%span.Description
				Nama Lengkap & Tanda tangan
				%br
				Tenaga Penjual
	%br