%h2 I. Data (Calon) Tertanggung
%fieldset
	%span.Number.Single.PositionerLeft 1.
	%label.Medium.Wrap.PositionerLeft{ :for => "TextSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
	%table#TextSPAJNumber.BoxSquare.PositionerLeft
	%br

	%span.Number.Single.PositionerLeft 2.
	%label.Medium.Multi.PositionerLeft{ :for => "TextPolicyHolderFullName" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
	%table#TextPolicyHolderFullName.BoxSquare.PositionerLeft
	%table#TextPolicyHolderFullName2nd.BoxSquare.MediumWithNumberIndent.PositionerLeft
	%br

	%span.Number.Single.PositionerLeft 3
	%label.Wrap.Medium.PositionerLeft{ :for => "TextProspectiveInsuredBirthPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
	%input#TextProspectiveInsuredBirthPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
	%span.Separator.Single.PositionerLeft ,
	%table#DateProspectiveInsuredBirthDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DateProspectiveInsuredBirthMonth.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DateProspectiveInsuredBirthYear.BoxSquare.PositionerLeft
	%br