%h2 Data Calon Tertanggung

/ FIELDSET

%fieldset
	%span.Number.Single.PositionerLeft 1.
	%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderFullName" } Nama Lengkap (sesuai KTP)
	%table#TextPolicyHolderFullName.BoxSquare.PositionerLeft
	%br

	%span.Number.Single.PositionerLeft 2.
	%label.Wrap.Medium.PositionerLeft{ :for => "DatePolicyHolderBirthDay" } Tanggal lahir
	%table#DatePolicyHolderBirthDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DatePolicyHolderBirthMonth.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DatePolicyHolderBirthYear.BoxSquare.PositionerLeft
	%br

	%span.Number.Single.PositionerLeft 3.
	%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderSPAJNumber" } Nomor SPAJ/Polis
	%table#TextPolicyHolderSPAJNumber.BoxSquare.PositionerLeft
	%br
