%h2 DECLARATION AND AUTHORIZATION
%fieldset
	%div.Note
		%ol
			%li
				I declare that all information and answers above are complete and true. I agree that if any of the statement above is not true, Insurer has the right to cancel the life insurance contract and is not liable to refund the premium paid or pay any claims or any other losses.
			%li By purchasing this policy and signing, I represent that I am not a U.S. person  for purposes of U.S. federal income tax and that I am not acting for, or on behalf of a U.S. person.
			%li A false statement or misrepresentation of tax status by a U.S. person could lead to penalties under U.S. law. If your tax status changes and you become a U.S. citizen, you must notify us within 30 days. (United States citizens or residents must strike out this clause and initial the change at the left side).
			%li I agree to indemnify the Company in respect of any false or misleading information regarding my U.S.A. tax status. I agree that all information given in this additional form or any amendments attached with this policy will become part of the insurance contract as long as it is relevant to this policy.
	%br

	%label.Wrap.PositionerLeft{ :for => "TextSignedPlace" } Placed
	%input#TextSignedPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
	%span.Separator.Single.PositionerLeft
	%label.Wrap.PositionerLeft{ :for => "DateSignedDay" } Date
	%span.Separator.Single.PositionerLeft
	%table#DateSignedDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DateSignedMonth.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft /
	%table#DateSignedYear.BoxSquare.PositionerLeft
	%br

	%div.ContainerFit
		%div.Signature.Item1
			%img.SignatureImage.PositionerCenter
			%span.Name#TextPolicyHolderSignature
			%span.Description
				Full Name & Signature
				%br
				(Proposed) Policy Holder

		%div.Signature.Item1
			%img.SignatureImage.PositionerCenter
			%span.Name#TextProspectiveInsuredSignature
			%span.Description
				Full Name & Signature
				%br
				(Proposed) Insured

		%div.Signature.Item1
			%img.SignatureImage.PositionerCenter
			%span.Name#TextSalesSignature
			%span.Description
				Full Name & Signature
				%br
				Sales Force
	%br
