%div.FooterContainerLast
	%div.FooterLast
		%img.Medium.PositionerRight{ :src => "../../Resource/Icon/Turqoise/icon_halobca.svg" }
		%br
		%span.Note.Single.PositionerLeft.SpanFooterDetail
		%span.Note.Single.PositionerRight PT Asuransi Jiwa BCA telah terdaftar dan diawasi oleh Otoritas Jasa Keuangan.
		%br

%div.PageBreak
