%div.FooterContainerLast
	%div.FooterLast
		%div.PositionerRight
			%img.Medium.PositionerRight{ :src => "../../Resource/Icon/Turqoise/icon_halobca.svg" }
		%div.PositionerLeft
			%span.Note.Single.PositionerLeft PT Asuransi Jiwa BCA telah terdaftar dan diawasi oleh Otoritas Jasa Keuangan.
			%br
			%span.Note.Single.PositionerLeft.SpanFooterDetail
			%br
		%br

%div.PageBreak
