%div.FooterContainer
	%div.FooterGeneral
		%span.Note.Single.PositionerLeft.SpanFooterDetail
		%span.Note.Single.PositionerRight PT Asuransi Jiwa BCA telah terdaftar dan diawasi oleh Otoritas Jasa Keuangan.
		%br

%div.PageBreak