%div.FooterContainer
	%div.FooterGeneral
		%span.Note.Single.PositionerLeft OP/NB/0104/031602 Hal 1 / 8
		%span.Note.Single.PositionerRight PT Asuransi Jiwa BCA telah terdaftar dan diawasi oleh Otoritas Jasa Keuangan.
		%br

%div.PageBreak