%img{ :src => "../../jqueryLibrary/Resource/Logo/logo_bcalife_primary.svg" }
%div.Address
	%span.Header.PositionerRight PT Asuransi Jiwa BCA
	%br
	%span.Detail.PositionerRight
		Chase Plaza Lantai 22 | Jl. Jend. Sudirman Kav 21, Jakarta 12920
		%br
		Telepon: (021) 21 888 000 | Faks: (021) 2934 7977 | Email: customer@bcalife.co.id
%br