%div.HeaderContainer
	%div.HeaderGeneral
		%table#TextHeaderSPAJNumber.BoxSquare.PositionerRight
		%label.Short.Single.PositionerRight{ :for => "TextHeaderSPAJNumber" } Nomor SPAJ
		%br
		%hr

%div.HeaderBreak