%div.Note
	%p Need Attention:
	%ol
		%li Required by (Proposed) Policy Holder and/or (Proposed) Insured with black ink, printing letters, clear and mark (√) in the appropriate box selection.
		%li Required Parents (Proposed) Insured, if (Proposed) Insured aged <21 years.
		%li Mandatory sign every writing correction (if any).
		%li Writing the date always use format Date-Month-Year.
		%li If necessary, can use a separate sheet on A4 paper HVS completed and signed by the (Prospective) Policy Holders, (Proposed) Insured and Sales Force.
		%li When completed by the (Prospective) Policy Holder and/or (Proposed) Insured shall be submitted to the Head Office PT AsuransiJiwa BCA ("Insurer").