%h2 Pihak Yang Ditunjuk Untuk Menerima Kuasa dan Berwenang Untuk Bertindak Untuk dan Atas Nama Perusahaan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredCompanyRepresentativeFullName" } 1. Nama Lengkap
%table#TextProspectiveInsuredCompanyRepresentativeFullName.BoxSquare.PositionerLeft
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredCompanyRepresentativePosition" } 2. Jabatan/Pangkat/Golongan
%table#TextProspectiveInsuredCompanyRepresentativePosition.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredCompanyRepresentativeID" } 3. Nomor Identitas Diri
%table#TextProspectiveInsuredCompanyRepresentativeID.BoxSquare.PositionerLeft
%table#DateProspectiveInsuredCompanyRepresentativeActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DateProspectiveInsuredCompanyRepresentativeActiveYear" } /
%table#DateProspectiveInsuredCompanyRepresentativeActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DateProspectiveInsuredCompanyRepresentativeActiveMonth" } /
%table#DateProspectiveInsuredCompanyRepresentativeActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DateProspectiveInsuredCompanyRepresentativeActiveDay" } Masa Berlaku
%br

%label.Medium.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipColleague" } 4. Hubungan dengan Calon Tertanggung
%input#RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipColleague{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeRelationship", :value => "perusahaankaryawan" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipColleague.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipColleague" } Perusahaan / Karyawan
%input#RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipOther{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeRelationship", :value => "lainnya" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeRelationshipOther" } Lainnya, sebutkan
%div#TextProspectiveInsuredCompanyRepresentativeRelationshipOther.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeSavings" } 18. Tujuan Pembelian Asuransi
%input#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeSavings{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurpose", :value => "tabungan" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeSavings" } Tabungan
%input#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeProtection{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurpose", :value => "proteksi" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeProtection" } Proteksi
%input#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeInvestation{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurpose", :value => "investasi" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeInvestation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeInvestation" } Investasi
%input#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeEducation{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurpose", :value => "edukasi" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeEducation" } Edukasi
%input#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeOther{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurpose", :value => "lainnya" }
%div#RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRepresentativeInsurancePurposeOther" } Lainnya, sebutkan
%div#TextProspectiveInsuredCompanyRepresentativeInsurancePurposeOther.LineDot.PositionerLeft
%br

%div.Note
    %h3 Informasi Penting Jika Calon Pemegang Polis Perusahaan/Badan Hukum wajib melampirkan dokumen:
    %ol
        %li  Fotokopi Akta Pendirian/Anggaran Dasar Perusahaan berikut perubahan Anggaran Dasar beserta pengesahannya oleh Menteri Hukum dan HAM/Instansi terkait.
        %li Fotokopi Surat Izin Usaha (SIUP) atau Surat Izin Tempat Usaha (SITU) atau Surat Izin lainnya dari instansi berwenang.
        %li Fotokopi Surat Keterangan Domisili.
        %li Fotokopi Nomor Pokok Wajib Pajak (NPWP).
        %li Fotokopi Laporan Keuangan yang telah di audit.
        %li Fotokopi Identitas Diri (KTP/Paspor & KITAS) yang masih berlaku Direktur atau Pemilik Perusahaan/Badan Hukum.
        %li Surat Kuasa kepada pihak-pihak yang ditunjuk untuk bertindak untuk dan atas nama Perusahaan/Badan Hukum dalam melakukan hubungan usaha dengan
        perusahaan asuransi (Bila dikuasakan).
        %li Fotokopi Identitas Diri (KTP/Paspor & KITAS) yang masih berlaku pihak-pihak yang ditunjuk untuk bertindak untuk dan atas nama Perusahaan/Badan Hukum dalam
        melakukan hubungan usaha dengan perusahaan asuransi (Bila dikuasakan).
%br        