%label.Medium.Single.PositionerLeft{ :for => "BoxSPAJNumber" } Nomor SPAJ
%table#BoxSPAJNumber.BoxSquare.PositionerLeft
%table#BoxPolicyNumber.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "BoxPolicyNumber" } Nomor Polis
%br
%label.Medium.Single.PositionerLeft{ :for => "BoxVANumber" } Nomor VA
%table#BoxVANumber.BoxSquare.PositionerLeft
%br