%h2 A. Data Calon Pemegang Polis
%br

%h3 A1. Perorangan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCIN" } 1. Nomor CIN
%table#TextPolicyHolderCIN.BoxSquare.PositionerLeft
%span.Note.Single.PositionerLeft (Dilengkapi oleh bank)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderFullName" } 2. Nama Lengkap
%table#TextPolicyHolderFullName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderIDTypeKTP" } 3. Jenis Identitas Diri
%input#RadioButtonPolicyHolderIDTypeKTP{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "KTP" }
%div#RadioButtonPolicyHolderIDTypeKTP.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderIDTypeKTP" } KTP
%input#RadioButtonPolicyHolderIDTypeSIM{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "SIM" }
%div#RadioButtonPolicyHolderIDTypeSIM.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderIDTypeSIM" } SIM
%input#RadioButtonPolicyHolderIDTypePassport{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "PASPOR" }
%div#RadioButtonPolicyHolderIDTypePassport.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderIDTypePassport" } Paspor
%input#RadioButtonPolicyHolderIDTypeKIMSKITAS{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "KIMSKITAS" }
%div#RadioButtonPolicyHolderIDTypeKIMSKITAS.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderIDTypeKIMSKITAS" } KIMS / KITAS
%input#RadioButtonPolicyHolderIDTypeOther{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "OTHER" }
%div#RadioButtonPolicyHolderIDTypeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderIDTypeOther" } Lainnya, sebutkan
%div#TextPolicyHolderIDTypeOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderIDNumber" } 4. Nomor Identitas Diri
%table#TextPolicyHolderIDNumber.BoxSquare.PositionerLeft
%table#DatePolicyHolderActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderActiveYear" } /
%table#DatePolicyHolderActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderActiveMonth" } /
%table#DatePolicyHolderActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DatePolicyHolderActiveDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBirthPlace" } 5. Tempat Tanggal Lahir
%div#TextPolicyHolderBirthPlace.LineStraight.PositionerLeft
%table#DatePolicyHolderBirthDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderBirthMonth" } /
%table#DatePolicyHolderBirthMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderBirthYear" } /
%table#DatePolicyHolderBirthYear.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "TextPolicyHolderAge" } Usia
%table#TextPolicyHolderAge.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft Tahun
%br
%span.Note.PositionerLeft{ :style => "margin-top: -20px;" } (sesuai dengan indetitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderNationalityWNI" } 6. Kewarganegaraan
%input#RadioButtonPolicyHolderNationalityWNI{ :type => "radio", :name => "RadioButtonPolicyHolderNationality", :value => "wni" }
%div#RadioButtonPolicyHolderNationalityWNI.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderNationalityWNI" } WNI
%input#RadioButtonPolicyHolderNationalityWNA{ :type => "radio", :name => "RadioButtonPolicyHolderNationality", :value => "wna" }
%div#RadioButtonPolicyHolderNationalityWNA.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderNationalityWNA" } WNA, sebutkan
%div#TextPolicyHolderWNA.LineDot.PositionerLeft
%span.Note.PositionerLeft (Jika jawaban "WNA" mohon melampirkan fotokopi KITAS & Paspor dan melengkapi kuesioner WNA)
%br

%label.Wrap.Single.Plain.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenYes" } 7. Apakah Anda merupakan warga negara atau wajib pajak Amerika Serikat ?
%input#RadioButtonPolicyHolderUSACitizenYes{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "true" }
%div#RadioButtonPolicyHolderUSACitizenYes.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenYes" } YA
%input#RadioButtonPolicyHolderUSACitizenNo{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "false" }
%div#RadioButtonPolicyHolderUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenNo" } TIDAK
%span.Note.PositionerLeft (Jika jawaban "YA" mohon lampirkan formulir W8 / W9)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderSexMale" } 8. Jenis Kelamin
%input#RadioButtonPolicyHolderSexMale{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "male" }
%div#RadioButtonPolicyHolderSexMale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderSexMale" } Laki Laki
%input#RadioButtonPolicyHolderSexFemale{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "female" }
%div#RadioButtonPolicyHolderSexFemale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderSexFemale" } Perempuan
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderMaritalStatusSingle" } 9. Status Pernikahan
%input#RadioButtonPolicyHolderMaritalStatusSingle{ :type => "radio", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "single" }
%div#BoxPolicyHolderSingle.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderMaritalStatusSingle" } Belum Menikah
%input#RadioButtonPolicyHolderMaritalStatusMarried{ :type => "radio", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "married" }
%div#RadioButtonPolicyHolderMaritalStatusMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderMaritalStatusMarried" } Menikah
%input#RadioButtonPolicyHolderMaritalStatusWidower{ :type => "radio", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "divorced" }
%div#RadioButtonPolicyHolderMaritalStatusWidower.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderMaritalStatusWidower" } Janda / Duda
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionIslam" } 10. Agama
%input#RadioButtonPolicyHolderReligionIslam{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "islam" }
%div#RadioButtonPolicyHolderReligionIslam.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionIslam" } Islam
%input#RadioButtonPolicyHolderReligionCatholic{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "katolik" }
%div#RadioButtonPolicyHolderReligionCatholic.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionCatholic" } Kristen Katolik
%input#RadioButtonPolicyHolderReligionProtestan{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "kristen" }
%div#RadioButtonPolicyHolderReligionProtestan.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionProtestan" } Kristen Protestan
%input#RadioButtonPolicyHolderReligionHindu{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "hindu" }
%div#RadioButtonPolicyHolderReligionHindu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionHindu" } Hindu
%input#RadioButtonPolicyHolderReligionBudha{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "budha" }
%div#RadioButtonPolicyHolderReligionBudha.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionBudha" } Budha
%input#RadioButtonPolicyHolderReligionKongHuChu{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "konghuchu" }
%div#RadioButtonPolicyHolderReligionKongHuChu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionKongHuChu" } Kong Hu Chu
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderCompany" }11. a. Nama Perusahaan/Instansi/Sekolah
%table#TextPolicyHolderCompany.BoxSquare.PositionerLeft{ :style => "margin-left: 4px" }
%br

// QUICK FIX

%section.SectionFooter{ :style => "margin-top: 3px" }
	= Haml::Engine.new(File.read("footer_spajpdf_general.haml")).render

%section#SectionHeader1
	= Haml::Engine.new(File.read("header_spajpdf_general.haml")).render

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderMainJob" } Pekerjaan Utama
%table#TextPolicyHolderMainJob.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderWorkScope" } Bidang Usaha
%table#TextPolicyHolderWorkScope.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderPosition" } Jabatan
%table#TextPolicyHolderPosition.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderJobDescription" } Uraian Pekerjaan
%table#TextPolicyHolderJobDescription.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "TextPolicyHolderSideJob" } b. Pekerjaan Tambahan
%table#TextPolicyHolderSideJob.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderHomeAddress1" } 12. Alamat Tempat Tinggal
%table#TextPolicyHolderHomeAddress1.BoxSquare.PositionerLeft
%span.Note.Medium.Multi.Tight.PositionerLeft{ :style => "height: 60px;" } (Bila tidak sesuai kartu identitas Diri, diisi dengan lengkap menginformasikan nomor rumah, RT, RW, Keluarahan & Kecamatan)
%table#TextPolicyHolderHomeAddress2.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeCity.Box.Single.PositionerLeft{ :for => "TextPolicyHolderHomeCity" } Kota
%table#TextPolicyHolderHomeCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomePostalCode.Box.Single.SlimDoubleDot.PositionerLeft{ :for => "TextPolicyHolderHomePostalCode" } Kode Pos
%table#TextPolicyHolderHomePostalCode.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextPolicyHolderHomeTelephonePrefix" } Telp
%table#TextPolicyHolderHomeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeTelephoneInfix.Box.Separator.Center.Single.PositionerLeft{ :for => "TextPolicyHolderHomeTelephoneInfix" } -
%table#TextPolicyHolderHomeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderHandphone1" } 13. Nomor Ponsel
%label#LabelPolicyHolderHandphone1.Box.Single.Separator.PositionerLeft{ :for => "TextPolicyHolderHandphone1" } 1.
%table#TextPolicyHolderHandphone1.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHandphone2.Box.Single.Separator.PositionerLeft{ :for => "TextPolicyHolderHandphone2" } 2.
%table#TextPolicyHolderHandphone2.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderEmail" } 14. Alamat Email
%table#TextPolicyHolderEmail.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextPolicyHolderOfficeAddress1", :style => "height: 112px" } 15. Alamat Kantor
%table#TextPolicyHolderOfficeAddress1.BoxSquare.PositionerLeft
%table#TextPolicyHolderOfficeAddress2.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeCity.Box.Single.PositionerLeft{ :for => "TextPolicyHolderOfficeCity" } Kota
%table#TextPolicyHolderOfficeCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficePostalCode.Box.Single.SlimDoubleDot.PositionerLeft{ :for => "TextPolicyHolderOfficePostalCode" } Kode Pos
%table#TextPolicyHolderOfficePostalCode.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextPolicyHolderOfficeTelephonePrefix" } Telp
%table#TextPolicyHolderOfficeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeTelephoneInfix.Box.Separator.Center.Single.PositionerLeft{ :for => "TextPolicyHolderOfficeTelephoneInfix" } -
%table#TextPolicyHolderOfficeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceHomeAddress" } 16. Alamat Korespondensi
%input#RadioButtonPolicyHolderCorrespondanceHomeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "home" }
%div#BoxPolicyHolderCorrespondanceHomeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceHomeAddress" } Alamat Tempat Tinggal
%input#RadioButtonPolicyHolderCorrespondanceOfficeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "office" }
%div#RadioButtonPolicyHolderCorrespondanceOfficeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceOfficeAddress" } Alamat Kantor
%br

%label.Medium.Double.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredSelf" } 17. Hubungan dengan Calon Tertangung
%input#RadioButtonPolicyHolderRelationAssuredSelf{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "self" }
%div#RadioButtonPolicyHolderRelationAssuredSelf.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredSelf" } Diri Sendiri
%input#RadioButtonPolicyHolderRelationAssuredSpouse{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "spouse" }
%div#RadioButtonPolicyHolderRelationAssuredSpouse.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredSpouse" } Suami / Istri
%input#RadioButtonPolicyHolderRelationAssuredFamily{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "family" }
%div#RadioButtonPolicyHolderRelationAssuredFamily.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredFamily" } Orang Tua / Anak
%input#RadioButtonPolicyHolderRelationAssuredColleague{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "colleague" }
%div#RadioButtonPolicyHolderRelationAssuredColleague.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredColleague" } Perusahaan / Karyawan
%input#RadioButtonPolicyHolderRelationAssuredOther{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "other" }
%div#RadioButtonPolicyHolderRelationAssuredOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredOther" } Lainnya, sebutkan
%div#LinePolicyHolderOtherRelationship.LineDot.PositionerLeft
%br

%label.Medium.Double.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurpose" } 18. Tujuan Pembelian Asuransi
%input#CheckboxPolicyHolderInsurancePurposeSavings{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "savings" }
%div#CheckboxPolicyHolderInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurposeSavings" } Tabungan
%input#CheckboxPolicyHolderInsurancePurposeProtection{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "protection" }
%div#CheckboxPolicyHolderInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurposeProtection" } Proteksi
%input#CheckboxPolicyHolderInsurancePurposeInvestation{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "investment" }
%div#CheckboxPolicyHolderInsurancePurposeInvestation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurposeInvestation" } Investasi
%input#CheckboxPolicyHolderInsurancePurposeEducation{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "education" }
%div#CheckboxPolicyHolderInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurposeEducation" } Pendidikan
%input#CheckboxPolicyHolderInsurancePurposeOther{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "other" }
%div#CheckboxPolicyHolderInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurposeOther" } Lainnya, sebutkan
%div#TextPolicyHolderInsurancePurposeOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderNPWP" } 19. Nomor NPWP (jika ada)
%table#TextPolicyHolderNPWP.BoxSquare.PositionerLeft
%table#DatePolicyHolderNPWPActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderNPWPActiveYear" } /
%table#DatePolicyHolderNPWPActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderNPWPActiveMonth" } /
%table#DatePolicyHolderNPWPActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DatePolicyHolderNPWPActiveDay" } Tanggal Berlaku
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderSalaryIDR" } 20. Penghasilan Kotor Per Tahun
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderSalaryIDR" } Gaji
%input#RadioButtonPolicyHolderSalaryIDR{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "idr" }
%div#RadioButtonPolicyHolderSalaryIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderSalaryIDR" } Rp
%input#RadioButtonPolicyHolderSalaryUSD{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "usd" }
%div#RadioButtonPolicyHolderSalaryUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderSalaryUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextPolicyHolderSalary" } Jumlah Penghasilan / tahun
%table#TextPolicyHolderSalary.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderRevenueIDR" } Hasil Usaha
%input#RadioButtonPolicyHolderRevenueIDR{ :type => "radio", :name => "RadioButtonPolicyHolderRevenue", :value => "idr" }
%div#RadioButtonPolicyHolderRevenueIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderRevenueIDR" } Rp
%input#RadioButtonPolicyHolderRevenueUSD{ :type => "radio", :name => "RadioButtonPolicyHolderRevenue", :value => "usd" }
%div#RadioButtonPolicyHolderRevenueUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderRevenueUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextPolicyHolderRevenue" } Jumlah Penghasilan / tahun
%table#TextPolicyHolderRevenue.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherIncomeIDR" } Penghasilan Lainnya
%input#RadioButtonPolicyHolderOtherIncomeIDR{ :type => "radio", :name => "RadioButtonPolicyHolderOtherIncome", :value => "idr" }
%div#RadioButtonPolicyHolderOtherIncomeIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherIncomeIDR" } Rp
%input#RadioButtonPolicyHolderOtherIncomeUSD{ :type => "radio", :name => "RadioButtonPolicyHolderOtherIncome", :value => "usd" }
%div#RadioButtonPolicyHolderOtherIncomeUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherIncomeUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextPolicyHolderOtherIncome" } Jumlah Penghasilan / tahun
%table#TextPolicyHolderOtherIncome.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "TextPolicyHolderSource" } Jelaskan Sumbernya
%table#TextPolicyHolderSource.BoxSquare.PositionerLeft
%br
%br

// QUICK FIX

%h3{ :style => "margin-top: 25px; margin-bottom: 21px;" } A2. PERUSAHAAN/BERBADAN HUKUM
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyName" } 1. Nama Perusahaan
%table#TextPolicyHolderCompanyName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyTypePT" } 2. Jenis Perusahaan
%input#RadioButtonPolicyHolderCompanyTypePT{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "pt" }
%div#RadioButtonPolicyHolderCompanyTypePT.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyTypePT" } Perseroan Terbatas
%input#RadioButtonPolicyHolderCompanyTypeYayasan{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "yayasan" }
%div#RadioButtonPolicyHolderCompanyTypeYayasan.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyTypeYayasan" } Yayasan
%input#RadioButtonPolicyHolderCompanyTypeBUMN{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "bumn" }
%div#RadioButtonPolicyHolderCompanyTypeBUMN.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyTypeBUMN" } BUMN
%input#RadioButtonPolicyHolderCompanyTypeOther{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "lainnya" }
%div#RadioButtonPolicyHolderCompanyTypeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyTypeOther" } Lainnya, sebutkan
%div#TextPolicyHolderCompanyTypeOther.LineDot.PositionerLeft
%br

// QUICK FIX START

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyNoAnggaranDasar" } 3. Nomor Anggaran Dasar/Akta Pendirian
%table#TextPolicyHolderCompanyNoAnggaranDasar.BoxSquare.PositionerLeft
%br

%div{ :style => "margin-top: 10px;" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanyNoAnggaranDasarExpired" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanyNoAnggaranDasarExpiredDay" } Tanggal Berlaku
	%table#DatePolicyHolderCompanyNoAnggaranDasarExpiredDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyNoAnggaranDasarExpiredMonth" } /
	%table#DatePolicyHolderCompanyNoAnggaranDasarExpiredMonth.BoxSquare.PositionerLeft
	%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyNoAnggaranDasarExpiredYear" } /
	%table#DatePolicyHolderCompanyNoAnggaranDasarExpiredYear.BoxSquare.PositionerLeft
	%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyNoSIUP" } 4. Nomor Surat Ijin Usaha
%table#TextPolicyHolderCompanyNoSIUP.BoxSquare.PositionerLeft
%br

%div{ :style => "margin-top: 10px;" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanySIUPExpired" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanySIUPExpiredDay" } Tanggal Berlaku
	%table#DatePolicyHolderCompanySIUPExpiredDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanySIUPExpiredMonth" } /
	%table#DatePolicyHolderCompanySIUPExpiredMonth.BoxSquare.PositionerLeft
	%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanySIUPExpiredYear" } /
	%table#DatePolicyHolderCompanySIUPExpiredYear.BoxSquare.PositionerLeft
	%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyNoTDP" } 5. Nomor TDP
%table#TextPolicyHolderCompanyNoTDP.BoxSquare.PositionerLeft
%br

%div{ :style => "margin-top: 10px;" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanyNoTDPExpired" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanyNoTDPExpiredDay" } Tanggal Berlaku
	%table#DatePolicyHolderCompanyNoTDPExpiredDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyNoTDPExpiredMonth" } /
	%table#DatePolicyHolderCompanyNoTDPExpiredMonth.BoxSquare.PositionerLeft
	%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyNoTDPExpiredYear" } /
	%table#DatePolicyHolderCompanyNoTDPExpiredYear.BoxSquare.PositionerLeft
	%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyNoSKDP" } 6. Nomor SKDP (Domisili)
%table#TextPolicyHolderCompanyNoSKDP.BoxSquare.PositionerLeft
%br

%div{ :style => "margin-top: 10px;" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanyNoSKDPExpired" }
	%label.Medium.Single.Plain.PositionerLeft{ :for => "DatePolicyHolderCompanyNoSKDPExpiredDay" } Tanggal Berlaku
	%table#DatePolicyHolderCompanyNoSKDPExpiredDay.BoxSquare.PositionerLeft
	%span.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyNoSKDPExpiredMonth" } /
	%table#DatePolicyHolderCompanyNoSKDPExpiredMonth.BoxSquare.PositionerLeft
	%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyNoSKDPExpiredYear" } /
	%table#DatePolicyHolderCompanyNoSKDPExpiredYear.BoxSquare.PositionerLeft
	%br

%div{ :style => "margin-top: 10px;" }
	%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyNoNPWP" } 7. Nomor NPWP (jika ada)
	%table#TextPolicyHolderCompanyNoNPWP.BoxSquare.PositionerLeft
	%table#DatePolicyHolderCompanyNoNPWPYear.BoxSquare.PositionerRight
	%span.Separator.PositionerRight /
	%table#DatePolicyHolderCompanyNoNPWPMonth.BoxSquare.PositionerRight
	%span.Separator.PositionerRight /
	%table#DatePolicyHolderCompanyNoNPWPDay.BoxSquare.PositionerRight
	%label.Wrap.Single.PositionerRight Tanggal Berlaku
	%br

// QUICK FIX END

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanySector" } 8. Bidang Usaha
%table#TextPolicyHolderCompanySector.BoxSquare.PositionerLeft
%br

// QUICK FIX

%section.SectionFooter{ :style => "margin-top: 170px" }
	= Haml::Engine.new(File.read("footer_spajpdf_general.haml")).render

%section#SectionHeader2
	= Haml::Engine.new(File.read("header_spajpdf_general.haml")).render

%label.Medium.Multi.PositionerLeft{ :for => "TextPolicyHolderCompanyAddress" } 9. Alamat Perusahaan (sesuai SKDP)
%table#TextPolicyHolderCompanyAddress.BoxSquare.PositionerLeft
%label#LabelPolicyHolderCompanyCity.Box.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyCity" } Kota
%table#TextPolicyHolderCompanyCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderCompanyPostalCode.Box.Single.SlimDoubleDot.PositionerLeft{ :for => "TextPolicyHolderCompanyPostalCode" } Kode Pos
%table#TextPolicyHolderCompanyPostalCode.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyAsset1" } 10. Aset Perusahaan (Rp)
%input#RadioButtonPolicyHolderCompanyAsset1{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyAsset", :value => "100juta" }
%div#RadioButtonPolicyHolderCompanyAsset1.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyAsset1" } <100 Juta
%input#RadioButtonPolicyHolderCompanyAsset2{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyAsset", :value => "100juta1miliar" }
%div#RadioButtonPolicyHolderCompanyAsset2.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyAsset2" } 100 Juta - 1 Miliar
%input#RadioButtonPolicyHolderCompanyAsset3{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyAsset", :value => "1miliar10miliar" }
%div#RadioButtonPolicyHolderCompanyAsset3.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyAsset3" } >1 Miliar - 10 Miliar
%input#RadioButtonPolicyHolderCompanyAsset4{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyAsset", :value => "10miliar100miliar" }
%div#RadioButtonPolicyHolderCompanyAsset4.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyAsset4" } >10 Miliar - 100 Miliar
%input#RadioButtonPolicyHolderCompanyAsset5{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyAsset", :value => "100miliarlebih" }
%div#RadioButtonPolicyHolderCompanyAsset5.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyAsset5" } >100 Miliar
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRevenue1" } 11. Aset Perusahaan (Rp)

%input#RadioButtonPolicyHolderCompanyRevenue1{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRevenue", :value => "100juta" }
%div#RadioButtonPolicyHolderCompanyRevenue1.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRevenue1" } <100 Juta

%input#RadioButtonPolicyHolderCompanyRevenue2{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRevenue", :value => "100juta500juta" }
%div#RadioButtonPolicyHolderCompanyRevenue2.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRevenue2" } 100 Juta - 500 Juta

%input#RadioButtonPolicyHolderCompanyRevenue3{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRevenue", :value => "500juta1miliar" }
%div#RadioButtonPolicyHolderCompanyRevenue3.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRevenue3" } >500 Juta - 1 Miliar

%input#RadioButtonPolicyHolderCompanyRevenue4{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRevenue", :value => "1miliar10miliar" }
%div#RadioButtonPolicyHolderCompanyRevenue4.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRevenue4" } >1 Miliar - 10 Miliar

%input#RadioButtonPolicyHolderCompanyRevenue5{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRevenue", :value => "10miliar" }
%div#RadioButtonPolicyHolderCompanyRevenue5.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRevenue5" } >10 Miliar
%br
