%h2 A. Data Calon Pemegang Polis
%br

%h3 A1. Perorangan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCIN" } 1. Nomor CIN
%table#TextPolicyHolderCIN.BoxSquare.PositionerLeft
%span.Note.Single.PositionerLeft (Dilengkapi oleh bank)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderFullName" } 2. Nama Lengkap
%table#TextPolicyHolderFullName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderIDType" } 3. Jenis Identitas Diri
%input#RadioButtonPolicyHolderKTP{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "ktp" }
%div#RadioButtonPolicyHolderKTP.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderKTP" } KTP
%input#RadioButtonPolicyHolderSIM{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "sim" }
%div#RadioButtonPolicyHolderSIM.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderSIM" } SIM
%input#RadioButtonPolicyHolderPaspor{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "paspor" }
%div#RadioButtonPolicyHolderPaspor.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderPaspor" } Paspor
%input#RadioButtonPolicyHolderKIMSKITAS{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "kimskitas" }
%div#RadioButtonPolicyHolderKIMSKITAS.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderKIMSKITAS" } KIMS / KITAS
%input#RadioButtonPolicyHolderOtherID{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "other" }
%div#RadioButtonPolicyHolderOtherID.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherID" } Lainnya, sebutkan
%div#TextPolicyHolderOtherID.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderID" } 4. Nomor Identitas Diri
%table#TextPolicyHolderID.BoxSquare.PositionerLeft
%table#DatePolicyHolderActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderActiveYear" } /
%table#DatePolicyHolderActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderActiveMonth" } /
%table#DatePolicyHolderActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DatePolicyHolderActiveDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderDateOfBirth" } 5. Tempat Tanggal Lahir
%div#TextPolicyHolderPlace.LineStraight.PositionerLeft
%table#DateHolderOfBirthDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "DateHolderOfBirthMonth" } /
%table#DateHolderOfBirthMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "DateHolderOfBirthYear" } /
%table#DateHolderOfBirthYear.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderAge" } Age
%table#BoxPolicyHolderAge.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft Tahun
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderNationalityWNI" } 6. Kewarganegaraan
%input#RadioButtonPolicyHolderWNI{ :type => "radio", :name => "RadioButtonPolicyHolderNationality", :value => "wni" }
%div#RadioButtonPolicyHolderNationalityWNI.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderNationalityWNI" } WNI
%input#RadioButtonPolicyHolderWNA{ :type => "radio", :name => "RadioButtonPolicyHolderNationality", :value => "wna" }
%div#RadioButtonPolicyHolderNationalityWNA.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderNationalityWNA" } WNA, sebutkan 
%div#TextPolicyHolderNationalityWNA.LineDot.PositionerLeft
%span.Note.PositionerLeft (Jika jawaban "WNA" mohon melampirkan fotokopi KITAS & Paspor dan melengkapi kuesioner WNA)
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenYes" } 7. Apakah Anda merupakan warga negara atau wajib pajak Amerika Serikat ?
%input#RadioButtonPolicyHolderUSACitizenYes{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "yes" }
%div#RadioButtonPolicyHolderUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenYes" } YA 
%input#RadioButtonPolicyHolderUSACitizenNo{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "no" }
%div#RadioButtonPolicyHolderUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenNo" } TIDAK
%span.Note.PositionerLeft (Jika jawaban "YA" mohon lampirkan formulir W8 / W9)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderSexMale" } 8. Jenis Kelamin
%input#RadioButtonPolicyHolderSexMale{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "male" }
%div#RadioButtonPolicyHolderSexMale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderSexMale" } Laki Laki
%input#RadioButtonPolicyHolderSexFemale{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "female" }
%div#RadioButtonPolicyHolderSexFemale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderSexFemale" } Wanita
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderStatusSingle" } 9. Status Pernikahan
%input#RadioButtonPolicyHolderStatusSingle{ :type => "radio", :name => "RadioButtonPolicyHolderStatus", :value => "single" }
%div#BoxPolicyHolderSingle.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderStatusSingle" } Belum Menikah
%input#RadioButtonPolicyHolderStatusMarried{ :type => "radio", :name => "RadioButtonPolicyHolderStatus", :value => "married" }
%div#RadioButtonPolicyHolderStatusMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderStatusMarried" } Menikah
%input#RadioButtonPolicyHolderStatusWidower{ :type => "radio", :name => "RadioButtonPolicyHolderStatus", :value => "widower" }
%div#RadioButtonPolicyHolderStatusWidower.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderStatusWidower" } Janda / Duda
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionIslam" } 10. Agama
%input#RadioButtonPolicyHolderReligionIslam{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "islam" }
%div#RadioButtonPolicyHolderReligionIslam.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionIslam" } Islam
%input#RadioButtonPolicyHolderReligionCatholic{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "katolik" }
%div#RadioButtonPolicyHolderReligionCatholic.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionCatholic" } Kristen Katolik
%input#RadioButtonPolicyHolderReligionProtestan{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "kristen" }
%div#RadioButtonPolicyHolderReligionProtestan.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionProtestan" } Kristen Protestan
%input#RadioButtonPolicyHolderReligionHindu{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "hindu" }
%div#RadioButtonPolicyHolderReligionHindu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionHindu" } Hindu
%input#RadioButtonPolicyHolderReligionBudha{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "budha" }
%div#RadioButtonPolicyHolderReligionBudha.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionBudha" } Budha
%input#RadioButtonPolicyHolderReligionKongHuChu{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "konghuchu" }
%div#RadioButtonPolicyHolderReligionKongHuChu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderReligionKongHuChu" } Kong Hu Chu
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderCompany" }11. a. Nama Perusahaan/Instansi/Sekolah
%table#TextPolicyHolderCompany.BoxSquare.PositionerLeft{ :style => "margin-left: 4px" }
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderMainJob" } Pekerjaan Utama
%table#TextPolicyHolderMainJob.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderWorkScope" } Bidang Usaha
%table#TextPolicyHolderWorkScope.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderPosition" } Jabatan
%table#TextPolicyHolderPosition.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextPolicyHolderJobDescription" } Uraian Pekerjaan
%table#TextPolicyHolderJobDescription.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "TextPolicyHolderSideJob" } b. Pekerjaan Tambahan
%table#TextPolicyHolderSideJob.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextPolicyHolderHomeAddress1", :style => "height: 112px" } 12. Alamat Tempat Tinggal
%table#TextPolicyHolderHomeAddress1.BoxSquare.PositionerLeft
%table#TextPolicyHolderHomeAddress2.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeCity.Box.Single.PositionerLeft{ :for => "TextPolicyHolderHomeCity" } Kota
%table#TextPolicyHolderHomeCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomePostalCode.Box.Single.PositionerLeft{ :for => "TextPolicyHolderHomePostalCode" } Kode Pos
%table#TextPolicyHolderHomePostalCode.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextPolicyHolderHomeTelephonePrefix" } Telp
%table#TextPolicyHolderHomeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextPolicyHolderHomeTelephoneInfix" } -
%table#TextPolicyHolderHomeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTelephone1" } 13. Nomor Ponsel
%label#LabelPolicyHolderTelephone1.Box.Single.PositionerLeft{ :for => "TextPolicyHolderTelephone1" } 1. 
%table#TextPolicyHolderTelephone1.BoxSquare.PositionerLeft
%label#LabelPolicyHolderTelephone2.Box.Single.PositionerLeft{ :for => "TextPolicyHolderTelephone2" } 2. 
%table#TextPolicyHolderTelephone2.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderEmail" } 14. Alamat Email
%table#TextPolicyHolderEmail.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextPolicyHolderOfficeAddress1", :style => "height: 112px" } 15. Alamat Kantor
%table#TextPolicyHolderOfficeAddress1.BoxSquare.PositionerLeft
%table#TextPolicyHolderOfficeAddress2.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeCity.Box.Single.PositionerLeft{ :for => "TextPolicyHolderOfficeCity" } Kota
%table#TextPolicyHolderOfficeCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficePostalCode.Box.Single.PositionerLeft{ :for => "TextPolicyHolderOfficePostalCode" } Kode Pos
%table#TextPolicyHolderOfficePostalCode.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextPolicyHolderOfficeTelephonePrefix" } Telp
%table#TextPolicyHolderOfficeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextPolicyHolderOfficeTelephoneInfix" } -
%table#TextPolicyHolderOfficeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceHomeAddress" } 16. Alamat Korespondensi
%input#RadioButtonPolicyHolderCorrespondanceHomeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "rumah" }
%div#BoxPolicyHolderCorrespondanceHomeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceHomeAddress" } Alamat Tempat Tinggal
%input#RadioButtonPolicyHolderCorrespondanceOfficeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "kantor" }
%div#RadioButtonPolicyHolderCorrespondanceOfficeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceOfficeAddress" } Alamat Kantor
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredSelf" } 17. Hubungan dengan Calon Tertangung
%input#RadioButtonPolicyHolderRelationAssuredSelf{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "dirisendiri" }
%div#RadioButtonPolicyHolderRelationAssuredSelf.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredSelf" } Diri Sendiri
%input#RadioButtonPolicyHolderRelationAssuredSpouse{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "suamiistri" }
%div#RadioButtonPolicyHolderRelationAssuredSpouse.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredSpouse" } Suami / Istri
%input#RadioButtonPolicyHolderRelationAssuredFamily{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "orangtuaanak" }
%div#RadioButtonPolicyHolderRelationAssuredFamily.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredFamily" } Orang Tua / Anak
%input#RadioButtonPolicyHolderRelationAssuredColleague{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "perusahaankaryawan" }
%div#RadioButtonPolicyHolderRelationAssuredColleague.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredColleague" } Perusahaan / Karyawan
%input#RadioButtonPolicyHolderRelationAssuredOther{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "lainnya" }
%div#RadioButtonPolicyHolderRelationAssuredOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssuredOther" } Lainnya, sebutkan
%div#LinePolicyHolderOtherRelationship.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderInsurancePurposeSavings" } 18. Tujuan Pembelian Asuransi
%input#RadioButtonPolicyHolderInsurancePurposeSavings{ :type => "radio", :name => "RadioButtonPolicyHolderInsurancePurpose", :value => "tabungan" }
%div#RadioButtonPolicyHolderInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderInsurancePurposeSavings" } Tabungan
%input#RadioButtonPolicyHolderInsurancePurposeProtection{ :type => "radio", :name => "RadioButtonPolicyHolderInsurancePurpose", :value => "proteksi" }
%div#RadioButtonPolicyHolderInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderInsurancePurposeProtection" } Proteksi
%input#RadioButtonPolicyHolderInsurancePurposeInvestation{ :type => "radio", :name => "RadioButtonPolicyHolderInsurancePurpose", :value => "investasi" }
%div#RadioButtonPolicyHolderInsurancePurposeInvestation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderInsurancePurposeInvestation" } Investasi
%input#RadioButtonPolicyHolderInsurancePurposeEducation{ :type => "radio", :name => "RadioButtonPolicyHolderInsurancePurpose", :value => "edukasi" }
%div#RadioButtonPolicyHolderInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderInsurancePurposeEducation" } Edukasi
%input#RadioButtonPolicyHolderInsurancePurposeOther{ :type => "radio", :name => "RadioButtonPolicyHolderInsurancePurpose", :value => "lainnya" }
%div#RadioButtonPolicyHolderInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderInsurancePurposeOther" } Lainnya, sebutkan
%div#LinePolicyHolderOtherPurpose.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderNPWP" } 19. Nomor NPWP (jika ada)
%table#TextPolicyHolderNPWP.BoxSquare.PositionerLeft
%table#DatePolicyHolderNPWPActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderNPWPActiveYear" } /
%table#DatePolicyHolderNPWPActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderNPWPActiveMonth" } /
%table#DatePolicyHolderNPWPActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DatePolicyHolderNPWPActiveDay" } Masa Berlaku
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderSalaryIDR" } 20. Penghasilan Kotor Per Tahun
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderSalaryIDR" } Gaji
%input#RadioButtonPolicyHolderSalaryIDR{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "idr" }
%div#RadioButtonPolicyHolderSalaryIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderSalaryIDR" } Rp
%input#RadioButtonPolicyHolderSalaryUSD{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "usd" }
%div#RadioButtonPolicyHolderSalaryUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderSalaryUSD" } USD
%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderSalary" } Jumlah Penghasilan / tahun
%table#TextPolicyHolderSalary.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderRevenueIDR" } Hasil Usaha
%input#RadioButtonPolicyHolderRevenueIDR{ :type => "radio", :name => "RadioButtonPolicyHolderRevenue", :value => "idr" }
%div#RadioButtonPolicyHolderRevenueIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderRevenueIDR" } Rp
%input#RadioButtonPolicyHolderRevenueUSD{ :type => "radio", :name => "RadioButtonPolicyHolderRevenue", :value => "usd" }
%div#RadioButtonPolicyHolderRevenueUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderRevenueUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextPolicyHolderRevenue" } Jumlah Penghasilan / tahun
%table#TextPolicyHolderRevenue.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "RadioButtonHolderOtherIncomeIDR" } Penghasilan Lainnya
%input#RadioButtonHolderOtherIncomeIDR{ :type => "radio", :name => "RadioButtonHolderOtherIncome", :value => "idr" }
%div#RadioButtonHolderOtherIncomeIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonHolderOtherIncomeIDR" } Rp
%input#RadioButtonHolderOtherIncomeUSD{ :type => "radio", :name => "RadioButtonHolderOtherIncome", :value => "usd" }
%div#RadioButtonHolderOtherIncomeUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonHolderOtherIncomeUSD" } USD

%label.RadioButton.PositionerLeft{ :for => "TextPolicyHolderOtherIncome" } Jumlah Penghasilan / tahun
%table#TextPolicyHolderOtherIncome.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "TextPolicyHolderSource" } Jelaskan Sumbernya
%table#TextPolicyHolderSource.BoxSquare.PositionerLeft
%br
%br

%h3 A2. PERUSAHAAN/BERBADAN HUKUM
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyName" } 1. Nama Perusahaan
%table#BoxPolicyHolderCompanyName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyType" } 2. Jenis Perusahaan
%div#BoxPolicyHolderCompanyPT.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyPT" } Perseroan Terbatas
%div#BoxPolicyHolderCompanyYayasan.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyYayasan" } Yayasan
%div#BoxPolicyHolderCompanyBUMN.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyBUMN" } BUMN
%div#BoxPolicyHolderCompanyBUMN.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyOther" } Lainnya, sebutkan
%div#LinePolicyHolderCompanyOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoAnggaranDasar" } 3. Nomor Anggaran Dasar/Akta Pendirian
%table#BoxPolicyHolderCompanyNoAnggaranDasar.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAnggaranDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanyAnggaranDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAnggaranDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanyAnggaranDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAnggaranDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanyAnggaranDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoSuratIjinUsaha" } 4. Nomor Surat Ijin Usaha
%table#BoxPolicyHolderCompanyNoSuratIjinUsaha.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanySIUPDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanySIUPDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanySIUPDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoTDP" } 5. Nomor TDP
%table#BoxPolicyHolderCompanyNoTDP.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanyTDPDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanyTDPDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanyTDPDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoSKDP" } 6. Nomor SKDP (Domisili)
%table#BoxPolicyHolderCompanyNoSKDP.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanySKDPDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanySKDPDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanySKDPDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoNPWP" } 7. Nomor NPWP (jika ada)
%table#BoxPolicyHolderCompanyNoNPWP.BoxSquare.PositionerLeft
%table#BoxPolicyHolderCompanyNoNPWPDateYear.BoxSquare.PositionerRight
%span.Separator.PositionerRight /
%table#BoxPolicyHolderCompanyNoNPWPDateMonth.BoxSquare.PositionerRight
%span.Separator.PositionerRight /
%table#BoxPolicyHolderCompanyNoNPWPDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight Tanggal Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySector" } 8. Bidang Usaha
%table#BoxPolicyHolderCompanySector.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "BoxPolicyHolderCompanyAddress" } 9. Alamat Perusahaan (sesuai SKDP)
%table#BoxPolicyHolderCompanyAddress.BoxSquare.PositionerLeft
%label#LabelPolicyHolderCompanyCity.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyCity" } Kota
%table#BoxPolicyHolderCompanyCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderCompanyPostalCode.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyPostalCode" } Kode Pos
%table#BoxPolicyHolderCompanyPostalCode.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset" } 10. Aset Perusahaan (Rp)
%div#BoxPolicyHolderCompanyAsset.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset" } <100 Juta
%div#BoxPolicyHolderCompanyAsset2.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset2" } 100 Juta - 1 Miliar
%div#BoxPolicyHolderCompanyAsset3.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset3" } >1 Miliar - 10 Miliar
%div#BoxPolicyHolderCompanyAsset4.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset4" } >10 Miliar - 100 Miliar
%div#BoxPolicyHolderCompanyAsset5.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset5" } >100 Miliar
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset6" } 11. Aset Perusahaan (Rp)
%div#BoxPolicyHolderCompanyAsset6.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset6" } <100 Juta
%div#BoxPolicyHolderCompanyAsset7.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset7" } 100 Juta - 500 Juta
%div#BoxPolicyHolderCompanyAsset8.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset8" } >500 Juta - 1 Miliar
%div#BoxPolicyHolderCompanyAsset9.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset9" } >1 Miliar - 10 Miliar
%div#BoxPolicyHolderCompanyAsset10.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset10" } >10 Miliar
%br