%h2 C. DATA CALON PENERIMA MANFAAT

%table#TableBeneficiariesList.Round
    %thead
        %tr
            %th{ :rowspan => "2", :style => "font-weight: normal;" } No.
            %th{ :rowspan => "2", :style => "font-weight: normal;" } Nama Lengkap (Diisi sesuai dengan Identitas Diri yang berlaku)
            %th{ :colspan => "3", :style => "font-weight: normal;" } Tanggal Lahir
            %th{ :rowspan => "2", :style => "white-space: nowrap; font-weight: normal;" } L / P
            %th{ :rowspan => "2", :style => "font-weight: normal;" } Hubungan dengan Calon Tertanggung*
            %th{ :rowspan => "2", :style => "font-weight: normal;" } Kewarganegaraan            
        %tr
            %th{ :style => "font-weight: normal;" } Tanggal
            %th{ :style => "font-weight: normal;" } Bulan
            %th{ :style => "font-weight: normal;" } Tahun


%label.Plain.PositionerLeft
    * Hubungan antara Calon Penerima Manfaat dengan Calon Tertanggung harus memiliki hubungan
    %i insurable interest.
%br
%label.Plain.PositionerLeft{ :style => "text-align: justify;" }
    Jika pada saat pembayaran Manfaat Asuransi, Calon Penerima Manfaat belum berusia 21 tahun, belum pernah menikah dan/atau mengalami gangguan kejiwaan maka Manfaat Asuransi akan dibayarkan kepada wali yang sah sesuai dengan hukum dan peraturan yang berlaku dan memiliki hubungan
    %i insurable interest.
    Calon Pemegang Polis wajib menuliskan nama wali pada kolom data Calon Penerima Manfaat dan melampirkan surat pernyataan perwalian.
%br
