%h2 E. Data Pembayaran Premi
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentKursIDR" } 1. Mata Uang
%input#RadioButtonPremiPaymentKursIDR{ :type => "radio", :name => "RadioButtonPremiPaymentKurs", :value => "idr" }
%div#RadioButtonPremiPaymentKursIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentKursIDR" } Rupiah
%input#RadioButtonPremiPaymentKursUSD{ :type => "radio", :name => "RadioButtonPremiPaymentKurs", :value => "USD" }
%div#RadioButtonPremiPaymentKursUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentKursUSD" } USD
%br

%label.Medium.Single.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyAnually" } 2. Frekuensi Pembayaran
%input#RadionButtonPremiPaymentFrequencyAnually{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "anually" }
%div#RadionButtonPremiPaymentFrequencyAnually.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyYear.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyAnually" } Tahunan
%input#RadionButtonPremiPaymentFrequencySemester{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "semester" }
%div#RadionButtonPremiPaymentFrequencySemester.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencySemester.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencySemester" } Semesteran
%input#RadionButtonPremiPaymentFrequencyQuarterly{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "quarterly" }
%div#RadionButtonPremiPaymentFrequencyQuarterly.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyTriwulan.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyQuarterly" } Triwulan
%input#RadionButtonPremiPaymentFrequencyMonthly{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "monthly" }
%div#RadionButtonPremiPaymentFrequencyMonthly.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyMonth.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyMonthly" } Bulanan
%input#RadionButtonPremiPaymentFrequencyFull{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "full" }
%div#RadionButtonPremiPaymentFrequencyFull.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyFull.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyFull" } Sekaligus
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolder" } 3. Pembayar Premi
%input#RadioButtonPremiPaymentPayorHolder{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "holder" }
%div#RadioButtonPremiPaymentPayorHolder.BoxRound.PositionerLeft
%label#LabelPremiPaymentPolicyHolder.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolder" } Pemegang Polis
%input#RadioButtonPremiPaymentPayorHolderCompany{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "holderCompany" }
%div#RadioButtonPremiPaymentPayorHolderCompany.BoxRound.PositionerLeft
%label#LabelPremiPaymentPolicyHolderCompany.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolderCompany" } Pemegang Polis Perusahaan/Badan Hukum
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolder2Insured" }
%input#RadioButtonPremiPaymentPayor2HolderInsured{ :type => "radio", :name => "RadioButtonPremiPaymentPayorHolder2", :value => "insured" }
%div#RadioButtonPremiPaymentPayor2HolderInsured.BoxRound.PositionerLeft
%label#LabelPremiPaymentPolicyHolderTertanggung.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayor2HolderInsured" } Tertanggung
%input#RadioButtonPremiPaymentPayor2HolderThirdParty{ :type => "radio", :name => "RadioButtonPremiPaymentPayorHolder2", :value => "thirdParty" }
%div#RadioButtonPremiPaymentPayor2HolderThirdParty.BoxRound.PositionerLeft
%label#LabelPremiPaymentPolicyHolderThirdParty.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayor2HolderThirdParty" } Pihak ketiga (selain Pemegang Polis dan Tertanggung)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentWayDebit" } 4. Cara Pembayaran Premi
%input#RadioButtonPremiPaymentWayDebit{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "debit" }
%div#RadioButtonPremiPaymentWayDebit.BoxRound.PositionerLeft
%label#LabelPremiPaymentDebitAccount.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentWayDebit" } Debit Rekening
%input#RadioButtonPremiPaymentWayCredit{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "credit" }
%div#RadioButtonPremiPaymentWayCredit.BoxRound.PositionerLeft
%label#LabelPremiPaymentCreditCardAccount.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentWayCredit" } Debit Kartu Kredit
%input#RadioButtonPremiPaymentWayOther{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "other" }
%div#RadioButtonPremiPaymentWayOther.BoxRound.PositionerLeft
%label#LabelPremiPaymentOtherAccount.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentWayOther" } Lainnya, Sebutkan
%div#LinePremiPaymentOtherAccount.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPremiDescription" } 5. Wajib diisi untuk pengembalian Premi dan untuk media pembayaran Premi Lanjutan melalui Debit Rekening/Debit Kartu Kredit
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiDescriptionCreditCardHolderName" } Nama Pemilik Rekening/Kartu Kredit
%table#BoxPremiDescriptionCreditCardHolderName.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiDescriptionDebitCreditNumber" } Nomor Rekening/Kartu Kredit
%table#BoxPremiDescriptionDebitCreditNumber.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiDescriptionBankName" } Nama Bank
%table#BoxPremiDescriptionBankName.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiDescriptionBankBranch" } Nama Cabang
%table#BoxPremiDescriptionBankBranch.BoxSquare.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPremiDescription2" } 6. Apakah dalam pengajuan asuransi Anda, selain Anda dan Calon Tertanggung terdapat Pihak ketiga yang meminta mengajukan asuransi ini,
%br

%label.Wrap.Single.FirstIndent.PositionerLeft{ :for => "BoxPremiDescription3" } menjadi pembayar Premi meminta hak atas manfaat Polis?

%input#BoxPremiDescription3BoxYes{ :type => "radio", :name => "BoxPremiDescription3Box", :value => "yes" }
%div#BoxPremiDescription3BoxYes.BoxRound.PositionerLeft
%label#LabelPremiDescription3YesBox.RadioButton.PositionerLeft{ :for => "BoxPremiDescription3BoxYes" } Ya
%input#BoxPremiDescription3BoxNo{ :type => "radio", :name => "BoxPremiDescription3Box", :value => "no" }
%div#BoxPremiDescription3BoxNo.BoxRound.PositionerLeft
%label#LabelPremiDescription3NoBox.RadioButton.PositionerLeft{ :for => "BoxPremiDescription3BoxNo" } Tidak

%label.Wrap.Single.FirstIndent.PositionerLeft{ :for => "BoxPremiDescriptionYesStatement" } Bila jawaban Anda “Ya”, mohon isi dan lengkapi Formulir Keterangan Tambahan untuk Pihak ketiga.
%br