%h2 E. Data Pembayaran Premi
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentKursIDR" } 1. Mata Uang
%input#RadioButtonPremiPaymentKursIDR{ :type => "radio", :name => "RadioButtonPremiPaymentKurs", :value => "idr" }
%div#RadioButtonPremiPaymentKursIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentKursIDR" } Rupiah
%input#RadioButtonPremiPaymentKursUSD{ :type => "radio", :name => "RadioButtonPremiPaymentKurs", :value => "USD" }
%div#RadioButtonPremiPaymentKursUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentKursUSD" } USD
%br

%label.Medium.Single.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyAnually" } 2. Frekuensi Pembayaran
%input#RadionButtonPremiPaymentFrequencyAnually{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "anually" }
%div#RadionButtonPremiPaymentFrequencyAnually.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyYear.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyAnually" } Tahunan
%input#RadionButtonPremiPaymentFrequencySemester{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "semester" }
%div#RadionButtonPremiPaymentFrequencySemester.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencySemester.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencySemester" } Semesteran
%input#RadionButtonPremiPaymentFrequencyQuarterly{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "quarterly" }
%div#RadionButtonPremiPaymentFrequencyQuarterly.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyTriwulan.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyQuarterly" } Triwulan
%input#RadionButtonPremiPaymentFrequencyMonthly{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "monthly" }
%div#RadionButtonPremiPaymentFrequencyMonthly.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyMonth.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyMonthly" } Bulanan
%input#RadionButtonPremiPaymentFrequencyFull{ :type => "radio", :name => "RadionButtonPremiPaymentFrequency", :value => "full" }
%div#RadionButtonPremiPaymentFrequencyFull.BoxRound.PositionerLeft
%label#LabelPremiPaymentFrequencyFull.RadioButton.PositionerLeft{ :for => "RadionButtonPremiPaymentFrequencyFull" } Sekaligus
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolder" } 3. Pembayar Premi
%input#RadioButtonPremiPaymentPayorHolder{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "dirisendiri" }
%div#RadioButtonPremiPaymentPayorHolder.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolder" } Pemegang Polis
%input#RadioButtonPremiPaymentPayorCompany{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "perusahaan" }
%div#RadioButtonPremiPaymentPayorCompany.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorCompany" } Pemegang Polis Perusahaan/Badan Hukum
%br
%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorInsured" }
%input#RadioButtonPremiPaymentPayorInsured{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "tertanggung" }
%div#RadioButtonPremiPaymentPayorInsured.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorInsured" } Tertanggung
%input#RadioButtonPremiPaymentPayorThirdParty{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "pihakketiga" }
%div#RadioButtonPremiPaymentPayorThirdParty.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorThirdParty" } Pihak ketiga (selain Pemegang Polis dan Tertanggung)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentWayDebit" } 4. Cara Pembayaran Premi
%input#RadioButtonPremiPaymentWayDebit{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "debit" }
%div#RadioButtonPremiPaymentWayDebit.BoxRound.PositionerLeft
%label#LabelPremiPaymentDebitAccount.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentWayDebit" } Debit Rekening
%input#RadioButtonPremiPaymentWayCredit{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "credit" }
%div#RadioButtonPremiPaymentWayCredit.BoxRound.PositionerLeft
%label#LabelPremiPaymentCreditCardAccount.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentWayCredit" } Debit Kartu Kredit
%input#RadioButtonPremiPaymentWayOther{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "other" }
%div#RadioButtonPremiPaymentWayOther.BoxRound.PositionerLeft
%label#LabelPremiPaymentOtherAccount.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentWayOther" } Lainnya, Sebutkan
%div#LinePremiPaymentOtherAccount.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextPremiPaymentBankAccountDetails" } 5. Wajib diisi untuk pengembalian Premi dan untuk media pembayaran Premi Lanjutan melalui Debit Rekening/Debit Kartu Kredit
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiPaymentBankAccountDetailsName" } Nama Pemilik Rekening/Kartu Kredit
%table#TextPremiPaymentBankAccountDetailsName.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiPaymentBankAccountDetailsNumber" } Nomor Rekening/Kartu Kredit
%table#TextPremiPaymentBankAccountDetailsNumber.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiPaymentBankAccountDetailsBankName" } Nama Bank
%table#TextPremiPaymentBankAccountDetailsBankName.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextPremiPaymentBankAccountDetailsBankBranch" } Nama Cabang
%table#TextPremiPaymentBankAccountDetailsBankBranch.BoxSquare.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextPremiPaymentThirdPartyAnswer" } 6. Apakah dalam pengajuan asuransi Anda, selain Anda dan Calon Tertanggung terdapat Pihak ketiga yang meminta mengajukan asuransi ini,
%br

%label.Wrap.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonPremiPaymentThirdPartyAnswerYes" } menjadi pembayar Premi meminta hak atas manfaat Polis?

%input#RadioButtonPremiPaymentThirdPartyAnswerYes{ :type => "radio", :name => "RadioButtonPremiPaymentThirdPartyAnswer", :value => "yes" }
%div#RadioButtonPremiPaymentThirdPartyAnswerYes.BoxRound.PositionerLeft
%label#LabelPremiPaymentThirdPartyAnswerYes.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentThirdPartyAnswerYes" } Ya
%input#RadioButtonPremiPaymentThirdPartyAnswerNo{ :type => "radio", :name => "RadioButtonPremiPaymentThirdPartyAnswer", :value => "no" }
%div#RadioButtonPremiPaymentThirdPartyAnswerNo.BoxRound.PositionerLeft
%label#LabelPremiPaymentThirdPartyAnswerNo.RadioButton.PositionerLeft{ :for => "RadioButtonPremiPaymentThirdPartyAnswerNo" } Tidak

%label.Wrap.Single.FirstIndent.PositionerLeft{ :for => "TextPremiPaymentThirdPartyAnswerYesStatement" } Bila jawaban Anda “Ya”, mohon isi dan lengkapi Formulir Keterangan Tambahan untuk Pihak ketiga.
%br