%h2 A. Data Calon Tertanggung
%br

%h3 1. Perorangan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderCIN" } 1. Nomor CIN
%table#TextInsuranceHolderCIN.BoxSquare.PositionerLeft
%span.Note.Single.PositionerLeft (Dilengkapi oleh bank)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderFullName" } 2. Nama Lengkap
%table#TextInsuranceHolderFullName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderIDTypeKTP" } 3. Jenis Identifikasi Diri
%input#RadioButtonInsuranceHolderIDTypeKTP{ :type => "radio", :name => "RadioButtonInsuranceHolderIDType", :value => "KTP" }
%div#RadioButtonInsuranceHolderIDTypeKTP.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderIDTypeKTP" } KTP
%input#RadioButtonInsuranceHolderIDTypeSIM{ :type => "radio", :name => "RadioButtonInsuranceHolderIDType", :value => "SIM" }
%div#RadioButtonInsuranceHolderIDTypeSIM.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderIDTypeSIM" } SIM
%input#RadioButtonInsuranceHolderIDTypePaspor{ :type => "radio", :name => "RadioButtonInsuranceHolderIDType", :value => "Paspor" }
%div#RadioButtonInsuranceHolderIDTypePaspor.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderIDTypePaspor" } Paspor
%input#RadioButtonInsuranceHolderIDTypeKIMSKITAS{ :type => "radio", :name => "RadioButtonInsuranceHolderIDType", :value => "KIMSKITAS" }
%div#RadioButtonInsuranceHolderIDTypeKIMS.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderIDTypeKIMSKITAS" } KIMS / KITAS
%input#RadioButtonInsuranceHolderIDTypeOther{ :type => "radio", :name => "RadioButtonInsuranceHolderIDType", :value => "Other" }
%div#RadioButtonInsuranceHolderIDTypeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderIDTypeOther" } Lainnya, sebutkan
%div#LineInsuranceHolderIDTypeOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderID" } 4. Nomor Identitas Diri
%table#TextInsuranceHolderID.BoxSquare.PositionerLeft
%table#TextInsuranceHolderActiveDateYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextInsuranceHolderActiveDateYear" } /
%table#TextInsuranceHolderActiveDateMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextInsuranceHolderActiveDateMonth" } /
%table#TextInsuranceHolderActiveDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "TextInsuranceHolderActiveDateDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderDateOfBirth" } 5. Tempat Tanggal Lahir
%div#LineInsuranceHolderPlace.LineStraight.PositionerLeft
%table#TextInsuranceHolderDateOfBirthDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "TextInsuranceHolderDateOfBirthMonth" } /
%table#TextInsuranceHolderDateOfBirthMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "TextInsuranceHolderDateOfBirthYear" } /
%table#TextInsuranceHolderDateOfBirthYear.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "TextInsuranceHolderAge" } Age
%table#TextInsuranceHolderAge.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft Tahun
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderNationalityWNI" } 6. Kewarganegaraan
%input#RadioButtonInsuranceHolderNationalityWNI{ :type => "radio", :name => "RadioButtonInsuranceHolderNationality", :value => "WNI" }
%div#RadioButtonInsuranceHolderNationalityWNI.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderNationalityWNI" } WNI
%input#RadioButtonInsuranceHolderNationalityWNA{ :type => "radio", :name => "RadioButtonInsuranceHolderNationality", :value => "WNA" }
%div#RadioButtonInsuranceHolderNationalityWNA.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderNationalityWNA" } WNA, sebutkan
%div#LineInsuranceHolderNationalityWNA.LineDot.PositionerLeft
%span.Note.PositionerLeft (Jika jawaban "WNA" mohon melampirkan fotokopi KITAS & Paspor dan melengkapi kuesioner WNA)
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderUSACitizenNo" } 7. Apakah Anda merupakan warga negara atau wajib pajak Amerika Serikat ?
%input#RadioButtonInsuranceHolderUSACitizenYes{ :type => "radio", :name => "RadioButtonInsuranceHolderUSACitizen", :value => "yes" }
%div#RadioButtonInsuranceHolderUSACitizenYes.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderUSACitizenYes" } YA
%input#RadioButtonInsuranceHolderUSACitizenNo{ :type => "radio", :name => "RadioButtonInsuranceHolderUSACitizen", :value => "no" }
%div#RadioButtonInsuranceHolderUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderUSACitizenNo" } TIDAK
%span.Note.PositionerLeft (Jika jawaban "YA" mohon lampirkan formulir W8 / W9)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderSexMale" } 8. Jenis Kelamin
%input#RadioButtonInsuranceHolderSexMale{ :type => "radio", :name => "RadioButtonInsuranceHolderSex", :value => "male" }
%div#RadioButtonInsuranceHolderSexMale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonInsuranceHolderSexMale" } Laki Laki
%input#RadioButtonInsuranceHolderSexFemale{ :type => "radio", :name => "RadioButtonInsuranceHolderSex", :value => "female" }
%div#RadioButtonInsuranceHolderSexFemale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonInsuranceHolderSexFemale" } Wanita
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderStatusSingle" } 9. Status Pernikahan
%input#RadioButtonInsuranceHolderStatusSingle{ :type => "radio", :name => "RadioButtonInsuranceHolderStatus", :value => "single" }
%div#RadioButtonInsuranceHolderStatusSingle.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonInsuranceHolderStatusSingle" } Belum Menikah
%input#RadioButtonInsuranceHolderStatusMarried{ :type => "radio", :name => "RadioButtonInsuranceHolderStatus", :value => "married" }
%div#RadioButtonInsuranceHolderStatusMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonInsuranceHolderStatusMarried" } Menikah
%input#RadioButtonInsuranceHolderStatusWidower{ :type => "radio", :name => "RadioButtonInsuranceHolderStatus", :value => "widower" }
%div#RadioButtonInsuranceHolderStatusWidower.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonInsuranceHolderStatusWidower" } Janda / Duda
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionIslam" } 10. Agama
%input#RadioBoxInsuranceHolderReligionIslam{ :type => "radio", :name => "RadioBoxInsuranceHolderReligion", :value => "islam" }
%div#RadioBoxInsuranceHolderReligionIslam.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionIslam" } Islam
%input#RadioBoxInsuranceHolderReligionCatholic{ :type => "radio", :name => "RadioBoxInsuranceHolderReligion", :value => "catholic" }
%div#RadioBoxInsuranceHolderReligionCatholic.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionCatholic" } Kristen Katolik
%input#RadioBoxInsuranceHolderReligionProtestant{ :type => "radio", :name => "RadioBoxInsuranceHolderReligion", :value => "protestant" }
%div#RadioBoxInsuranceHolderReligionProtestant.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionProtestant" } Kristen Protestan
%input#RadioBoxInsuranceHolderReligionHindu{ :type => "radio", :name => "RadioBoxInsuranceHolderReligion", :value => "hindu" }
%div#RadioBoxInsuranceHolderReligionHindu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionHindu" } Hindu
%input#RadioBoxInsuranceHolderReligionBudha{ :type => "radio", :name => "RadioBoxInsuranceHolderReligion", :value => "budha" }
%div#RadioBoxInsuranceHolderReligionBudha.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionBudha" } Budha
%input#RadioBoxInsuranceHolderReligionKongHuCu{ :type => "radio", :name => "RadioBoxInsuranceHolderReligion", :value => "konghucu" }
%div#RadioBoxInsuranceHolderReligionKongHuCu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxInsuranceHolderReligionKongHuCu" } Kong Hu Chu
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextInsuranceHolderCompany" }11. a. Nama Perusahaan/Instansi/Sekolah
%table#TextInsuranceHolderCompany.BoxSquare.PositionerLeft{ :style => "margin-left: 4px" }
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextInsuranceHolderMainJob" } Pekerjaan Utama
%table#TextInsuranceHolderMainJob.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextInsuranceHolderWorkScope" } Bidang Usaha
%table#TextInsuranceHolderWorkScope.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextInsuranceHolderPosition" } Jabatan
%table#TextInsuranceHolderPosition.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextInsuranceHolderJobDescription" } Uraian Pekerjaan
%table#TextInsuranceHolderJobDescription.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "TextInsuranceHolderSideJob" } b. Pekerjaan Tambahan
%table#TextInsuranceHolderSideJob.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextInsuranceHolderHomeAddress1", :style => "height: 112px" } 12. Alamat Tempat Tinggal
%table#TextInsuranceHolderHomeAddress1.BoxSquare.PositionerLeft
%table#TextInsuranceHolderHomeAddress2.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderHomeCity.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderHomeCity" } Kota
%table#TextInsuranceHolderHomeCity.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderHomePostalCode.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderHomePostalCode" } Kode Pos
%table#TextInsuranceHolderHomePostalCode.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderHomeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderHomeTelephonePrefix" } Telp
%table#TextInsuranceHolderHomeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderHomeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextInsuranceHolderHomeTelephoneInfix" } -
%table#TextInsuranceHolderHomeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderTelephone1" } 13. Nomor Ponsel
%label#LabelInsuranceHolderTelephone1.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderTelephone1" } 1. 
%table#TextInsuranceHolderTelephone1.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderTelephone2.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderTelephone2" } 2. 
%table#TextInsuranceHolderTelephone2.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderEmail" } 14. Alamat Email
%table#TextInsuranceHolderEmail.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextInsuranceHolderOfficeAddress1", :style => "height: 112px" } 15. Alamat Kantor
%table#TextInsuranceHolderOfficeAddress1.BoxSquare.PositionerLeft
%table#TextInsuranceHolderOfficeAddress2.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderOfficeCity.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderOfficeCity" } Kota
%table#TextInsuranceHolderOfficeCity.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderOfficePostalCode.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderOfficePostalCode" } Kode Pos
%table#TextInsuranceHolderOfficePostalCode.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderOfficeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextInsuranceHolderOfficeTelephonePrefix" } Telp
%table#TextInsuranceHolderOfficeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelInsuranceHolderOfficeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextInsuranceHolderOfficeTelephoneInfix" } -
%table#TextInsuranceHolderOfficeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderCorrespondanceHomeAddress" } 16. Alamat Korespondensi
%input#RadioButtonInsuranceHolderCorrespondanceHomeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "home" }
%div#RadioButtonInsuranceHolderCorrespondanceHomeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderCorrespondanceHomeAddress" } Alamat Tempat Tinggal
%input#RadioButtonInsuranceHolderCorrespondanceOfficeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "office" }
%div#RadioButtonInsuranceHolderCorrespondanceOfficeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderCorrespondanceOfficeAddress" } Alamat Kantor
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderRelationAssuredSelf" } 17. Hubungan dengan Calon Tertangung
%input#RadioButtonInsuranceHolderRelationAssuredSelf{ :type => "radio", :name => "RadioButtonInsuranceHolderRelationAssured", :value => "self" }
%div#RadioButtonInsuranceHolderRelationAssuredSelf.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderRelationAssuredSelf" } Diri Sendiri
%input#RadioButtonInsuranceHolderRelationAssuredSpouse{ :type => "radio", :name => "RadioButtonInsuranceHolderRelationAssured", :value => "spouse" }
%div#RadioButtonInsuranceHolderRelationAssuredSpouse.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderRelationAssuredSpouse" } Suami / Istri
%input#RadioButtonInsuranceHolderRelationAssuredFamily{ :type => "radio", :name => "RadioButtonInsuranceHolderRelationAssured", :value => "family" }
%div#RadioButtonInsuranceHolderRelationAssuredFamily.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderRelationAssuredFamily" } Orang Tua / Anak
%input#RadioButtonInsuranceHolderRelationAssuredColleague{ :type => "radio", :name => "RadioButtonInsuranceHolderRelationAssured", :value => "colleague" }
%div#RadioButtonInsuranceHolderRelationAssuredColleague.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderRelationAssuredColleague" } Perusahaan / Karyawan
%input#RadioButtonInsuranceHolderRelationAssuredOther{ :type => "radio", :name => "RadioButtonInsuranceHolderRelationAssured", :value => "other" }
%div#RadioButtonInsuranceHolderRelationAssuredOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderRelationAssuredOther" } Lainnya, sebutkan
%div#LineInsuranceHolderOtherRelationship.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderInsurancePurposeSavings" } 18. Tujuan Pembelian Asuransi
%input#RadioButtonInsuranceHolderInsurancePurposeSavings{ :type => "radio", :name => "RadioButtonInsuranceHolderInsurancePurpose", :value => "savings" }
%div#RadioButtonInsuranceHolderInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderInsurancePurposeSavings" } Tabungan
%input#RadioButtonInsuranceHolderInsurancePurposeProtection{ :type => "radio", :name => "RadioButtonInsuranceHolderInsurancePurpose", :value => "protection" }
%div#RadioButtonInsuranceHolderInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderInsurancePurposeProtection" } Proteksi
%input#RadioButtonInsuranceHolderInsurancePurposeInvestment{ :type => "radio", :name => "RadioButtonInsuranceHolderInsurancePurpose", :value => "investment" }
%div#RadioButtonInsuranceHolderInsurancePurposeInvestment.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderInsurancePurposeInvestment" } Investasi
%input#RadioButtonInsuranceHolderInsurancePurposeEducation{ :type => "radio", :name => "RadioButtonInsuranceHolderInsurancePurpose", :value => "education" }
%div#RadioButtonInsuranceHolderInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonInsuranceHolderInsurancePurposeEducation" } Edukasi
%input#RadioButtonInsuranceHolderInsurancePurposeOther{ :type => "radio", :name => "RadioButtonInsuranceHolderInsurancePurpose", :value => "other" }
%div#RadioButtonInsuranceHolderInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderInsurancePurposeOther" } Lainnya, sebutkan
%div#LineInsuranceHolderOtherPurpose.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextInsuranceHolderNPWP" } 19. Nomor NPWP (jika ada)
%table#TextInsuranceHolderNPWP.BoxSquare.PositionerLeft
%table#TextInsuranceHolderNPWPActiveDateYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextInsuranceHolderNPWPActiveDateYear" } /
%table#TextInsuranceHolderNPWPActiveDateMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextInsuranceHolderNPWPActiveDateMonth" } /
%table#TextInsuranceHolderNPWPActiveDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "TextInsuranceHolderNPWPActiveDateDay" } Masa Berlaku
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxInsuranceHolderSalaryIDR" } 20. Penghasilan Kotor Per Tahun
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "BoxInsuranceHolderSalaryIDR" } Gaji
%input#RadioButtonInsuranceHolderSalaryIDR{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "idr" }
%div#RadioButtonInsuranceHolderSalaryIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderSalaryIDR" } Rp
%input#RadioButtonInsuranceHolderSalaryUSD{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "USD" }
%div#RadioButtonInsuranceHolderSalaryUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderSalaryUSD" } USD
%label.Wrap.Single.PositionerLeft{ :for => "TextInsuranceHolderSalary" } Jumlah Penghasilan / tahun
%table#TextInsuranceHolderSalary.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonInsuranceHolderRevenueIDR" } Hasil Usaha
%input#RadioButtonInsuranceHolderRevenueIDR{ :type => "radio", :name => "RadioButtonInsuranceHolderRevenue", :value => "idr" }
%div#RadioButtonInsuranceHolderRevenueIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderRevenueIDR" } Rp
%input#RadioButtonInsuranceHolderRevenueUSD{ :type => "radio", :name => "RadioButtonInsuranceHolderRevenue", :value => "USD" }
%div#RadioButtonInsuranceHolderRevenueUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderRevenueUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextInsuranceHolderRevenue" } Jumlah Penghasilan / tahun
%table#TextInsuranceHolderRevenue.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "RadioButtonInsuranceHolderOtherIncomeIDR" } Penghasilan Lainnya
%input#RadioButtonInsuranceHolderOtherIncomeIDR{ :type => "radio", :name => "RadioButtonInsuranceHolderOtherIncome", :value => "idr" }
%div#RadioButtonInsuranceHolderOtherIncomeIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderOtherIncomeIDR" } Rp
%input#RadioButtonInsuranceHolderOtherIncomeUSD{ :type => "radio", :name => "RadioButtonInsuranceHolderOtherIncome", :value => "USD" }
%div#RadioButtonInsuranceHolderOtherIncomeUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonInsuranceHolderOtherIncomeUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextInsuranceHolderOtherIncome" } Jumlah Penghasilan / tahun
%table#TextInsuranceHolderOtherIncome.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "TextInsuranceHolderSource" } Jelaskan Sumbernya
%table#TextInsuranceHolderSource.BoxSquare.PositionerLeft
%br