%h2 A. Data Calon Pemegang Polis
%br

%h3 A1. Perorangan
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCIN" } 1. Nomor CIN
%table#BoxPolicyHolderCIN.BoxSquare.PositionerLeft
%span.Note.Single.PositionerLeft (Dilengkapi oleh bank)
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderFullName" } 2. Nama Lengkap
%table#BoxPolicyHolderFullName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderIDType" } 3. Jenis Identifikasi Diri
%input#RadioButtonPolicyHolderKTP{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "ktp" }
%div#RadioButtonPolicyHolderKTP.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderKTP" } KTP
%input#RadioButtonPolicyHolderSIM{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "sim" }
%div#RadioButtonPolicyHolderSIM.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderSIM" } SIM
%input#RadioButtonPolicyHolderPaspor{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "paspor" }
%div#RadioButtonPolicyHolderPaspor.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderPaspor" } Paspor
%input#RadioButtonPolicyHolderKIMSKITAS{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "kimskitas" }
%div#RadioButtonPolicyHolderKIMSKITAS.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderKIMSKITAS" } KIMS / KITAS
%input#RadioButtonPolicyHolderOtherID{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "other" }
%div#RadioButtonPolicyHolderOtherID.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherID" } Lainnya, sebutkan
%div#TextPolicyHolderOtherID.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderID" } 4. Nomor Identitas Diri
%table#BoxPolicyHolderID.BoxSquare.PositionerLeft
%table#BoxPolicyHolderActiveDateYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "BoxPolicyHolderActiveDateYear" } /
%table#BoxPolicyHolderActiveDateMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "BoxPolicyHolderActiveDateMonth" } /
%table#BoxPolicyHolderActiveDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "BoxPolicyHolderActiveDateDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderDateOfBirth" } 5. Tempat Tanggal Lahir
%div#LinePolicyHolderPlace.LineStraight.PositionerLeft
%table#BoxPolicyHolderDateOfBirthDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderDateOfBirthMonth" } /
%table#BoxPolicyHolderDateOfBirthMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderDateOfBirthYear" } /
%table#BoxPolicyHolderDateOfBirthYear.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderAge" } Age
%table#BoxPolicyHolderAge.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft Tahun
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderWNI" } 6. Kewarganegaraan
%div#BoxPolicyHolderWNI.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderWNI" } WNI
%div#BoxPolicyHolderWNA.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderWNA" } WNA, sebutkan 
%div#LinePolicyHolderWNA.LineDot.PositionerLeft
%span.Note.PositionerLeft (Jika jawaban "WNA" mohon melampirkan fotokopi KITAS & Paspor dan melengkapi kuesioner WNA)
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderUSACitizenNo" } 7. Apakah Anda merupakan warga negara atau wajib pajak Amerika Serikat ?
%div#BoxPolicyHolderUSACitizenYes.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderUSACitizenYes" } YA
%div#BoxPolicyHolderUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderUSACitizenNo" } TIDAK
%span.Note.PositionerLeft (Jika jawaban "YA" mohon lampirkan formulir W8 / W9)
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderMale" } 8. Jenis Kelamin
%div#BoxPolicyHolderMale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderMale" } Laki Laki
%div#BoxPolicyHolderFemale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderFemale" } Wanita
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderSingle" } 9. Status Pernikahan
%div#BoxPolicyHolderSingle.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderSingle" } Belum Menikah
%div#BoxPolicyHolderMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderMarried" } Menikah
%div#BoxPolicyHolderWasMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderWasMarried" } Janda / Duda
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderIslam" } 10. Agama
%div#BoxPolicyHolderIslam.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderIslam" } Islam
%div#BoxPolicyHolderCatholic.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "BoxPolicyHolderChatolic" } Kristen Katolik
%div#BoxPolicyHolderProtestan.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderProtestan" } Kristen Protestan
%div#BoxPolicyHolderHindu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderHindu" } Hindu
%div#BoxPolicyHolderBudha.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderBudha" } Budha
%div#BoxPolicyHolderKongHuChu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderKongHuChu" } Kong Hu Chu
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderCompany" }11. a. Nama Perusahaan/Instansi/Sekolah
%table#BoxPolicyHolderCompany.BoxSquare.PositionerLeft{ :style => "margin-left: 4px" }
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "BoxPolicyHolderMainJob" } Pekerjaan Utama
%table#BoxPolicyHolderMainJob.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "BoxPolicyHolderWorkScope" } Bidang Usaha
%table#BoxPolicyHolderWorkScope.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "BoxPolicyHolderPosition" } Jabatan
%table#BoxPolicyHolderPosition.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "BoxPolicyHolderJobDescription" } Uraian Pekerjaan
%table#BoxPolicyHolderJobDescription.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "BoxPolicyHolderSideJob" } b. Pekerjaan Tambahan
%table#BoxPolicyHolderSideJob.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "BoxPolicyHolderHomeAddress1", :style => "height: 112px" } 12. Alamat Tempat Tinggal
%table#BoxPolicyHolderHomeAddress1.BoxSquare.PositionerLeft
%table#BoxPolicyHolderHomeAddress2.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeCity.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderHomeCity" } Kota
%table#BoxPolicyHolderHomeCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomePostalCode.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderHomePostalCode" } Kode Pos
%table#BoxPolicyHolderHomePostalCode.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeTelephonePrefix.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderHomeTelephonePrefix" } Telp
%table#BoxPolicyHolderHomeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelPolicyHolderHomeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "BoxPolicyHolderHomeTelephoneInfix" } -
%table#BoxPolicyHolderHomeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderTelephone1" } 13. Nomor Ponsel
%label#LabelPolicyHolderTelephone1.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderTelephone1" } 1. 
%table#BoxPolicyHolderTelephone1.BoxSquare.PositionerLeft
%label#LabelPolicyHolderTelephone2.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderTelephone2" } 2. 
%table#BoxPolicyHolderTelephone2.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderEmail" } 14. Alamat Email
%table#BoxPolicyHolderEmail.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "BoxPolicyHolderAddress1", :style => "height: 112px" } 15. Alamat Kantor
%table#BoxPolicyHolderOfficeAddress1.BoxSquare.PositionerLeft
%table#BoxPolicyHolderOfficeAddress2.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeCity.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderOfficeCity" } Kota
%table#BoxPolicyHolderOfficeCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficePostalCode.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderOfficePostalCode" } Kode Pos
%table#BoxPolicyHolderOfficePostalCode.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeTelephonePrefix.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderOfficeTelephonePrefix" } Telp
%table#BoxPolicyHolderOfficeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelPolicyHolderOfficeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "BoxPolicyHolderOfficeTelephoneInfix" } -
%table#BoxPolicyHolderOfficeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCorrespondanceHomeAddress" } 16. Alamat Korespondensi
%div#BoxPolicyHolderCorrespondanceHomeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCorrespondanceHomeAddress" } Alamat Tempat Tinggal
%div#BoxPolicyHolderCorrespondanceOfficeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCorrespondanceOfficeAddress" } Alamat Kantor
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderSelf" } 17. Hubungan dengan Calon Tertangung
%div#BoxPolicyHolderSelf.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderSelf" } Diri Sendiri
%div#BoxPolicyHolderSpouse.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderSpouse" } Suami / Istri
%div#BoxPolicyHolderFamily.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderFamily" } Orang Tua / Anak
%div#BoxPolicyHolderColleague.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderColleague" } Perusahaan / Karyawan
%div#BoxPolicyHolderOtherRelationship.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderOtherRelationship" } Lainnya, sebutkan
%div#LinePolicyHolderOtherRelationship.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderSaving" } 18. Tujuan Pembelian Asuransi
%div#BoxPolicyHolderSaving.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderSaving" } Tabungan
%div#BoxPolicyHolderProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderProtection" } Proteksi
%div#BoxPolicyHolderInvestation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderInvestation" } Investasi
%div#BoxPolicyHolderEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "BoxPolicyHolderEducation" } Edukasi
%div#BoxPolicyHolderOtherPurpose.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderOtherPurpose" } Lainnya, sebutkan
%div#LinePolicyHolderOtherPurpose.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderNPWP" } 19. Nomor NPWP (jika ada)
%table#BoxPolicyHolderNPWP.BoxSquare.PositionerLeft
%table#BoxPolicyHolderNPWPActiveDateYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "BoxPolicyHolderNPWPActiveDateYear" } /
%table#BoxPolicyHolderNPWPActiveDateMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "BoxPolicyHolderNPWPActiveDateMonth" } /
%table#BoxPolicyHolderNPWPActiveDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "BoxPolicyHolderNPWPActiveDateDay" } Masa Berlaku
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderSalaryIDR" } 20. Penghasilan Kotor Per Tahun
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "BoxPolicyHolderSalaryIDR" } Gaji
%div#BoxPolicyHolderSalaryIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderSalaryIDR" } Rp
%div#BoxPolicyHolderSalaryUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderSalaryUSD" } USD
%label.Wrap.Single.PositionerLeft{ :for => "BoxPolicyHolderSalary" } Jumlah Penghasilan / tahun
%table#BoxPolicyHolderSalary.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "BoxPolicyHolderRevenueIDR" } Hasil Usaha
%div#BoxPolicyHolderRevenueIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderrRevenueIDR" } Rp
%div#BoxPolicyHolderRevenueUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderRevenueUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderRevenue" } Jumlah Penghasilan / tahun
%table#BoxPolicyHolderRevenue.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "BoxPolicyHolderOtherIncomeIDR" } Penghasilan Lainnya
%div#BoxPolicyHolderOtherIncomeIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderOtherIncomeIDR" } Rp
%div#BoxPolicyHolderOtherIncomeUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderOtherIncomeUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderOtherIncome" } Jumlah Penghasilan / tahun
%table#BoxPolicyHolderOtherIncome.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "BoxPolicyHolderSource" } Jelaskan Sumbernya
%table#BoxPolicyHolderSource.BoxSquare.PositionerLeft
%br
%br

%h3 A2. PERUSAHAAN/BERBADAN HUKUM
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyName" } 1. Nama Perusahaan
%table#BoxPolicyHolderCompanyName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyType" } 2. Jenis Perusahaan
%div#BoxPolicyHolderCompanyPT.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyPT" } Perseroan Terbatas
%div#BoxPolicyHolderCompanyYayasan.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyYayasan" } Yayasan
%div#BoxPolicyHolderCompanyBUMN.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyBUMN" } BUMN
%div#BoxPolicyHolderCompanyBUMN.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyOther" } Lainnya, sebutkan
%div#LinePolicyHolderCompanyOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoAnggaranDasar" } 3. Nomor Anggaran Dasar/Akta Pendirian
%table#BoxPolicyHolderCompanyNoAnggaranDasar.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAnggaranDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanyAnggaranDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAnggaranDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanyAnggaranDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAnggaranDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanyAnggaranDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoSuratIjinUsaha" } 4. Nomor Surat Ijin Usaha
%table#BoxPolicyHolderCompanyNoSuratIjinUsaha.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanySIUPDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanySIUPDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySIUPDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanySIUPDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoTDP" } 5. Nomor TDP
%table#BoxPolicyHolderCompanyNoTDP.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanyTDPDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanyTDPDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyTDPDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanyTDPDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoSKDP" } 6. Nomor SKDP (Domisili)
%table#BoxPolicyHolderCompanyNoSKDP.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpired" } 
%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpiredTitle" } Tanggal Berlaku
%table#BoxPolicyHolderCompanySKDPDateOfExpiredDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpiredMonth" } /
%table#BoxPolicyHolderCompanySKDPDateOfExpiredMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySKDPDateOfExpiredYear" } /
%table#BoxPolicyHolderCompanySKDPDateOfExpiredYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyNoNPWP" } 7. Nomor NPWP (jika ada)
%table#BoxPolicyHolderCompanyNoNPWP.BoxSquare.PositionerLeft
%table#BoxPolicyHolderCompanyNoNPWPDateYear.BoxSquare.PositionerRight
%span.Separator.PositionerRight /
%table#BoxPolicyHolderCompanyNoNPWPDateMonth.BoxSquare.PositionerRight
%span.Separator.PositionerRight /
%table#BoxPolicyHolderCompanyNoNPWPDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight Tanggal Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanySector" } 8. Bidang Usaha
%table#BoxPolicyHolderCompanySector.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "BoxPolicyHolderCompanyAddress" } 9. Alamat Perusahaan (sesuai SKDP)
%table#BoxPolicyHolderCompanyAddress.BoxSquare.PositionerLeft
%label#LabelPolicyHolderCompanyCity.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyCity" } Kota
%table#BoxPolicyHolderCompanyCity.BoxSquare.PositionerLeft
%label#LabelPolicyHolderCompanyPostalCode.Box.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyPostalCode" } Kode Pos
%table#BoxPolicyHolderCompanyPostalCode.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset" } 10. Aset Perusahaan (Rp)
%div#BoxPolicyHolderCompanyAsset.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset" } <100 Juta
%div#BoxPolicyHolderCompanyAsset2.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset2" } 100 Juta - 1 Miliar
%div#BoxPolicyHolderCompanyAsset3.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset3" } >1 Miliar - 10 Miliar
%div#BoxPolicyHolderCompanyAsset4.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset4" } >10 Miliar - 100 Miliar
%div#BoxPolicyHolderCompanyAsset5.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset5" } >100 Miliar
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset6" } 11. Aset Perusahaan (Rp)
%div#BoxPolicyHolderCompanyAsset6.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset6" } <100 Juta
%div#BoxPolicyHolderCompanyAsset7.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset7" } 100 Juta - 500 Juta
%div#BoxPolicyHolderCompanyAsset8.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset8" } >500 Juta - 1 Miliar
%div#BoxPolicyHolderCompanyAsset9.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset9" } >1 Miliar - 10 Miliar
%div#BoxPolicyHolderCompanyAsset10.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "BoxPolicyHolderCompanyAsset10" } >10 Miliar
%br