%h2 B. Data Calon Tertanggung
%br

%h3 1. Perorangan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredCIN" } 1. Nomor CIN
%table#TextProspectiveInsuredCIN.BoxSquare.PositionerLeft
%span.Note.Single.PositionerLeft (Dilengkapi oleh bank)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredFullName" } 2. Nama Lengkap
%table#TextProspectiveInsuredFullName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredIDTypeKTP" } 3. Jenis Identifikasi Diri
%input#RadioButtonProspectiveInsuredIDTypeKTP{ :type => "radio", :name => "RadioButtonProspectiveInsuredIDType", :value => "KTP" }
%div#RadioButtonProspectiveInsuredIDTypeKTP.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredIDTypeKTP" } KTP
%input#RadioButtonProspectiveInsuredIDTypeSIM{ :type => "radio", :name => "RadioButtonProspectiveInsuredIDType", :value => "SIM" }
%div#RadioButtonProspectiveInsuredIDTypeSIM.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredIDTypeSIM" } SIM
%input#RadioButtonProspectiveInsuredIDTypePaspor{ :type => "radio", :name => "RadioButtonProspectiveInsuredIDType", :value => "PASPOR" }
%div#RadioButtonProspectiveInsuredIDTypePaspor.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredIDTypePaspor" } Paspor
%input#RadioButtonProspectiveInsuredIDTypeKIMSKITAS{ :type => "radio", :name => "RadioButtonProspectiveInsuredIDType", :value => "KIMSKITAS" }
%div#RadioButtonProspectiveInsuredIDTypeKIMS.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredIDTypeKIMSKITAS" } KIMS / KITAS
%input#RadioButtonProspectiveInsuredIDTypeOther{ :type => "radio", :name => "RadioButtonProspectiveInsuredIDType", :value => "OTHER" }
%div#RadioButtonProspectiveInsuredIDTypeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredIDTypeOther" } Lainnya, sebutkan
%div#TextProspectiveInsuredIDTypeOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredIDNumber" } 4. Nomor Identitas Diri
%table#TextProspectiveInsuredIDNumber.BoxSquare.PositionerLeft
%table#DateProspectiveInsuredActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DateProspectiveInsuredActiveYear" } /
%table#DateProspectiveInsuredActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DateProspectiveInsuredActiveMonth" } /
%table#DateProspectiveInsuredActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DateProspectiveInsuredActiveDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredBirthPlace" } 5. Tempat Tanggal Lahir
%div#TextProspectiveInsuredBirthPlace.LineStraight.PositionerLeft
%table#DateProspectiveInsuredBirthDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "DateProspectiveInsuredBirthMonth" } /
%table#DateProspectiveInsuredBirthMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "DateProspectiveInsuredBirthYear" } /
%table#DateProspectiveInsuredBirthYear.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "TextProspectiveInsuredAge" } Usia
%table#TextProspectiveInsuredAge.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft Tahun
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredNationalityWNI" } 6. Kewarganegaraan
%input#RadioButtonProspectiveInsuredNationalityWNI{ :type => "radio", :name => "RadioButtonProspectiveInsuredNationality", :value => "wni" }
%div#RadioButtonProspectiveInsuredNationalityWNI.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredNationalityWNI" } WNI
%input#RadioButtonProspectiveInsuredNationalityWNA{ :type => "radio", :name => "RadioButtonProspectiveInsuredNationality", :value => "wna" }
%div#RadioButtonProspectiveInsuredNationalityWNA.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredNationalityWNA" } WNA, sebutkan
%div#LineProspectiveInsuredNationalityWNA.LineDot.PositionerLeft
%span.Note.PositionerLeft (Jika jawaban "WNA" mohon melampirkan fotokopi KITAS & Paspor dan melengkapi kuesioner WNA)
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredUSACitizenNo" } 7. Apakah Anda merupakan warga negara atau wajib pajak Amerika Serikat ?
%input#RadioButtonProspectiveInsuredUSACitizenYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredUSACitizen", :value => "true" }
%div#RadioButtonProspectiveInsuredUSACitizenYes.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredUSACitizenYes" } YA
%input#RadioButtonProspectiveInsuredUSACitizenNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredUSACitizen", :value => "false" }
%div#RadioButtonProspectiveInsuredUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredUSACitizenNo" } TIDAK
%span.Note.PositionerLeft (Jika jawaban "YA" mohon lampirkan formulir W8 / W9)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredSexMale" } 8. Jenis Kelamin
%input#RadioButtonProspectiveInsuredSexMale{ :type => "radio", :name => "RadioButtonProspectiveInsuredSex", :value => "male" }
%div#RadioButtonProspectiveInsuredSexMale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredSexMale" } Laki Laki
%input#RadioButtonProspectiveInsuredSexFemale{ :type => "radio", :name => "RadioButtonProspectiveInsuredSex", :value => "female" }
%div#RadioButtonProspectiveInsuredSexFemale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredSexFemale" } Wanita
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredMaritalStatusSingle" } 9. Status Pernikahan
%input#RadioButtonProspectiveInsuredMaritalStatusSingle{ :type => "radio", :name => "RadioButtonProspectiveInsuredMaritalStatus", :value => "single" }
%div#RadioButtonProspectiveInsuredMaritalStatusSingle.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredMaritalStatusSingle" } Belum Menikah
%input#RadioButtonProspectiveInsuredMaritalStatusMarried{ :type => "radio", :name => "RadioButtonProspectiveInsuredMaritalStatus", :value => "married" }
%div#RadioButtonProspectiveInsuredMaritalStatusMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredMaritalStatusMarried" } Menikah
%input#RadioButtonProspectiveInsuredMaritalStatusWidower{ :type => "radio", :name => "RadioButtonProspectiveInsuredMaritalStatus", :value => "divorced" }
%div#RadioButtonProspectiveInsuredMaritalStatusWidower.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredMaritalStatusWidower" } Janda / Duda
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionIslam" } 10. Agama
%input#RadioButtonProspectiveInsuredReligionIslam{ :type => "radio", :name => "RadioButtonProspectiveInsuredReligion", :value => "islam" }
%div#RadioButtonProspectiveInsuredReligionIslam.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionIslam" } Islam
%input#RadioButtonProspectiveInsuredReligionCatholic{ :type => "radio", :name => "RadioButtonProspectiveInsuredReligion", :value => "katolik" }
%div#RadioButtonProspectiveInsuredReligionCatholic.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionCatholic" } Kristen Katolik
%input#RadioButtonProspectiveInsuredReligionProtestant{ :type => "radio", :name => "RadioButtonProspectiveInsuredReligion", :value => "kristen" }
%div#RadioButtonProspectiveInsuredReligionProtestant.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionProtestant" } Kristen Protestan
%input#RadioButtonProspectiveInsuredReligionHindu{ :type => "radio", :name => "RadioButtonProspectiveInsuredReligion", :value => "hindu" }
%div#RadioButtonProspectiveInsuredReligionHindu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionHindu" } Hindu
%input#RadioButtonProspectiveInsuredReligionBudha{ :type => "radio", :name => "RadioButtonProspectiveInsuredReligion", :value => "budha" }
%div#RadioButtonProspectiveInsuredReligionBudha.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionBudha" } Budha
%input#RadioButtonProspectiveInsuredReligionKongHuCu{ :type => "radio", :name => "RadioButtonProspectiveInsuredReligion", :value => "konghuchu" }
%div#RadioButtonProspectiveInsuredReligionKongHuCu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredReligionKongHuCu" } Kong Hu Chu
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredCompany" }11. a. Nama Perusahaan/Instansi/Sekolah
%table#TextProspectiveInsuredCompany.BoxSquare.PositionerLeft{ :style => "margin-left: 4px" }
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectiveInsuredMainJob" } Pekerjaan Utama
%table#TextProspectiveInsuredMainJob.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectiveInsuredWorkScope" } Bidang Usaha
%table#TextProspectiveInsuredWorkScope.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectiveInsuredPosition" } Jabatan
%table#TextProspectiveInsuredPosition.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectiveInsuredJobDescription" } Uraian Pekerjaan
%table#TextProspectiveInsuredJobDescription.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "TextProspectiveInsuredSideJob" } b. Pekerjaan Tambahan
%table#TextProspectiveInsuredSideJob.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredHomeAddress1" } 12. Alamat Tempat Tinggal
%table#TextProspectiveInsuredHomeAddress1.BoxSquare.PositionerLeft
%span.Note.Medium.Multi.Tight.PositionerLeft{ :style => "height: 60px;" } (Bila tidak sesuai kartu identitas Diri, diisi dengan lengkap menginformasikan nomor rumah, RT, RW, Keluarahan & Kecamatan)
%table#TextProspectiveInsuredHomeAddress2.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredHomeCity.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredHomeCity" } Kota
%table#TextProspectiveInsuredHomeCity.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredHomePostalCode.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredHomePostalCode" } Kode Pos
%table#TextProspectiveInsuredHomePostalCode.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredHomeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredHomeTelephonePrefix" } Telp
%table#TextProspectiveInsuredHomeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredHomeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextProspectiveInsuredHomeTelephoneInfix" } -
%table#TextProspectiveInsuredHomeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredTelephone1" } 13. Nomor Ponsel
%label#LabelProspectiveInsuredTelephone1.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredHandphone1" } 1. 
%table#TextProspectiveInsuredHandphone1.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredTelephone2.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredHandphone2" } 2. 
%table#TextProspectiveInsuredHandphone2.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredEmail" } 14. Alamat Email
%table#TextProspectiveInsuredEmail.BoxSquare.PositionerLeft
%br

%section.SectionFooter{ :style => "margin-top: 96px;" }
	= Haml::Engine.new(File.read("footer_spajpdf_general.haml")).render
	
%section#SectionHeader3
	= Haml::Engine.new(File.read("header_spajpdf_general.haml")).render

%label.Medium.Multi.PositionerLeft{ :for => "TextProspectiveInsuredOfficeAddress1", :style => "height: 112px" } 15. Alamat Kantor
%table#TextProspectiveInsuredOfficeAddress1.BoxSquare.PositionerLeft
%table#TextProspectiveInsuredOfficeAddress2.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredOfficeCity.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredOfficeCity" } Kota
%table#TextProspectiveInsuredOfficeCity.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredOfficePostalCode.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredOfficePostalCode" } Kode Pos
%table#TextProspectiveInsuredOfficePostalCode.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredOfficeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextProspectiveInsuredOfficeTelephonePrefix" } Telp
%table#TextProspectiveInsuredOfficeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelProspectiveInsuredOfficeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextProspectiveInsuredOfficeTelephoneInfix" } -
%table#TextProspectiveInsuredOfficeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCorrespondanceAddressHome" } 16. Alamat Korespondensi
%input#RadioButtonProspectiveInsuredCorrespondanceAddressHome{ :type => "radio", :name => "RadioButtonProspectiveInsuredCorrespondanceAddress", :value => "home" }
%div#RadioButtonProspectiveInsuredCorrespondanceAddressHome.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCorrespondanceAddressHome" } Alamat Tempat Tinggal
%input#RadioButtonProspectiveInsuredCorrespondanceAddressOffice{ :type => "radio", :name => "RadioButtonProspectiveInsuredCorrespondanceAddress", :value => "office" }
%div#RadioButtonProspectiveInsuredCorrespondanceAddressOffice.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCorrespondanceAddressOffice" } Alamat Kantor
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRelationAssuredSelf" } 17. Hubungan dengan Calon Tertangung
%input#RadioButtonProspectiveInsuredRelationAssuredSelf{ :type => "radio", :name => "RadioButtonProspectiveInsuredRelationAssured", :value => "self" }
%div#RadioButtonProspectiveInsuredRelationAssuredSelf.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRelationAssuredSelf" } Diri Sendiri
%input#RadioButtonProspectiveInsuredRelationAssuredSpouse{ :type => "radio", :name => "RadioButtonProspectiveInsuredRelationAssured", :value => "spouse" }
%div#RadioButtonProspectiveInsuredRelationAssuredSpouse.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRelationAssuredSpouse" } Suami / Istri
%input#RadioButtonProspectiveInsuredRelationAssuredFamily{ :type => "radio", :name => "RadioButtonProspectiveInsuredRelationAssured", :value => "family" }
%div#RadioButtonProspectiveInsuredRelationAssuredFamily.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRelationAssuredFamily" } Orang Tua / Anak
%input#RadioButtonProspectiveInsuredRelationAssuredColleague{ :type => "radio", :name => "RadioButtonProspectiveInsuredRelationAssured", :value => "colleague" }
%div#RadioButtonProspectiveInsuredRelationAssuredColleague.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRelationAssuredColleague" } Perusahaan / Karyawan
%input#RadioButtonProspectiveInsuredRelationAssuredOther{ :type => "radio", :name => "RadioButtonProspectiveInsuredRelationAssured", :value => "other" }
%div#RadioButtonProspectiveInsuredRelationAssuredOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRelationAssuredOther" } Lainnya, sebutkan
%div#LineProspectiveInsuredOtherRelationship.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredInsurancePurposeSavings" } 18. Tujuan Pembelian Asuransi
%input#RadioButtonProspectiveInsuredInsurancePurposeSavings{ :type => "radio", :name => "RadioButtonProspectiveInsuredInsurancePurpose", :value => "savings" }
%div#RadioButtonProspectiveInsuredInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredInsurancePurposeSavings" } Tabungan
%input#RadioButtonProspectiveInsuredInsurancePurposeProtection{ :type => "radio", :name => "RadioButtonProspectiveInsuredInsurancePurpose", :value => "protection" }
%div#RadioButtonProspectiveInsuredInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredInsurancePurposeProtection" } Proteksi
%input#RadioButtonProspectiveInsuredInsurancePurposeInvestment{ :type => "radio", :name => "RadioButtonProspectiveInsuredInsurancePurpose", :value => "investment" }
%div#RadioButtonProspectiveInsuredInsurancePurposeInvestment.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredInsurancePurposeInvestment" } Investasi
%input#RadioButtonProspectiveInsuredInsurancePurposeEducation{ :type => "radio", :name => "RadioButtonProspectiveInsuredInsurancePurpose", :value => "education" }
%div#RadioButtonProspectiveInsuredInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectiveInsuredInsurancePurposeEducation" } Edukasi
%input#RadioButtonProspectiveInsuredInsurancePurposeOther{ :type => "radio", :name => "RadioButtonProspectiveInsuredInsurancePurpose", :value => "other" }
%div#RadioButtonProspectiveInsuredInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredInsurancePurposeOther" } Lainnya, sebutkan
%div#TextProspectiveInsuredInsurancePurposeOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredNPWP" } 19. Nomor NPWP (jika ada)
%table#TextProspectiveInsuredNPWP.BoxSquare.PositionerLeft
%table#DateProspectiveInsuredNPWPActiveYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DateProspectiveInsuredNPWPActiveYear" } /
%table#DateProspectiveInsuredNPWPActiveMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DateProspectiveInsuredNPWPActiveMonth" } /
%table#DateProspectiveInsuredNPWPActiveDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DateProspectiveInsuredNPWPActiveDay" } Masa Berlaku
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredSalaryIDR" } 20. Penghasilan Kotor Per Tahun
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "TextProspectiveInsuredSalaryIDR" } Gaji
%input#RadioButtonProspectiveInsuredSalaryIDR{ :type => "radio", :name => "RadioButtonProspectiveInsuredSalary", :value => "idr" }
%div#RadioButtonProspectiveInsuredSalaryIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredSalaryIDR" } Rp
%input#RadioButtonProspectiveInsuredSalaryUSD{ :type => "radio", :name => "RadioButtonProspectiveInsuredSalary", :value => "usd" }
%div#RadioButtonProspectiveInsuredSalaryUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredSalaryUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextProspectiveInsuredSalary" } Jumlah Penghasilan / tahun
%table#TextProspectiveInsuredSalary.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRevenueIDR" } Hasil Usaha
%input#RadioButtonProspectiveInsuredRevenueIDR{ :type => "radio", :name => "RadioButtonProspectiveInsuredRevenue", :value => "idr" }
%div#RadioButtonProspectiveInsuredRevenueIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRevenueIDR" } Rp
%input#RadioButtonProspectiveInsuredRevenueUSD{ :type => "radio", :name => "RadioButtonProspectiveInsuredRevenue", :value => "usd" }
%div#RadioButtonProspectiveInsuredRevenueUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredRevenueUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextProspectiveInsuredRevenue" } Jumlah Penghasilan / tahun
%table#TextProspectiveInsuredRevenue.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherIncomeIDR" } Penghasilan Lainnya
%input#RadioButtonProspectiveInsuredOtherIncomeIDR{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherIncome", :value => "idr" }
%div#RadioButtonProspectiveInsuredOtherIncomeIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherIncomeIDR" } Rp
%input#RadioButtonProspectiveInsuredOtherIncomeUSD{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherIncome", :value => "usd" }
%div#RadioButtonProspectiveInsuredOtherIncomeUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherIncomeUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextProspectiveInsuredOtherIncome" } Jumlah Penghasilan / tahun
%table#TextProspectiveInsuredOtherIncome.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "TextProspectiveInsuredSource" } Jelaskan Sumbernya
%table#TextProspectiveInsuredSource.BoxSquare.PositionerLeft
%br

%label.Long.Single.FirstIndent.PositionerLeft{ :for => "TextProspectiveInsuredFundingSource" } Sumber Dana Pembelian Asuransi
%table#TextProspectiveInsuredFundingSource.BoxSquare.PositionerLeft
%br