%h2 DATA TENAGA PENJUAL (Wajib dilengkapi sebelum dikirim ke kantor pusat)

%label.Medium.Single.PositionerLeft{ :for => "TextAgentName" } Nama Tenaga Penjual
%table#TextAgentName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextAgentCode" } Kode Tenaga Penjual
%table#TextAgentCode.BoxSquare.PositionerLeft
%table#TextProductCode.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "TextProductCode" } Kode Produk
%br

%label.Medium.Single.PositionerLeft{ :for => "TextLicenseNumber" } Nomor Lisensi
%table#TextLicenseNumber.BoxSquare.PositionerLeft
%table#DateActiveAgentExpiredYear.BoxSquare.PositionerRight
%span.Separator.PositionerRight{ :for => "DateActiveAgentExpiredYear" } /
%table#DateActiveAgentExpiredMonth.BoxSquare.PositionerRight
%span.Separator.PositionerRight{ :for => "DateActiveAgentExpiredMonth" } /
%table#DateActiveAgentExpiredDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DateActiveAgentExpiredDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProductName" } Nama Produk
%table#TextProductName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft{ :for => "TextProductName" } Data pemberi referensi (Wajib dilengkapi sebelum dikirm ke kantor pusat)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextReferenceName" } Nama Pemberi Referal
%table#TextReferenceName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextBranchName" } Nama Cabang
%table#TextBranchName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextBranchCode" } Kode Cabang
%table#TextBranchCode.BoxSquare.PositionerLeft

%input.Plain#RadioButtonPolicyHolderReferenceSourceOther{ :type => "radio", :name => "RadioButtonReferenceSource", :value => "Other" }
%label.RadioButton.PositionerRight{ :for => "RadioButtonPolicyHolderReferenceSourceOther" } Other
%span.Separator.Tight.PositionerRight /
%input.Plain#RadioButtonPolicyHolderReferenceSourceAccountManager{ :type => "radio", :name => "RadioButtonReferenceSource", :value => "AccountManager" }
%label.RadioButton.PositionerRight{ :for => "RadioButtonPolicyHolderReferenceSourceAccountManager" } AM
%span.Separator.Tight.PositionerRight /
%input.Plain#RadioButtonPolicyHolderReferenceSourceAccountOfficer{ :type => "radio", :name => "RadioButtonReferenceSource", :value => "AccountOfficer" }
%label.RadioButton.PositionerRight{ :for => "RadioButtonPolicyHolderReferenceSourceAccountOfficer" } AO
%span.Separator.Tight.PositionerRight /
%input.Plain#RadioButtonPolicyHolderReferenceSourceTeller{ :type => "radio", :name => "RadioButtonReferenceSource", :value => "Teller" }
%label.RadioButton.PositionerRight{ :for => "RadioButtonPolicyHolderReferenceSourceTeller" } Teller
%span.Separator.Tight.PositionerRight /
%input.Plain#RadioButtonPolicyHolderReferenceSourceCustomerService{ :type => "radio", :name => "RadioButtonReferenceSource", :value => "CustomerService" }
%label.RadioButton.PositionerRight{ :for => "RadioButtonPolicyHolderReferenceSourceCustomerService" } CS
%label.Wrap.Single.PositionerRight Sumber Referal
%br

%label.Medium.Single.PositionerLeft{ :for => "AreaKanwilAgent" } Area / Kanwil
%table#AreaKanwilAgent.BoxSquare.PositionerLeft

%label.Note.Wrap.Single.PositionerRight{ :style => "margin-top: -10px" } (harap dapat dilingkari)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextAgentID" } No. Induk Pegawai (NIP)
%table#TextAgentID.BoxSquare.PositionerLeft

%table#DateReferenceYear.BoxSquare.PositionerRight
%span.Separator.PositionerRight /
%table#DateReferenceMonth.BoxSquare.PositionerRight
%span.Separator.PositionerRight /
%table#DateReferenceDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight Tanggal Referal
%br

%div.Note
    %h3 Informasi Penting Pengisian Surat Pengajuan Asuransi Jiwa
    %ol
        %li  Wajib mengisi dengan benar dan lengkap pertanyaan di bawah ini berikut pertanyaan dalam setiap pemeriksaan kesehatan formulir tambahan yang diperlukan atau perubahannya, sesuai dengan keadaan sebenarnya. 
        %li Diisi menggunakan tinta hitam dan menggunakan huruf besar/kapital.
        %li Gunakan tanda silang (X) pada pilihan kolom kotak dan wajib menandatangani setiap koreksi penulisan atau pengisian dalam bentuk coretan.
        %li Melampirkan fotokopi Identitas Diri (KTP/Paspor) sedangkan untuk WNA melampirkan Paspor & KITAS yang masih berlaku.

%div.Note
    %h3 Catatan Penting Yang Harus Diperhatikan
    %ol
        %li Produk Asuransi ini adalah produk asuransi milik PT Asuransi Jiwa BCA (selanjutnya disebut "Penanggung").
        %li  PT Bank Central Asia, Tbk (selanjutnya disebut "Bank"), hanya bertindak sebagai pihak yang mereferensikan atau merekomendasikan produk asuransi Penanggung kepada Calon Pemegang Polis, karenanya Bank tidak bertanggung jawab atas kinerja produk asuransi ini.
        %li Produk ini bukan merupakan produk dan tanggung jawab Bank sehingga tidak dijamin oleh Bank serta tidak termasuk dalam cakupan program penjaminan sebagaimana dimaksud dalam ketentuan perundang-undangan mengenai lembaga penjamin simpanan. Khusus untuk produk Unit Link, Bank juga tidak bertanggung jawab terhadap keuntungan atau kerugian dari jumlah premi yang dibayarkan kepada Penanggung.
        %li Bank tidak bertanggung jawab atas segala informasi serta materi yang dikeluarkan atau disebarluaskan sebagaimana tercantum dalam brosur dari produk asuransi ini berikut setiap perubahannya atau dokumen lain yang secara resmi disetujui dan dikeluarkan oleh Penanggung sehubungan dengan produk asuransi ini.
        %li Sebelum memutuskan untuk membeli produk asuransi ini, Calon Pemegang Polis terlebih dahulu harus memahami dan mempertimbangkan segala risiko terkait dengan produk asuransi ini.
        %li Calon Pemegang Polis dengan ini membebaskan Bank, dan/atau Karyawan Bank yang mereferensikan atau merekomendasikan produk asuransi milik Penanggung dari segala tuntutan dan / atau gugatan dari siapapun dan dalam bentuk apapun termasuk dari Calon Pemegang Polis sehubungan dengan transaksi pembelian produk asuransi ini. 
        %li 
            Penanggung bertanggung jawab sepenuhnya atas persetujuan atau penolakan pengajuan asuransi, 
            %br
            penerbitan Polis dan pembayaran atau penolakan klaim.
    %table.SignatureSmall.PositionerRight{ :style => "margin-top: -40px;"}
        %thead
            %tr
                %th Telah dibaca dan disetujui oleh Calon Pemegang Polis
        %tbody
            %tr
                %td
        %tfoot
            %tr
                %td Nama dan tanda tangan Calon Pemegang Polis
    %br