%label.Medium.Single.PositionerLeft{ :for => "TextSPAJNumber" } Nomor SPAJ
%table#TextSPAJNumber.BoxSquare.PositionerLeft
%table#TextPolicyNumber.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "TextPolicyNumber" } Nomor Polis
%br

%div{ :style => "margin-top: -5px;" }
	%label.Medium.Single.PositionerLeft{ :for => "TextVANumber" } Nomor VA
	%table#TextVANumber.BoxSquare.PositionerLeft
	%br