%h2 A. Data Calon Tertanggung
%br

%h3 1. Perorangan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredCIN" } 1. Nomor CIN
%table#TextProspectInsuredCIN.BoxSquare.PositionerLeft
%span.Note.Single.PositionerLeft (Dilengkapi oleh bank)
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredFullName" } 2. Nama Lengkap
%table#TextProspectInsuredFullName.BoxSquare.PositionerLeft
%br
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredIDTypeKTP" } 3. Jenis Identifikasi Diri
%input#RadioButtonProspectInsuredIDTypeKTP{ :type => "radio", :name => "RadioButtonProspectInsuredIDType", :value => "KTP" }
%div#RadioButtonProspectInsuredIDTypeKTP.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredIDTypeKTP" } KTP
%input#RadioButtonProspectInsuredIDTypeSIM{ :type => "radio", :name => "RadioButtonProspectInsuredIDType", :value => "SIM" }
%div#RadioButtonProspectInsuredIDTypeSIM.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredIDTypeSIM" } SIM
%input#RadioButtonProspectInsuredIDTypePaspor{ :type => "radio", :name => "RadioButtonProspectInsuredIDType", :value => "Paspor" }
%div#RadioButtonProspectInsuredIDTypePaspor.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredIDTypePaspor" } Paspor
%input#RadioButtonProspectInsuredIDTypeKIMSKITAS{ :type => "radio", :name => "RadioButtonProspectInsuredIDType", :value => "KIMSKITAS" }
%div#RadioButtonProspectInsuredIDTypeKIMS.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredIDTypeKIMSKITAS" } KIMS / KITAS
%input#RadioButtonProspectInsuredIDTypeOther{ :type => "radio", :name => "RadioButtonProspectInsuredIDType", :value => "Other" }
%div#RadioButtonProspectInsuredIDTypeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredIDTypeOther" } Lainnya, sebutkan
%div#LineProspectInsuredIDTypeOther.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredID" } 4. Nomor Identitas Diri
%table#TextProspectInsuredID.BoxSquare.PositionerLeft
%table#TextProspectInsuredActiveDateYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextProspectInsuredActiveDateYear" } /
%table#TextProspectInsuredActiveDateMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextProspectInsuredActiveDateMonth" } /
%table#TextProspectInsuredActiveDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "TextProspectInsuredActiveDateDay" } Masa Berlaku
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredDateOfBirth" } 5. Tempat Tanggal Lahir
%div#LineProspectInsuredPlace.LineStraight.PositionerLeft
%table#TextProspectInsuredDateOfBirthDay.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft{ :for => "TextProspectInsuredDateOfBirthMonth" } /
%table#TextProspectInsuredDateOfBirthMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "TextProspectInsuredDateOfBirthYear" } /
%table#TextProspectInsuredDateOfBirthYear.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "TextProspectInsuredAge" } Age
%table#TextProspectInsuredAge.BoxSquare.PositionerLeft
%span.Separator.Single.PositionerLeft Tahun
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredNationalityWNI" } 6. Kewarganegaraan
%input#RadioButtonProspectInsuredNationalityWNI{ :type => "radio", :name => "RadioButtonProspectInsuredNationality", :value => "WNI" }
%div#RadioButtonProspectInsuredNationalityWNI.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredNationalityWNI" } WNI
%input#RadioButtonProspectInsuredNationalityWNA{ :type => "radio", :name => "RadioButtonProspectInsuredNationality", :value => "WNA" }
%div#RadioButtonProspectInsuredNationalityWNA.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredNationalityWNA" } WNA, sebutkan
%div#LineProspectInsuredNationalityWNA.LineDot.PositionerLeft
%span.Note.PositionerLeft (Jika jawaban "WNA" mohon melampirkan fotokopi KITAS & Paspor dan melengkapi kuesioner WNA)
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredUSACitizenNo" } 7. Apakah Anda merupakan warga negara atau wajib pajak Amerika Serikat ?
%input#RadioButtonProspectInsuredUSACitizenYes{ :type => "radio", :name => "RadioButtonProspectInsuredUSACitizen", :value => "yes" }
%div#RadioButtonProspectInsuredUSACitizenYes.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredUSACitizenYes" } YA
%input#RadioButtonProspectInsuredUSACitizenNo{ :type => "radio", :name => "RadioButtonProspectInsuredUSACitizen", :value => "no" }
%div#RadioButtonProspectInsuredUSACitizenNo.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredUSACitizenNo" } TIDAK
%span.Note.PositionerLeft (Jika jawaban "YA" mohon lampirkan formulir W8 / W9)
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredSexMale" } 8. Jenis Kelamin
%input#RadioButtonProspectInsuredSexMale{ :type => "radio", :name => "RadioButtonProspectInsuredSex", :value => "male" }
%div#RadioButtonProspectInsuredSexMale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectInsuredSexMale" } Laki Laki
%input#RadioButtonProspectInsuredSexFemale{ :type => "radio", :name => "RadioButtonProspectInsuredSex", :value => "female" }
%div#RadioButtonProspectInsuredSexFemale.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectInsuredSexFemale" } Wanita
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredStatusSingle" } 9. Status Pernikahan
%input#RadioButtonProspectInsuredStatusSingle{ :type => "radio", :name => "RadioButtonProspectInsuredStatus", :value => "single" }
%div#RadioButtonProspectInsuredStatusSingle.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectInsuredStatusSingle" } Belum Menikah
%input#RadioButtonProspectInsuredStatusMarried{ :type => "radio", :name => "RadioButtonProspectInsuredStatus", :value => "married" }
%div#RadioButtonProspectInsuredStatusMarried.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectInsuredStatusMarried" } Menikah
%input#RadioButtonProspectInsuredStatusWidower{ :type => "radio", :name => "RadioButtonProspectInsuredStatus", :value => "widower" }
%div#RadioButtonProspectInsuredStatusWidower.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioButtonProspectInsuredStatusWidower" } Janda / Duda
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionIslam" } 10. Agama
%input#RadioBoxProspectInsuredReligionIslam{ :type => "radio", :name => "RadioBoxProspectInsuredReligion", :value => "islam" }
%div#RadioBoxProspectInsuredReligionIslam.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionIslam" } Islam
%input#RadioBoxProspectInsuredReligionCatholic{ :type => "radio", :name => "RadioBoxProspectInsuredReligion", :value => "catholic" }
%div#RadioBoxProspectInsuredReligionCatholic.BoxRound.PositionerLeft
%label.RadioButton.Medium.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionCatholic" } Kristen Katolik
%input#RadioBoxProspectInsuredReligionProtestant{ :type => "radio", :name => "RadioBoxProspectInsuredReligion", :value => "protestant" }
%div#RadioBoxProspectInsuredReligionProtestant.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionProtestant" } Kristen Protestan
%input#RadioBoxProspectInsuredReligionHindu{ :type => "radio", :name => "RadioBoxProspectInsuredReligion", :value => "hindu" }
%div#RadioBoxProspectInsuredReligionHindu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionHindu" } Hindu
%input#RadioBoxProspectInsuredReligionBudha{ :type => "radio", :name => "RadioBoxProspectInsuredReligion", :value => "budha" }
%div#RadioBoxProspectInsuredReligionBudha.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionBudha" } Budha
%input#RadioBoxProspectInsuredReligionKongHuCu{ :type => "radio", :name => "RadioBoxProspectInsuredReligion", :value => "konghucu" }
%div#RadioBoxProspectInsuredReligionKongHuCu.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioBoxProspectInsuredReligionKongHuCu" } Kong Hu Chu
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextProspectInsuredCompany" }11. a. Nama Perusahaan/Instansi/Sekolah
%table#TextProspectInsuredCompany.BoxSquare.PositionerLeft{ :style => "margin-left: 4px" }
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectInsuredMainJob" } Pekerjaan Utama
%table#TextProspectInsuredMainJob.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectInsuredWorkScope" } Bidang Usaha
%table#TextProspectInsuredWorkScope.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectInsuredPosition" } Jabatan
%table#TextProspectInsuredPosition.BoxSquare.PositionerLeft
%br

%label.Medium.SecondIndent.Single.PositionerLeft{ :for => "TextProspectInsuredJobDescription" } Uraian Pekerjaan
%table#TextProspectInsuredJobDescription.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "TextProspectInsuredSideJob" } b. Pekerjaan Tambahan
%table#TextProspectInsuredSideJob.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextProspectInsuredHomeAddress1", :style => "height: 112px" } 12. Alamat Tempat Tinggal
%table#TextProspectInsuredHomeAddress1.BoxSquare.PositionerLeft
%table#TextProspectInsuredHomeAddress2.BoxSquare.PositionerLeft
%label#LabelProspectInsuredHomeCity.Box.Single.PositionerLeft{ :for => "TextProspectInsuredHomeCity" } Kota
%table#TextProspectInsuredHomeCity.BoxSquare.PositionerLeft
%label#LabelProspectInsuredHomePostalCode.Box.Single.PositionerLeft{ :for => "TextProspectInsuredHomePostalCode" } Kode Pos
%table#TextProspectInsuredHomePostalCode.BoxSquare.PositionerLeft
%label#LabelProspectInsuredHomeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextProspectInsuredHomeTelephonePrefix" } Telp
%table#TextProspectInsuredHomeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelProspectInsuredHomeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextProspectInsuredHomeTelephoneInfix" } -
%table#TextProspectInsuredHomeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredTelephone1" } 13. Nomor Ponsel
%label#LabelProspectInsuredTelephone1.Box.Single.PositionerLeft{ :for => "TextProspectInsuredTelephone1" } 1. 
%table#TextProspectInsuredTelephone1.BoxSquare.PositionerLeft
%label#LabelProspectInsuredTelephone2.Box.Single.PositionerLeft{ :for => "TextProspectInsuredTelephone2" } 2. 
%table#TextProspectInsuredTelephone2.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredEmail" } 14. Alamat Email
%table#TextProspectInsuredEmail.BoxSquare.PositionerLeft
%br

%label.Medium.Multi.PositionerLeft{ :for => "TextProspectInsuredOfficeAddress1", :style => "height: 112px" } 15. Alamat Kantor
%table#TextProspectInsuredOfficeAddress1.BoxSquare.PositionerLeft
%table#TextProspectInsuredOfficeAddress2.BoxSquare.PositionerLeft
%label#LabelProspectInsuredOfficeCity.Box.Single.PositionerLeft{ :for => "TextProspectInsuredOfficeCity" } Kota
%table#TextProspectInsuredOfficeCity.BoxSquare.PositionerLeft
%label#LabelProspectInsuredOfficePostalCode.Box.Single.PositionerLeft{ :for => "TextProspectInsuredOfficePostalCode" } Kode Pos
%table#TextProspectInsuredOfficePostalCode.BoxSquare.PositionerLeft
%label#LabelProspectInsuredOfficeTelephonePrefix.Box.Single.PositionerLeft{ :for => "TextProspectInsuredOfficeTelephonePrefix" } Telp
%table#TextProspectInsuredOfficeTelephonePrefix.BoxSquare.PositionerLeft
%label#LabelProspectInsuredOfficeTeleponeInfix.Box.Plain.Single.PositionerLeft{ :for => "TextProspectInsuredOfficeTelephoneInfix" } -
%table#TextProspectInsuredOfficeTelephoneInfix.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredCorrespondanceHomeAddress" } 16. Alamat Korespondensi
%input#RadioButtonProspectInsuredCorrespondanceHomeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "home" }
%div#RadioButtonProspectInsuredCorrespondanceHomeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredCorrespondanceHomeAddress" } Alamat Tempat Tinggal
%input#RadioButtonProspectInsuredCorrespondanceOfficeAddress{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "office" }
%div#RadioButtonProspectInsuredCorrespondanceOfficeAddress.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredCorrespondanceOfficeAddress" } Alamat Kantor
%br

%label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredRelationAssuredSelf" } 17. Hubungan dengan Calon Tertangung
%input#RadioButtonProspectInsuredRelationAssuredSelf{ :type => "radio", :name => "RadioButtonProspectInsuredRelationAssured", :value => "self" }
%div#RadioButtonProspectInsuredRelationAssuredSelf.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredRelationAssuredSelf" } Diri Sendiri
%input#RadioButtonProspectInsuredRelationAssuredSpouse{ :type => "radio", :name => "RadioButtonProspectInsuredRelationAssured", :value => "spouse" }
%div#RadioButtonProspectInsuredRelationAssuredSpouse.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredRelationAssuredSpouse" } Suami / Istri
%input#RadioButtonProspectInsuredRelationAssuredFamily{ :type => "radio", :name => "RadioButtonProspectInsuredRelationAssured", :value => "family" }
%div#RadioButtonProspectInsuredRelationAssuredFamily.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredRelationAssuredFamily" } Orang Tua / Anak
%input#RadioButtonProspectInsuredRelationAssuredColleague{ :type => "radio", :name => "RadioButtonProspectInsuredRelationAssured", :value => "colleague" }
%div#RadioButtonProspectInsuredRelationAssuredColleague.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredRelationAssuredColleague" } Perusahaan / Karyawan
%input#RadioButtonProspectInsuredRelationAssuredOther{ :type => "radio", :name => "RadioButtonProspectInsuredRelationAssured", :value => "other" }
%div#RadioButtonProspectInsuredRelationAssuredOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredRelationAssuredOther" } Lainnya, sebutkan
%div#LineProspectInsuredOtherRelationship.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredInsurancePurposeSavings" } 18. Tujuan Pembelian Asuransi
%input#RadioButtonProspectInsuredInsurancePurposeSavings{ :type => "radio", :name => "RadioButtonProspectInsuredInsurancePurpose", :value => "savings" }
%div#RadioButtonProspectInsuredInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredInsurancePurposeSavings" } Tabungan
%input#RadioButtonProspectInsuredInsurancePurposeProtection{ :type => "radio", :name => "RadioButtonProspectInsuredInsurancePurpose", :value => "protection" }
%div#RadioButtonProspectInsuredInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredInsurancePurposeProtection" } Proteksi
%input#RadioButtonProspectInsuredInsurancePurposeInvestment{ :type => "radio", :name => "RadioButtonProspectInsuredInsurancePurpose", :value => "investment" }
%div#RadioButtonProspectInsuredInsurancePurposeInvestment.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredInsurancePurposeInvestment" } Investasi
%input#RadioButtonProspectInsuredInsurancePurposeEducation{ :type => "radio", :name => "RadioButtonProspectInsuredInsurancePurpose", :value => "education" }
%div#RadioButtonProspectInsuredInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonProspectInsuredInsurancePurposeEducation" } Edukasi
%input#RadioButtonProspectInsuredInsurancePurposeOther{ :type => "radio", :name => "RadioButtonProspectInsuredInsurancePurpose", :value => "other" }
%div#RadioButtonProspectInsuredInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredInsurancePurposeOther" } Lainnya, sebutkan
%div#LineProspectInsuredOtherPurpose.LineDot.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextProspectInsuredNPWP" } 19. Nomor NPWP (jika ada)
%table#TextProspectInsuredNPWP.BoxSquare.PositionerLeft
%table#TextProspectInsuredNPWPActiveDateYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextProspectInsuredNPWPActiveDateYear" } /
%table#TextProspectInsuredNPWPActiveDateMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "TextProspectInsuredNPWPActiveDateMonth" } /
%table#TextProspectInsuredNPWPActiveDateDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "TextProspectInsuredNPWPActiveDateDay" } Masa Berlaku
%br

%label.Wrap.Single.PositionerLeft{ :for => "BoxProspectInsuredSalaryIDR" } 20. Penghasilan Kotor Per Tahun
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "BoxProspectInsuredSalaryIDR" } Gaji
%input#RadioButtonProspectInsuredSalaryIDR{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "idr" }
%div#RadioButtonProspectInsuredSalaryIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredSalaryIDR" } Rp
%input#RadioButtonProspectInsuredSalaryUSD{ :type => "radio", :name => "RadioButtonPolicyHolderSalary", :value => "USD" }
%div#RadioButtonProspectInsuredSalaryUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredSalaryUSD" } USD
%label.Wrap.Single.PositionerLeft{ :for => "TextProspectInsuredSalary" } Jumlah Penghasilan / tahun
%table#TextProspectInsuredSalary.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "RadioButtonProspectInsuredRevenueIDR" } Hasil Usaha
%input#RadioButtonProspectInsuredRevenueIDR{ :type => "radio", :name => "RadioButtonProspectInsuredRevenue", :value => "idr" }
%div#RadioButtonProspectInsuredRevenueIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredRevenueIDR" } Rp
%input#RadioButtonProspectInsuredRevenueUSD{ :type => "radio", :name => "RadioButtonProspectInsuredRevenue", :value => "USD" }
%div#RadioButtonProspectInsuredRevenueUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredRevenueUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextProspectInsuredRevenue" } Jumlah Penghasilan / tahun
%table#TextProspectInsuredRevenue.BoxSquare.PositionerLeft
%br

%label.Medium.FirstIndent.Single.PositionerLeft{ :for => "RadioButtonProspectInsuredOtherIncomeIDR" } Penghasilan Lainnya
%input#RadioButtonProspectInsuredOtherIncomeIDR{ :type => "radio", :name => "RadioButtonProspectInsuredOtherIncome", :value => "idr" }
%div#RadioButtonProspectInsuredOtherIncomeIDR.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredOtherIncomeIDR" } Rp
%input#RadioButtonProspectInsuredOtherIncomeUSD{ :type => "radio", :name => "RadioButtonProspectInsuredOtherIncome", :value => "USD" }
%div#RadioButtonProspectInsuredOtherIncomeUSD.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectInsuredOtherIncomeUSD" } USD
%label.RadioButton.PositionerLeft{ :for => "TextProspectInsuredOtherIncome" } Jumlah Penghasilan / tahun
%table#TextProspectInsuredOtherIncome.BoxSquare.PositionerLeft
%br

%label.Medium.Single.FirstIndent.PositionerLeft{ :for => "TextProspectInsuredSource" } Jelaskan Sumbernya
%table#TextProspectInsuredSource.BoxSquare.PositionerLeft
%br