%h2 D. Ilustrasi

%span.Wrap.PosiitionerLeft
    Segala ketentuan yang terkait dengan Manfaat Asuransi Dasar dan Asuransi Tambahan, usia Calon Pemegang Polis/Calon Tertanggung, Uang Pertanggungan, frekuensi pembayaran adalah sebagaimana yang terdapat pada ilustrasi yang dilampirkan sebagai berikut:
%br

%label.Medium.Single.PositionerLeft{ :for => "TextIllustrationAgentName" } Nama Tenaga Penjual
%table#TextIllustrationAgentName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextIllustrationNumber" } Nomor Ilustrasi
%table#TextIllustrationNumber.BoxSquare.PositionerLeft

%label.Wrap.FirstIndent.Single.PositionerLeft{ :for => "DateIllustrationDay" } Tanggal
%table#DateIllustrationDay.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "DateIllustrationMonth" } / 
%table#DateIllustrationMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "DateIllustrationYear" } / 
%table#DateIllustrationYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextIllustrationAgentCode" } Kode Tenaga Penjual
%table#TextIllustrationAgentCode.BoxSquare.PositionerLeft
%br

%span.Wrap.MediumIndent.PosiitionerLeft
    * Wajib lengkapi sesuai dengan ilustrasi yang dilampirkan
%br