%h2 Pihak Yang Ditunjuk Untuk Menerima Kuasa dan Berwenang Untuk Bertindak Untuk dan Atas Nama Perusahaan
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyRepresentativeFullName" } 1. Nama Lengkap
%table#TextPolicyHolderCompanyRepresentativeFullName.BoxSquare.PositionerLeft
%span.Description.PositionerLeft (sesuai dengan identitas diri)
%br

%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyRepresentativePosition" } 2. Jabatan/Pangkat/Golongan
%table#TextPolicyHolderCompanyRepresentativePosition.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyRepresentativeIDNumber" } 3. Nomor Identitas Diri
%table#TextPolicyHolderCompanyRepresentativeIDNumber.BoxSquare.PositionerLeft
%table#DatePolicyHolderCompanyRepresentativeIDExpiredYear.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderCompanyRepresentativeIDExpiredYear" } /
%table#DatePolicyHolderCompanyRepresentativeIDExpiredMonth.BoxSquare.PositionerRight
%label.Separator.Single.PositionerRight{ :for => "DatePolicyHolderCompanyRepresentativeIDExpiredMonth" } /
%table#DatePolicyHolderCompanyRepresentativeIDExpiredDay.BoxSquare.PositionerRight
%label.Wrap.Single.PositionerRight{ :for => "DatePolicyHolderCompanyRepresentativeIDExpiredDay" } Masa Berlaku
%br

%label.Medium.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeRelationshipColleague" } 4. Hubungan dengan Calon Tertanggung
%input#RadioButtonPolicyHolderCompanyRepresentativeRelationshipColleague{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeRelationship", :value => "perusahaankaryawan" }
%div#RadioButtonPolicyHolderCompanyRepresentativeRelationshipColleague.BoxRound.PositionerLeft
%label.RadioButton.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeRelationshipColleague" } Perusahaan / Karyawan
%input#RadioButtonPolicyHolderCompanyRepresentativeRelationshipOther{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeRelationship", :value => "lainnya" }
%div#RadioButtonPolicyHolderCompanyRepresentativeRelationshipOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeRelationshipOther" } Lainnya, sebutkan
%div#TextPolicyHolderCompanyRepresentativeRelationshipOther.LineDot.PositionerLeft
%br

%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeSavings" } 18. Tujuan Pembelian Asuransi
%input#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeSavings{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurpose", :value => "tabungan" }
%div#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeSavings.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeSavings" } Tabungan
%input#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeProtection{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurpose", :value => "proteksi" }
%div#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeProtection.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeProtection" } Proteksi
%input#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeInvestation{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurpose", :value => "investasi" }
%div#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeInvestation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeInvestation" } Investasi
%input#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeEducation{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurpose", :value => "edukasi" }
%div#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeEducation.BoxRound.PositionerLeft
%label.RadioButton.Short.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeEducation" } Edukasi
%input#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeOther{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurpose", :value => "lainnya" }
%div#RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeOther.BoxRound.PositionerLeft
%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderCompanyRepresentativeInsurancePurposeOther" } Lainnya, sebutkan
%div#TextPolicyHolderCompanyRepresentativeInsurancePurposeOther.LineDot.PositionerLeft
%br

%div.Note
    %h3 Informasi Penting Jika Calon Pemegang Polis Perusahaan/Badan Hukum wajib melampirkan dokumen:
    %ol
        %li  Fotokopi Akta Pendirian/Anggaran Dasar Perusahaan berikut perubahan Anggaran Dasar beserta pengesahannya oleh Menteri Hukum dan HAM/Instansi terkait.
        %li Fotokopi Surat Izin Usaha (SIUP) atau Surat Izin Tempat Usaha (SITU) atau Surat Izin lainnya dari instansi berwenang.
        %li Fotokopi Surat Keterangan Domisili.
        %li Fotokopi Nomor Pokok Wajib Pajak (NPWP).
        %li Fotokopi Laporan Keuangan yang telah di audit.
        %li Fotokopi Identitas Diri (KTP/Paspor & KITAS) yang masih berlaku Direktur atau Pemilik Perusahaan/Badan Hukum.
        %li Surat Kuasa kepada pihak-pihak yang ditunjuk untuk bertindak untuk dan atas nama Perusahaan/Badan Hukum dalam melakukan hubungan usaha dengan
        perusahaan asuransi (Bila dikuasakan).
        %li Fotokopi Identitas Diri (KTP/Paspor & KITAS) yang masih berlaku pihak-pihak yang ditunjuk untuk bertindak untuk dan atas nama Perusahaan/Badan Hukum dalam
        melakukan hubungan usaha dengan perusahaan asuransi (Bila dikuasakan).
%br        