%h2 D. Ilustrasi

%span.Wrap.PosiitionerLeft
    Segala ketentuan yang terkait dengan Manfaat Asuransi Dasar dan Asuransi Tambahan, usia Calon Pemegang Polis/Calon Tertanggung, Uang Pertanggungan, frekuensi pembayaran adalah sebagaimana yang terdapat pada ilustrasi yang dilampirkan sebagai berikut:
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxIllustrationAgentName" } Nama Tenaga Penjual
%table#BoxIllustrationAgentName.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxIllustrationNumber" } Nomor Ilustrasi
%table#BoxIllustrationNumber.BoxSquare.PositionerLeft

%label.Wrap.FirstIndent.Single.PositionerLeft{ :for => "BoxIllustrationDateDay" } Tanggal
%table#BoxIllustrationDateDay.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxIllustrationDateMonth" } / 
%table#BoxIllustrationDateMonth.BoxSquare.PositionerLeft
%label.Separator.Single.PositionerLeft{ :for => "BoxIllustrationDateYear" } / 
%table#BoxIllustrationDateYear.BoxSquare.PositionerLeft
%br

%label.Medium.Single.PositionerLeft{ :for => "BoxIllustrationAgentCode" } Kode Tenaga Penjual
%table#BoxIllustrationAgentCode.BoxSquare.PositionerLeft
%br

%span.Wrap.MediumIndent.PosiitionerLeft
    * Wajib lengkapi sesuai dengan ilustrasi yang dilampirkan
%br