%h2 C. Data Calon Penerima Manfaat

%table#TableBeneficiariesList.Round
    %thead
        %tr
            %th{ :rowspan => "2" } No. 
            %th{ :rowspan => "2" } Nama Lengkap (Diisi sesuai dengan Identitas Diri yang berlaku)
            %th{ :colspan => "3" } Tanggal Lahir
            %th{ :rowspan => "2", :style => "white-space: nowrap" } L / P
            %th{ :rowspan => "2" } Hubungan dengan Calon Tertanggung
            %th{ :rowspan => "2" } Kewarganegaraan
        %tr
            %th Tanggal
            %th Bulan
            %th Tahun