%form#PopUpDiving.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpDiving', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpDiving', 'PopUpActivity', stringPageInfixTypeCurrent + 'Diving', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Menyelam

	/ FIELDSET

	%fieldset
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 1. Apakah jenis menyelam yang Anda ikuti saat ini?
			%br
			%input#RadioButtonCriteriaSkinDiving{ :type => "radio", :name => "RadioButtonCriteria", :value => "skindiving"}
			%label.RadioButton{ :for => "RadioButtonCriteriaSkinDiving" } Skin Diving
			%div.Separator
			%input#RadioButtonCriteriaSCUBADiving{ :type => "radio", :name => "RadioButtonCriteria", :value => "SCUBAdiving"}
			%label.RadioButton{ :for => "RadioButtonCriteriaSCUBADiving" } SCUBA Diving
			%div.Separator
			%input#RadioButtonCriteriaFreeDiving{ :type => "radio", :name => "RadioButtonCriteria", :value => "freediving"}
			%label.RadioButton{ :for => "RadioButtonCriteriaFreeDiving" } FREE Diving
			%div.Separator
		%br
		%hr

		%div.Containerfit
			%label#LabelLisensiMiliki.Long.Single.Item3.Margin 2. Mohon sebutkan Lisensi/ Sertifikat yang Anda miliki.
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Lisensi/ Sertifikat
			%label.Short.Single.Item1.Center.Margin Tanggal Perolehan
		%div.ContainerFit
			%input#TextCertificateLicense1.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextCertificateDate1.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%input#TextCertificateLicense2.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextCertificateDate2.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%input#TextCertificateLicense3.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextCertificateDate3.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%input#TextCertificateLicense4.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextCertificateDate4.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%input#TextCertificateLicense5.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextCertificateDate5.Short.Single.Item1.Margin{ :type => "text"}
		%br
		%hr

		%label.medium.Single.Item 3. Mohon sebutkan riwayat menyelam dan rencana menyelam yang akan dilakukan:
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin{ :Style => "opacity: 0"}
			%label.Short.Single.Item1.Center.Margin 12 Bulan terakhir
			%label.Short.Single.Item1.Center.Margin 12 Bulan y.a.d
		%div.ContainerFit
			%label.Short.Single.Item.Margin Lokasi
			%input#TextHistoryLocationLast12Months.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextHistoryLocationNext12Months.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%label.Short.Single.Item.Margin Kedalaman rata-rata
			%input#TextHistoryAvgDepthLast12Months.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextHistoryAvgDepthNext12Months.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%label.Short.Single.Item.Margin Kedalaman maksimum
			%input#TextHistoryMaxDepthLast12Months.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextHistoryMaxDepthNext12Months.Short.Single.Item1.Margin{ :type => "text"}
		%div.ContainerFit
			%label.Short.Single.Item.Margin Jumlah penyelaman
			%input#TextHistoryNumOfDiveLast12Months.Short.Single.Item1.Margin{ :type => "text"}
			%input#TextHistoryNumOfDiveNext12Months.Short.Single.Item1.Margin{ :type => "text"}
		%br
		%hr

		%label.medium.Single.Item 4. Apakah Anda pernah berpartisipasi dalam, atau apakah Anda memiliki rencana untuk berpartisipasi dalam salah satu kegiatan menyelam berikut:
		%br

		%label#Wrap.Single.PositionerLeft Menyelam seorang diri
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationSelfYes{ :type => "radio", :name => "RadioButtonParticipationSelf", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationSelfYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationSelfNo{ :type => "radio", :name => "RadioButtonParticipationSelf", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationSelfNo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Penyelaman di gua
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationCaveYes{ :type => "radio", :name => "RadioButtonParticipationCave", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationCaveYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationCaveNo{ :type => "radio", :name => "RadioButtonParticipationCave", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationCaveNo" } Tidak
		%br
		
		%label#Wrap.Single.PositionerLeft Eksplorasi Internal kecelakaan
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationInternalAccidentYes{ :type => "radio", :name => "RadioButtonParticipationInternalAccident", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationInternalAccidentYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationInternalAccidentNo{ :type => "radio", :name => "RadioButtonParticipationInternalAccident", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationInternalAccidentNo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Menyelam dan menyelamatkan orang di laut
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationSeaYes{ :type => "radio", :name => "RadioButtonParticipationSea", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationSeaYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationSeaNo{ :type => "radio", :name => "RadioButtonParticipationSea", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationSeaNo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Ijin penyelamatan atau penyelaman
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationRescueYes{ :type => "radio", :name => "RadioButtonParticipationRescue", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationRescueYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationRescueNo{ :type => "radio", :name => "RadioButtonParticipationRescue", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationRescueNo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Penggunaan bahan peledak di laut
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationExplosiveYes{ :type => "radio", :name => "RadioButtonParticipationExplosive", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationExplosiveYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationExplosiveNo{ :type => "radio", :name => "RadioButtonParticipationExplosive", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationExplosiveNo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Menyelam untuk mencari abalone
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationAbaloneYes{ :type => "radio", :name => "RadioButtonParticipationAbalone", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationAbaloneYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationAbaloneNo{ :type => "radio", :name => "RadioButtonParticipationAbalone", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationAbaloneNo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Meyelam dengan peralatan selain peralatan SCUBA biasa 
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationNonStandardSCUBAYes{ :type => "radio", :name => "RadioButtonParticipationNonStandardSCUBA", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationNonStandardSCUBAYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationNonStandardSCUBANo{ :type => "radio", :name => "RadioButtonParticipationNonStandardSCUBA", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationNonStandardSCUBANo" } Tidak

		%br
		%label#Wrap.Single.PositionerLeft Menyelam dengan kedalaman lebih dari 45 meter (150 kaki)
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonParticipationDeepSeaYes{ :type => "radio", :name => "RadioButtonParticipationDeepSea", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonParticipationDeepSeaYes" } Ya
			%div.Separator
			%input#RadioButtonParticipationDeepSeaNo{ :type => "radio", :name => "RadioButtonParticipationDeepSea", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonParticipationDeepSeaNo" } Tidak
		%br
		%label.medium.Single.Item Jika menjawab ‘ya’ untuk pernyataan di atas, mohon menjelaskan lokasi, kapan, frekuensi, dan tujuan di kemudian hari:
		%br    
		%input#TextParticipationDeepSeaDesc.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 5. Pernahkah Anda mengalami kecelakaan sewaktu menyelam yang membutuhkan bantuan medis?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonAccidentDVYes{ :type => "radio", :name => "RadioButtonAccidentDV", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonAccidentDVYes" } Ya
			%div.Separator
			%input#RadioButtonAccidentDVNo{ :type => "radio", :name => "RadioButtonAccidentDV", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonAccidentDVNo" } Tidak
		%br
		%input#TextAccidentDesc.Full.Multi.Item1.Margin{ :type =>"text" , :placeholder => "Mohon memberikan rincian termasuk tanggal:"}
		%hr

		%label#Wrap.Single.PositionerLeft 6. Mohon memberikan informasi tambahan yang menurut Anda penting
		%br
		%input#TextAdditionalInformation.Full.Multi.Item1.Margin{ :type =>"text" , :placeholder => "Mohon memberikan rincian termasuk tanggal:"}
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.