!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL				
				boxGenerator("#TextActivityFlightFullName", 24, boxTypeWithoutLabel, null);				
				boxGenerator("#DateActivityFlightBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateActivityFlightBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateActivityFlightBirthdayYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#TextActivityFlightSPAJNumber", 24, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DateActivityFlightTumorSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateActivityFlightTumorSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateActivityFlightTumorSignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../jqueryLibrary/Resource/Logo/logo_bcalife.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER PENERBANGAN
			%br
			
			%div.Note				
				%ol
					%li *) <i> Harus diisi oleh Calon Tertanggung. </i>
					%li **) <i> Bila kolom penjelasan tidak cukup, mohon memberikan penjelasan pada kertas lain. </i>
					%li ***) <i> Coret yang tidak perlu. </i>
		/ MAIN

		%main
			%form
				%h2 Data Calon Tertanggung
				
				/ FIELDSET
				
				%fieldset
					%label.Medium.Single.PositionerLeft{ :for => "TextActivityFlightFullName" } Nama Lengkap (sesuai dengan KTP)
					%table#TextActivityFlightFullName.BoxSquare.PositionerLeft					
					%br

					%label.Wrap.Medium.PositionerLeft{ :for => "DateActivityFlightBirthdayDay" } Tanggal lahir
					%table#DateActivityFlightBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateActivityFlightBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateActivityFlightBirthdayYear.BoxSquare.PositionerLeft
					%br
					
					%label.Medium.Single.PositionerLeft{ :for => "TextActivityFlightSPAJNumber" } Nomor SPAJ/Polis
					%table#TextActivityFlightSPAJNumber.BoxSquare.PositionerLeft					
					%br					
				
				/ FIELDSET
				
				%fieldset
					%span.Number.Single.PositionerLeft 1. 						
					%label.Single.PositionerLeft{ :for => "TextActivityFlightPilotOrNavigator" } Apakah Anda terbang sebagai pilot atau navigator?
					%br		
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightPilotOrNavigator.Full.Single.Item
					%br
					
					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightPassengerYes" } Apakah Anda terbang sebagai penumpang?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonActivityFlightPassengerYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightPassenger", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightPassengerYes" } Ya
						%input#RadioButtonActivityFlightPassengerNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightPassenger", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightPassengerNo" } Tidak
					%br	
						
					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightHavePlane" } Apakah Anda memiliki pesawat sendiri?
					%br
					%div.RadioButton.NumberIndent

						%input#RadioButtonActivityFlightHavePlaneYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightHavePlane", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightHavePlaneYes" } Ya

						%input#RadioButtonActivityFlightHavePlaneNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightHavePlane", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightHavePlaneNo" } Tidak
					%br	
						
					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "TextActivityFlightKindPlane" } Sebutkan jenis pesawat apakah yang Anda terbangkan?
					%br

					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightKindPlane.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Single.PositionerLeft{ :for => "TableActivityFlightLicenseList" } Mohon sebutkan Lisensi/ Sertifikat yang Anda miliki:
					%br
					%div.ContainerFit							
						%table#TableActivityFlightLicense.NumberIndent
							%thead
								%tr
									%th Lisensi/Sertifikat
									%th Tanggal Perolehan
									%th Tanggal Perpanjangan										
							%tbody
								%tr
									%td
									%td
									%td
								%tr
									%td 
									%td
									%td
								%tr
									%td 
									%td
									%td
								%tr
									%td 
									%td
									%td	
					%br				


					%span.Number.Single.PositionerLeft 6.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightScope" } Apakah Anda berencana untuk merubah cakupan lisensi yang saat ini Anda miliki?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonActivityFlightScopeYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightScope", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightScopeYes" } Ya
						%input#RadioButtonActivityFlightScopeNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightScope", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightScopeNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextActivityFlightScopeDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightScopeDesc.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightIsClub" } Apakah Anda anggota suatu klub atau asosiasi kegiatan menerbang?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonActivityFlightIsClubYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightIsClub", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightIsClubYes" } Ya
						%input#RadioButtonActivityFlightIsClubNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightIsClub", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightIsClubNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextActivityFlightIsClubDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightIsClubDesc.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 8.
					%label.Single.PositionerLeft{ :for => "TableActivityFlightCondition" } Mohon sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini
					%br
					%div.ContainerFit
						%table#TableActivityFlightCondition.NumberIndent
							%thead
								%tr
									%th 
									%th Tujuan
									%th Total
									%th 12 bulan terakhir
									%th 12 bulan y.a.d
									%th Total
									%th 12 bulan terakhir
									%th 12 bulan y.a.d

							%tbody
								%tr
									%td Penerbangan berjadwal
									%td 
									%td
									%td 
									%td
									%td 
									%td	
									%td									
								%tr
									%td Penerbangan tdk berjadwal
									%td
									%td								
									%td 
									%td
									%td 
									%td	
									%td																	
								%tr
									%td Penerbangan komersial
									%td
									%td
									%td 
									%td
									%td 
									%td	
									%td																	
								%tr
									%td Penerbangan Pribadi
									%td
									%td
									%td 
									%td
									%td 
									%td	
									%td									

								%tr
									%td Helikopter
									%td
									%td
									%td 
									%td
									%td 
									%td	
									%td									

								%tr
									%td Terbang layang
									%td
									%td
									%td 
									%td
									%td 
									%td	
									%td									

								%tr
									%td Lainnya
									%td
									%td	
									%td 
									%td
									%td 
									%td	
									%td	
					%br
					

					%span.Number.Single.PositionerLeft 9.
					%label.Single.PositionerLeft{ :for => "TextActivityFlightFrom" } Darimana Anda Terbang?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightFrom.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 10.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightTowerControl" } Apakah Anda terbang dari bandara control?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonActivityFlightTowerControlYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightTowerControl", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightTowerControlYes" } Ya
						%input#RadioButtonActivityFlightTowerControlNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightTowerControl", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightTowerControlNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextActivityFlightPilotTowerControlDesc" } Jika ya, mohon jelaskan secara rinci:
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightPilotTowerControlDesc.Full.Single.Item.PositionerLeft
					%br
						
					%span.Number.Single.PositionerLeft 11.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightAccident" } Pernahkan Anda mengalami kecelakaan terbang atau pelanggaran pengunaan/ pencabutan lisensi?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonActivityFlightAccidentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightAccident", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightAccidentYes" } Ya
						%input#RadioButtonActivityFlightAccidentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightAccident", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightAccidentNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextActivityFlightAccidentDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightAccidentDesc.Full.Single.Item
					%br

					%span.Number.Single.PositionerLeft 12.
					%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightNoFly" } Apakah Anda memiliki larangan dalam penerbangan yang dianjurkan dalam surat keterangan medis?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonActivityFlightNoFlyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightNoFly", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightNoFlyYes" } Ya
						%input#RadioButtonActivityFlightNoFlyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonActivityFlightNoFly", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonActivityFlightNoFlyNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextActivityFlightNoFlyDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightNoFlyDesc.Full.Single.Item
					%br

					
					%span.Number.Single.PositionerLeft 13.
					%label.Single.PositionerLeft{ :for => "TextActivityFlightHealthCondition" } Mohon sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini:
					%br	
					%div.ContainerFit.NumberIndent
						%input#TextActivityFlightHealthCondition.Full.Single.Item
					%br
