!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_siform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// READY

			$(document).ready(function()
			{
				// INITIALIZATION

				var JSONLayoutRAWDummy = JSON.parse(JSONLayout);
				var JSONLayoutSIDummy = JSONLayoutRAWDummy.si;
				var JSONLayoutProductDummy = JSONFilterContentByKey(JSONLayoutSIDummy, "productKey", "unitlink", "productContent", "productState");

				var JSONFormulaFromURL = [];
				var JSONFormulaRAWDummy = JSON.parse(JSONFormula);
				var JSONFormulaSIDummy = JSONFormulaRAWDummy.si;
				var JSONFormulaProductDummy = JSONFilterContentByKey(JSONFormulaSIDummy, "productKey", "unitlink", "productContent", "productState");

				var JSONValueRAWDummy = JSON.parse(JSONValue);
				var JSONValueSIDummy = JSONValueRAWDummy.si;
				var JSONValueProductDummy = JSONFilterContentByKey(JSONValueSIDummy, "productKey", "unitlink", "productContent", "productState");

				var arrayRiderHeader = ["RiderDescription", "SumAssured", "Term", "Premium", "ExtraPremiPerMille", "ExtraPremiPercent", "ExtraPremiPerMilleTerm", "ExtraPremiPercentTerm"];


				// GENERATOR

				$("input[name='RadioButtonSection']").change(function()
				{
					var JSONLayoutSectionDummy = JSONFilterContentByKey(JSONLayoutProductDummy, "sectionKey", $(this).val(), "sectionContent", "sectionState");
					var JSONValueSectionDummy = JSONFilterContentByKey(JSONValueProductDummy, "sectionKey", $(this).val(), "sectionContent", "sectionState");

					/* FROM PRODUCT CONFIGURATOR */

					formGenerator(JSONLayoutSectionDummy, "MainForm");
					formulaGenerator(JSONFormulaProductDummy);

					/* SETTER */

					setGeneralPageForm(JSONValueSectionDummy);
					setTable(arrayRiderHeader, JSONValueSectionDummy, "TableRider");
					formulaTableGenerator(JSONFormulaProductDummy);
				});


				// GETTER

				$(stringKres + "buttonSubmit").click(function()
				{
					var JSONInput = [];

					getGeneralPageForm(JSONInput);
					previewJSONInput(JSONInput);
				});
			});


	/ BODY

	%body#Main

		%input#buttonSubmit{ :type => "button", :value => "done" }

		%div.RadioButton
			%input#RadioButtonPolicyholder{ :type => "radio", :value => "policyholder", :name => "RadioButtonSection", :checked => "true" }
			%label{ :for => "RadioButtonPolicyholder" } Policyholder
			%input#RadioButtonProspectiveInsured{ :type => "radio", :value => "prospectiveinsured", :name => "RadioButtonSection" }
			%label{ :for => "RadioButtonProspectiveInsured" } Prospective Insured
			%input#RadioButtonBasicInsurance{ :type => "radio", :value => "basicinsurance", :name => "RadioButtonSection" }
			%label{ :for => "RadioButtonBasicInsurance" } Basic Insurance
			%input#RadioButtonMoneyAllocation{ :type => "radio", :value => "moneyallocation", :name => "RadioButtonSection" }
			%label{ :for => "RadioButtonMoneyAllocation" } Money Allocation
			%input#RadioButtonAdditionalInsurance{ :type => "radio", :value => "additionalinsurance", :name => "RadioButtonSection" }
			%label{ :for => "RadioButtonAdditionalInsurance" } Additional Insurance

		/ MAIN

		%main#MainForm
