!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#DatePolicyHolderRespiratoryDetailFirstTimeAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailFirstTimeAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailFirstTimeAriseYear", 4, boxTypeWithoutLabel, null);
			
				boxGenerator("#DatePolicyHolderRespiratoryDetailWhenLastAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailWhenLastAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailWhenLastAttackYear", 4, boxTypeWithoutLabel, null);
			
				boxGenerator("#DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#DatePolicyHolderRespiratoryDetailConsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailConsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailConsultYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#TextPolicyHolderRespiratorySignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderRespiratorySignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderRespiratorySignedYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../Resource/Logo/logo_bcalife_healthquestionnaire.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER GANGGUAN PERNAFASAN
			%br

			%div.Note
				Perlu diperhatikan:
				%ol
					%li Wajib diisi oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung dengan tinta hitam, huruf cetak, jelas dan memberi tanda (√) pada kotak sesuai pilihan.
					%li Wajib menandatangani setiap koreksi penulisan (jika ada).
					%li Penulisan tanggal selalu mempergunakan format Tanggal-Bulan-Tahun.
					%li Apabila diperlukan dapat mempergunakan lembar terpisah pada kertas HVS A4 yang diisi dan ditandatangani oleh (Calon) Pemegang Polis, (Calon) Tertanggung dan Tenaga Penjual.
					%li Apabila telah diisi lengkap oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung wajib diserahkan ke Kantor Pusat PT Asuransi Jiwa BCA (“Penanggung”).

		/ MAIN

		%main
			%form
				%h2 I. DATA (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
					%table#TextPolicyHolderSPAJNumber.BoxSquare.PositionerLeft
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
					%table#TextPolicyHolderFullName1.BoxSquare.PositionerLeft
					%br
					%table#TextPolicyHolderFullName2.BoxSquare.PositionerLeft

					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBirthdayPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
					%input#TextPolicyHolderBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft ,
					%table#DatePolicyHolderBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBirthdayYear.BoxSquare.PositionerLeft
					%br

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruption" } Apakah gangguan pernapasan yang Anda derita?		
					%div.RadioButton					
						%input#RadioButtonPolicyHolderRespiratoryDetailDisruptionAsthma.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "asthma" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionAsthma" } Asma
						
						%input#RadioButtonPolicyHolderRespiratoryDisruptionBronchitis.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "bronchitis" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionBronchitis" } Bronchitis
						
						%input#RadioButtonPolicyHolderRespiratoryDisruptionTBC.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "tbc" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionTBC" } TBC	
						
						%input#RadioButtonPolicyHolderRespiratoryDisruptionOther.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionOthers"} Lainnya, sebutkan  
						%br
						%div#TextPolicyHolderRespiratoryDisruptionOthers.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailFirstTimeAriseDay" } Kapan pertama kali Anda merasakan gejala-gejala tersebut?
					%table#DatePolicyHolderRespiratoryDetailFirstTimeAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailFirstTimeAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailFirstTimeAriseYear.BoxSquare.PositionerRight
					%br
					
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailLastTwoYearsAttack" } a. Berapa kali serangan dalam 2 (dua) tahun terakhir?
					%input#TextPolicyHolderRespiratoryDetailLastTwoYearsAttack.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailWhenLastAttackDay" } b. Kapan serangan terakhir?
					%table#DatePolicyHolderRespiratoryDetailWhenLastAttackDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailWhenLastAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailWhenLastAttackYear.BoxSquare.PositionerRight
					%br					

					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCause" } Berapa kali serangan-serangan tersebut menyebabkan Anda:
					%br
					(Mohon melampirkan resume perawatan yang Anda miliki)

					%div.RadioButton
						%input#RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseLeave.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCause", :value => "Take Leave" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseLeave" } Tidak masuk kerja, selama:
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveDay.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveDay"} Hari  
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveWeek.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveWeek"} Minggu  
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveMonth.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveMonth"} Bulan  
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveYear.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveYear"} Tahun  
						%br				
												
						%input#RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseHospital.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCause", :value => "Hospital" }
						%div.BoxRound.PositionerLeft
						%b
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseHospital" } Dirawat di Rumah Sakit
						%br						
						%label.Wrap.Single.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDay" } Tanggal perawatan:
						%table#DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDay.BoxSquare.PositionerLeft
						%span.Separator.Single.PositionerLeft /
						%table#DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalMonth.BoxSquare.PositionerLeft
						%span.Separator.Single.PositionerLeft /
						%table#DatePolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalYear.BoxSquare.PositionerLeft
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDuration"} Lama perawatan:
						%input#TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDuration.Line.Long.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalDuration"} (hari/minggu/bulan*) *coret yang tidak perlu
						%br
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDoctorName"} Nama Lengkap Dokter	%input#TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalDoctorName.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalPhone"} No. Telepon/Handphone:	%input#TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalPhone.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalKlinikName"} Nama Klinik/Rumah Sakit:	%input#TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalKlinikName.LineDot.Long.Single.PositionerLeft{ :type => "text" }					
						%br
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalAddress"} Alamat Klinik/Rumah Sakit:	%input#TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%input#TextPolicyHolderRespiratoryDetailNumberOfAttackCauseHospitalAddress2.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
										
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryComplainCaugh" } Sewaktu tidak ada serangan, apakah ada keluhan-keluhan berikut?
					%div.RadioButton
						%label.Wrap.Single.PositionerLef{ :for => "RadioButtonPolicyHolderRespiratoryDetailComplainCaugh" } Batuk   
						%input#RadioButtonPolicyHolderRespiratoryDetailComplainCaugh.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailComplain", :value => "caugh" }
						%div.BoxRound.PositionerLeft

						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailComplainShortnessBreath" } Nafas Pendek
						%input#RadioButtonPolicyHolderRespiratoryDetailComplainShortnessBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailComplain", :value => "shortnessbreath" }
						%div.BoxRound.PositionerLeft
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderRespiratoryDetailComplainNgikSound" } Berbunyi “ngik”
						%input#RadioButtonPolicyHolderRespiratoryDetailComplainNgikSound.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailComplain", :value => "ngiksound" }
						%div.BoxRound.PositionerRight
					%br
					
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailTherapy" } 	a.	Pengobatan apakah yang digunakan untuk mengatasi gangguan pernapasan?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderRespiratoryDetailTherapyInhaler.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailTherapy", :value => "inhaler" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailTherapyInhaler" } Inhaler																
						%input#RadioButtonPolicyHolderRespiratoryDetailTherapyDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailTherapy", :value => "drugs" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailTherapyDrug" } Obat-obatan  (Jelaskan nama obat, dosis dan frekuensi penggunaannya pada kolom di bawah ini).
						%br
											
					%table
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td								
						%br	
						
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailConsumption" } 	b. Kapan obat-obatan tersebut dikonsumsi?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderRespiratoryDetailConsumptionEveryDay.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailConsumption", :value => "everyday" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailConsumptionEveryDay" } Setiap hari																
						%input#RadioButtonPolicyHolderRespiratoryDetailConsumptionWhenAttacked.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailConsumption", :value => "whenattacked" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailConsumptionWhenAttacked" } Hanya saat serangan
						%br						
										
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } 	c. Apakah obat-obatan tersebut masih digunakan sampai sekarang?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderRespiratoryDetailStillConsumedYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailStillConsumed", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailStillConsumedYes" } Ya
						
						%input#RadioButtonPolicyHolderRespiratoryDetailStillConsumedNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailStillConsumed", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailStillConsumedNo" } Tidak
						%br														
					
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryStillConsumedDesc"} Mohon menjelaskan alasannya secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderRespiratoryStillConsumedDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailMedicalCheckResult" } Sehubungan dengan gangguan pernapasan, kapan dan bagaimana hasil pemeriksaan darah, rontgen dada, spirometri lainnya? (Mohon dilampirkan fotokopi hasil pemeriksaan).
					%br
					%input#TextPolicyHolderRespiratoryDetailMedicalCheckResult.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%br
					
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailConsultDay" } Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
					%br
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailConsultDay" } Tanggal terakhir konsultasi:
					%table#DatePolicyHolderRespiratoryDetailConsultDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailConsultMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailConsultYear.BoxSquare.PositionerRight
					%br					
					
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalDiagnosa" } Diagnosa:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalDiagnosa.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalDoctorName" } Nama Lengkap Dokter:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalDoctorName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalPhone" } No. Telepon/Handphone:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalPhone.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalClinicName" } Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalClinicName.Short.Single.PositionerLeft{ :type => "text" }				
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalAddress" } Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalAddress.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%br
					
					%span.Number.PositionerLeft 9
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratoryAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderRespiratoryAdditionalInfo.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
	

					%h2 PERNYATAAN DAN KUASA
					%div.Note
						Perlu diperhatikan: 
						%ol
							%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Nyeri Dada ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
							%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
							%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
							%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
							%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratorySignedBy" } Ditandatangani
					%input#TextPolicyHolderRespiratorySignedBy.Medium.Single.PositionerLeft{ :type => "text"}
					%span.Separator.Single.PositionerLeft
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratorySignedDay" } Tanggal
					%span.Separator.Single.PositionerLeft
					%table#TextPolicyHolderRespiratorySignedDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#TextPolicyHolderRespiratorySignedMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#TextPolicyHolderRespiratorySignedYear.BoxSquare.PositionerLeft
					%br
							
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Pemegang Polis
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Tertanggung
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail Tenaga Penjual