!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajpdf_header.haml")).render
		%title BCA Life - BLESS, Ringkasan Pembelian

		/ JQUERY

		:javascript
		
			// DOCUMENT READY
			
			$(document).ready(function()
			{
				// GENERATOR
				
				boxGenerator("#TextPolicyHolderFullName", 26, boxTypeWithoutLabel, null);				
				boxGenerator("#TextIllustrationNumber", 26, boxTypeWithoutLabel, null);
				lineGenerator("#TextSignedPlace", 8);
				lineGenerator("#DateSignedDay", 2);
				lineGenerator("#DateSignedMonth", 2);
				lineGenerator("#DateSignedYear", 4);  
			});

	/ BODY

	%body#A4
	
		/ HEADER
	
		%header
			%img.PositionerLeft{ :src => "../../jqueryLibrary/Resource/Logo/logo_bcalife.svg", :style => "width: 200px;"}

			%div.PositionerRight
				%label.Wrap.Single.PositionerRight PT Ansuransi Jiwa BCA
				%br
				%label.Wrap.Single.PositionerRight Chase Plaza Lantai 22 | Jl.Jend Sudirman Kav 21, Jakarta 12920
				%br
				%label.Wrap.Single.PositionerRight Telepon: (021) 21 888 000 | Faks: (021) 2934 7977 | Email : customer@bcalife.co.id
			%br
			
			%div.ContainerFit
				%span.Medium.Single.Item1 RINGKASAN PEMBELIAN
				%br
				%span.Medium.Single.Item2 Produk Asuransi Jiwa BCA Life Heritage Protection
			
		/ MAIN
			
		%main
			%section
				%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderFullName" } Nama Calon Pemegang Polis
				%table#TextPolicyHolderFullName.BoxSquare.PositionerRight
				%br				
				
				%label.Wrap.Single.PositionerLeft{ :for => "TextIllustrationNumber" } Nomor Ilustrasi
				%table#TextIllustrationNumber.BoxSquare.PositionerRight
				%br
				
				%h2 Beberapa KEWAJIBAN Saya
				%br	

				%ul
					%li Agar manfaat asuransi jiwa Saya tetap aktif, maka Saya wajib membayar Premi sebelum tanggal jatuh tempo tanga perlu menunggu pemberitahuan jatuh tempo dari PT Asuransi Jiwa BCA (BCA Life), dengan Masa Tenggang 45 Hari Kalender, apabila Premi tidak dibayarkan sampai Masa Tenggang berakhir maka Polis Saya menjadi batal.
					%li 
						Saya wajib membaca dan memahami Buku Polis selama Masa Pemahaman Polis 
						%i (Free Look Period) 
						yaitu 14 Hari kalender sejak Buku Polis diterima oleh Saya atau Penerima yang namanya tercantum pada laporan kurir

				%h2 Beberapa Hal PENTING untuk saya ketahui
				%br
				
				%ul 
					%li 
						Produk 
						%b BCA Life Heritage Protection 
						mempunyai fasilitas Pinjaman Polis yang nilai pinjamannya tidak melebihi 80% (delapan puluh persen) dari Nilai Tunai Yang Dijamin dan apabila Saya mengajukan Pinjaman Polis maka Saya wajib membayar bunga majemuk yang ditetapkan oleh BCA Life.
					%li Jika Saya membatalkan Polis setelah lewat Masa Pemahaman Polis 
					%i (Free Look Period), 
					maka yang akan Saya dapatkan adalah sebesar Nilai Tunai sesuai tabel dalam Polis.
					%li 
						Jika Polis batal dikarenakan tidak membayar Premi sampai dengan Masa Tenggang berakhir, maka Saya dapat melakukan Pemulihan Polis tidak lebih dari 24 (dua puluh empat) bulan dari tanggal Polis batal dengan melakukan pelunasan Premi tertunggak, bunga, serta semua biaya medis dan biaya lainnya (jika ada) yang timbul sehubungan dengan pemulihan Polis melalui 
						%i Virtual Account
						dan memenuhi syarat-syarat 
						%i Underwriting 
						dan syarat-syarat lainnya yang ditetapkan oleh BCA Life. 
					%li  Jika Saya tidak melakukan Pemulihan Polis melebihi 24(dua puluh empat) bulan dari tanggal polis batal maka Saya berhak atas Nilai Tunai Polis sesuai tabel Nilai Tunai Polis dengan melengkapi Formulir Penebusan Polis Asuransi dan megembalikan buku Polis.

				%span.single.PositionerLeft Mengenai hal hal diatas, saya SETUJU dan telah PAHAM atas penjelasan yang diberikan oleh Tenaga Penjual BCA Life. Apabila terdapat perbedaan antara Ringkasan Pembelian dengan Ketentuan Polis, maka yang akan berlaku adalah ketentuan Polis.
				
				%br
				%label.Single.PositionerLeft{ :for => "TextSignedPlace" } Ditandatangani di
				%div#TextSignedPlace.LineStraight.PositionerLeft
				%label.Single.PositionerLeft{ :for => "DateSignedDay" } Pada Tanggal 
				%div#DateSignedDay.LineStraight.PositionerLeft
				%label.Single.Separator.PositionerLeft{ :for => "DateSignedMonth" } /
				%div#DateSignedMonth.LineStraight.PositionerLeft
				%label.Single.Separator.PositionerLeft{ :for => "DateSignedYear" } /
				%div#DateSignedYear.LineStraight.PositionerLeft
				%span.Single.Wrap.PositionerLeft (Tanggal/Bulan/Tahun).
				%br
				
				%table.SignatureMedium.PositionerLeft
					%thead
						%tr
							%th Telah dibaca dan disetujui oleh Pemegang Polis
					%tbody
						%tr
							%td
					%tfoot
						%tr
							%td Nama Lengkap & Tanda tangan calon pemegang Polis
				%table.SignatureMedium.PositionerRight
					%thead
						%tr
							%th Telah dibaca dan disetujui oleh Tenaga Penjual
					%tbody
						%tr
							%td
					%tfoot
						%tr
							%td Nama Lengkap & Tanda tangan Tenaga Penjual
				%br