!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION
			
			var stringPageTypeCurrent = stringPageTypeForm;
			var stringPageSectionCurrent = stringPageSectionForm;
			var stringPageValidationCurrent = stringPageValidationIncome;
			var booleanInputChangeState = "false";
			var stringPageInfixTypeCurrent = stringPolicyHolderPrefix;
			var arrayForeigner = [];
			var stringPageForeigner = true; 

			// var jsonPolicyHolder = '{"result":{"readFromDB":[{"elementID":"TextPolicyHolderFullName","Value":"Yosi Oliver"},{"elementID":"RadioButtonPolicyHolderAmerican","Value":"true"},{"elementID":"DatePolicyHolderActive","Value":"01/02/2016"},{"elementID":"RadioButtonPolicyHolderReligion","Value":"budha"}]}}'

			$(document).ready(function()
			{
				$("#BoxDate").DateTimePicker(
				{
					dateSeparator: "/",
					dateFormat: "dd/MM/yyyy"
				});

				autoPopulateState();

				validatePressNumeric("TextPolicyHolderCIN");
				validatePressNumeric("TextPolicyHolderHomePostalCode");
				validatePressNumeric("TextPolicyHolderOfficePostalCode");

				//calculateAge("DatePolicyHolderBirthday", "TextPolicyHolderAge");
				$('#TextPolicyHolderSalary').number( true, 0, ',', '.' );
				$('#TextPolicyHolderRevenue').number( true, 0, ',', '.' );
				$('#TextPolicyHolderOtherIncome').number( true, 0, ',', '.' );

				radioButtonOtherGenerator("RadioButtonPolicyHolderIDType", "#TextPolicyHolderIDTypeOther", "OTHER");
				radioButtonOtherGenerator("RadioButtonPolicyHolderRelationAssured", "#TextPolicyHolderRelationAssuredOther", "other");
				checkboxOtherGenerator("CheckboxPolicyHolderInsurancePurposeOther", "#TextPolicyHolderInsurancePurposeOther", "other");

				telephoneStripGenerator("TextPolicyHolderHomeTelephone");
				telephoneStripGenerator("TextPolicyHolderOfficeTelephone");

				inputListener();

				// FOR TESTING

				/* $("#ButtonSubmit").click(function()
				{
					// alert("before " + booleanInputChangeState);
					savetoDB();
					// alert("after " + booleanInputChangeState);
				}); */

				$('input[type=radio][name=RadioButtonPolicyHolderCorrespondanceAddress]').change(function() {
					if (this.value == 'home') {
						$("#TextPolicyHolderHomeAddress1").prop('required',true);
						$("#TextPolicyHolderHomeCity").prop('required',true);
						$("#TextPolicyHolderHomePostalCode").prop('required',true);

						$('#TextPolicyHolderOfficeAddress1').removeAttr('required');
						$('#TextPolicyHolderOfficeCity').removeAttr('required');
						$('#TextPolicyHolderOfficePostalCode').removeAttr('required');
					}
					else if (this.value == 'office') {
						$("#TextPolicyHolderOfficeAddress1").prop('required',true);
						$("#TextPolicyHolderOfficeCity").prop('required',true);
						$("#TextPolicyHolderOfficePostalCode").prop('required',true);

						$('#TextPolicyHolderHomeAddress1').removeAttr('required');
						$('#TextPolicyHolderHomeCity').removeAttr('required');
						$('#TextPolicyHolderHomePostalCode').removeAttr('required');
					}
					else
					{

					}
				});

				checkboxAsRadioButton("CheckboxPolicyHolderSalary");
				checkboxAsRadioButton("CheckboxPolicyHolderRevenue");
				checkboxAsRadioButton("CheckboxPolicyHolderOtherIncome");

				// var objectContent = JSON.parse(jsonPolicyHolder);
				// getFromDatabase(objectContent.result.readFromDB, stringPageTypeCurrent);
			});


	/ BODY

	%body#Main

		/ MAIN

		%main
			%form
				/ %input#ButtonSubmit{ :type => "button", :value => "Submit" }
				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCIN" } Nomor CIN
				%input#TextPolicyHolderCIN.Medium.Single.PositionerLeft{ :type => "text", :required => "true", :maxlength => "7" }
				%br

				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderFullName" } Nama Lengkap
					%input#TextPolicyHolderFullName.Full.Single.Item{ :type => "text", :required => "true", "data-input-type" => "autopopulate" }

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderIDType" } Jenis Identitas Diri
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderIDTypeKTP.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "KTP", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderIDTypeKTP" } KTP
					%div.Separator
					%input#RadioButtonPolicyHolderIDTypeSIM.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "SIM", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderIDTypeSIM" } SIM
					%div.Separator
					%input#RadioButtonPolicyHolderIDTypePassport.Medium.Single{ :type => "radio", :name=>"RadioButtonPolicyHolderIDType", :value => "PASPOR", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderIDTypePassport" } Paspor
					%div.Separator
					%input#RadioButtonPolicyHolderIDTypeKIMSKITAS.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "KIMSKITAS", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderIDTypeKIMSKITAS" } KIMS/KITAS
					%div.Separator
					%input#RadioButtonPolicyHolderIDTypeOther.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderIDType", :value => "OTHER", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderIDTypeOther" } Lainnya
				%input#TextPolicyHolderIDTypeOther.Long.Single.PositionerLeft{ :type => "text" }
				%img.PositionerLeft{ :src => "../../jqueryLibrary/Resource/Input/input_text_required.svg", :style => "width: 20px;" }
				%br

				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderIDNumber" } Nomor Identitas Diri
					%input#TextPolicyHolderIDNumber.Medium.Single.Item{ :type => "text", :required => "true", :maxlength => "16"}
					%label.Medium.Single.Item{ :for => "DatePolicyHolderActive" } Masa berlaku
					%input#DatePolicyHolderActive.Medium.Single.Item{ :type => "text", :required => "true", "data-field" => "date" }

				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderBirthPlace" } Tempat lahir
					%input#TextPolicyHolderBirthPlace.Medium.Single.Item{ :type => "text", :maxlength => "20"}
					%label.Medium.Single.Item{ :for => "DatePolicyHolderBirth" } Tanggal lahir
					%input#DatePolicyHolderBirth.Medium.Single.Item{ :type => "text", :required => "true", "data-input-type" => "autopopulate" }
					%label.Medium.Single.Item{ :for => "TextPolicyHolderAge" } Umur
					%input#TextPolicyHolderAge.Medium.Single.Item{ :type => "text", "data-input-type" => "autopopulate" }
				%div.ContainerLeft
					%label.Short.Single.Item{ :for => "RadioButtonPolicyHolderForeigner" } Kewarganegaraan
					%div.RadioButton.Item
						%input#RadioButtonPolicyHolderForeignerWNI.Single{ :type => "radio", :name => "RadioButtonPolicyHolderForeigner", :value => "false", :onchange => "showPopUpFromRadioButton(this.name, 'true', 'PopUpForeigner', stringPageInfixTypeCurrent, arrayForeigner, ['Foreigner'])", :required => "true" }
						%label.RadioButton{ :for => "RadioButtonPolicyHolderForeignerWNI" } WNI
						%div.Separator
						%input#RadioButtonPolicyHolderForeignerWNA.Single{ :type => "radio", :name => "RadioButtonPolicyHolderForeigner", :value => "true", :onchange => "showPopUpFromRadioButton(this.name, 'true', 'PopUpForeigner', stringPageInfixTypeCurrent, arrayForeigner, ['Foreigner'])", :required => "true" }
						%label.RadioButton{ :for => "RadioButtonPolicyHolderForeignerWNA" } WNA
						%input#ButtonPreviewPolicyHolderForeigner.ButtonPreview{ :type => "button", :value => "View recent input", :onclick => "showPopUpFromButton('PopUpForeigner', stringPageInfixTypeCurrent + 'Foreigner', arrayForeigner)" }
				%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizen" } Apakah anda merupakan warga negara atau wajib pajak amerika ?
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderUSACitizenYes.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "true", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderUSACitizenYes" } Ya
					%div.Separator
					%input#RadioButtonPolicyHolderUSACitizenNo.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "false", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderUSACitizenNo" } Tidak
				%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenYes" } (Jika jawaban "Ya" mohon lampirkan formulir W8 / W9).
				%br
				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderSex" } Jenis Kelamin
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderSexMale.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "male", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderSexMale" } Laki - laki
					%div.Separator
					%input#RadioButtonPolicyHolderSexFemale.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "female", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderSexFemale" } Perempuan
				%br
				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderMaritalStatus" } Status Pernikahan
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderMaritalStatusSingle.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "single", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderMaritalStatusSingle" } Belum Menikah
					%div.Separator
					%input#RadioButtonPolicyHolderMaritalStatusMarried.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "married", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderMaritalStatusMarried" } Menikah
					%div.Separator
					%input#RadioButtonPolicyHolderMaritalStatusDivorced.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "divorced", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderMaritalStatusDivorced" } Janda / Duda
				%br

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderReligion" } Agama
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderReligionIslam.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "islam" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderReligionIslam" } Islam
					%div.Separator
					%input#RadioButtonPolicyHolderReligionKristenKatolik.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "katolik" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderReligionKristenKatolik" } Kristen Katolik
					%div.Separator
					%input#RadioButtonPolicyHolderReligionKristenProtestan.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderReligion", :value => "kristen" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderReligionKristenProtestan" } Kristen Protestan
					%div.Separator
					%input#RadioButtonPolicyHolderReligionHindu.Medium.Single{ :type => "radio", :name =>"RadioButtonPolicyHolderReligion", :value => "hindu" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderReligionHindu" } Hindu
					%div.Separator
					%input#RadioButtonPolicyHolderReligionBudha.Medium.Single{ :type => "radio", :name =>"RadioButtonPolicyHolderReligion", :value => "budha" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderReligionBudha" } Budha
					%div.Separator
					%input#RadioButtonPolicyHolderReligionKonghucu.Medium.Single{ :type => "radio", :name =>"RadioButtonPolicyHolderReligion", :value => "konghuchu" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderReligionKonghucu" } Kong Hu Cu
				%br

				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderCompany" } Nama Perusahaan / Instansi / Sekolah
					%input#TextPolicyHolderCompany.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderMainJob" } Pekerjaan Utama
					%input#TextPolicyHolderMainJob.Full.Single.Item{ :type => "text", "data-input-type" => "autopopulate" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderWorkScope" } Bidang Usaha
					%input#TextPolicyHolderWorkScope.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderPosition" } Jabatan
					%input#TextPolicyHolderPosition.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderJobDescription" } Uraian Pekerjaan
					%input#TextPolicyHolderJobDescription.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderSideJob" } Pekerjaan Tambahan
					%input#TextPolicyHolderSideJob.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress1" } Alamat Tempat Tinggal
					%input#TextPolicyHolderHomeAddress1.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress2" }
					%input#TextPolicyHolderHomeAddress2.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress3" }
					%input#TextPolicyHolderHomeAddress3.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomeCity" }
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomeCity" } Kota
					%input#TextPolicyHolderHomeCity.Medium.Single.Item{ :type => "text", :maxlength => "19" }
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomePostalCode" } Kode Pos
					%input#TextPolicyHolderHomePostalCode.Medium.Single.Item{ :type => "text", :maxlength => "6" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderHomeTelephone" }
					%label.MediumFix.Single.Item{ :for => "TextPolicyHolderHomeTelephone" } Nomor telepon
					%input#TextPolicyHolderHomeTelephone.Medium.Single.Item{ :type => "text", :maxlength => "13"}
				%br
				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderHandphone1" } Nomor HP Utama
				%input#TextPolicyHolderHandphone1.Long.Single.PositionerLeft{ :type => "text", :maxlength => "13", :required => "true" }
				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderHandphone2" } Nomor HP 2
				%input#TextPolicyHolderHandphone2.Long.Single.PositionerLeft{ :type => "text", :maxlength => "13" }
				%br
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderEmail" } Email
					%input#TextPolicyHolderEmail.Full.Single.Item{ :type => "text", :maxlength => "30", "data-validation" => "Email" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeAddress1" } Alamat kantor
					%input#TextPolicyHolderOfficeAddress1.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeAddress2" }
					%input#TextPolicyHolderOfficeAddress2.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeAddress3" }
					%input#TextPolicyHolderOfficeAddress3.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeCity" }
					%label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeCity" } Kota
					%input#TextPolicyHolderOfficeCity.Medium.Single.Item{ :type => "text", :maxlength => "19" }
					%label.Medum.Single.Item{ :for => "TextPolicyHolderOfficePostalCode" } Kode Pos
					%input#TextPolicyHolderOfficePostalCode.Medium.Single.Item{ :type => "text", :maxlength => "6" }
				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeTelephone" }
					%label.MediumFix.Single.Item{ :for => "TextPolicyHolderOfficeTelephone" } Telp
					%input#TextPolicyHolderOfficeTelephone.Medium.Single.Item{ :type => "text", :maxlength => "13" }

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderCorrespondanceAddress" } Alamat Korespondensi
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderCorrespondanceAddressHome.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "home", :required => "true", }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderCorrespondanceAddressHome" } Alamat Tempat Tinggal
					%div.Separator
					%input#RadioButtonPolicyHolderCorrespondanceAddressOffice.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderCorrespondanceAddress", :value => "office", :required => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderCorrespondanceAddressOffice" } Alamat Kantor
					%img.PositionerRight{ :src => "../../jqueryLibrary/Resource/Input/input_text_required.svg", :style => "width: 20px;" }
				%br

				%label.Medium.Multi.PositionerLeft{ :for => "RadioButtonPolicyHolderRelationAssured" } Hubungan Dengan Calon Tertanggung
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPolicyHolderRelationAssuredSelf.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "self", :disabled => "true" }
					%label.Short.RadioButton{ :for => "RadioButtonPolicyHolderRelationAssuredSelf" } Diri Sendiri
					%div.Separator
					%input#RadioButtonPolicyHolderRelationAssuredSpouse.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "spouse", :disabled => "true" }
					%label.Short.RadioButton{ :for => "RadioButtonPolicyHolderRelationAssuredSpouse" } Suami / Istri
					%div.Separator
					%input#RadioButtonPolicyHolderRelationAssuredFamily.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "family", :disabled => "true" }
					%label.Short.RadioButton{ :for => "RadioButtonPolicyHolderRelationAssuredFamily" } Orang Tua / Anak
					%div.Separator
					%input#RadioButtonPolicyHolderRelationAssuredColleague.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "colleague", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderRelationAssuredColleague", :style => "width: 100px;" } Perusahaan / Karyawan
					%div.Separator
					%input#RadioButtonPolicyHolderRelationAssuredOther.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderRelationAssured", :value => "other", :disabled => "true" }
					%label.Short.RadioButton{ :for => "RadioButtonPolicyHolderRelationAssuredOther" } Lainnya
				%input#TextPolicyHolderRelationAssuredOther.Long.Single.PositionerLeft{ :type => "text" }
				%br

				%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderInsurancePurpose" } Tujuan Pembelian Asuransi
				%div.Checkbox.PositionerLeft
					%input#CheckboxPolicyHolderInsurancePurposeSavings.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "savings", :required => "true" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderInsurancePurposeSavings" } Tabungan
					%div.Separator
					%input#CheckboxPolicyHolderInsurancePurposeProtection.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "protection", :required => "true" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderInsurancePurposeProtection" } Proteksi
					%div.Separator
					%input#CheckboxPolicyHolderInsurancePurposeInvestation.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "investment", :required => "true" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderInsurancePurposeInvestation" } Investasi
					%div.Separator
					%input#CheckboxPolicyHolderInsurancePurposeEducation.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "education", :required => "true" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderInsurancePurposeEducation" } Pendidikan
					%div.Separator
					%input#CheckboxPolicyHolderInsurancePurposeOther.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderInsurancePurpose", :value => "other", :required => "true" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderInsurancePurposeOther" } Lainnya
				%input#TextPolicyHolderInsurancePurposeOther.Long.Single.PositionerLeft{ :type => "text", "data-validation" => "Tujuan pembelian asuransi lainnya" }
				%br

				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderNPWP" } Nomor NPWP
				%input#TextPolicyHolderNPWP.Medium.Single.PositionerLeft{ :type => "text", :maxlength => "16" }
				%label.Medium.Single.PositionerLeft{ :for => "DatePolicyHolderNPWPActive" } Tanggal Berlaku
				%input#DatePolicyHolderNPWPActive.Medium.Single.PositionerLeft{ :type => "text", "data-field" => "date" }
				%br

				%label.Wrap.Single.PositionerLeft{ :for => "CheckboxPolicyHolderSalaryIDR" } Penghasilan Kotor Per Tahun
				%br

				%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderSalaryIDR" } Gaji
				%div.Checkbox.PositionerLeft
					%input#CheckboxPolicyHolderSalaryIDR.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderSalary", :value => "idr" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderSalaryIDR" } RP
					%div.Separator
					%input#CheckboxPolicyHolderSalaryUSD.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderSalary", :value => "usd" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderSalaryUSD" } USD
				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderSalary" } Penghasilan / Tahun
				%input#TextPolicyHolderSalary.Long.Single.PositionerLeft{ :type => "text", :value => "0", "data-customvalidation" => "income"  }
				%br

				%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderRevenueIDR" } Hasil Usaha
				%div.Checkbox.PositionerLeft
					%input#CheckboxPolicyHolderRevenueIDR.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderRevenue", :value => "idr" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderRevenueIDR" } RP
					%div.Separator
					%input#CheckboxPolicyHolderRevenueUSD.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderRevenue", :value => "usd" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderRevenueUSD" } USD
				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRevenue" } Penghasilan / Tahun
				%input#TextPolicyHolderRevenue.Long.Single.PositionerLeft{ :type => "text", :value => "0", "data-customvalidation" => "income"  }
				%br

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherIncomeIDR" } Penghasilan Lainnya
				%div.Checkbox.PositionerLeft
					%input#CheckboxPolicyHolderOtherIncomeIDR.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderOtherIncome", :value => "idr" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderOtherIncomeIDR" } RP
					%div.Separator
					%input#CheckboxPolicyHolderOtherIncomeUSD.Medium.Single{ :type => "checkbox", :name => "CheckboxPolicyHolderOtherIncome", :value => "usd" }
					%label.Checkbox{ :for => "CheckboxPolicyHolderOtherIncomeUSD" } USD
				%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderOtherIncome" } Penghasilan / Tahun
				%input#TextPolicyHolderOtherIncome.Long.Single.PositionerLeft{ :type => "text", :value => "0", "data-customvalidation" => "income"  }
				%br

				%div.ContainerFit
					%label.Medium.Single.Item{ :for => "TextPolicyHolderSource" } Jelaskan Sumbernya
					%input#TextPolicyHolderSource.Full.Single.Item{ :type => "text", :maxlength => "30" }
				%br
				
			%section#PopUpForeigner.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaireform_foreigner.haml")).render
			%div#BoxDate