!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypeForm;
			var stringPageSectionCurrent = stringPageSectionForm;
			var stringPageValidationCurrent = 0;
			var booleanInputChangeState = "false";
			// var jsonPolicyHolder = '{"result":{"readFromDB":[{"elementID":"TextPolicyHolderFullName","Value":"Yosi Oliver"},{"elementID":"RadioButtonPolicyHolderAmerican","Value":"true"},{"elementID":"DatePolicyHolderActive","Value":"01/02/2016"},{"elementID":"RadioButtonPolicyHolderReligion","Value":"budha"}]}}'

			function showFormThirdParty()
			{
				// window.location = 'ios:showFormThirdParty';

				var callInfo = {};
				callInfo.data = {};
				calliOSFunction('showFormThirdParty:',onSuccess,onError, callInfo);
			}


			// DOCUMENT READY

			$(document).ready(function()
			{
				// INITIALIZATION

				radioButtonOtherGenerator("RadioButtonPremiPaymentWay", "#TextPremiPaymentWayOther", "other");
				inputListener();

				/* $("#ButtonSubmit").click(function()
				{
					savetoDB();
				}); */

				// IOS

				$("input:radio[name='" + "RadioButtonPremiPaymentThirdPartyAnswer" + "']").change(function()
				{
					var stringValue = $(this).val();

					if (stringValue == "true")
					{
						showFormThirdParty();

						$("#ButtonPreviewPremiPaymentThirdParty").css("display", "block");
					}
					else
					{
						$("#ButtonPreviewPremiPaymentThirdParty").css("display", "none");
					}
				});
			});


	/ BODY

	%body#Main

		/ MAIN

		%main
			%form
				/ %input#ButtonSubmit{ :type => "button", :value => "Submit" }
				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentKursIDR" } Mata Uang
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPremiPaymentKursIDR.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentKurs", :value => "idr", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentKursIDR" } RP
					%div.Separator
					%input#RadioButtonPremiPaymentKursUSD.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentKurs", :value => "usd", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentKursUSD" } USD
				%br

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentFrequencyAnually" } Frekuensi Pembayaran
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPremiPaymentFrequencyAnually.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentFrequency", :value => "anually", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentFrequencyAnually" } Tahunan
					%div.Separator
					%input#RadioButtonPremiPaymentFrequencySemester.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentFrequency", :value => "semester", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentFrequencySemester" } Semesteran
					%div.Separator
					%input#RadioButtonPremiPaymentFrequencyQuarterly.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentFrequency", :value => "quarterly", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentFrequencyQuarterly" } Triwulan
					%div.Separator
					%input#RadioButtonPremiPaymentFrequencyMonthly.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentFrequency", :value => "monthly", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentFrequencyMonthly" } Bulanan
					%div.Separator
					%input#RadioButtonPremiPaymentFrequencyFull.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentFrequency", :value => "full", :disabled => "true" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentFrequencyFull" } Sekaligus
				%br

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentPayorHolder" } Pembayar Premi
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPremiPaymentPayorHolder.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "dirisendiri" }
					%label.RadioButton.Medium{ :for => "RadioButtonPremiPaymentPayorHolder" } Pemegang Polis Perorangan
					%div.Separator
					%input#RadioButtonPremiPaymentPayorCompany.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "perusahaan" }
					%label.RadioButton.Medium{ :for => "RadioButtonPremiPaymentPayorCompany" } Pemegang Polis Perusahaan / Badan Hukum
					%div.Separator
					%input#RadioButtonPremiPaymentPayorInsured.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "tertanggung" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentPayorInsured" } Tertanggung
					%div.Separator
					%input#RadioButtonPremiPaymentPayorThirdParty.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentPayor", :value => "pihakketiga" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentPayorThirdParty" } Pihak Ketiga
				%br

				%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPremiPaymentWayDebit" } Cara Pembayaran
				%div.RadioButton.PositionerLeft
					%input#RadioButtonPremiPaymentWayDebit.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "debit" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentWayDebit" } Debit Rekening
					%div.Separator
					%input#RadioButtonPremiPaymentWayCredit.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "credit" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentWayCredit" } Debit Kartu Kredit
					%div.Separator
					%input#RadioButtonPremiPaymentWayOther{ :type => "radio", :name => "RadioButtonPremiPaymentWay", :value => "other" }
					%label.RadioButton{ :for => "RadioButtonPremiPaymentWayOther" } Lainnya
				%input#TextPremiPaymentWayOther.Long.Single.PositionerLeft{ :type => "text" }
				%br

				%label.Wrap.PositionerLeft.Single.PositionerLeft{ :for => "TextPremiPaymentBankAccountDetails" } Wajib diisi untuk pengembalian Premi dan untuk media pembayaran Premi Lanjutan melalui Debit Rekening/Debit Kartu Kredit:
				%br

				%div.ContainerFit
					%label.LongFix.Double.Item{ :for => "TextPremiPaymentBankAccountDetailsName" } Nama Pemilik Rekening/Kartu Kredit
					%input#TextPremiPaymentBankAccountDetailsName.Full.Single.Item{ :type => "text", :required => "true", :maxlength => "27" }
				%br

				%div.ContainerFit
					%label.LongFix.Single.Item{ :for => "TextPremiPaymentBankAccountDetailsNumber" } Nomor Rekening/Kartu Kredit
					%input#TextPremiPaymentBankAccountDetailsNumber.Full.Single.Item{ :type => "text", :required => "true", :maxlength => "27" }
				%br

				%div.ContainerFit
					%label.LongFix.Single.Item{ :for => "TextPremiPaymentBankAccountDetailsBankName" } Nama Bank
					%input#TextPremiPaymentBankAccountDetailsBankName.Full.Single.Item{ :type => "text", :required => "true", :maxlength => "27" }
				%br

				%div.ContainerFit
					%label.LongFix.Single.Item{ :for => "TextPremiPaymentBankAccountDetailsBankBranch" } Nama Cabang
					%input#TextPremiPaymentBankAccountDetailsBankBranch.Full.Single.Item{ :type => "text", :required => "true", :maxlength => "27" }
				%br

				%div.ContainerFit
					%label.Full.Wrap.Item{ :for => "RadioButtonPremiPaymentThirdPartyAnswer" } Apakah dalam pengajuan asuransi Anda, selain Anda dan Calon Tertanggung terdapat Pihak ketiga yang meminta mengajukan asuransi ini, menjadi pembayar Premi meminta hak atas manfaat Polis?
					%div.RadioButton.LongFix.Single.Item
						%input#RadioButtonPremiPaymentThirdPartyAnswerYes.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentThirdPartyAnswer", :value => "true", :required => "true" }
						%label.RadioButton{ :for => "RadioButtonPremiPaymentThirdPartyAnswerYes" } Ya
						%div.Separator
						%input#RadioButtonPremiPaymentThirdPartyAnswerNo.Medium.Single{ :type => "radio", :name => "RadioButtonPremiPaymentThirdPartyAnswer", :value => "false", :required => "true" }
						%label.RadioButton{ :for => "RadioButtonPremiPaymentThirdPartyAnswerNo" } Tidak
				%br
				%input#ButtonPreviewPremiPaymentThirdParty.ButtonPreview{ :type => "button", :value => "View recent input", :onclick => "showFormThirdParty()" }
