!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript
			$(document).ready(function()
			{
				// GENERATOR

				beneficiariesListGenerator("ButtonAdd");
				buttonPopUpBeneficiariesListGenerator();

				$("#BoxDate").DateTimePicker(
				{
					dateSeparator: "/",
					dateFormat: "dd/MM/yyyy"
				});
				
				calculateAge("DateBirthday", "TextAge")
			});

	/ BODY

	%body#Main

		/ MAIN

		%main
			%form
				%label.Medium.Single.PositionerLeft{ :for => "TextBeneficiariesListSharedPercentage" } Total Percentage :
				%input#TextBeneficiariesListSharedPercentage.Medium.Single.PositionerLeft{ :type => "text" }
				%br

				%input#ButtonAdd.ButtonPrimary.PositionerLeft{ :type => "button", :style => "margin-top: 20px; margin-bottom: 20px;" , :value => "Tambah Penerima Manfaat" }
				%br

				%table.Square#TableBeneficiariesList
					%thead
						%tr
							%th Nama
							%th{ :colspan => "2" } Action                     
					%tbody

			%section#PopUpBeneficiariesList.PopUp
				= Haml::Engine.new(File.read("popup_spajform_beneficiarieslist.haml")).render
				
			%div#BoxDate