%form#PopUpMilitary.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpMilitary', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpMilitary', 'PopUpActivity', stringPageInfixTypeCurrent + 'Military', arrayHealthQuestionnaire)" }
		%h2 Kuesioner untuk Angkatan Bersenjata / Polisi 

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%label.medium.Single.Item 1. Anda termasuk dalam kesatuan apa di Kemiliteran/Kepolisian ini? 
		%input#TextUnit.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit
			%label.medium.Single.Item 2. Mohon jelaskan divisi/bagian, jabatan, pangkat dan tugas Anda saat ini?  
		%input#TextDuty.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 3. Apakah Anda melakukan kegiatan yang berisiko tinggi?
		%br
		%label.medium.Single.Item a. Penjinak senjata 
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityWeaponTamerYes{ :type => "radio", :name => "RadioButtonRiskActivityWeaponTamer", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityWeaponTamerYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityWeaponTamerNo{ :type => "radio", :name => "RadioButtonRiskActivityWeaponTamer", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityWeaponTamerNo" } Tidak
		%br
		%label.medium.Single.Item b. Penjinak bahan peledak termasuk penghancuran dan  pembuat peraturan 
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityExplosiveTamerYes{ :type => "radio", :name => "RadioButtonRiskActivityExplosiveTamer", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityExplosiveTamerYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityExplosiveTamerNo{ :type => "radio", :name => "RadioButtonRiskActivityExplosiveTamer", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityExplosiveTamerNo" } Tidak
		%br
		%label.medium.Single.Item c. Penyelam
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityDiverYes{ :type => "radio", :name => "RadioButtonRiskActivityDiver", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityDiverYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityDiverNo{ :type => "radio", :name => "RadioButtonRiskActivityDiver", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityDiverNo" } Tidak
		%br
		%label.medium.Single.Item d. Penerbangan
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityFlightYes{ :type => "radio", :name => "RadioButtonRiskActivityFlight", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityFlightYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityFlightNo{ :type => "radio", :name => "RadioButtonRiskActivityFlight", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityFlightNo" } Tidak
		%br
		%label.medium.Single.Item e. Terjun payung
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityParachuteYes{ :type => "radio", :name => "RadioButtonRiskActivityParachute", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityParachuteYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityParachuteNo{ :type => "radio", :name => "RadioButtonRiskActivityParachute", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityParachuteNo" } Tidak
		%br
		%label.medium.Single.Item f. Misi perdamaian ke luar negeri
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityAbroadMissionYes{ :type => "radio", :name => "RadioButtonRiskActivityAbroadMission", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityAbroadMissionYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityAbroadMissionNo{ :type => "radio", :name => "RadioButtonRiskActivityAbroadMission", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityAbroadMissionNo" } Tidak
		%br
		%label.medium.Single.Item g. Lainnya
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonRiskActivityOthersYes{ :type => "radio", :name => "RadioButtonRiskActivityOthers", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityOthersYes" } Ya
			%div.Separator
			%input#RadioButtonRiskActivityOthersNo{ :type => "radio", :name => "RadioButtonRiskActivityOthers", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonRiskActivityOthersNo" } Tidak
		%br
			%label.medium.Single.Item Jika jawaban ya, mohon memberikan perincian jelas:
		%br
		%input#TextRiskActivityOtherDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit
			%label.Single.Item 4. Mohon memberikan rincian tugas Anda yang sebenarnya?   
		%input#TextDutyDetails.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit
			%label.medium.Single.Item 5. Apakah Anda saat ini sedang bertugas atau akan ditugaskan ke lokasi yang berbahaya? 				
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonInDangerLocationYes{ :type => "radio", :name => "RadioButtonInDangerLocation", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonInDangerLocationYes" } Ya
			%div.Separator
			%input#RadioButtonInDangerLocationNo{ :type => "radio", :name => "RadioButtonInDangerLocation", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonInDangerLocationNo" } Tidak
		%br				
		%label.medium.Single.Item Jika Ya, Jelaskan dimana dan kapan
		%input#TextInDangerLocationDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit
			%label.medium.Single.Item 6. Mohon Anda sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini:    
		%input#TextOtherInfo.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.