!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnaire_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript		
			$(document).ready(function()
			{				
				// GENERATOR

				additionalQuestionGenerator();								

				// BUTTON

				buttonPopUpGeneralGenerator();
				buttonPopUpHealthGenerator();
				buttonPopUpSPAJProposalGenerator();
				SPAJProposalGenerator("ButtonAddSPAJProposal");

				$("#BoxDate").DateTimePicker(
				{
					dateSeparator: "/",
					dateFormat: "dd/MM/yyyy"
				});

				/* $("#MainForm #ButtonDone").click(function()
				{
					savetoDB();
				}); */								
			});						

	/ BODY

	%body#Main

		/ HEADER

		%header#MainForm
			%h1
			/ %input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }

			%div.Highlighted
				%label.Medium.Single Calon
				%nav.RadioButton{ :style => "margin-left: 80px" }
					%a.Clear.Selected{ :href => "" }  Pemegang Polis
					%div.Separator
					%a.Clear{ :href => "" } Tertanggung

			%h2 Pertanyaan Kesehatan

		/ MAIN

		%main
			%form#HealthQuestionnaireMain
				%ol
					%li
						%ol
							%li
								%div.Container
									%label.Item{ :for => "TextPolicyHolderHeight" } Tinggi Badan
									%div.Item
										%input#TextPolicyHolderHeight.Short.Single{ :type => "text" }
										%label.Suffix.Single{ :for => "TextPolicyHolderHeight" } Cm
							%li
								%div.Container
									%label.Item{ :for => "TextPolicyHolderWeight" } Berat Badan
									%div.Item
										%input#TextPolicyHolderWeight.Short.Single{ :type => "text" }
										%label.Suffix.Single{ :for => "Weight" } Kg
							%li
								%div.Container
									%label#LabelWeightChange.Item{ :for => "RadioButtonWeightChangeYes" }Adakah berat badan Anda mengalami penurunan atau kenaikan drastis (> 10% dalam 1 (satu) bulan) dalam 6 (enam) bulan terakhir?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderWeightChangeYes{ :type => "radio", :name => "RadioButtonPolicyHolderWeightChange", :value => "true" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderWeightChangeYes" } Ya
										%div.Separator
										%input#RadioButtonPolicyHolderWeightChangeNo{ :type => "radio", :name => "RadioButtonPolicyHolderWeightChange", :value => "false" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderWeightChangeNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderSmokeActivity.Item{ :for => "RadioButtonPolicyHolderSmokeActivityYes" }
								Apakah Anda merokok dalam 12 (dua belas) bulan terakhir (termasuk rokok elektronik atau produk tembakau lainnya)?
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderSmokeActivityYes{ :type => "radio", :name => "RadioButtonPolicyHolderSmokeActivity", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderSmokeActivityYes" } Ya
								%div.Separator
								%input#RadioButtonPolicyHolderSmokeActivityNo{ :type => "radio", :name => "RadioButtonPolicyHolderSmokeActivity", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderSmokeActivityNo" } Tidak
						%input#ButtonPreviewPolicyHolderSmokeActivity.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderSmokeActivity", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderJunkie.Item{ :for => "RadioButtonPolicyHolderJunkieYes" }
								Apakah Anda memiliki kebiasaan atau pernah menggunakan narkotika, zat adiktif atau obat-obatan lainnya, minum alkohol secara berlebihan? Jika “Ya”, jelaskan jumlah serta frekuensi mengkonsumsinya. Serta jelaskan jika ada riwayat perawatan/mendapat terapi karena hal tersebut?
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderJunkieYes{ :type => "radio", :name => "RadioButtonPolicyHolderJunkie", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderJunkieYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderJunkieNo{ :type => "radio", :name => "RadioButtonPolicyHolderJunkie", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderJunkieNo" } Tidak
						%input#ButtonPreviewPolicyHolderJunkie.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderJunkie", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderExtremeSport.Item{ :for => "RadioButtonPolicyHolderExtremeSportYes" }
								Apakah Anda memiliki hobi atau sewaktu-waktu melakukan kegiatan yang beresiko tinggi/bahaya atau masih aktif dalam pekerjaan beresiko tinggi (menyelam, panjat tebing, mendaki gunung, terjun payung, paralayang, balap motor/mobil, pertambangan, minyak dan gas bumi, Kelautan, TNI/Polri, penerbangan (selain dari penumpang resmi penerbangan terjadwal))? (Jika jawaban “Ya” mohon melengkapi kuesioner yang sesuai hobi/kegiatan/pekerjaan tersebut dan dilampirkan bersama SPAJ ini).
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderExtremeSportYes{ :type => "radio", :name => "RadioButtonPolicyHolderExtremeSport", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderExtremeSportYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderExtremeSportNo{ :type => "radio", :name => "RadioButtonPolicyHolderExtremeSport", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderExtremeSportNo" } Tidak
						%input#ButtonPreviewPolicyHolderExtremeSport.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderExtremeSport", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderAbroad.Item{ :for => "RadioButtonPolicyHolderAbroadYes" }
								Apakah Anda dalam 12 bulan terakhir ini/mendatang Anda pernah/memiliki rencana bepergian/tinggal di luar negeri? Jika “Ya”, jelaskan kapan waktu bepergiannya, negara tujuan, lama tinggal, serta kepentingannya.
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderAbroadYes{ :type => "radio", :name => "RadioButtonPolicyHolderAbroad", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderAbroadYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderAbroadNo{ :type => "radio", :name => "RadioButtonPolicyHolderAbroad", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderAbroadNo" } Tidak
						%input#ButtonPreviewPolicyHolderAbroad.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderAbroad", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#RadioButtonPolicyHolderMedicalTreatment.Item{ :for => "RadioButtonPolicyHolderMedicalTreatmentYes" }
								Apakah Anda pernah/sedang menderita penyakit atau menjalani pemeriksaan/perawatan, pengobatan, operasi untuk penyakit/kelainan dibawah ini:
						%ol
							%li
								%div.Container
									%label#LabelPolicyHolderVision.Item{ :for => "RadioButtonPolicyHolderVisionYes" }
										Gangguan fungsi/sistem penglihatan dan gangguan pada mata lainnya?
									%div#LabelVision.RadioButton.Item
										%input#RadioButtonPolicyHolderVisionYes{ :type => "radio", :name => "RadioButtonPolicyHolderVision", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderVisionYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderVisionNo{ :type => "radio", :name => "RadioButtonPolicyHolderVision", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderVisionNo" } Tidak
								%input#ButtonPreviewPolicyHolderVision.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderVision", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelENT.Item{ :for => "RadioButtonPolicyHolderENTYes" }
										Gangguan fungsi/sistem pada Telinga, Hidung, Tenggorokan (THT)?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderENTYes{ :type => "radio", :name => "RadioButtonPolicyHolderENT", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderENTYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderENTNo{ :type => "radio", :name => "RadioButtonPolicyHolderENT", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderENTNo" } Tidak
								%input#ButtonPreviewPolicyHolderENT.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderENT", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderRespiratory.Item{ :for => "RadioButtonPolicyHolderRespiratoryYes" }
										Gangguan fungsi/sistem Pernapasan, Paru-paru, Asma, Bronkitis, Tuberkulosis, Batuk Darah dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderRespiratoryYes{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratory", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderRespiratoryYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderRespiratoryNo{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratory", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderRespiratoryNo" } Tidak
								%input#ButtonPreviewPolicyHolderRespiratory.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderRespiratory", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderCardiac.Item{ :for => "RadioButtonPolicyHolderCardiacYes" }
										Gangguan fungsi/sistem Jantung dan Pembuluh Darah, Nyeri Dada, Serangan Jantung, Demam, Jantung, Rematik, Tekanan Darah Tinggi (Hipertensi)/Rendah, (Hipotensi), Hiperkolesterol, Penyempitan/Penyumbatan Pembuluh Darah Otak dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderCardiacYes{ :type => "radio", :name => "RadioButtonPolicyHolderCardiac", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderCardiacYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderCardiacNo{ :type => "radio", :name => "RadioButtonPolicyHolderCardiac", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderCardiacNo" } Tidak
								%input#ButtonPreviewPolicyHolderCardiac.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderCardiac", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderDigest.Item{ :for => "RadioButtonPolicyHolderDigestYes" }
										Gangguan fungsi/sistem Pencernaan & Organ dalam Perut/Lambung, Maag, Hernia, Hepatitis dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderDigestYes{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderDigestYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderDigestNo{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderDigestNo" } Tidak
								%input#ButtonPreviewPolicyHolderDigest.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderDigest", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderNerve.Item{ :for => "RadioButtonPolicyHolderNerveYes" }
										Gangguan fungsi/sistem Saraf dan Otot, Vertigo, Stroke, Sering Pusing atau Pingsan, Epilepsi (kejang), Kelumpuhan, Kesemutan, Baal, Gangguan Kejiwaan dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderNerveYes{ :type => "radio", :name => "RadioButtonPolicyHolderNerve", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderNerveYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderNerveNo{ :type => "radio", :name => "RadioButtonPolicyHolderNerve", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderNerveNo" } Tidak
								%input#ButtonPreviewPolicyHolderNerve.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderNerve", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderLiver.Item{ :for => "RadioButtonPolicyHolderLiverYes" }
										Gangguan fungsi/sistem Hati dan Pankreas, Kencing Manis (Diabetes Melitus), Batu Empedu, Tumor Hati, penyakit Limpa dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderLiverYes{ :type => "radio", :name => "RadioButtonPolicyHolderLiver", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderLiverYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderLiverNo{ :type => "radio", :name => "RadioButtonPolicyHolderLiver", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderLiverNo" } Tidak
								%input#ButtonPreviewPolicyHolderLiver.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderLiver", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderReproduction.Item{ :for => "RadioButtonPolicyHolderReproductionYes" }
										Gangguan fungsi/sistem Kemih, Batu Ginjal, Gangguan Prostat, Gagal Ginjal, Organ Kelamin dan penyakit akibat hubungan seksual?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderReproductionYes{ :type => "radio", :name => "RadioButtonPolicyHolderReproduction", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderReproductionYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderReproductionNo{ :type => "radio", :name => "RadioButtonPolicyHolderReproduction", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderReproductionNo" } Tidak
								%input#ButtonPreviewPolicyHolderReproduction.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderReproduction", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderMotion.Item{ :for => "RadioButtonPolicyHolderMotionYes" }
										Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderMotionYes{ :type => "radio", :name => "RadioButtonPolicyHolderMotion", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderMotionYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderMotionNo{ :type => "radio", :name => "RadioButtonPolicyHolderMotion", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderMotionNo" } Tidak
								%input#ButtonPreviewPolicyHolderMotion.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderMotion", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderBlood.Item{ :for => "RadioButtonPolicyHolderBloodYes" }
										Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderBloodYes{ :type => "radio", :name => "RadioButtonPolicyHolderBlood", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderBloodYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderBloodNo{ :type => "radio", :name => "RadioButtonPolicyHolderBlood", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderBloodNo" } Tidak
								%input#ButtonPreviewPolicyHolderBlood.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderBlood", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderImmune.Item{ :for => "RadioButtonPolicyHolderImmuneYes" }
										Gangguan fungsi/sistem Kekebalan Tubuh,HIV/AIDS atau segala gejala yang berhubungan dengan AIDS (demam, diare kronis, penurunan berat badan yang tidak diketahui penyebabnya), Malaria, Lupus dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderImmuneYes{ :type => "radio", :name => "RadioButtonPolicyHolderImmune", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderImmuneYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderImmuneNo{ :type => "radio", :name => "RadioButtonPolicyHolderImmune", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderImmuneNo" } Tidak
								%input#ButtonPreviewPolicyHolderImmune.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderImmune", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderCancer.Item{ :for => "RadioButtonPolicyHolderCancerYes" }
										Gangguan fungsi Pertumbuhan Sel, Tumor, Kista, Kanker, Benjolan pada permukaan kulit atau pertumbuhan abnormal lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderCancerYes{ :type => "radio", :name => "RadioButtonPolicyHolderCancer", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderCancerYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderCancerNo{ :type => "radio", :name => "RadioButtonPolicyHolderCancer", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderCancerNo" } Tidak
								%input#ButtonPreviewPolicyHolderCancer.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderCancer", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelPolicyHolderOtherIllness.Item{ :for => "RadioButtonPolicyHolderOtherIllnessYes" }
										Gangguan Kesehatan lainnya yang tidak/belum dinyatakan diatas termasuk namun tidak terbatas pada kelainan bentuk tubuh, kelainan/cacat fisik, kelainan/cacat bawaan dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderOtherIllnessYes{ :type => "radio", :name => "RadioButtonPolicyHolderOtherIllness", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderOtherIllnessYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderOtherIllnessNo{ :type => "radio", :name => "RadioButtonPolicyHolderOtherIllness", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderOtherIllnessNo" } Tidak
								%input#ButtonPreviewPolicyHolderOtherIllness.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonPolicyHolderOtherIllness", "data-popup-type" => "health" }
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderSPAJProposal.Item{ :for => "RadioButtonPolicyHolderSPAJProposalYes" }
								Apakah Anda telah memiliki atau sedang mengajukan pertanggungan Asuransi Jiwa, kecelakaan, kesehatan, pemulihan polis? Serta apakah pengajuan Anda pernah ditolak/ ditangguhkan/dikenakan ekstra Premi diubah dalam bentuk apapun oleh perusahaan Asuransi Jiwa?
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderSPAJProposalYes{ :type => "radio", :name => "RadioButtonPolicyHolderSPAJProposal", :value => "true", "data-popup-type" => "spajproposal" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderSPAJProposalYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderSPAJProposalNo{ :type => "radio", :name => "RadioButtonPolicyHolderSPAJProposal", "data-popup-type" => "spajproposal" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderSPAJProposalNo" } Tidak
						%input#ButtonAddSPAJProposal.ButtonPrimary{ :type => "button", :value => "Add" }
						%div#SPAJProposalList
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderClaim.Item{ :for => "RadioButtonPolicyHolderClaimYes" }
								Apakah Anda pernah mengajukan klaim ke perusahaan Asuransi Jiwa? Jika “Ya, mohon jelaskan alasannya.
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderClaimYes{ :type => "radio", :name => "RadioButtonPolicyHolderClaim", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderClaimYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderClaimNo{ :type => "radio", :name => "RadioButtonPolicyHolderClaim", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderClaimNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderDiagnostic.Item{ :for => "RadioButtonPolicyHolderDiagnosticYes" }
								Apakah Anda pernah mendapatkan atau bermaksud menjalani pemeriksaan kesehatan diagnostik, seperti Sinar-X, USG, CT-scan, MRI, EKG, Treadmill, pemeriksaan darah, pemeriksaan urin, dan lain-lain?
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderDiagnosticYes{ :type => "radio", :name => "RadioButtonPolicyHolderDiagnostic", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderDiagnosticYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderDiagnosticNo{ :type => "radio", :name => "RadioButtonPolicyHolderDiagnostic" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderDiagnosticNo", :value => "false", "data-popup-type" => "general", "data-popup-type" => "general" } Tidak
					%hr
					%li
						%label.PositionerLeft{ :for => "PregnancyYes" } Khusus Calon Tertanggung anak-anak (usia ≤ 5 (lima) tahun): 
						%br
						%label.PositionerLeft{ :for => "PregnancyYes" } Waktu lahir
						%div.RadioButton.PositionerLeft
							%input#RadioButtonPolicyHolderPregnancyNormal{ :type => "radio", :name => "RadioButtonPolicyHolderPregnancy", :value => "true" }
							%label.RadioButton{ :for => "RadioButtonPolicyHolderPregnancyNormal" } Cukup Bulan
							%div.Separator | 
							%input#RadioButtonPolicyHolderPregnancyPrematur{ :type => "radio", :name => "RadioButtonPolicyHolderPregnancy", :value => "false" }
							%label.RadioButton{ :for => "RadioButtonPolicyHolderPregnancyPrematur" } Prematur
						%br
						%label.PositionerLeft{ :for => "BabyHeight" } Panjang dan berat saat lahir
						%br
						%br
						%input#TextPolicyHolderBabyHeight.Short.PositionerLeft{ :type => "text", :style => "margin-right: 10px;" }
						%label.PositionerLeft{ :for => "TextPolicyHolderBabyHeight" } Cm
						%input#TextPolicyHolderBabyWeight.Short.PositionerLeft{ :type => "text", :style => "margin-left: 10px; margin-right: 10px;" }
						%label.PositionerLeft{ :for => "TextPolicyHolderBabyWeight" } Kg
					%hr
					%li
						%label.Item{ :for => "HealthDissorderYes" }
							Pertanyaan khusus untuk wanita:
						%ol
							%li
								%div.Container
									%label#LabelPolicyHolderPregnant.Item{ :for => "RadioButtonPolicyHolderPregnantYes" }
										Apakah Anda sedang hamil?
									%input#TextPolicyHolderPregnantWeek.Short.PositionerLeft{ :type => "text", :style => "margin-left: -60px;" }
									%label.Short.Single.PositionerLeft{ :for => "TextPolicyHolderPregnantWeek", :style => "margin-left: -60px;" } Minggu
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderPregnantStateYes{ :type => "radio", :name => "RadioButtonPolicyHolderPregnant", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderPregnantStateYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderPregnantStateNo{ :type => "radio", :name => "RadioButtonPolicyHolderPregnant", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderPregnantStateNo" } Tidak
							%li
								%div.Container
									%label#LabelPolicyHolderPregnancyIllness.Item{ :for => "RadioButtonPolicyHolderPregnancyIllnessYes" }
										Adakah komplikasi pada kehamilan termasuk persalinan secara sectio caesaria yang dilakukan karena menderita suatu penyakit (Darah Tinggi, Hepatitis, Diabetes dan lain-lain)?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderPregnancyIllnessYes{ :type => "radio", :name => "RadioButtonPolicyHolderPregnancyIllness", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderPregnancyIllnessYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderPregnancyIllnessNo{ :type => "radio", :name => "RadioButtonPolicyHolderPregnancyIllness", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderPregnancyIllnessNo" } Tidak
							%li
								%div.Container
									%label#LabelPolicyHolderFemaleAbnormality.Item{ :for => "RadioButtonPolicyHolderFemaleAbnormalityYes" }
										Apakah Anda mempunyai kelainan payudara/organ kewanitaan lainnya termasuk haid yang tidak teratur? Jika “Ya” jelaskan nama kelainan atau komplikasi dan nama dokter yang merawat pada kolom (Siapa, Apa, Kapan, Dimana, Pengobatan yang dilakukan, Bagaimana).
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderFemaleAbnormalityYes{ :type => "radio", :name => "RadioButtonPolicyHolderFemaleAbnormality", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderFemaleAbnormalityYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderFemaleAbnormalityNo{ :type => "radio", :name => "RadioButtonPolicyHolderFemaleAbnormality", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderFemaleAbnormalityNo" } Tidak
							%li
								%div.Container
									%label#LabelPolicyHolderPapSmear.Item{ :for => "RadioButtonPolicyHolderPapSmearYes" }
										Apakah Anda pernah melakukan pemeriksaan Pap Smear dalam 1 (satu) tahun terakhir? Jika “Ya” jelaskan bagaimana hasilnya dan kapan dilakukan pemeriksaan tersebut?
									%div.RadioButton.Item
										%input#RadioButtonPolicyHolderPapSmearYes{ :type => "radio", :name => "RadioButtonPolicyHolderPapSmear", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderPapSmearYes" } Ya
										%div.Separator | 
										%input#RadioButtonPolicyHolderPapSmearNo{ :type => "radio", :name => "RadioButtonPolicyHolderPapSmear", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonPolicyHolderPapSmearNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelPolicyHolderHeartDissorder.Item{ :for => "RadioButtonPolicyHolderHeartDissorderYes" }
								Apakah ada anggota keluarga Anda (orang tua, anak, saudara kandung) yang menderita/dinyatakan terdiagnosa mengidap kelainan Jantung Koroner, Stroke, Kencing Manis (Diabetes Melitus), Kanker atau penyakit keturunan lainnya? (Jika “Ya” mohon agar dijelaskan pada kolom dibawah ini)
							%div.RadioButton.Item
								%input#RadioButtonPolicyHolderHeartDissorderYes{ :type => "radio", :name => "RadioButtonPolicyHolderHeartDissorder", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderHeartDissorderYes" } Ya
								%div.Separator | 
								%input#RadioButtonPolicyHolderHeartDissorderNo{ :type => "radio", :name => "RadioButtonPolicyHolderHeartDissorder", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonPolicyHolderHeartDissorderNo" } Tidak
					%hr
			%section#PopUpGeneral.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaireform_general.haml")).render
			%section#PopUpHealth.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaireform_disease.haml")).render
			%section#PopUpSPAJProposal.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaireform_spajproposal.haml")).render
			%div#BoxDate