!!! 5

%html

    / HEAD
    
    %head
        = Haml::Engine.new(File.read("include_spajform_header.haml")).render
        %title BCA Life - BLESS, Health Questionnaire 1 Form

        / JQUERY
        
        :javascript
            $(document).ready(function()
            {
                // SETTER
                
                // radioButtonSetter("WeightChange", true);
                
                // GETTER
                 
                // radioButtonGetter("WeightChange");
            });


    / BODY

    %body#Main

        / HEADER

        %header
            %h1 Data Perusahaan / Badan Hukum

        / MAIN

        %main
            %form
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyName" } Nama Lengkap
                    %input#TextProspectiveInsuredCompanyName.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredCompanyName" } Jenis Perusahaan
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonProspectiveInsuredCompanyTypePT.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyTypePT" } Perseroan Terbatas
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyTypeYayasan.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyTypeYayasan" } Yayasan
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyTypeBUMN.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyTypeBUMN" } BUMN
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredLainnya.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyTypeOther" } Lainnya
                    %input#RadioButtonProspectiveInsuredCompanyTypeOther.Medium.Single.PositionerRight{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyNoAnggaranDasar" } Nomor Anggaran Dasar/Akta Pendirian
                    %input#TextProspectiveInsuredCompanyNoAnggaranDasar.Full.Single.Item{ :type => "text" }
                
                %label.Medium.Single.PositionerLeft{ :for => "DateProspectiveInsuredCompanyDateOfExpired" } Tanggal Berlaku
                %input#DateProspectiveInsuredCompanyDateOfExpired.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyNoSuratIjinUsaha" } Nomor Surat Ijin Usaha
                    %input#TextProspectiveInsuredCompanyNoSuratIjinUsaha.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredTanggalBerlaku" } Tanggal Berlaku
                %input#TextProspectiveInsuredTanggalBerlaku.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyNoTDP" } Nomor TDP
                    %input#TextProspectiveInsuredTanggalBerlaku.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "DateProspectiveInsuredCompanyTDPDateOfExpired" } Tanggal Berlaku
                %input#DateProspectiveInsuredCompanyTDPDateOfExpired.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyNoSKDP" } Nomor SDKP (Domisili)
                    %input#DateProspectiveInsuredCompanySKDPDateOfExpired.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "DateProspectiveInsuredCompanySKDPDateOfExpired" } Tanggal Berlaku
                %input#DateProspectiveInsuredCompanySKDPDateOfExpired.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredTanggalBerlaku" } Nomor NPWP (Jika ada)
                    %input#TextProspectiveInsuredTanggalBerlaku.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredTanggalBerlaku" } Tanggal Berlaku
                %input#TextProspectiveInsuredTanggalBerlaku.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanySector" } Bidang Usaha
                    %input#TextProspectiveInsuredCompanySector.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyAddress" } Alamat Perusahaan (sesuai SKDP)
                    %input#TextProspectiveInsuredCompanyAddress.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredHomeCity" }
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredHomeCity" } Kota
                    %input#TextProspectiveInsuredHomeCity.Medium.Single.Item{ :type => "text" }
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredHomePostalCode" } Kode Pos
                    %input#TextProspectiveInsuredPostalCode.Medium.Single.Item{ :type => "text" }
                    
                %label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyAsset1" } Aset Perusahaan(Rp)
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonProspectiveInsuredCompanyAsset1.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyAsset", :value => "100juta" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyAsset1" } < 100 Juta
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyAsset2.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyAsset", :value => "100juta1miliar"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyAsset2" } 100 Juta - 1 Miliar
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyAsset3.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyAsset", :value => "1miliar10miliar" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyAsset3" } >1 Miliar - 10 Miliar
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyAsset4.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyAsset", :value => "10miliar100miliar" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyAsset4" } >10 Miliar - 100 Miliar
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyAsset5.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyAsset", :value => "100miliarlebih" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyAsset5" } >100 Miliar
                %br
                
                %label.Medium.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredCompanyRevenue1" } Jumlah Penghasilan(Rp)
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonProspectiveInsuredCompanyRevenue1.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRevenue", :value => "100juta" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyRevenue1" } < 100 Juta
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyRevenue2.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRevenue", :value => "100juta1500juta"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyRevenue2" } 100 Juta - 500 Juta
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyRevenue3.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRevenue", :value => "500juta1miliar" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyRevenue3" } > 500 Juta1 - 1 Miliar
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyRevenue4.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRevenue", :value => "1miliar10miliar" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyRevenue4" } > 1 Miliar - 10 Miliar
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredCompanyRevenue5.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredCompanyRevenue", :value => "10miliarlebih" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredCompanyRevenue5" } > 10 Miliar
                %br
                
                %div.RadioButton.PositionerLeft Pihak yang ditunjuk untuk menerima kuasa dan berwenang untuk bertindak untuk dan atas nama perusahaan
                %br
                
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyAddress" } Nama lengkap (sesuai dengan identitas)
                    %input#TextProspectiveInsuredCompanyAddress.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextProspectiveInsuredCompanyAddress" } Jabatan / Pangkat / Golongan
                    %input#TextProspectiveInsuredCompanyAddress.Full.Single.Item{ :type => "text" }
                    
                %label.Medium.Single.PositionerLeft{ :for =>"TextProspectiveInsuredCIN" } Nomor Identitas Diri
                %input#TextProspectiveInsuredCIN.Medium.Single.PositionerLeft{ :type => "text" }
                
                %input#TextProspectiveInsuredCIN.Medium.Single.PositionerRight{ :type => "text" }
                %label.Medium.Single.PositionerRight{ :for =>"TextProspectiveInsuredCIN" } Masa Berlaku
                %br
                
                %label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredHubunganDenganCalonTertanggung" } Hubungan dengan Calon tertanggung
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonProspectiveInsuredHubunganKaryawan.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTertanggungRelationship", :value => "100juta" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredHubunganKaryawan" } Perusahaan / Karyawan
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredHubunganLainnya.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTertanggungRelationship", :value => "100juta1miliar"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredHubunganLainnya" } Lainnya
                    %input#TextProspectiveInsuredCIN.Medium.Single.PositionerRight{ :type => "text" }
                %br
                %label.Medium.Single.PositionerLeft{ :for => "TextProspectiveInsuredHubunganDenganCalonTertanggung" } Tujuan Pembelian Asuransi
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonProspectiveInsuredTujuanTabungan.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTujuanPembelianAsuransi", :value => "100juta" }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredTujuanTabungan" } Tabungan
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredTujuanProteksi.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTujuanPembelianAsuransi", :value => "100juta1miliar"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredTujuanProteksi" } Proteksi
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredTujuanInvestasi.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTujuanPembelianAsuransi", :value => "100juta1miliar"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredTujuanInvestasi" } Investasi
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredTujuanPendidikan.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTujuanPembelianAsuransi", :value => "100juta1miliar"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredTujuanPendidikan" } Pendidikan
                    %div.Separator
                    %input#RadioButtonProspectiveInsuredTujuanLainnya.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredTujuanPembelianAsuransi", :value => "100juta1miliar"  }
                    %label.RadioButton{ :for => "RadioButtonProspectiveInsuredTujuanLainnya" } Lainnya
                    %input#TextProspectiveInsuredCIN.Medium.Single.PositionerRight{ :type => "text" }
                    