!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 6g(Sub) Form

		/ JQUERY

		:javascript
			$(document).ready(function()
			{

			});


	/ BODY

	%body#Main

		/ MAIN

		%main
			%form#HealthQuestionnaireMain
				%div.ContainerFit
					%span.Multi.Single.6g Gangguan fungsi/sistem Hati dan Pankreas, Kencing Manis (Diabetes Melitus), Batu Empedu, Tumor Hati, penyakit Limpa dan lainnya?
				%br
				%h2 KUESIONER DIABETES
				%hr
				%label.Medium.Single silahkan memberikan rincian lebih lanjut
				%br
				%input#TextPolicyHolderKuesionerDiabetesSub.Full.Multi.Item.Margin{ :type =>"text" }
				%label.Medium.Single (maksimum 250 karakter)
				

				
								
				
				
				
				
				
				
				
					
					
				
				
				
			