!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 6e(Sub) Form

		/ JQUERY

		:javascript
			$(document).ready(function()
			{

			});


	/ BODY

	%body#Main

		/ MAIN

		%main
			%form#HealthQuestionnaireMain
				%div.ContainerFit
					%span.Multi.Single.6e Gangguan fungsi/sistem Pencernaan & Organ dalam Perut/Lambung, Maag, Hernia, Hepatitis dan lainnya?
				%br
				%h2 KUESIONER GANGGUAN PENCERNAAN
				%hr
				%label.Medium.Single silahkan memberikan rincian lebih lanjut
				%br
				%input#TextPolicyHolderKuesionerGangguanPencernaanSub.Full.Multi.Item.Margin{ :type =>"text" }
				%label.Medium.Single (maksimum 250 karakter)
				

				
								
				
				
				
				
				
				
				
					
					
				
				
				
			