%form#PopUpFlight.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpFlight', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpFlight', 'PopUpActivity', stringPageInfixTypeCurrent + 'Flight', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Penerbangan							 

	/ MAIN

	%fieldset
		%div.ContainerFit
			%label.medium.Single.Item 1. Apakah Anda terbang sebagai pilot atau navigator?
		%input#TextJob.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 2.Apakah Anda terbang sebagai penumpang?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonPassengerYes{ :type => "radio", :name => "RadioButtonPassenger", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPassengerYes" } Ya
			%div.Separator
			%input#RadioButtonPassengerNo{ :type => "radio", :name => "RadioButtonPassenger", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPassengerNo" } Tidak
		%br
		%hr

		%label.medium.Single.Item 3.Apakah Anda memiliki pesawat sendiri?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonHavePlaneYes{ :type => "radio", :name => "RadioButtonHavePlane", :value => "ya" }
			%label.RadioButton{ :for => "RadioButtonHavePlaneYes" } Ya
			%div.Separator
			%input#RadioButtonHavePlaneNo{ :type => "radio", :name => "RadioButtonHavePlane", :value => "tidak" }
			%label.RadioButton{ :for => "RadioButtonHavePlaneNo" } Tidak
		%br
		%hr

		%div.ContainerFit
		%label.medium.Single.Item 4. Sebutkan jenis pesawat apakah yang Anda terbangkan? 
		%input#TextPlaneType.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item  5. Mohon sebutkan Lisensi/ Sertifikat yang Anda miliki?
		%div.ContainerFit
			%label.Short.Single.Item1.Center Lisensi/ Sertifikat	  
			%label.Short.Single.Item1.Center Tanggal Perolehan
			%label.Short.Single.Item1.Center Tanggal Perpanjangan
		%div.ContainerFit
			%input#TableLicenseCertificate1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TableLicenseObtain1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TableLicenseExtention1.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%input#TableLicenseCertificate2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TableLicenseObtain2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TableLicenseExtention2.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%div.ContainerFit
		%label.medium.Single.Item 6. Apakah Anda berencana untuk merubah cakupan lisensi yang saat ini Anda miliki?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonScopeYes{ :type => "radio", :name => "RadioButtonScope", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonScopeYes" } Ya
			%div.Separator
			%input#RadioButtonScopeNo{ :type => "radio", :name => "RadioButtonScope", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonScopeNo" } Tidak
		%br
		%label.medium.Single.Item Jika ya, mohon jelaskan secara rinci :	
		%input#TextScopeDesc.Full.Single.Item1.Margin{ :type =>"text"}
		%br
		%hr

		%div.ContainerFit
		%label.medium.Single.Item 7.Apakah Anda anggota suatu klub atau asosiasi kegiatan menerbang?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonClubYes{ :type => "radio", :name => "RadioButtonClub", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonClubYes" } Ya
			%div.Separator
			%input#RadioButtonClubNo{ :type => "radio", :name => "RadioButtonClub", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonClubNo" } Tidak
		%br
		%label.medium.Single.Item Jika ya, mohon jelaskan secara rinci :	
		%input#TextIsClubDesc.Full.Single.Item1.Margin{ :type =>"text"}
		%br

		%hr
		%label.medium.Single.Item  8. Berapa sering dan jumlah jam terbang Anda:
		%br
		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin
			%label.Short.Single.Item1.Center Tujuan	  
			%label.Short.Single.Item1.Center 
			%label.Short.Single.Item1.Center Jumlah Penerbangan
			%label.Short.Single.Item1.Center 
			%label.Short.Single.Item1.Center 
			%label.Short.Single.Item1.Center Jumlah Jam Terbang
			%label.Short.Single.Item1.Center 				
		%br	
		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin 
			%label.Short.Single.Item1.Center 	  
			%label.Short.Single.Item1.Center Total
			%label.Short.Single.Item1.Center 12 buln terakhir					
			%label.Short.Single.Item1.Center 12 bulan y.a.d
			%label.Short.Single.Item1.Center Total
			%label.Short.Single.Item1.Center 12 buln terakhir					
			%label.Short.Single.Item1.Center 12 bulan y.a.d					
		%br

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Penerbangan berjadwal
			%input#TextDesctination1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight1.Short.Single.Item1.Margin{ :type => "text" }		
		%br	

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Penerbangan tdk 
			%input#TextDesctination2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight2.Short.Single.Item1.Margin{ :type => "text" }		
		%br	

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Penerbangan komersial 
			%input#TextDesctination3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight3.Short.Single.Item1.Margin{ :type => "text" }		
		%br

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Penerbangan Pribadi 
			%input#TextDesctination4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight4.Short.Single.Item1.Margin{ :type => "text" }		
		%br	

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Helikopter 
			%input#TextDesctination5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight5.Short.Single.Item1.Margin{ :type => "text" }		
		%br	

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Terbang layang 
			%input#TextDesctination6.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly6.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly6.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly6.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight6.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight6.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight6.Short.Single.Item1.Margin{ :type => "text" }		
		%br	

		%div.ContainerFit 
			%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Lainnya 
			%input#TextDesctination7.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFly7.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFly7.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFly7.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextAllTotalFlight7.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLast12MonthFlight7.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextNext12MonthFlight7.Short.Single.Item1.Margin{ :type => "text" }	
		%br
		%hr

		%label.medium.Single.Item 9. Darimana Anda terbang?
		%input#TextFrom.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 10. Apakah Anda terbang dari bandara control?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonAirportControlYes{ :type => "radio", :name => "RadioButtonAirportControl", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonAirportControlYes" } Ya
			%div.Separator
			%input#RadioButtonAirportControlNo{ :type => "radio", :name => "RadioButtonAirportControl", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonAirportControlNo" } Tidak
		%br
		%input#TextPilotTowerControlDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 11. Pernahkan Anda mengalami kecelakaan terbang atau pelanggaran pengunaan/ pencabutan lisensi?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonAccidentYes{ :type => "radio", :name => "RadioButtonAccident", :value => "ya" }
			%label.RadioButton{ :for => "RadioButtonAccidentYes" } Ya
			%div.Separator
			%input#RadioButtonAccidentNo{ :type => "radio", :name => "RadioButtonAccident", :value => "tidak" }
			%label.RadioButton{ :for => "RadioButtonAccidentNo" } Tidak

		%input#TextAccidentDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 12. Apakah Anda memiliki larangan dalam penerbangan yang dianjurkan dalam surat keterangan medis?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonNoFlyYes{ :type => "radio", :name => "RadioButtonNoFly", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonNoFlyYes" } Ya
			%div.Separator
			%input#RadioButtonNoFlyNo{ :type => "radio", :name => "RadioButtonNoFly", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonNoFlyNo" } Tidak
		%input#TextNoFlyDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 13. Mohon sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini:
		%input#TextOtherInfo.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.