!!! 5

%html

    / HEAD
    
    %head
        = Haml::Engine.new(File.read("include_spajform_header.haml")).render
        %title BCA Life - BLESS, Health Questionnaire 1 Form

        / JQUERY
        
        :javascript
            $(document).ready(function()
            {
                // INITIALIZATION
                
                var jsonPolicyHolder = '{"result":{ "readFromDB":[{"elementID":"TextPolicyHolderFullName","Value":"YOSI OLIVER"},{"elementID":"RadioButtonPolicyHolderUSACitizen","Value":"yes"},{"elementID":"DatePolicyHolderActive","Value":"01/02/2016"},{"elementID":"RadioButtonPolicyHolderReligion","Value":"budha"},{"elementID":"TextPolicyHolderOfficeTelephone","Value":"021-1234567"},{"elementID":"TextPolicyHolderPlace","Value":"ZIMBABWE"}]}}'
                
                
                // BUTTON
                
                $("#ButtonRead").click(function()
                {
                    var objectContent = JSON.parse(jsonPolicyHolder);
                    var stringType = Object.keys(objectContent.result)[0];

                    if (stringType == "readFromDB")
                    {
                        getFromDatabase(objectContent.result.readFromDB, stringPageTypeForm);
                    }
                    else
                    {
                        alert("Not read from database method !.");
                    }
                });
                
                 $("#ButtonAutoPopulate").click(function()
                {
                    
                });
                
                 $("#ButtonWrite").click(function()
                {
                    
                });
                
                 $("#ButtonXML").click(function()
                {
                    
                });
            });


    / BODY

    %body#Main

        / HEADER

        %header
            %h1
                Data Calon Pemegang Polis
                %input#ButtonRead.ButtonPrimary{ :type => "button" } Read
                %input#ButtonAutoPopulate.ButtonPrimary{ :type => "button" } Auto populate
                %input#ButtonWrite.ButtonPrimary{ :type => "button" } Write
                %input#ButtonXML.ButtonPrimary{ :type => "button" } XML

        / MAIN

        %main
            %form
                %label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCIN" } Nomor CIN
                %input#TextPolicyHolderCIN.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderFullName" } Nama Lengkap
                    %input#TextPolicyHolderFullName.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "SelectPolicyHolderIDType" } Jenis Identitas Diri
                    %select#SelectPolicyHolderIDType.Medium.Single.Item
                        %option{ :value => "KTP" } KTP
                        %option{ :value => "SIM" } SIM
                        %option{ :value => "paspor" } Paspor
                        %option{ :value => "KIMSKITAS" } KIMS / KITAS
                        %option{ :value => "other" } Lainnya
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderID" } Nomor Identitas Diri
                    %input#TextPolicyHolderID.Medium.Single.Item{ :type => "text" }
                    %label.Medium.Single.Item{ :for => "DatePolicyHolderActive" } Masa berlaku
                    %input#DatePolicyHolderActive.Medium.Single.Item{ :type => "date" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderPlace" } Tempat lahir
                    %input#TextPolicyHolderPlace.Medium.Single.Item{ :type => "text" }
                    %label.Medium.Single.Item{ :for => "DatePolicyHolderBirthday" } Tanggal lahir
                    %input#PolicyHolderBirthday.Medium.Single.Item{ :type => "text" }
                    %label.Medium.Single.Item{ :for => "DatePolicyHolderAge" } Umur
                    %input#DatePolicyHolderAge.Medium.Single.Item{ :type => "text" }
                %div.ContainerLeft
                    %label.Medium.Single.Item{ :for => "RadioButtonPolicyHolderNatioanlity" } Kewarganegaraan
                    %div.RadioButton.Item
                        %input#RadioButtonPolicyHolderNationalityWNI.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderNationality", :value => "WNI" }
                        %label.RadioButton{ :for => "RadioButtonPolicyHolderNationalityWNI" } WNI
                        %div.Separator
                        %input#RadioButtonPolicyHolderNationalityWNA.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderNationality", :value => "WNA" }
                        %label.RadioButton{ :for => "RadioButtonPolicyHolderNationalityWNA" } WNA
                %label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderAmericanYes" } Apakah anda merupakan warga negara atau wajib pajak amerika ?
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonPolicyHolderUSACitizenYes.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderUSACitizenYes" } Ya
                    %div.Separator
                    %input#RadioButtonPolicyHolderUSACitizenNo.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderUSACitizen", :value => "no" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderUSACitizenNo" } Tidak
                %label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderUSACitizenYes" } (Jika jawaban "Ya" mohon lampirkan formulir W8 / W9).
                %br
                %label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderSex" } Jenis Kelamin
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonPolicyHolderSexMale.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "male" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderSexMale" } Pria
                    %div.Separator
                    %input#RadioButtonPolicyHolderSexFemale.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderSex", :value => "female" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderSexFemale" } Wanita
                %br
                %label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderStatusSingle" } Status Pernikahan
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonPolicyHolderMaritalStatusSingle.Medium.Single{ :type => "checkbox", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "single" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderMaritalStatusSingle" } Belum Menikah
                    %div.Separator
                    %input#RadioButtonPolicyHolderMaritalStatusMarried.Medium.Single{ :type => "checkbox", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "married" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderMaritalStatusMarried" } Menikah
                    %div.Separator
                    %input#RadioButtonPolicyHolderMaritalStatusDivorced.Medium.Single{ :type => "checkbox", :name => "RadioButtonPolicyHolderMaritalStatus", :value => "divorced" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderMaritalStatusDivorced" } Bercerai
                %br
                %label.Medium.Single.PositionerLeft{ :for => "SelectPolicyHolderReligion" } Agama
                %select#SelectPolicyHolderReligion.Medium.Single.PositionerLeft
                    %option{ :value => "islam" } Islam
                    %option{ :value => "kristenprotestan" } Kristen Protestan
                    %option{ :value => "kristenkatolik" } Kristen Katolik
                    %option{ :value => "budha" } Budha
                    %option{ :value => "hindu" } Hindu
                    %option{ :value => "konghucu" } Kong Hu Cu
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompany" } Nama Perusahaan / Instansi / Sekolah
                    %input#TextPolicyHolderCompany.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderMainJob" } Pekerjaan Utama
                    %input#TextPolicyHolderMainJob.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderScopeWork" } Bidang Usaha
                    %input#TextPolicyHolderScopeWork.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderPosition" } Jabatan
                    %input#TextPolicyHolderPosition.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderJobDescription" } Uraian Pekerjaan
                    %input#TextPolicyHolderJobDescription.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderSideJob" } Pekerjaan Tambahan
                    %input#TextPolicyHolderSideJob.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress1" } Alamat Tempat Tinggal
                    %input#TextPolicyHolderHomeAddress1.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress2" }
                    %input#TextPolicyHolderHomeAddress2.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress3" }
                    %input#TextPolicyHolderHomeAddress3.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeCity" }
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeCity" } Kota
                    %input#TextPolicyHolderHomeCity.Medium.Single.Item{ :type => "text" }
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomePostalCode" } Kode Pos
                    %input#TextPolicyHolderPostalCode.Medium.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeTelephone" }
                    %label.MediumFix.Single.Item{ :for => "TextPolicyHolderHomeTelephone" } Nomor telepon
                    %input#TextPolicyHolderHomeTelephone.Medium.Single.Item{ :type => "text" }
                %br
                %label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderHandphone1" } Nomor HP Utama
                %input#TextPolicyHolderHandphone1.Long.Single.PositionerLeft{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderHandphone2" } Nomor HP 2
                %input#TextPolicyHolderHandphone2.Long.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderEmail" } Email
                    %input#TextPolicyHolderEmail.Full.Single.Item{ :type => "text" }                
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeAddress1" } Alamat kantor
                    %input#TextPolicyHolderOfficeAddress1.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderOfficeAddress2" }
                    %input#TextPolicyHolderOfficeAddress2.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeAddress3" }
                    %input#TextPolicyHolderHomeAddress3.Full.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeCity" }
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeCity" } City
                    %input#TextPolicyHolderHomeCity.Medium.Single.Item{ :type => "text" }
                    %label.Medum.Single.Item{ :for => "TextPolicyHolderHomePostalCode" } Postal Code
                    %input#TextPolicyHolderPostalCode.Medium.Single.Item{ :type => "text" }
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderHomeTelephone" }
                    %label.MediumFix.Single.Item{ :for => "TextPolicyHolderHomeTelephone" } Telephone
                    %input#TextPolicyHolderHomeTelephone.Medium.Single.Item{ :type => "text" }