!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#DatePolicyHolderRespiratoryFirstTimeAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryFirstTimeAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryFirstTimeAriseYear", 4, boxTypeWithoutLabel, null);
			
				boxGenerator("#DatePolicyHolderRespiratoryWhenLastAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryWhenLastAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryWhenLastAttackYear", 4, boxTypeWithoutLabel, null);
			
				boxGenerator("#DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalYear", 4, boxTypeWithoutLabel, null);
			
				boxGenerator("#TextPolicyHolderRespiratorySignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderRespiratorySignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderRespiratorySignedYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../Resource/Logo/logo_bcalife_healthquestionnaire.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER GANGGUAN PERNAFASAN
			%br

			%div.Note
				Perlu diperhatikan:
				%ol
					%li Wajib diisi oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung dengan tinta hitam, huruf cetak, jelas dan memberi tanda (√) pada kotak sesuai pilihan.
					%li Wajib menandatangani setiap koreksi penulisan (jika ada).
					%li Penulisan tanggal selalu mempergunakan format Tanggal-Bulan-Tahun.
					%li Apabila diperlukan dapat mempergunakan lembar terpisah pada kertas HVS A4 yang diisi dan ditandatangani oleh (Calon) Pemegang Polis, (Calon) Tertanggung dan Tenaga Penjual.
					%li Apabila telah diisi lengkap oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung wajib diserahkan ke Kantor Pusat PT Asuransi Jiwa BCA (“Penanggung”).

		/ MAIN

		%main
			%form
				%h2 I. DATA (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
					%table#TextPolicyHolderSPAJNumber.BoxSquare.PositionerLeft
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
					%table#TextPolicyHolderFullName1.BoxSquare.PositionerLeft
					%br
					%table#TextPolicyHolderFullName2.BoxSquare.PositionerLeft

					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBirthdayPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
					%input#TextPolicyHolderBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft ,
					%table#DatePolicyHolderBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBirthdayYear.BoxSquare.PositionerLeft
					%br

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruption" } Apakah gangguan pernapasan yang Anda derita?		
					%div.RadioButton
						%input#RadioButtonPolicyHolderRespiratoryDisruptionAsthma.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDisruption", :value => "asthma" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionAsthma" } Asma
						
						%input#RadioButtonPolicyHolderRespiratoryDisruptionBronchitis.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDisruption", :value => "bronchitis" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionBronchitis" } Bronchitis
						
						%input#RadioButtonPolicyHolderRespiratoryDisruptionTBC.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDisruption", :value => "tbc" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionTBC" } TBC	
						
						%input#RadioButtonPolicyHolderRespiratoryDisruptionOther.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDisruption", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionOther"} Lainnya, sebutkan  
						%br
						%div#RadioButtonPolicyHolderRespiratoryDisruptionOther.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryFirstTimeAriseDay" } Kapan pertama kali Anda merasakan gejala-gejala tersebut?
					%table#DatePolicyHolderRespiratoryFirstTimeAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryFirstTimeAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryFirstTimeAriseYear.BoxSquare.PositionerRight
					%br
					
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratoryLastTwoYearsAttack" } a. Berapa kali serangan dalam 2 (dua) tahun terakhir?
					%input#TextPolicyHolderRespiratoryLastTwoYearsAttack.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryWhenLastAttackDay" } b. Kapan serangan terakhir?
					%table#DatePolicyHolderRespiratoryWhenLastAttackDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryWhenLastAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryWhenLastAttackYear.BoxSquare.PositionerRight
					%br					

					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCause" } Berapa kali serangan-serangan tersebut menyebabkan Anda:
					%br
					(Mohon melampirkan resume perawatan yang Anda miliki)

					%div.RadioButton
						%input#RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseLeave.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCause", :value => "Take Leave" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseLeave" } Tidak masuk kerja, selama:
						
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveDay.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveDay"} Hari  
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveWeek.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveWeek"} Minggu  
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveMonth.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveMonth"} Bulan  
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveYear.Line.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseLeaveYear"} Tahun  
						%br				
												
						%input#RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseHospital.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCause", :value => "Hospital" }
						%div.BoxRound.PositionerLeft
						%b
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryNumberOfAttackCauseHospital" } Dirawat di Rumah Sakit
						%br						
						%label.Wrap.Single.PositionerLeft{ :for => "DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalDay" } Tanggal perawatan:
						%table#DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalDay.BoxSquare.PositionerLeft
						%span.Separator.Single.PositionerLeft /
						%table#DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalMonth.BoxSquare.PositionerLeft
						%span.Separator.Single.PositionerLeft /
						%table#DatePolicyHolderRespiratoryNumberOfAttackCauseHospitalYear.BoxSquare.PositionerLeft
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalDuration"} Lama perawatan:
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalDuration.Line.Long.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalDuration"} (hari/minggu/bulan*) *coret yang tidak perlu
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalDoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalDoctorName.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalPhone"} No. Telepon/Handphone:
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalPhone.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalKlinikName"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalKlinikName.LineDot.Long.Single.PositionerLeft{ :type => "text" }					
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%input#TextPolicyHolderRespiratoryNumberOfAttackCauseHospitalAddress2.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
					
					
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryComplainCaugh" } Sewaktu tidak ada serangan, apakah ada keluhan-keluhan berikut?
					%div.RadioButton
						%label.Wrap.Single.PositionerLef{ :for => "RadioButtonPolicyHolderRespiratoryComplainCaugh" } Batuk   
						%input#RadioButtonPolicyHolderRespiratoryComplainCaugh.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryComplain", :value => "Batuk" }
						%div.BoxRound.PositionerLeft

						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryComplainShortnessBreath" } Nafas Pendek
						%input#RadioButtonPolicyHolderRespiratoryComplainShortnessBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryComplain", :value => "Nafas Pendek" }
						%div.BoxRound.PositionerLeft
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderRespiratoryComplainNgikSound" } Berbunyi “ngik”
						%input#RadioButtonPolicyHolderRespiratoryComplainNgikSound.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryComplain", :value => "Berbunyi ngik" }
						%div.BoxRound.PositionerRight
					%br
					
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryTherapy" } 	a.	Pengobatan apakah yang digunakan untuk mengatasi gangguan pernapasan?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderRespiratoryTherapyInhaler.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryTherapy", :value => "Inhaler" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryTherapyInhaler" } Inhaler										
						
						%input#RadioButtonPolicyHolderRespiratoryTherapyDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryTherapy", :value => "Obat-obatan" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryTherapyDrug" } Obat-obatan  (Jelaskan nama obat, dosis dan frekuensi penggunaannya pada kolom di bawah ini).
						%br
						
					
					%table
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td								
						%br	
						
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryConsumtion" } 	b. Kapan obat-obatan tersebut dikonsumsi?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderRespiratoryConsumtionEveryDay.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryConsumtion", :value => "Setiap hari" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryConsumtionEveryDay" } Setiap hari										
						
						%input#RadioButtonPolicyHolderRespiratoryConsumtionWhenAttacked.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryConsumtion", :value => "Hanya saat serangan" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryConsumtionWhenAttacked" } Hanya saat serangan
						%br						
										
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } 	c. Apakah obat-obatan tersebut masih digunakan sampai sekarang?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderRespiratoryStillConsumedYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryStillConsumed", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryStillConsumedYes" } Ya
						
						%input#RadioButtonPolicyHolderRespiratoryStillConsumedNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryStillConsumed", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryStillConsumedNo" } Tidak
						%br														
					
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryStillConsumedDesc"} Mohon menjelaskan alasannya secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderRespiratoryStillConsumedDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratoryMedicalCheckResult" } Sehubungan dengan gangguan pernapasan, kapan dan bagaimana hasil pemeriksaan darah, rontgen dada, spirometri lainnya? (Mohon dilampirkan fotokopi hasil pemeriksaan).
					%br
					%input#TextPolicyHolderRespiratoryMedicalCheckResult.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%br
					
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryConsultDay" } Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
					%br
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderRespiratoryConsultDay" } Tanggal terakhir konsultasi:
					%table#DatePolicyHolderRespiratoryConsultDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryConsultMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryConsultYear.BoxSquare.PositionerRight
					%br					
					
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalDiagnosa" } Diagnosa:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalDiagnosa.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalDoctorName" } Nama Lengkap Dokter:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalDoctorName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalPhone" } No. Telepon/Handphone:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalPhone.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalClinicName" } Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalClinicName.Short.Single.PositionerLeft{ :type => "text" }				
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDataDoctorHospitalAddress" } Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderRespiratoryDataDoctorHospitalAddress.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%br
					
					
					%span.Number.PositionerLeft 9
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratoryAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderRespiratoryAdditionalInfo.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
	

					%h2 PERNYATAAN DAN KUASA
					%div.Note
						Perlu diperhatikan: 
						%ol
							%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Nyeri Dada ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
							%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
							%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
							%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
							%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratorySignedBy" } Ditandatangani
					%input#TextPolicyHolderRespiratorySignedBy.Medium.Single.PositionerLeft{ :type => "text"}
					%span.Separator.Single.PositionerLeft
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderRespiratorySignedDay" } Tanggal
					%span.Separator.Single.PositionerLeft
					%table#TextPolicyHolderRespiratorySignedDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#TextPolicyHolderRespiratorySignedMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#TextPolicyHolderRespiratorySignedYear.BoxSquare.PositionerLeft
					%br
							
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Pemegang Polis
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Tertanggung
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail Tenaga Penjual