!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnaire_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript
			$(document).ready(function()
			{
				// GENERATOR

				additionalQuestionGenerator();


				// BUTTON

				buttonPopUpGeneralGenerator();
				buttonPopUpHealthGenerator();

				/* $("#MainForm #ButtonDone").click(function()
				{
					savetoDB();
				}); */
			});


	/ BODY

	%body#Main

		/ HEADER

		%header#MainForm
			%h1
			/ %input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }

			%div.Highlighted
				%label.Medium.Single Calon
				%nav.RadioButton{ :style => "margin-left: 80px" }
					%a.Clear{ :href => "../../Page/HTML/page_healthquestionnaire1_policyholder.html" }  Pemegang Polis
					%div.Separator
					%a.Clear.Selected{ :href => "../../Page/HTML/page_healthquestionnaire1_prospectiveinsured.html" } Tertanggung

			%h2 Pertanyaan Kesehatan

		/ MAIN

		%main
			%form#HealthQuestionnaireMain
				%ol
					%li
						%ol
							%li
								%div.Container
									%label.Item{ :for => "TextProspectiveInsuredHeight" } Tinggi Badan
									%div.Item
										%input#TextProspectiveInsuredHeight.Short.Single{ :type => "text" }
										%label.Suffix.Single{ :for => "TextProspectiveInsuredHeight" } Cm
							%li
								%div.Container
									%label.Item{ :for => "TextProspectiveInsuredWeight" } Berat Badan
									%div.Item
										%input#TextProspectiveInsuredWeight.Short.Single{ :type => "text" }
										%label.Suffix.Single{ :for => "Weight" } Kg
							%li
								%div.Container
									%label#LabelWeightChange.Item{ :for => "RadioButtonWeightChangeYes" }Adakah berat badan Anda mengalami penurunan atau kenaikan drastis (> 10% dalam 1 (satu) bulan) dalam 6 (enam) bulan terakhir?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredWeightChangeYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredWeightChange", :value => "true" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredWeightChangeYes" } Ya
										%div.Separator
										%input#RadioButtonProspectiveInsuredWeightChangeNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredWeightChange", :value => "false" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredWeightChangeNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredSmoker.Item{ :for => "RadioButtonProspectiveInsuredSmokerYes" }
								Apakah Anda merokok dalam 12 (dua belas) bulan terakhir (termasuk rokok elektronik atau produk tembakau lainnya)?
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredSmokerYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredSmoker", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredSmokerYes" } Ya
								%div.Separator
								%input#RadioButtonProspectiveInsuredSmokerNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredSmoker", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredSmokerNo" } Tidak
						%input#ButtonPreviewProspectiveInsuredSmoker.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredSmoker", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredJunkie.Item{ :for => "RadioButtonProspectiveInsuredJunkieYes" }
								Apakah Anda memiliki kebiasaan atau pernah menggunakan narkotika, zat adiktif atau obat-obatan lainnya, minum alkohol secara berlebihan? Jika “Ya”, jelaskan jumlah serta frekuensi mengkonsumsinya. Serta jelaskan jika ada riwayat perawatan/mendapat terapi karena hal tersebut?
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredJunkieYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredJunkie", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredJunkieYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredJunkieNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredJunkie", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredJunkieNo" } Tidak
						%input#ButtonPreviewProspectiveInsuredJunkie.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredJunkie", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredExtremeSport.Item{ :for => "RadioButtonProspectiveInsuredExtremeSportYes" }
								Apakah Anda memiliki hobi atau sewaktu-waktu melakukan kegiatan yang beresiko tinggi/bahaya atau masih aktif dalam pekerjaan beresiko tinggi (menyelam, panjat tebing, mendaki gunung, terjun payung, paralayang, balap motor/mobil, pertambangan, minyak dan gas bumi, Kelautan, TNI/Polri, penerbangan (selain dari penumpang resmi penerbangan terjadwal))? (Jika jawaban “Ya” mohon melengkapi kuesioner yang sesuai hobi/kegiatan/pekerjaan tersebut dan dilampirkan bersama SPAJ ini).
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredExtremeSportYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredExtremeSport", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredExtremeSportYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredExtremeSportNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredExtremeSport", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredExtremeSportNo" } Tidak
						%input#ButtonPreviewProspectiveInsuredExtremeSport.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredExtremeSport", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredAbroad.Item{ :for => "RadioButtonProspectiveInsuredAbroadYes" }
								Apakah Anda dalam 12 bulan terakhir ini/mendatang Anda pernah/memiliki rencana bepergian/tinggal di luar negeri? Jika “Ya”, jelaskan kapan waktu bepergiannya, negara tujuan, lama tinggal, serta kepentingannya.
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredAbroadYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredAbroad", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredAbroadYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredAbroadNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredAbroad", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredAbroadNo" } Tidak
						%input#ButtonPreviewProspectiveInsuredAbroad.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredAbroad", "data-popup-type" => "general" }
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredHealthDissorder.Item{ :for => "RadioButtonProspectiveInsuredHealthDissorderYes" }
								Apakah Anda pernah/sedang menderita penyakit atau menjalani pemeriksaan/perawatan, pengobatan, operasi untuk penyakit/kelainan dibawah ini:
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredHealthDissorderYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredHealthDissorder", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredHealthDissorderYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredHealthDissorderNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredHealthDissorder", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredHealthDissorderNo" } Tidak
						%ol
							%li
								%div.Container
									%label#LabelProspectiveInsuredVision.Item{ :for => "RadioButtonProspectiveInsuredVisionYes" }
										Gangguan fungsi/sistem penglihatan dan gangguan pada mata lainnya?
									%div#LabelVision.RadioButton.Item
										%input#RadioButtonProspectiveInsuredVisionYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredVision", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredVisionYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredVisionNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredVision", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredVisionNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredVision.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredVision", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelENT.Item{ :for => "RadioButtonProspectiveInsuredENTYes" }
										Gangguan fungsi/sistem pada Telinga, Hidung, Tenggorokan (THT)?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredENTYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredENT", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredENTYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredENTNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredENT", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredENTNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredENT.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredENT", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredRespiratory.Item{ :for => "RadioButtonProspectiveInsuredRespiratoryYes" }
										Gangguan fungsi/sistem Pernapasan, Paru-paru, Asma, Bronkitis, Tuberkulosis, Batuk Darah dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredRespiratoryYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredRespiratory", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredRespiratoryYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredRespiratoryNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredRespiratory", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredRespiratoryNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredRespiratory.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredRespiratory", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredCardiac.Item{ :for => "RadioButtonProspectiveInsuredCardiacYes" }
										Gangguan fungsi/sistem Jantung dan Pembuluh Darah, Nyeri Dada, Serangan Jantung, Demam, Jantung, Rematik, Tekanan Darah Tinggi (Hipertensi)/Rendah, (Hipotensi), Hiperkolesterol, Penyempitan/Penyumbatan Pembuluh Darah Otak dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredCardiacYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredCardiac", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredCardiacYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredCardiacNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredCaridac", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredCardiacNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredCardiac.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredCardiac", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredDigest.Item{ :for => "RadioButtonProspectiveInsuredDigestYes" }
										Gangguan fungsi/sistem Pencernaan & Organ dalam Perut/Lambung, Maag, Hernia, Hepatitis dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredDigestYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredDigestNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredDigest.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredDigest", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredNerve.Item{ :for => "RadioButtonProspectiveInsuredNerveYes" }
										Gangguan fungsi/sistem Saraf dan Otot, Vertigo, Stroke, Sering Pusing atau Pingsan, Epilepsi (kejang), Kelumpuhan, Kesemutan, Baal, Gangguan Kejiwaan dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredNerveYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredNerve", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredNerveYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredNerveNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredNerve", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredNerveNo" } Tidak
								%input#ButtonPreviewProspectiveInsurednerve.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredNerve", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredLiver.Item{ :for => "RadioButtonProspectiveInsuredLiverYes" }
										Gangguan fungsi/sistem Hati dan Pankreas, Kencing Manis (Diabetes Melitus), Batu Empedu, Tumor Hati, penyakit Limpa dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredLiverYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredLiver", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredLiverYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredLiverNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredLiver", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredLiverNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredLiver.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredLiver", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredReproduction.Item{ :for => "RadioButtonProspectiveInsuredReproductionYes" }
										Gangguan fungsi/sistem Kemih, Batu Ginjal, Gangguan Prostat, Gagal Ginjal, Organ Kelamin dan penyakit akibat hubungan seksual?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredReproductionYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredReproduction", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredReproductionYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredReproductionNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredReproduction", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredReproductionNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredReproduction.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredReproduction", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredMotion.Item{ :for => "RadioButtonProspectiveInsuredMotionYes" }
										Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredMotionYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredMotion", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredMotionYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredMotionNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredMotion", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredMotionNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredMotion.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredMotion", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredBlood.Item{ :for => "RadioButtonProspectiveInsuredBloodYes" }
										Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredBloodYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredBlood", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredBloodYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredBloodNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredBlood", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredBloodNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredBlood.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredBlood", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredImmune.Item{ :for => "RadioButtonProspectiveInsuredImmuneYes" }
										Gangguan fungsi/sistem Kekebalan Tubuh,HIV/AIDS atau segala gejala yang berhubungan dengan AIDS (demam, diare kronis, penurunan berat badan yang tidak diketahui penyebabnya), Malaria, Lupus dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredImmuneYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredImmune", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredImmuneYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredImmuneNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredImmune", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredImmuneNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredImmune.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredImmune", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredCancer.Item{ :for => "RadioButtonProspectiveInsuredCancerYes" }
										Gangguan fungsi Pertumbuhan Sel, Tumor, Kista, Kanker, Benjolan pada permukaan kulit atau pertumbuhan abnormal lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredCancerYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredCancer", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredCancerYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredCancerNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredCancer", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredCancerNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredCancer.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredCancer", "data-popup-type" => "health" }
							%li
								%div.Container
									%label#LabelProspectiveInsuredOtherIllness.Item{ :for => "RadioButtonProspectiveInsuredOtherIllnessYes" }
										Gangguan Kesehatan lainnya yang tidak/belum dinyatakan diatas termasuk namun tidak terbatas pada kelainan bentuk tubuh, kelainan/cacat fisik, kelainan/cacat bawaan dan lainnya?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredOtherIllnessYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherIllness", :value => "true", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredOtherIllnessYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredOtherIllnessNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherIllness", :value => "false", "data-popup-type" => "health" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredOtherIllnessNo" } Tidak
								%input#ButtonPreviewProspectiveInsuredOtherIllness.ButtonPreview{ :type => "button", :value => "View recent input", :name => "RadioButtonProspectiveInsuredOtherIllness", "data-popup-type" => "health" }
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredSPAJProposal.Item{ :for => "RadioButtonProspectiveInsuredSPAJProposalYes" }
								Apakah Anda telah memiliki atau sedang mengajukan pertanggungan Asuransi Jiwa, kecelakaan, kesehatan, pemulihan polis? Serta apakah pengajuan Anda pernah ditolak/ ditangguhkan/dikenakan ekstra Premi diubah dalam bentuk apapun oleh perusahaan Asuransi Jiwa?
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredSPAJProposalYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredSPAJProposal", :value => "true", "data-popup-type" => "spajproposal" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredSPAJProposalYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredSPAJProposalNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredSPAJProposal", "data-popup-type" => "spajproposal" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredSPAJProposalNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredClaim.Item{ :for => "RadioButtonProspectiveInsuredClaimYes" }
								Apakah Anda pernah mengajukan klaim ke perusahaan Asuransi Jiwa? Jika “Ya, mohon jelaskan alasannya.
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredClaimYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredClaim", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredClaimYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredClaimNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredClaim", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredClaimNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredDiagnostic.Item{ :for => "RadioButtonProspectiveInsuredDiagnosticYes" }
								Apakah Anda pernah mendapatkan atau bermaksud menjalani pemeriksaan kesehatan diagnostik, seperti Sinar-X, USG, CT-scan, MRI, EKG, Treadmill, pemeriksaan darah, pemeriksaan urin, dan lain-lain?
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredDiagnosticYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDiagnostic", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDiagnosticYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredDiagnosticNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDiagnostic" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDiagnosticNo", :value => "false", "data-popup-type" => "general", "data-popup-type" => "general" } Tidak
					%hr
					%li
						%label.PositionerLeft{ :for => "PregnancyYes" } Khusus Calon Tertanggung anak-anak (usia ≤ 5 (lima) tahun): 
						%br
						%label.PositionerLeft{ :for => "PregnancyYes" } Waktu lahir
						%div.RadioButton.PositionerLeft
							%input#RadioButtonProspectiveInsuredPregnancyNormal{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancy", :value => "true" }
							%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPregnancyNormal" } Cukup Bulan
							%div.Separator | 
							%input#RadioButtonProspectiveInsuredPregnancyPrematur{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancy", :value => "false" }
							%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPregnancyPrematur" } Prematur
						%br
						%label.PositionerLeft{ :for => "BabyHeight" } Panjang dan berat saat lahir
						%br
						%br
						%input#TextProspectiveInsuredBabyHeight.Short.PositionerLeft{ :type => "text", :style => "margin-right: 10px;" }
						%label.PositionerLeft{ :for => "TextProspectiveInsuredBabyHeight" } Cm
						%input#TextProspectiveInsuredBabyWeight.Short.PositionerLeft{ :type => "text", :style => "margin-left: 10px; margin-right: 10px;" }
						%label.PositionerLeft{ :for => "TextProspectiveInsuredBabyWeight" } Kg
					%hr
					%li
						%label.Item{ :for => "HealthDissorderYes" }
							Pertanyaan khusus untuk wanita:
						%ol
							%li
								%div.Container
									%label#LabelProspectiveInsuredPregnant.Item{ :for => "RadioButtonProspectiveInsuredPregnantYes" }
										Apakah Anda sedang hamil?
									%input#TextProspectiveInsuredPregnantWeek.Short.PositionerLeft{ :type => "text", :style => "margin-left: -60px;" }
									%label.Short.Single.PositionerLeft{ :for => "TextProspectiveInsuredPregnantWeek", :style => "margin-left: -60px;" } Minggu
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredPregnantStateYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnant", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPregnantStateYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredPregnantStateNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnant", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPregnantStateNo" } Tidak
							%li
								%div.Container
									%label#LabelProspectiveInsuredPregnancyIllness.Item{ :for => "RadioButtonProspectiveInsuredPregnancyIllnessYes" }
										Adakah komplikasi pada kehamilan termasuk persalinan secara sectio caesaria yang dilakukan karena menderita suatu penyakit (Darah Tinggi, Hepatitis, Diabetes dan lain-lain)?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredPregnancyIllnessYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancyIllness", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPregnancyIllnessYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredPregnancyIllnessNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancyIllness", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPregnancyIllnessNo" } Tidak
							%li
								%div.Container
									%label#LabelProspectiveInsuredFemaleAbnormality.Item{ :for => "RadioButtonProspectiveInsuredFemaleAbnormalityYes" }
										Apakah Anda mempunyai kelainan payudara/organ kewanitaan lainnya termasuk haid yang tidak teratur? Jika “Ya” jelaskan nama kelainan atau komplikasi dan nama dokter yang merawat pada kolom (Siapa, Apa, Kapan, Dimana, Pengobatan yang dilakukan, Bagaimana).
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredFemaleAbnormalityYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredFemaleAbnormality", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredFemaleAbnormalityYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredFemaleAbnormalityNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredFemaleAbnormality", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredFemaleAbnormalityNo" } Tidak
							%li
								%div.Container
									%label#LabelProspectiveInsuredPapSmear.Item{ :for => "RadioButtonProspectiveInsuredPapSmearYes" }
										Apakah Anda pernah melakukan pemeriksaan Pap Smear dalam 1 (satu) tahun terakhir? Jika “Ya” jelaskan bagaimana hasilnya dan kapan dilakukan pemeriksaan tersebut?
									%div.RadioButton.Item
										%input#RadioButtonProspectiveInsuredPapSmearYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredPapSmear", :value => "true", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPapSmearYes" } Ya
										%div.Separator | 
										%input#RadioButtonProspectiveInsuredPapSmearNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredPapSmear", :value => "false", "data-popup-type" => "general" }
										%label.RadioButton{ :for => "RadioButtonProspectiveInsuredPapSmearNo" } Tidak
					%hr
					%li
						%div.Container
							%label#LabelProspectiveInsuredHeartDissorder.Item{ :for => "RadioButtonProspectiveInsuredHeartDissorderYes" }
								Apakah ada anggota keluarga Anda (orang tua, anak, saudara kandung) yang menderita/dinyatakan terdiagnosa mengidap kelainan Jantung Koroner, Stroke, Kencing Manis (Diabetes Melitus), Kanker atau penyakit keturunan lainnya? (Jika “Ya” mohon agar dijelaskan pada kolom dibawah ini)
							%div.RadioButton.Item
								%input#RadioButtonProspectiveInsuredHeartDissorderYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredHeartDissorder", :value => "true", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredHeartDissorderYes" } Ya
								%div.Separator | 
								%input#RadioButtonProspectiveInsuredHeartDissorderYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredHeartDissorder", :value => "false", "data-popup-type" => "general" }
								%label.RadioButton{ :for => "RadioButtonProspectiveInsuredHeartDissorderNo" } Tidak
					%hr
			%section#PopUpGeneral.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaire_general.haml")).render
			%section#PopUpHealth.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaire_health.haml")).render
			%section#PopUpSPAJProposal.PopUp
				= Haml::Engine.new(File.read("popup_healthquestionnaire_spajproposal.haml")).render