!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				boxGenerator("#TextPolicyHolderTumorSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderTumorFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderTumorFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderTumorBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseYear", 4, boxTypeWithoutLabel, null);
								
				boxGenerator("#DatePolicyHolderTumorWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorWhenStartYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DatePolicyHolderTumorOperationDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorOperationMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorOperationYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLastTherapyDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastTherapyMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastTherapyYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLeaveDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLeaveMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLeaveYear", 4, boxTypeWithoutLabel, null)
				
<<<<<<< HEAD
				boxGenerator("#DatePolicyHolderTumorSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorSignedYear", 4, boxTypeWithoutLabel, null);		
=======
				boxGenerator("#DateProspectiveInsuredTumorWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorWhenStartYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DateProspectiveInsuredTumorOperationDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorOperationMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorOperationYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DateProspectiveInsuredTumorLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorLastYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DateProspectiveInsuredTumorLastTherapyDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorLastTherapyMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorLastTherapyYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DateProspectiveInsuredTumorLeaveDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorLeaveMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorLeaveYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DateProspectiveInsuredTumorSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredTumorSignedYear", 4, boxTypeWithoutLabel, null);		
>>>>>>> fcb86d6288de48b401eda792ecabd99e26fabe2f
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../Resource/Logo/logo_bcalife_healthquestionnaire.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER TUMOR
			%br

			%div.Note
				Perlu diperhatikan:
				%ol
					%li Wajib diisi oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung dengan tinta hitam, huruf cetak, jelas dan memberi tanda (√) pada kotak sesuai pilihan.
					%li Wajib menandatangani setiap koreksi penulisan (jika ada).
					%li Penulisan tanggal selalu mempergunakan format Tanggal-Bulan-Tahun.
					%li Apabila diperlukan dapat mempergunakan lembar terpisah pada kertas HVS A4 yang diisi dan ditandatangani oleh (Calon) Pemegang Polis, (Calon) Tertanggung dan Tenaga Penjual.
					%li Apabila telah diisi lengkap oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung wajib diserahkan ke Kantor Pusat PT Asuransi Jiwa BCA (“Penanggung”).

		/ MAIN

		%main
			%form
				%h2 I. DATA (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
					%table#TextPolicyHolderTumorSPAJNumber.BoxSquare.PositionerLeft
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderTumorFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
					%table#TextPolicyHolderTumorFullName1.BoxSquare.PositionerLeft
					%br
					%table#TextPolicyHolderTumorFullName2.BoxSquare.PositionerLeft

					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorBirthdayPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
					%input#TextPolicyHolderTumorBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft ,
					%table#DatePolicyHolderTumorBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorBirthdayYear.BoxSquare.PositionerLeft
					%br

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset

					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorFirstDiagnoseDay" } Kapan pertama kali diketahui adanya tumor?
					%table#DatePolicyHolderTumorFirstDiagnoseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorFirstDiagnoseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorFirstDiagnoseYear.BoxSquare.PositionerRight
					
					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorWhere" } Pada bagian tubuh mana tumor tersebut tumbuh?
					%br
					%input#TextPolicyHolderTumorWhere.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorDiagnose" } Mohon sebutkan diagnosis pasti dari tumor tersebut.
					%br
					%input#TextPolicyHolderTumorDiagnose.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTaken" } Apakah tumor tersebut telah diangkat/dioperasi?
					%br
					
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorTakenYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTaken", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTakenYes" } Ya
						
						%input#RadioButtonPolicyHolderTumorTakenNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTaken", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTakenNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorOperationDay" } a. Tanggal operasi:
					
					%table#DatePolicyHolderTumorOperationDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorOperationMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorOperationYear.BoxSquare.PositionerRight

					%div.BoxRound.PositionerLeft
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorMethod"} b. Metode operasi (anestesi local, bedah beku/cryosurgery, operasi dengan anestesi umum, dan sebagainya). Mohon menjelaskan secara rinci pada kolom di bawah ini.

					%br
					%input#TextPolicyHolderTumorMethod.Line.Short.Single.PositionerLeft{ :type => "text" }					

					%br
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorLastDay" } c. Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorLastDay" } Tanggal terakhir konsultasi:					
					%table#DatePolicyHolderTumorLastDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLastMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLastYear.BoxSquare.PositionerRight
					%br	

					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorDoctName"} Nama Lengkap Dokter:
					%input#TextPolicyHolderTumorDoctName.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorPhone"} No. Telepon/Handphone:
					%input#TextPolicyHolderTumorPhone.LineDot.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinic"} Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderTumorClinic.LineDot.Long.Single.PositionerLeft{ :type => "text" }					

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorAddress"} Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderTumorAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.PositionerLeft d.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapy" } Pengobatan/tindakan apa yang diberikan setelah dilakukan operasi tumor?
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorTherapyDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "obattablet" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyDrug" } Obat tablet
												
						%input#RadioButtonPolicyHolderTumorTherapyRadio.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "radioterapi" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyRadio" } Radioterapi
												
						%input#RadioButtonPolicyHolderTumorTherapyKemo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "kemoterapi" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyKemo" } Kemoterapi
						%br	
																		
						%input#RadioButtonPolicyHolderTumorTherapyOther.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyOther" } Lainnya, Sebutkan.
						%br
						%input#TextPolicyHolderTumorTherapyOther.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br
					%span.Number.PositionerLeft e
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosa" } Apakah anda pernah diberi informasi tentang prognosa (ramalan) atas tumor tersebut?
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorPrognosaYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorPrognosa", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosaYes" } Ya
												
						%input#RadioButtonPolicyHolderTumorPrognosaNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorPrognosa", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosaNo" } Tidak
						%br					
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorPrognosa"}
						Mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderTumorPrognosa.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br												
					
						%label.Wrap.Single.PositionerRight{ :for => "TablePolicyHolderTumorCheckup" } f. Pemeriksaan-pemeriksaan apa saja yang telah dilakukan, termasuk tanggal dan hasil pemeriksaan tersebut.
						
						%table#TablePolicyHolderTumorCheckup
						%thead
							%tr
								%th Jenis Pemeriksaan
								%th Tanggal Pemeriksaan
								%th Hasil Pemeriksaann										
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td								
						%br
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorActionDesc"}
						g. Pengobatan atau tindakan operasi apa saja yang pernah dianjurkan?
						%br
						%input#TextPolicyHolderTumorActionDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br									
					
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorWhenLast" } Apakah sampai saat ini masih dalam pengobatan?
					%br
					
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorCurrentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorCurrent", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorCurrentYes" } Ya
						
						%input#RadioButtonPolicyHolderTumorCurrentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorCurrent", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorCurrentNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorLastTherapyDay" } Tanggal terakhir perawatan:
					
					%table#DatePolicyHolderTumorLastTherapyDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLastTherapyMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLastTherapyYear.BoxSquare.PositionerRight
					%br
					
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorReason"} Alasan:
					%input#TextPolicyHolderTumorReason.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorTreatment"} 
					Pengobatan
					%input#TextPolicyHolderTumorTreatment.Line.Long.Single.PositionerLeft{ :type => "text" }
					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorHowOften"} Berapa kali dalam 1 (satu) tahun:
					%input#TextPolicyHolderTumorHowOften.Line.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorDocterName"} Nama Lengkap Dokter:
					%input#TextPolicyHolderTumorDocterName.Line.Long.Single.PositionerLeft{ :type => "text" }					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorTelephone"} No. Telepon/Handphone:
					%input#TextPolicyHolderTumorTelephone.Line.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinicName"} Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderTumorClinicName.Line.Long.Single.PositionerLeft{ :type => "text" }
					
					%br					
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinicAddrs"} Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderTumorClinicAddrs.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%br
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorWhenLast" } Apakah Anda pernah tidak masuk kerja karena kondisi ini?
					%br
					
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorLeaveYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorLeave", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorLeaveYes" } Ya
						
						%input#RadioButtonPolicyHolderTumorLeaveNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorLeave", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorLeaveNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorLeaveDay" } Jika “Ya”, kapan:
					
					%table#DatePolicyHolderTumorLeaveDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLeaveMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLeaveYear.BoxSquare.PositionerRight
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorHowLong"} Dan berapa lama?
					%input#TextPolicyHolderTumorHowLong.Line.Short.Single.PositionerLeft{ :type => "text" } Hari
					%br

					%br
					%span.Number.PositionerLeft 7
					Sebutkan kapan terakhir kali Anda melakukan konsultasi dengan dokter? Mohon lengkapi pertanyaan pada kolom di bawah ini dan mohon dilampirkan fotokopi hasil pemeriksaan.

					%table#TablePolicyHolderTumorLastConsult
						%thead
							%tr
								%th Jenis Pemeriksaan
								%th Tanggal Pemeriksaan
								%th Hasil Pemeriksaann										
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td								
						%br
						
					%br
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderTumorAdditionalInfo.Line.Long.Single.PositionerLeft{ :type => "text"}
					%br 
					
					%h2 PERNYATAAN DAN KUASA
					%div.Note
						Perlu diperhatikan: 
						%ol
							%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Nyeri Dada ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
							%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
							%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
							%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
							%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorSignedBy" } Ditandatangani
					%input#TextPolicyHolderTumorSignedBy.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorSigned" } Tanggal
					%span.Separator.Single.PositionerLeft
					%table#DatePolicyHolderTumorSignedDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorSignedMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorSignedYear.BoxSquare.PositionerLeft
					%br
							
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Pemegang Polis
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Tertanggung
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail Tenaga Penjual						
						