!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				boxGenerator("#TextProspectiveInsuredEpilepsySPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredEpilepsyFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredEpilepsyFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredEpilepsyBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY				
				boxGenerator("#DateProspectiveInsuredEpilepsySignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsySignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsySignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#DateProspectiveInsuredEpilepsyLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyLastYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#DateProspectiveInsuredEpilepsyLastconsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyLastconsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredEpilepsyLastconsultYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../Resource/Logo/logo_bcalife_healthquestionnaire.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER EPILEPSI DAN KEJANG
			%br

			%div.Note
				Perlu diperhatikan:
				%ol
					%li Wajib diisi oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung dengan tinta hitam, huruf cetak, jelas dan memberi tanda (√) pada kotak sesuai pilihan.
					%li Wajib menandatangani setiap koreksi penulisan (jika ada).
					%li Penulisan tanggal selalu mempergunakan format Tanggal-Bulan-Tahun.
					%li Apabila diperlukan dapat mempergunakan lembar terpisah pada kertas HVS A4 yang diisi dan ditandatangani oleh (Calon) Pemegang Polis, (Calon) Tertanggung dan Tenaga Penjual.
					%li Apabila telah diisi lengkap oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung wajib diserahkan ke Kantor Pusat PT Asuransi Jiwa BCA (“Penanggung”).

		/ MAIN

		%main
			%form
				%h2 I. DATA (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsySPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
					%table#TextProspectiveInsuredEpilepsySPAJNumber.BoxSquare.PositionerLeft
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
					%table#TextProspectiveInsuredEpilepsyFullName1.BoxSquare.PositionerLeft
					%br
					%table#TextProspectiveInsuredEpilepsyFullName2.BoxSquare.PositionerLeft

					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyBirthdayPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
					%input#TextProspectiveInsuredEpilepsyBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft ,
					%table#DateProspectiveInsuredEpilepsyBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredEpilepsyBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredEpilepsyBirthdayYear.BoxSquare.PositionerLeft
					%br

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset

					%span.Number.PositionerLeft 1. 
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsySince" } Sejak umur berapa Anda terserang epilepsi?
					%input#TextProspectiveInsuredEpilepsySince.Line.Short.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.PositionerLeft 2. 
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyHowMany" } Berapa kali Anda terserang epilepsi?
					%input#TextProspectiveInsuredEpilepsyHowMany.Line.Short.Single.PositionerLeft{ :type => "text" }
					kali per (Bulan/Tahun*) *coret yang tidak perlu
					%br
					
					%span.Number.PositionerLeft 3. 
					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredEpilepsyLast" } Kapan terakhir kali Anda terserang epilepsi?
					%table#DateProspectiveInsuredEpilepsyLastDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredEpilepsyLastMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredEpilepsyLastYear.BoxSquare.PositionerRight

					%br

					%span.Number.Single.PositionerLeft 4. 
					%label.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyWhatHappen" } Pada saat Anda terserang epilepsi, apakah:
					%br
					
					%div.RadioButton.NumberIndent
						%input#RadioButtonProspectiveInsuredEpilepsyWhatHappenLostConsciousness.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyWhatHappen", :value => "lostconsciousness" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyWhatHappenLostConsciousness" } Hanya hilang kesadaran sejenak tanpa kaku-kaku, kemudian lupa dengan apa yang telah terjadi.
						%br
						%input#RadioButtonProspectiveInsuredEpilepsyWhatHappenSuddenlyFall.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyWhatHappen", :value => "suddenlyfall" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyWhatHappenSuddenlyFall", :style => "width: 600px;" }
							Tiba-tiba jatuh atau kaku-kaku pada seluruh tubuh dengan irama kaku-lemas-kaku secara bergantian, juga terjadi pada otot-otot wajah dengan mulut berbusa. Dan pada saat terjadi kedua kaki dan lengan lurus, kesadaran hilang dan bila berakhir, kemudian tertidur.
					%br
					
					%span.Number.PositionerLeft 5. 
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyIsFeelYes" } Sebelum  terjadi  serangan,  apakah  Anda  merasakan  adanya  pusing-pusing,  mencium  bau-bauan,  melihat cahaya, atau bunyi-bunyian?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyIsFeelYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyIsFeel", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyIsFeelYes" } Ya
						
						%input#RadioButtonProspectiveInsuredEpilepsyIsFeelNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyIsFeel", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyIsFeelNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyIsFeelDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredEpilepsyIsFeelDesc.Line.Short.Single.PositionerLeft{ :type => "text" } 
					%br


					%span.Number.PositionerLeft 6. 
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyTreated" } Apakah Anda pernah dirawat karena epilepsi?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyTreatedYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyTreated", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyTreatedYes" } Ya
						
						%input#RadioButtonProspectiveInsuredEpilepsyTreatedNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyTreated", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyTreatedNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyTreatedDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredEpilepsyTreatedDesc.Line.Short.Single.PositionerLeft{ :type => "text" } 
					%br
					
					%br
					%span.Number.PositionerLeft 7. 
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyConsult" } Apakah Anda selalu berkonsultasi/berobat ke Dokter?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyConsultYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsult", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyConsultYes" } Ya
						
						%input#RadioButtonProspectiveInsuredEpilepsyConsultNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsult", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyConsultNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyConsultDoctorName" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyConsultDoctorName"} Nama Lengkap Dokter:
					%input#TextProspectiveInsuredEpilepsyConsultDoctorName.LineDot.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyConsultDoctorPhone"} No. Telepon/Handphone:
					%input#TextProspectiveInsuredEpilepsyConsultDoctorPhone.LineDot.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyConsultDoctorAddress"} Alamat Lengkap Dokter :
					%input#TextProspectiveInsuredEpilepsyConsultDoctorAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%br
					%span.Number.PositionerLeft 8.
					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredEpilepsyLastconsultDay" } Kapan terakhir kali Anda berkonsultasi dengan dokter?
					
					%table#DateProspectiveInsuredEpilepsyLastconsultDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredEpilepsyLastconsultMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredEpilepsyLastconsultYear.BoxSquare.PositionerRight

					%br

					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyGetDrug" } Apakah Anda mendapat obat dokter?

					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyGetDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyGetDrug", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyGetDrugYes" } Ya
						
						%input#RadioButtonProspectiveInsuredEpilepsyGetDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyGetDrug", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyGetDrugNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TableProspectiveInsuredEpilepsyDrugList" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
					%br
					%table#TableProspectiveInsuredEpilepsyDrugList
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi										
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td								
						%br


					%span.Number.PositionerLeft 9.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyConsumDrug" } Apakah Anda masih minum obat secara teratur hingga saat ini?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyConsumDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsumDrug", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyConsumDrugYes" } Ya
						
						%input#RadioButtonProspectiveInsuredEpilepsyConsumDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsumDrug", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyConsumDrugNo" } Tidak
						%br								


					%span.Number.PositionerLeft 10.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyInfected" } Apakah Anda pernah menderita penyakit infeksi selaput otak/gegar otak sebelumnya?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyInfectedYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyInfected", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyInfectedYes" } Ya 
						
						%input#RadioButtonProspectiveInsuredEpilepsyInfectedNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyInfected", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyInfectedNo" } Tidak
						%br								

					%span.Number.PositionerLeft 11.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyHistory" } Apakah ada riwayat keluarga Anda yang menderita epilepsi?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyHistoryYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyHistory", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyHistoryYes" } Ya
						
						%input#RadioButtonProspectiveInsuredEpilepsyHistoryNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyHistory", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyHistoryNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyHistoryDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredEpilepsyHistoryDesc.Line.Full.Single.PositionerLeft{ :type => "text" } 
					%br

					%span.Number.PositionerLeft 12.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherDiseases" } Apakah Anda menderita penyakit lain seperti di bawah ini:
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredOtherDiseasesDiabetes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "diabetes" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherDiseasesDiabetes" } Kencing Manis (Diabetes Melitus)
						
						%input#RadioButtonProspectiveInsuredOtherDiseasesHipertensi.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "hipertensi" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherDiseasesHipertensi" } Darah Tinggi (Hipertensi)
						
						%input#RadioButtonProspectiveInsuredOtherDiseasesTumor.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "tumor" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherDiseasesTumor" } Tumor
						
						%input#RadioButtonProspectiveInsuredOtherDiseasesComplication.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "complication" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredOtherDiseasesComplication" } Penyakit komplikasi lainnya, sebutkan 

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyComplicationDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredEpilepsyComplicationDesc.Line.Short.Single.PositionerLeft{ :type => "text" } 
					%br
					Mohon mengisi Kuesioner sesuai dengan penyakit lainnya yang Anda derita sesuai dengan pilihan pada nomor 12
					%br								

					%span.Number.PositionerLeft 13.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyCheckup" } Apakah Anda pernah melakukan pemeriksaan berikut?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredEpilepsyCheckupYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyCheckup", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyCheckupYes" } Elektroensefalografi (rekaman syaraf otak)
						
						%input#RadioButtonProspectiveInsuredEpilepsyCheckupNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyCheckup", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredEpilepsyCheckupNo" } Rontgen photo tengkorak (kepala)
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyCheckupDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredEpilepsyCheckupDesc.Line.Full.Single.PositionerLeft{ :type => "text" } 
					%br

					%span.Number.PositionerLeft 14.
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsyInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredEpilepsyInfo.Line.Full.Single.PositionerLeft{ :type => "text" } 
					%br


					%h2 PERNYATAAN DAN KUASA
					%div.Note
						Perlu diperhatikan: 
						%ol
							%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Nyeri Dada ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
							%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
							%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
							%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
							%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsySignedBy" } Ditandatangani
					%input#TextProspectiveInsuredEpilepsySignedBy.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredEpilepsySigned" } Tanggal
					%span.Separator.Single.PositionerLeft
					%table#DateProspectiveInsuredEpilepsySignedDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredEpilepsySignedMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredEpilepsySignedYear.BoxSquare.PositionerLeft
					%br
							
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Pemegang Polis
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Tertanggung
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail Tenaga Penjual						
						