!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 6j(Sub) Form

		/ JQUERY

		:javascript
			$(document).ready(function()
			{

			});


	/ BODY

	%body#Main

		/ MAIN

		%main
			%form#HealthQuestionnaireMain
				%div.ContainerFit
					%span.Multi.Single.6j Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
				%br
				%h2 KUESIONER KELAINAN KELENJAR GONDOK
				%hr
				%label.Medium.Single silahkan memberikan rincian lebih lanjut
				%br
				%input#TextPolicyHolderKuesionerKelainanKelenjarGondokSub.Full.Multi.Item.Margin{ :type =>"text" }
				%label.Medium.Single (maksimum 250 karakter)
				

				
								
				
				
				
				
				
				
				
					
					
				
				
				
			