!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_spajform_header.haml")).render
		%title BCA Life - Form 6e

		/ JQUERY

		:javascript
			$(document).ready(function()
			{
				$("#BoxDate").DateTimePicker(
				{
					dateSeparator: "/",
					dateFormat: "dd/MM/yyyy"
				});
				
				radioButtonOtherGenerator("RadioButtonProspectiveInsuredDigest", "#TextProspectiveInsuredDigestOther", "other");
				radioButtonOtherGenerator("RadioButtonProspectiveInsuredDigestComplainFelt", "#TextProspectiveInsuredDigestComplainFeltOther", "other");
				radioButtonOtherGenerator("RadioButtonProspectiveInsuredDigestPainComplain", "#TextProspectiveInsuredDigestPainComplainOther", "other");
			});

	/ BODY

	%body#Main

		/ MAIN
		
		%header
			%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
			%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
			%h2 KUESIONER GANGGUAN PENCERNAAN							


		%main
			%form#HealthQuestionnaireMain
				%div.ContainerFit
					%span.Multi.Single.6e Gangguan fungsi/sistem Pencernaan & Organ dalam Perut/Lambung, Maag, Hernia,Hepatitis dan lainnya?
				%br
				%hr
				%div.ContainerFit
					%label.medium.Single.Item 1. Jelaskan gangguan pencernaan yang pernah dialami?
				%br
				
				%div.RadioButton.PositionerLeft
					%input#RadioButtonProspectiveInsuredDigestTukakLambung.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "tukaklambung" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestTukakLambung" } tukak lambung
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestTukakUsus.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "tukakusus" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestTukakUsus" } tukak usus
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestRadangUsusBesar.Medium.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "radangususbesar" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestRadangUsusBesar" } radang usus besar
					%div.Separator					
					%input#RadioButtonProspectiveInsuredDigestRadangUsus12Jari.Medium.Single{ :type => "radio", :name =>"RadioButtonProspectiveInsuredDigest", :value => "radangusus12Jari" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestRadangUsus12Jari" } radang usus 12 jari
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestMaag.Medium.Single{ :type => "radio", :name =>"RadioButtonProspectiveInsuredDigest", :value => "maag" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestMaag" } maag					
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestOther{ :type => "radio", :name =>"RadioButtonProspectiveInsuredDigest", :value => "other" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestOther" } lainnya
				%br
					%input#TextProspectiveInsuredDigestOther.Full.Single.Item1.Margin{ :type =>"text" }
					
				%hr
				%div.ContainerFit					
					%label#LabelProspectiveInsuredDigestSinceStarted.Long.Single.Item3.Margin 2. Sejak kapan mengalami gangguan pencernaan?
					%input#DateProspectiveInsuredDigestSinceStarted.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }						
					
				%hr	
				%label.medium.Single.Item 3. a. Frekuensi timbulnya dalam satu bulan?
				%br    
				%input#TextProspectiveInsuredDigestFrequencyInMonth.Full.Single.Item1.Margin{ :type =>"text" }
				%br
				%div.ContainerFit
					%label#LabelProspectiveInsuredDigestLastArise.Long.Single.Item3.Margin b. Kapan timbulnya keluhan terakhir?
					%input#DateProspectiveInsuredDigestLastArise.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }					
				%hr
				%div.RadioButton.PositionerLeft
					%label.medium.Single.Item 4. Keluhan apa yang dirasakan:
					%input#RadioButtonProspectiveInsuredDigestComplainFeltMual.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "mual" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltMual" } mual
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestComplainFeltMuntah.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "muntah" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltMuntah" } muntah
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestComplainFeltMuntahDarah.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "muntahdarah" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltMuntahDarah" } muntah darah
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestComplainFeltNyeriuluhati.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "nyeriuluhati" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltNyeriuluhati" } nyeri ulu hati
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestComplainFeltOther.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "other" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltOther" } lainnya
				%br
					%input#TextProspectiveInsuredDigestComplainFeltOther.Full.Single.Item1.Margin{ :type =>"text" }
				%hr
				%br
				
				%div.RadioButton.PositionerLeft
					%label.medium.Single.Item 5. Apakah Anda pernah mengalami muntah darah?
					%input#RadioButtonProspectiveInsuredDigestVomitingBloodNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestVomitingBlood", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestVomitingBloodNo" } Tidak
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestVomitingBloodYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestVomitingBlood", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestVomitingBloodYes" } Ya				
				%br
				%div.ContainerFit 
					%label#LabelProspectiveInsuredDigestVomitingBloodLastArise.Long.Single.Item3.Margin Jika "Ya", kapan terakhir Anda mengalaminya?
					%input#DateProspectiveInsuredDigestVomitingBloodLastArise.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%br
				
				%div.ContainerFit 
					%label#LabelProspectiveInsuredDigestVomitingBloodAriseTime.Long.Single.Item3.Margin Berapa kali Anda mengalami muntah darah?
					%input#TextProspectiveInsuredDigestVomitingBloodAriseTime.Short.Single.Item1.Margin{ :type => "text" }
				%br
				
				%label.medium.Single.Item Mohon menjelaskan secara rinci dan cara mengatasinya pada kolom di bawah ini.
				%br
				%input#TextProspectiveInsuredDigestVomitingBloodSolvingWay.Full.Single.Item1.Margin{ :type =>"text" }
				%br
				
				%hr
				%div.RadioButton.PositionerLeft
					%label.medium.Single.Item 6. Jelaskan keluhan nyeri yang dirasakan :
					%br
					%input#RadioButtonProspectiveInsuredDigestPainComplainKondisiTertentu.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Timbulpadakondisitertentu" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKondisiTertentu" } Timbul pada kondisi tertentu
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBerkurang.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Nyeriberkurangbilasedangmakan" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBerkurang" } Nyeri berkurang bila sedang makan
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBertambah.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Nyeribertambahbilasedangmakan" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBertambah" } Nyeri bertambah bila sedang makan
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainKeSeluruhTubuh.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Nyerimenjalarkeseluruhtubuhlain" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKeSeluruhTubuh" } Nyeri menjalar ke seluruh tubuh lain
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainPerut.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Perut" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainPerut" } Perut
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainLengan.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Lengan" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainLengan" } Lengan
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainDada.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "Dada" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainDada" } Dada
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestPainComplainOther.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "other" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainOther" } Lainnya
					
				%br
					%input#TextProspectiveInsuredDigestPainComplainOther.Full.Single.Item.Margin{ :type =>"text" }
				%hr
				
				%label.medium.Single.Item 7. Jelaskan nama obat dan lama pemakainnya sehubungan dengan gangguan pencernaan :
				%br    
				%input#TextProspectiveInsuredDigestDrugsName.Full.Single.Item1.Margin{ :type =>"text" }
				%br
				%hr
				
				%div.RadioButton.PositionerLeft
					%label.medium.Single.Item 8. Apakah obat tersebut diperoleh berdasarkan resep dokter?
					%input#RadioButtonProspectiveInsuredDigestDoctorRecipeNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestDoctorRecipe", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestDoctorRecipeNo" } Tidak
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestDoctorRecipeYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestDoctorRecipe", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestDoctorRecipeYes" } Ya
				%br
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Nama Dokter
					%input#TextProspectiveInsuredDigestDoctorName.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Alamat Dokter
					%input#TextProspectiveInsuredDigestDoctorAddress.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%hr
				
				%label.medium.Single.Item 9. Mohon jelaskan secara rinci pada kolom di bawah ini jenis dan hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan pencernaan ini, termasuk tanggal pemeriksaannya. (Lampirkan fotokopi hasil pemeriksaan)
				%br    
				%input#TextProspectiveInsuredDigestResultOfTheExamination.Full.Single.Item1.Margin{ :type =>"text" }
				%br
				%hr
				
				%label.medium.Single.Item 10. Apakah pernah mendapatkan perawatan rumah sakit sehubungan dengan gangguan pencernaan tersebut?
				%br
				%div.RadioButton.PositionerLeft
					%input#RadioButtonProspectiveInsuredDigestHospitalCareNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestHospitalCare", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestHospitalCareNo" } Tidak
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestHospitalCareYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestHospitalCare", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestHospitalCareYes" } Ya
														
				%input#TextProspectiveInsuredDigestHospitalCareWhen.Medium.Single.PositionerRight.Margin{ :type => "text", "data-field" => "date" }
				%label#LabelProspectiveInsuredDigestHospitalCareWhen.Wrap.Single.PositionerRight.Margin Kapan
				%br
				
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Lama Perawatan
					%input#TextProspectiveInsuredDigestHospitalCareHowLong.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Nama Dokter
					%input#TextProspectiveInsuredDigestHospitalCareDoctorName.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Alamat Dokter
					%input#TextProspectiveInsuredDigestHospitalCareDoctorAddress.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%hr
				
				%div.RadioButton.PositionerLeft
					%label.medium.Single.Item 11. Apakah sampai saat ini masih dalam pengobatan?
					%input#RadioButtonProspectiveInsuredDigestInTreatmentNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestInTreatment", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestInTreatmentNo" } Tidak
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestInTreatmentYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestInTreatment", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestInTreatmentYes" } Ya
				%br
				
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Alasan
					%input#TextProspectiveInsuredDigestTreatmentReason.Full.Single.Item.Margin{ :type =>"text" }
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Nama Obat
					%input#TextProspectiveInsuredDigestTreatmentDrugsName.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Nama Dokter
					%input#TextProspectiveInsuredDigestTreatmentDoctorName.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%div.ContainerFit 
					%label.Long.Single.PositionerLeft Alamat Dokter
					%input#TextProspectiveInsuredDigestTreatmentDoctorAddress.Full.Single.Item.Margin{ :type =>"text" }
				%br
				%hr
				%div.RadioButton.PositionerLeft
					%label.medium.Single.Item 12. Dalam 2 tahun terakhir ini, apakah Anda pernah tidak masuk kerja karena gangguan ini ?
					%input#RadioButtonProspectiveInsuredDigestNoOfficeEntryInYearNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestNoOfficeEntryInYear", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestNoOfficeEntryInYearNo" } Tidak
					%div.Separator
					%input#RadioButtonProspectiveInsuredDigestNoOfficeEntryInYearYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestNoOfficeEntryInYear", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestNoOfficeEntryInYearYes" } Ya	
				%br
				%label#LabelProspectiveInsuredDigestNoOfficeEntryInYearWhen.Wrap.Single.PositionerLeft.Margin Kapan
				%input#TextProspectiveInsuredDigestNoOfficeEntryInYearWhen.Medium.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }	
				%label#LabelProspectiveInsuredDigestNoOfficeEntryInYearHowLong.Wrap.Single.PositionerLeft.Margin dan berapa lama?
				%input#TextProspectiveInsuredDigestNoOfficeEntryInYearHowLong.Medium.Single.PositionerLeft.Margin{ :type => "text" }
				%br
				%hr
				
				%label.medium.Single.Item 13. Mohon sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan anda yang mungkin dapat membantu proses pengajuan Asuransi ini  
				%input#AreaProspectiveInsuredDigestOtherHealthCondition.Full.Multi.Item1.Margin{ :type =>"text" }
				%br
				%hr
				
				%h2 PERNYATAAN DAN KUASA
				%ol
					%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
					%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
					%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
					%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
				
				%div#BoxDate