!!! 5

%html

    / HEAD
    
    %head
        = Haml::Engine.new(File.read("include_spajform_header.haml")).render
        %title BCA Life - BLESS, Health Questionnaire 1 Form

        / JQUERY
        
        :javascript
            $(document).ready(function()
            {
                // SETTER
                
                // radioButtonSetter("WeightChange", true);
                
                // GETTER
                 
                // radioButtonGetter("WeightChange");
            });


    / BODY

    %body#Main

        / HEADER

        %header
            %h1 Data Perusahaan / Badan Hukum

        / MAIN

        %main
            %form
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompanyName" } Nama Lengkap
                    %input#TextPolicyHolderCompanyName.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderCompanyName" } Jenis Perusahaan
                %div.RadioButton.PositionerLeft
                    %input#RadioButtonPolicyHolderCompanyTypePT.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderCompanyTypePT" } Perseroan Terbatas
                    %div.Separator
                    %input#RadioButtonPolicyHolderCompanyTypeYayasan.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderCompanyTypeYayasan" } Yayasan
                    %div.Separator
                    %input#RadioButtonPolicyHolderCompanyTypeBUMN.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderCompanyTypeBUMN" } BUMN
                    %div.Separator
                    %input#RadioButtonPolicyHolderLainnya.Medium.Single{ :type => "radio", :name => "RadioButtonPolicyHolderCompanyType", :value => "yes" }
                    %label.RadioButton{ :for => "RadioButtonPolicyHolderCompanyTypeOther" } Lainnya
                    %input#RadioButtonPolicyHolderCompanyTypeOther.Medium.Single.PositionerRight{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompanyNoAnggaranDasar" } Nomor Anggaran Dasar/Akta Pendirian
                    %input#TextPolicyHolderCompanyNoAnggaranDasar.Full.Single.Item{ :type => "text" }
                
                %label.Medium.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyDateOfExpired" } Tanggal Berlaku
                %input#DatePolicyHolderCompanyDateOfExpired.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompanyNoSuratIjinUsaha" } Nomor Surat Ijin Usaha
                    %input#TextPolicyHolderCompanyNoSuratIjinUsaha.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTanggalBerlaku" } Tanggal Berlaku
                %input#TextPolicyHolderTanggalBerlaku.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompanyNoTDP" } Nomor TDP
                    %input#TextPolicyHolderTanggalBerlaku.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "DatePolicyHolderCompanyTDPDateOfExpired" } Tanggal Berlaku
                %input#DatePolicyHolderCompanyTDPDateOfExpired.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompanyNoSKDP" } Nomor SDKP (Domisili)
                    %input#DatePolicyHolderCompanySKDPDateOfExpired.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "DatePolicyHolderCompanySKDPDateOfExpired" } Tanggal Berlaku
                %input#DatePolicyHolderCompanySKDPDateOfExpired.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderTanggalBerlaku" } Nomor NPWP (Jika ada)
                    %input#TextPolicyHolderTanggalBerlaku.Full.Single.Item{ :type => "text" }
                %label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTanggalBerlaku" } Tanggal Berlaku
                %input#TextPolicyHolderTanggalBerlaku.Medium.Single.PositionerLeft{ :type => "text" }
                %br
                %div.ContainerFit
                    %label.Medium.Single.Item{ :for => "TextPolicyHolderCompanySector" } Bidang Usaha
                    %input#TextPolicyHolderCompanySector.Full.Single.Item{ :type => "text" }