!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextProspectiveInsuredSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DateProspectiveInsuredDigestSinceStartedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestSinceStartedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestSinceStartedYear", 4, boxTypeWithoutLabel, null);
				
				lineGenerator("#TextProspectiveInsuredDigestOther", 5);
				
				boxGenerator("#DateProspectiveInsuredDigestLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestLastAriseYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateProspectiveInsuredDigestionVomitingBloodDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestionVomitingBloodMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestionVomitingBloodYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateProspectiveInsuredDigestVomitingBloodLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestVomitingBloodLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestVomitingBloodLastAriseYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateProspectiveInsuredDigestHospitalCareWhenDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestHospitalCareWhenMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestHospitalCareWhenYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateProspectiveInsuredDigestionVomitingBlood3Day", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestionVomitingBlood3Month", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredDigestionVomitingBlood3Year", 4, boxTypeWithoutLabel, null);
		
				boxGenerator("#DateProspectiveInsuredSigned5Day", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredSigned5Month", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredSigned5Year", 4, boxTypeWithoutLabel, null);						
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../Resource/Logo/logo_bcalife_healthquestionnaire.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER GANGGUAN PENCERNAAN
			%br

			%div.Note
				Perlu diperhatikan:
				%ol
					%li Wajib diisi oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung dengan tinta hitam, huruf cetak, jelas dan memberi tanda (√) pada kotak sesuai pilihan.
					%li Wajib menandatangani setiap koreksi penulisan (jika ada).
					%li Penulisan tanggal selalu mempergunakan format Tanggal-Bulan-Tahun.
					%li Apabila diperlukan dapat mempergunakan lembar terpisah pada kertas HVS A4 yang diisi dan ditandatangani oleh (Calon) Pemegang Polis, (Calon) Tertanggung dan Tenaga Penjual.
					%li Apabila telah diisi lengkap oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung wajib diserahkan ke Kantor Pusat PT Asuransi Jiwa BCA (“Penanggung”).

		/ MAIN

		%main
			%form
				%h2 I. DATA (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
					%table#TextProspectiveInsuredSPAJNumber.BoxSquare.PositionerLeft
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
					%table#TextProspectiveInsuredFullName1.BoxSquare.PositionerLeft
					%br
					%table#TextProspectiveInsuredFullName2.BoxSquare.PositionerLeft

					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredBirthdayPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
					%input#TextProspectiveInsuredBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft ,
					%table#DateProspectiveInsuredBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredBirthdayYear.BoxSquare.PositionerLeft
					%br

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderDigest" } Gangguan pencernaan yang pernah Anda alami?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredDigestTukakLambung.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "tukaklambung" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestTukakLambung" } Tukak Lambung
						
						%input#RadioButtonProspectiveInsuredDigestTukakUsus.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "tukakusus" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestTukakUsus" } Tukak Usus
						
						%input#RadioButtonProspectiveInsuredDigestRadangUsusBesar.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "radangususbesar" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestRadangUsusBesar" } Radang Usus Besar	
						
						%input#RadioButtonProspectiveInsuredDigestRadangUsus12Jari.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "radangusus12Jari" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestRadangUsus12Jari" } Radang Usus 12 Jari
						
						%input#RadioButtonProspectiveInsuredDigestMaag.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "maag" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestMaag" } Maag
						
						%input#RadioButtonProspectiveInsuredDigestOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "other" }
						%div.BoxRound.PositionerLeft												
						%label.RadioButton.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestOther"} Lainnya, sebutkan						
						/ %input#TextProspectiveInsuredDigestOther.LineDot.PositionerLeft						
						%div#TextProspectiveInsuredDigestOther.LineDot.PositionerLeft
					%br					

					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestionWhen" } Sejak kapan anda mengalami gangguan pencernaan?
					%table#DateProspectiveInsuredDigestSinceStartedDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestSinceStartedMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestSinceStartedYear.BoxSquare.PositionerRight
					%br
					
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestFrequencyInMonth" } a. Berapa kali anda mengalami gangguan pencernaan?
					%div#TextProspectiveInsuredDigestFrequencyInMonth.Short.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestionHowMany" } kali per (bulan/tahun*) *coret yang tidak perlu					
					%br
					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredDigestLastArise" } b. Kapan timbulnya keluahan terakhir?
					%table#DateProspectiveInsuredDigestLastAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestLastAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestLastAriseYear.BoxSquare.PositionerRight
					%br					

					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredFeel" } Keluhan apa yang anda rasakan?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredDigestComplainFeltMual.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "mual" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltMual" } Mual
						
						%input#RadioButtonProspectiveInsuredDigestComplainFeltMuntah.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "muntah" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltMuntah" } Muntah
						
						%input#RadioButtonProspectiveInsuredDigestComplainFeltMuntahDarah.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "muntahdarah" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltMuntahDarah" } Muntah Darah
						
						%input#RadioButtonProspectiveInsuredDigestComplainFeltNyeriuluhati.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "nyeriuluhati" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltNyeriuluhati" } Nyeri Ulu Hati
												
						%input#RadioButtonProspectiveInsuredDigestComplainFeltOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestComplainFelt", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestComplainFeltOther"} Lainnya, sebutkan
						%div#TextProspectiveInsuredDigestComplainFeltOther.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br		

					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestVomitingBlood" } a.	Apakah Anda pernah mengalami muntah darah?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredDigestVomitingBloodNo" } Tidak   
						%input#RadioButtonProspectiveInsuredDigestVomitingBloodNo.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestVomitingBlood", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredDigestVomitingBloodYes" } Ya
						%input#RadioButtonProspectiveInsuredDigestVomitingBloodYes.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestVomitingBlood", :value => "true" }
						%div.BoxRound.PositionerRight
							
					%div.BoxRound.PositionerRight
					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredDigestVomitingBloodLastAriseDay" } b. Jika “Ya”, kapan terakhir Anda mengalaminya?
					%table#DateProspectiveInsuredDigestVomitingBloodLastAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestVomitingBloodLastAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestVomitingBloodLastAriseYear.BoxSquare.PositionerRight
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestionVomitingBloodHowMany" } c. Berapa kali Anda mengalami muntah darah?
					%div#TextProspectiveInsuredDigestVomitingBloodAriseTime.Short.Single.PositionerLeft{ :type => "text"}
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestVomitingBloodAriseTime" } kali per (bulan/tahun*) *coret yang tidak perlu					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredDigestVomitingBloodSolvingWay"} Mohon menjelaskan secara rinci dan cara mengatasinya pada kolom di bawah ini.
					%br
					%div#TextProspectiveInsuredDigestVomitingBloodSolvingWay.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestPainComplain" } Jelaskan secara rinci keluhan nyeri yang Anda dirasakan:
					%div.RadioButton
					
						%input#RadioButtonProspectiveInsuredDigestPainComplainKondisiTertentu.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "timbulpadakondisitertentu" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKondisiTertentu" } Timbul pada kondisi tertentu																
					
						%input#RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBerkurang.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "nyeriberkurangbilasedangmakan" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBerkurang" } Nyeri berkurang bila sedang makan
						
						%input#RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBertambah.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "nyeribertambahbilasedangmakan" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKeluhanNyeriBertambah" } Nyeri bertambah bila sedang makan
						
						%input#RadioButtonProspectiveInsuredDigestPainComplainKeSeluruhTubuh.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "nyerimenjalarkeseluruhtubuhlain" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainKeSeluruhTubuh" } Nyeri menjalar ke seluruh tubuh lain
						
						%input#RadioButtonProspectiveInsuredDigestPainComplainPerut.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "perut" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainPerut" } Perut
						
						%input#RadioButtonProspectiveInsuredDigestPainComplainLengan.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "lengan" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainLengan" } Lengan
						
						%input#RadioButtonProspectiveInsuredDigestPainComplainDada.Single{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "dada" }
						%label.RadioButton{ :for => "RadioButtonProspectiveInsuredDigestPainComplainDada" } Dada
						
						%input#RadioButtonProspectiveInsuredDigestPainComplainOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestPainComplain", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredDigestPainComplainOther"} Lainnya, sebutkan
						%div#TextProspectiveInsuredDigestPainComplainOther.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestDrugsName" } Mohon jelaskan secara rinci pada kolom di bawah ini mengenai nama obat yang Anda konsumsi dan lama pemakaiannya sehubungan dengan gangguan pencernaan?
					%br
					%div#TextProspectiveInsuredDigestDrugsName.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestDoctorRecipe" } Apakah obat yang Anda peroleh tersebut berdasarkan resep dokter?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredDigestDoctorRecipeNo" } Tidak
						%input#RadioButtonProspectiveInsuredDigestDoctorRecipeNo.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestDoctorRecipe", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredDigestDoctorRecipeYes" } Ya
						%input#RadioButtonProspectiveInsuredDigestDoctorRecipeYes.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestDoctorRecipe", :value => "true" }
						%div.BoxRound.PositionerRight
					%label.Wrap.Single.PositionerLeft{:for => "TextProspectiveInsuredVomitingBlood"} Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
					%br
					
							
					%table
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td				
						%br
					
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredDigestDoctorName" } Nama Lengkap Dokter:
					%div#TextProspectiveInsuredDigestDoctorName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredDigestDoctorPhoneNo" } No. Telepon/Handphone:
					%div#TextProspectiveInsuredDigestDoctorPhoneNo.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredDigestHospitalName" } No. Nama Klinik/Rumah Sakit:
					%div#TextProspectiveInsuredDigestHospitalName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredDigestDoctorAddress" } Alamat Klinik/Rumah Sakit:
					%div#TextProspectiveInsuredDigestDoctorAddress.Short.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.PositionerLeft 9
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestResultOfTheExamination" } Mohon jelaskan secara rinci pada kolom di bawah ini jenis dan hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan pencernaan ini, termasuk tanggal pemeriksaannya. (Lampirkan fotokopi hasil pemeriksaan)
					%br
					%div#TextProspectiveInsuredDigestResultOfTheExamination.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%br
					
					%span.Number.PositionerLeft 10
					%label.Wrap.PositionerLeft{ :for => "RadioButtonProspectiveInsuredDigestHospitalCare" } Apakah Anda pernah mendapatkan perawatan Rumah Sakit sehubungan dengan gangguan pencernaan tersebut?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredDigestHospitalCareNo" } Tidak
						%input#RadioButtonProspectiveInsuredDigestHospitalCareNo.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestHospitalCare", :value => "false" }
						%div.BoxRound.PositionerRight
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredDigestHospitalCareYes" } Ya
						%input#RadioButtonProspectiveInsuredDigestHospitalCareYes.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigestHospitalCare", :value => "true" }
						%div.BoxRound.PositionerRight
						
					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredDigestHospitalCareWhen" } Jika “Ya”, sejak kapan?
					
					%table#DateProspectiveInsuredDigestHospitalCareWhenDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestHospitalCareWhenMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestHospitalCareWhenYear.BoxSquare.PositionerRight

					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredDigestionVomitingBlood3Day" } s/d
					
					%table#DateProspectiveInsuredDigestionVomitingBlood3Day.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestionVomitingBlood3Month.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredDigestionVomitingBlood3Year.BoxSquare.PositionerRight


					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestHospitalCareHowLong" } Lama perawatan
					%div#TextProspectiveInsuredDigestHospitalCareHowLong.Short.Single.PositionerLeft{ :type => "text"}
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestionVomitingBloodHowMany" } (bulan/tahun*) *coret yang tidak perlu
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredDigestionVomitingBloodDesc"} Mohon menjelaskan secara rinci dan cara mengatasinya pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredDigestionVomitingBloodDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br	
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestionVomitingBloodHowMany" } a.	Nama Dokter
					%input#TextProspectiveInsuredDigestionVomitingBloodHowMany.Short.Single.PositionerLeft{ :type => "text"}
					%br	
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredDigestionVomitingBloodHowMany" } b.	Alamat Dokter
					%input#TextProspectiveInsuredDigestionVomitingBloodHowMany.Short.Single.PositionerLeft{ :type => "text"}					
					%br
					%br
					
					%span.Number.PositionerLeft 11
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredVomitingBlood" } Apakah Anda sampai saat ini masih dalam pengobatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredVomitingBloodNo" } Tidak
						%input#RadioButtonProspectiveInsuredVomitingBloodNo.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredVomitingBloodNo", :value => "false" }						
						%div.BoxRound.PositionerRight
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredVomitingBloodYes" } Ya
						%input#RadioButtonProspectiveInsuredVomitingBloodYes.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredVomitingBloodYes", :value => "true" }
						%div.BoxRound.PositionerRight
					%br	
					%label.Wrap.Single.PositionerLeft{:for => "TextProspectiveInsuredVomitingBlood"} Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
					%br
							
					%table
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td				
						%br					
					
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredConsulToDoctorDiagnosis" } Nama Lengkap Dokter:
					%input#TextProspectiveInsuredConsulToDoctorDiagnosis.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredConsulToDoctorFullNameDoctor" } No. Telepon/Handphone:
					%input#TextProspectiveInsuredConsulToDoctorFullNameDoctor.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredConsulToDoctorPhone" } Nama Klinik/Rumah Sakit:
					%input#TextProspectiveInsuredConsulToDoctorPhone.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredConsulToDoctorHospitalName" } Alamat Klinik/Rumah Sakit:
					%input#TextProspectiveInsuredConsulToDoctorHospitalName.Short.Single.PositionerLeft{ :type => "text" }				
					%br
					%br
					
					%span.Number.PositionerLeft 12
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredTreatment" } Dalam 2 tahun terakhir ini, apakah Anda pernah tidak masuk kerja karena gangguan ini?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredTreatment" } Tidak
						%input#RadioButtonProspectiveInsuredTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredTreatmentNo", :value => "false" }
						%div.BoxRound.PositionerRight
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonProspectiveInsuredTreatment" } Ya
						%input#RadioButtonProspectiveInsuredTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonProspectiveInsuredTreatmentYes", :value => "true" }
						%div.BoxRound.PositionerRight
						
						%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredTreatmentReason" } Jika “Ya”, kapan?.
						
						%table#DateProspectiveInsuredDigestionVomitingBlood4Day.BoxSquare.PositionerRight
						%span.Separator.Single.PositionerRight /
						%table#DateProspectiveInsuredDigestionVomitingBlood4Month.BoxSquare.PositionerRight
						%span.Separator.Single.PositionerRight /
						%table#DateProspectiveInsuredDigestionVomitingBlood4Year.BoxSquare.PositionerRight

						%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredTreatmentReason" } Berapa lama?
						
						%input#TextProspectiveInsuredTreatmentReason.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredTreatmentReason" } hari.
					%br					

					%span.Number.PositionerLeft 13
					%label.Wrap.PositionerLeft{ :for => "AreaProspectiveInsuredDigestOtherHealthCondition" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#AreaProspectiveInsuredDigestOtherHealthCondition.Long.Single.PositionerLeft{ :type => "text" }
					%br	

					%h2 PERNYATAAN DAN KUASA
					%div.Note
						Perlu diperhatikan: 
						%ol
							%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Nyeri Dada ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
							%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
							%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
							%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
							%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredSigned" } Ditandatangani
					%input#TextProspectiveInsuredBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredSigned" } Tanggal
					%span.Separator.Single.PositionerLeft
					%table#DateProspectiveInsuredSigned5Day.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredSigned5Month.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredSigned5Year.BoxSquare.PositionerLeft
					%br
							
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Pemegang Polis
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Tertanggung
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail Tenaga Penjual						