!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				boxGenerator("#TextProspectiveInsuredHypertentionSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredHypertentionFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredHypertentionFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredHypertentionBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#DateProspectiveInsuredHypertentionFirstTimeDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionFirstTimeMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionFirstTimeYear", 4, boxTypeWithoutLabel, null);
				
				
				boxGenerator("#DateProspectiveInsuredHypertentionWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionWhenStartYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DateProspectiveInsuredHypertentionSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredHypertentionSignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%img{ :src => "../../Resource/Logo/logo_bcalife_healthquestionnaire.svg" }
			%span.Header PT Asuransi Jiwa BCA
			%span.Detail
			%br

			%h1 KUESIONER TEKANAN DARAH TINGGI
			%br

			%div.Note
				Perlu diperhatikan:
				%ol
					%li Wajib diisi oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung dengan tinta hitam, huruf cetak, jelas dan memberi tanda (√) pada kotak sesuai pilihan.
					%li Wajib menandatangani setiap koreksi penulisan (jika ada).
					%li Penulisan tanggal selalu mempergunakan format Tanggal-Bulan-Tahun.
					%li Apabila diperlukan dapat mempergunakan lembar terpisah pada kertas HVS A4 yang diisi dan ditandatangani oleh (Calon) Pemegang Polis, (Calon) Tertanggung dan Tenaga Penjual.
					%li Apabila telah diisi lengkap oleh (Calon) Pemegang Polis dan/atau (Calon) Tertanggung wajib diserahkan ke Kantor Pusat PT Asuransi Jiwa BCA (“Penanggung”).

		/ MAIN

		%main
			%form
				%h2 I. DATA (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionSPAJNumber" } Nomor Surat Pengajuan Asuransi Jiwa: (SPAJ)/Polis Asuransi
					%table#TextProspectiveInsuredHypertentionSPAJNumber.BoxSquare.PositionerLeft
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.Multi.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionFullName1" } Nama Lengkap (Calon) Tertanggung: (sesuai dengan KTP/Paspor)
					%table#TextProspectiveInsuredHypertentionFullName1.BoxSquare.PositionerLeft
					%br
					%table#TextProspectiveInsuredHypertentionFullName2.BoxSquare.PositionerLeft

					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionBirthdayPlace" } Tempat, Tanggal lahir (Calon) Tertanggung:
					%input#TextProspectiveInsuredHypertentionBirthdayPlace.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft ,
					%table#DateProspectiveInsuredHypertentionBirthdayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredHypertentionBirthdayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredHypertentionBirthdayYear.BoxSquare.PositionerLeft
					%br

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset

					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "DateProspectiveInsuredHypertentionFirstTimeDay" } a. Kapan pertama kali Anda mengetahui menderita tekanan darah tinggi?
					%table#DateProspectiveInsuredHypertentionFirstTimeDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredHypertentionFirstTimeMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredHypertentionFirstTimeYear.BoxSquare.PositionerRight
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionNumOfBloodPressure" } b. Berapa tekanan darah Anda saat itu
					%input#TextProspectiveInsuredHypertentionNumOfBloodPressure.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%label.Wrap.PositionerLeft mmHg
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionPainLocation" } 	c. Mengapa Anda saat itu melakukan pemeriksaan tekanan darah?

					%div.RadioButton
					
						%input#ProspectiveInsuredHypertentionCheckReasonGeneral.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckReason", :value => "pemeriksaanrutin" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "ProspectiveInsuredHypertentionCheckReasonGeneral" } Pemeriksaan Rutin									
						
						%input#RadioButtonProspectiveInsuredHypertentionCheckReasonOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckReason", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckReasonOther" } Keluhan Lainnya   
						%br														
					
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionPainLocationOthers"}   (mohon jelaskan secara rinci pada kolom di bawah ini).
						%br
						%input#TextProspectiveInsuredHypertentionCheckReasonDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br										
					
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionPainLocation" } 	d. Apakah dikonsultasikan ke Dokter?

					%div.RadioButton
					
						%input#RadioButtonProspectiveInsuredHypertentionDoctorConsultYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionDoctorConsult", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionDoctorConsultYes" } Ya									
						
						%input#RadioButtonProspectiveInsuredHypertentionDoctorConsultNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionDoctorConsult", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionDoctorConsultNo" } Tidak 
						%br														
					
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft Jika “Ya”, mohon mengisi kolom di bawah ini.
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionDoctorName"}  Nama Lengkap Dokter: 
						%input#TextProspectiveInsuredHypertentionDoctorName.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br	
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionDoctorAddress"}  Alamat Lengkap Dokter: 
						%input#TextProspectiveInsuredHypertentionDoctorAddress.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br	

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionHowOftenCheckupToDoctor" } e. Berapa sering Anda kontrol ke Dokter
					%input#TextProspectiveInsuredHypertentionHowOftenCheckupToDoctor.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%label.Wrap.PositionerLeft kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu
					%br							
							
					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionWhen" } Apakah kenaikan tekanan darah Anda tersebut berhubungan dengan penyakit sebagai berikut:
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredHypertentionRelatedToHeart.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionRelatedTo", :value => "heart" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionRelatedToHeart" } Jantung
											
						%input#RadioButtonProspectiveInsuredHypertentionRelatedToBrain.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionRelatedTo", :value => "brain" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionRelatedToBrain" } Otak
											
						%input#RadioButtonProspectiveInsuredHypertentionRelatedToKidney.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionRelatedTo", :value => "kidney" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionRelatedToKidney" } Ginjal

						%input#RadioButtonProspectiveInsuredHypertentionRelatedToOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionRelatedTo", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionRelatedToOther" } Lainnya, sebutkan									
						%input#TextProspectiveInsuredHypertentionRelatedToOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }											
					%br
					
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionHowMany" } a.	Kapan Anda memulai pengobatan kenaikan tekanan darah tersebut
					%table#DateProspectiveInsuredHypertentionWhenStartDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredHypertentionWhenStartMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DateProspectiveInsuredHypertentionWhenSYear.BoxSquare.PositionerRight
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionWhenLast" } b.	Apakah Anda pernah berhenti minum obat?
					
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredHypertentionStopDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionStopDrug", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionStopDrugYes" } Ya
						
						%input#RadioButtonProspectiveInsuredHypertentionStopDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionStopDrug", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionStopDrugNo" } Tidak
						%br		
						
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionSpreadToOthers"} Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br
						%input#TextProspectiveInsuredHypertentionStopDrugIfYesDesc.Line.Short.Single.PositionerLeft{ :type => "text" }					
						%br				

					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionWhenLast" } c.	Apakah Anda saat ini masih dalam pengobatan?
					
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredHypertentionInTherapyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionInTherapy", :value => "yes" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionInTherapyYes" } Ya
						
						%input#RadioButtonProspectiveInsuredHypertentionInTherapyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionInTherapy", :value => "no" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionInTherapyNo" } Tidak
						%br		
						
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionSpreadToOthers"} Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br

						%table#TextProspectiveInsuredHypertentionInTherapyDrug
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td		
							%tr
								%td
								%td
								%td		
							%tr
								%td
								%td
								%td										
						%br	
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionInTherapyDocterName"} Nama Lengkap Dokter:
						%input#TextProspectiveInsuredHypertentionInTherapyDocterName.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionInTherapyPhone"} No. Telepon/Handphone:
						%input#TextProspectiveInsuredHypertentionInTherapyPhone.LineDot.Long.Single.PositionerLeft{ :type => "text" }

						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionInTherapyHospital"} Nama Klinik/Rumah Sakit:
						%input#TextProspectiveInsuredHypertentionInTherapyHospital.LineDot.Long.Single.PositionerLeft{ :type => "text" }					

						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionInTherapyHospitalAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextProspectiveInsuredHypertentionInTherapyHospitalAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
					
					%br
					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionFeel" } Apakah Anda pernah melakukan pemeriksaan sebagai berikut?
					%div.RadioButton
						%input#RadioButtonProspectiveInsuredHypertentionCheckupYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupYes" } Ya
												
						%input#RadioButtonProspectiveInsuredHypertentionCheckupNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupNo" } Tidak
												
						%input#RadioButtonProspectiveInsuredHypertentionCheckupEkg.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "ekgecg" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupEkg" } EKG/ ECG
						%br	
																		
						%input#RadioButtonProspectiveInsuredHypertentionCheckupRontgen.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "rontgendada" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupRontgen" } Rontgen dada
						%br	
																		
						%input#RadioButtonProspectiveInsuredHypertentionCheckupEchocardiogram.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "echocardiogram" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupEchocardiogram" } Echocardiogram
						%br	
																		
						%input#RadioButtonProspectiveInsuredHypertentionCheckupTreadmill.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "treadmill" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupTreadmill" } Treadmill
						%br	
											
						%input#RadioButtonProspectiveInsuredHypertentionCheckupLaboratorium.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "laboratorium" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionCheckupLaboratorium" } Laboratorium
						%br	
											
						%input#RadioButtonProspectiveInsuredHypertentionCheckupOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionCheckup", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionCheckupOtherName" } Lainnya, sebutkan
						%input#TextProspectiveInsuredHypertentionCheckupOtherName.Line.PositionerLeft
						%br	
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionCheckupOtherDesc"}
						Mohon menjelaskan secara rinci pada kolom di bawah ini.
						(Kapan dan bagaimana hasilnya serta melampirkan fotokopi hasil pemeriksaan).
						%br
						%input#TextProspectiveInsuredHypertentionCheckupOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br					
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionVomitingBlood" }Apakah Anda pernah mendapat perawatan rumah sakit sehubungan dengan tekanan darah tinggi?
					%div.RadioButton
						%label.Wrap.Single.PositionerLef{ :for => "RadioButtonProspectiveInsuredHypertentionTreatmentYes" } Ya
						%input#RadioButtonProspectiveInsuredHypertentionTreatmentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionTreatment", :value => "ya" }
						%div.BoxRound.PositionerLeft

						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionTreatmentNo" } Tidak
						%input#RadioButtonProspectiveInsuredHypertentionTreatmentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionTreatment", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						
						%label.Wrap.Single.PositionerRight{ :for => "TableProspectiveInsuredHypertentionTreatment" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
						
						%table#TableProspectiveInsuredHypertentionTreatment
						%thead
							%tr
								%th Alasan Perawatan
								%th Nama Dokter
								%th Alamat Dokter
								%th Tanggal Perawatan
								%th Jangka Waktu Perawatan										
						%tbody
							%tr
								%td
								%td
								%td
								%td
								%td	
							%tr
								%td 
								%td
								%td		
								%td 
								%td								
						%br	
					%br
					
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionPainLocation" } Apakah tekanan darah tinggi yang Anda derita disertai komplikasi organ lain sebagai berikut?

					%div.RadioButton
						%input#RadioButtonProspectiveInsuredHypertentionComplicationNothing.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionComplication", :value => "nothing" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionComplicationNothing" } Tidak ada										
						
						%input#RadioButtonProspectiveInsuredHypertentionComplicationKidney.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionComplication", :value => "kidney" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionComplicationKidney" } Ginjal
						
						%input#RadioButtonProspectiveInsuredHypertentionComplicationBrain.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionComplication", :value => "brain" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionComplicationBrain" } Otak
						
						%input#RadioButtonProspectiveInsuredHypertentionComplicationVision.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionComplication", :value => "impairedvision" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionComplicationVision" } Gangguan Penglihatan
						
						%input#RadioButtonProspectiveInsuredHypertentionComplicationHeart.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionComplication", :value => "heart" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionComplicationHeart" } Hati
						
						%input#RadioButtonProspectiveInsuredHypertentionComplicationOther.PositionerLeft{ :type => "radio", :name => "RadioButtonProspectiveInsuredHypertentionComplication", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonProspectiveInsuredHypertentionComplicationOther" } Lainnya, sebutkan 
						%input#TextProspectiveInsuredHypertentionComplicationOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br
					%span.Number.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionAverageBloodPressure" } Jelaskan rata-rata tekanan darah dalam 12 (dua belas) bulan terakhir (termasuk tanggal pemeriksaannya) pada kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredHypertentionAverageBloodPressure.Line.Long.Single.PositionerLeft{ :type => "text"}
					%br
					
					%br
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextProspectiveInsuredHypertentionAdditionalInfo.Line.Long.Single.PositionerLeft{ :type => "text"}

					%h2 PERNYATAAN DAN KUASA
					%div.Note
						Perlu diperhatikan: 
						%ol
							%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Nyeri Dada ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak asuransi Jiwa/Kesehatan/Kecelakaan.
							%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
							%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
							%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
							%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionSignedBy" } Ditandatangani
					%input#TextProspectiveInsuredHypertentionSignedBy.Medium.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%span.Separator.Single.PositionerLeft
					%label.Wrap.PositionerLeft{ :for => "TextProspectiveInsuredHypertentionSigned" } Tanggal
					%span.Separator.Single.PositionerLeft
					%table#DateProspectiveInsuredHypertentionSignedDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredHypertentionSignedMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateProspectiveInsuredHypertentionSignedYear.BoxSquare.PositionerLeft
					%br
							
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Pemegang Polis
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail (Calon) Tertanggung
						
					%div.Signature.Horizontal30of100
						%img
						%span.Name
						%hr
						%span.Header Nama Lengkap & Tanda tangan
						%span.Detail Tenaga Penjual						
						