%form#PopUpDiabetes.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpDiabetes', 'PopUpLiver')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpDiabetes', 'PopUpLiver', stringPageInfixTypeCurrent + 'Diabetes', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Diabetes

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6g Gangguan fungsi/sistem Hati dan Pankreas, Kencing Manis (Diabetes Melitus), Batu Empedu, Tumor Hati, penyakit Limpa dan lainnya?
		%br
		%hr

		%label#LabelFirstKnown.Single.PositionerLeft 1. Kapan pertama kali diketahui menderita diabetes? 
		%input#DateFirstKnown.Medium.Single.PositionerRight{ :type => "text", "data-field" => "date" }
		%br
		%hr	

		%label#LabelFrequencyControl.Single.PositionerLeft 2. a. Berapa kali frekuensi kontrol ke dokter?
		%label.Separator.Single.PositionerRight Minggu
		%input#NumberControlFrequencyWeek.Short.Single.PositionerRight{ :type => "number" }
		%label.Separator.Single.PositionerRight kali per
		%input#NumberControlFrequencyAmount.Short.Single.PositionerRight{ :type => "number" }
		%br
		
		%label#LabelProspectiveInsuredDiabetesInfo.Long.Single b. Jelaskan nama dan alamat lengkap dokter yang bisa dikunjungi untuk kontrol?	
		%br
		%div.ContainerFit
			%label.Short.Single.Item1.Center.Margin Nama Dokter
			%label.Short.Single.Item1.Center.Margin Alamat Dokter
			%label.Short.Single.Item1.Center.Margin Tanggal Pemeriksaan Terakhir
		%div.ContainerFit
			%input#TextDBUPDoctorName1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBUPDoctorAddress1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBUPDoctorLastControlDate1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%div.ContainerFit
			%input#TextDBUPDoctorName2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBUPDoctorAddress2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBUPDoctorLastControlDate2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%div.ContainerFit
			%input#TextDBUPDoctorName3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBUPDoctorAddress3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBUPDoctorLastControlDate3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%div.ContainerFit
			%input#TextDBUPDoctorName4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBUPDoctorAddress4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBUPDoctorLastControlDate4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%div.ContainerFit
			%input#TextDBUPDoctorName5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBUPDoctorAddress5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBUPDoctorLastControlDate5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%br

		%label.Single.PositionerLeft c. Pengobatan apa saja yang diperoleh?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonTherapyInsulin{ :type => "radio", :name => "RadioButtonTherapy", :value => "insulin" }
			%label.RadioButton{ :for => "RadioButtonTherapyInsulin" } Insulin
		%input#NumberTherapyInsulinDesc.Short.Single.PositionerLeft{ :type => "number" }
		%label.Single.PositionerLeft Unit / hari
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonTherapyDiet{ :type => "radio", :name => "RadioButtonTherapy", :value => "diet" }
			%label.RadioButton{ :for => "RadioButtonTherapyDiet" }  Diet khusus, jelaskan
		%br
		%div.ContainerFit
			%input#TextTherapyDietDesc.Full.Single.Item{ :type => "text" }
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonTherapyOral{ :type => "radio", :name => "RadioButtonTherapy", :value => "oral" }
			%label.RadioButton{ :for => "RadioButtonTherapyOral" } Oral/tablet, mohon menjelaskan secara rinci pada kolom di bawah ini (nama obat, dosis, frekuensi penggunaan dan lain-lain).
		%br
		%div.ContainerFit
			%input#TextTherapyOralDesc.Full.Single.Item{ :type => "text" }
		%br
		%hr

		%label.Single.PositionerLeft{ :for => "RadioButtonCheckUrineDay" } 3. a. Bagaimana frekuensi melakukan pemeriksaan kadar gula dalam urine?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonCheckUrineDay{ :type => "radio", :name => "RadioButtonCheckUrine", :value => "everyday"}
			%label.RadioButton{ :for => "RadioButtonCheckUrineDay" } Setiap hari
			%div.Separator

			%input#RadioButtonCheckUrineWeek{ :type => "radio", :name => "RadioButtonCheckUrine", :value => "everyweek"}
			%label.RadioButton{ :for => "RadioButtonCheckUrineWeek" }  Setiap minggu
			%div.Separator
			
			%input#RadioButtonCheckUrineMonth{ :type => "radio", :name => "RadioButtonCheckUrine", :value => "everymonth"}
			%label.RadioButton{ :for => "RadioButtonCheckUrineMonth" } Setiap bulan
			%div.Separator
			
			%input#RadioButtonCheckUrineNever{ :type => "radio", :name => "RadioButtonCheckUrine", :value => "never"}
			%label.RadioButton{ :for => "RadioButtonCheckUrineNever" } Tidak pernah
		%br	
		%div.ContainerFit
			%label#LabelLastCheckUrine.Long.Single.Item3.Margin  b. Kapan terakhir melakukan pemeriksaan kadar gula dalam urin?
			%input#DateLastCheckUrine.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%br
		
		%label.Single.PositionerLeft Bagaimana hasilnya?
		%div.RadioButton.PositionerLeft
			%input#RadioButtonUrineInfoPlus{ :type => "radio", :name => "RadioButtonUrineInfo", :value => "+" }
			%label.RadioButton{ :for => "RadioButtonUrineInfoPlus" } +
			%div.Separator
			%input#RadioButtonUrineInfo2Plus{ :type => "radio", :name => "RadioButtonUrineInfo", :value => "++" }
			%label.RadioButton{ :for => "RadioButtonUrineInfo2Plus" } ++
			%div.Separator
			%input#RadioButtonUrineInfo3Plus{ :type => "radio", :name => "RadioButtonUrineInfo", :value => "+++" }
			%label.RadioButton{ :for => "RadioButtonUrineInfo3Plus" } +++
			%div.Separator
			%input#RadioButtonUrineInfo4Plus{ :type => "radio", :name => "RadioButtonUrineInfo", :value => "++++" }
			%label.RadioButton{ :for => "RadioButtonUrineInfo4Plus" } ++++
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Margin c. Bagaimana hasil 3 (tiga) pemeriksaan terakhir?
			%label.Short.Single.Item.Center.Margin I
			%label.Short.Single.Item.Center.Margin II
			%label.Short.Single.Item.Center.Margin III	 
		%div.ContainerFit
			%label.Short.Single.Item.Margin Kadar gula darah
			%input#NumberResultGlucoseLevelI.Short.Single.Item.Margin{ :type => "number" }
			%input#NumberResultGlucoseLevelII.Short.Single.Item.Margin{ :type => "number" }
			%input#NumberResultGlucoseLevelIII.Short.Single.Item.Margin{ :type => "number" }
		%div.ContainerFit
			%label.Short.Single.Item.Margin Tanggal pemeriksaan terakhir
			%input#TextResultLastCheckI.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextResultLastCheckII.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextResultLastCheckIII.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
		%br

		%label.Single.PositionerLeft d. Apakah pernah didapatkan adanya protein/albumin dalam test urin?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonContainAlbuminNo{ :type => "radio", :name => "RadioButtonContainAlbumin", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonContainAlbuminNo" } Tidak
				%div.Separator
				%input#RadioButtonContainAlbuminYes{ :type => "radio", :name => "RadioButtonContainAlbumin", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonContainAlbuminYes" } Ya
			%input#TextContainAlbuminDesc.Full.Single.Item.Margin{ :type =>"text" , :placeholder => "Jika Ya, jelaskan kapan dan bagaimana hasilnya"}
		%br

		%label.Single.PositionerLeft e. Apakah dilakukan pemeriksaan glycosylated haemoglobin (HbA1c)?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonContainHaemoglobinNo{ :type => "radio", :name => "RadioButtonContainHaemoglobin", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonContainHaemoglobinNo" } Tidak
				%div.Separator
				%input#RadioButtonContainHaemoglobinYes{ :type => "radio", :name => "RadioButtonContainHaemoglobin", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonContainHaemoglobinYes" } Ya
			%input#TextContainHaemoglobinDesc.Full.Single.Item.Margin{ :type =>"text" , :placeholder => "Jika Ya, jelaskan kapan dan bagaimana hasilnya"}
		%br
		
		%hr
		%label.Single.PositionerLeft 4. Apakah pernah mengalami perawatan rumah sakit karena diabetes?
		%div.RadioButton.PositionerRight
			%input#RadioButtonEverHospitalNo{ :type => "radio", :name => "RadioButtonEverHospital", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonEverHospitalNo" } Tidak
			%div.Separator
			%input#RadioButtonEverHospitalYes{ :type => "radio", :name => "RadioButtonEverHospital", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonEverHospitalYes" } Ya
		%br
		
		%label.Single.PositionerLeft Jika "Ya", mohon melengkapi kolom di bawah ini.
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Alasan Perawatan
			%label.Short.Single.Item.Center.Margin Nama Dokter
			%label.Short.Single.Item.Center.Margin Alamat Dokter
			%label.Short.Single.Item.Center.Margin Tanggal Perawatan
			%label.Short.Single.Item.Center.Margin Jangka Waktu Perawatan			
		%div.ContainerFit
			%input#TextDBBOTTOMHospitalReason1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorName1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorAddress1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalTherapyDate1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextDBBOTTOMHospitalDuration1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextDBBOTTOMHospitalReason2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorName2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorAddress2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalTherapyDate2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextDBBOTTOMHospitalDuration2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextDBBOTTOMHospitalReason3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorName3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorAddress3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalTherapyDate3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextDBBOTTOMHospitalDuration3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextDBBOTTOMHospitalReason4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorName4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorAddress4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalTherapyDate4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextDBBOTTOMHospitalDuration4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextDBBOTTOMHospitalReason5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorName5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalDoctorAddress5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDBBOTTOMHospitalTherapyDate5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextDBBOTTOMHospitalDuration5.Short.Single.Item1.Margin{ :type => "text" }
		%br		
		%hr
		
		%label.Single.PositionerLeft 5. Apakah kondisi Diabetes Mellitus ini disertai komplikasi organ lain sebagai berikut?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonWithComplicationsVision{ :type => "radio", :name => "RadioButtonWithComplications", :value => "visiondistruption"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsVision" } Gangguan penglihatan
			%div.Separator

			%input#RadioButtonWithComplicationsBloodPressure{ :type => "radio", :name => "RadioButtonWithComplications", :value => "hypertension"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsBloodPressure" }  Tekanan darah tinggi 
			%div.Separator

			%input#RadioButtonWithComplicationsKidney{ :type => "radio", :name => "RadioButtonWithComplications", :value => "kidneyproblem"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsKidney" } Gangguan ginjal dan/ saluran kemih
			%div.Separator

			%input#RadioButtonWithComplicationsSensor{ :type => "radio", :name => "RadioButtonWithComplications", :value => "censorikproblem"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsSensor" } Gangguan sensorik, termasuk kebas dan panas di kaki
			%div.Separator

			%input#RadioButtonWithComplicationsBloodDisorders{ :type => "radio", :name => "RadioButtonWithComplications", :value => "bloodproblem"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsBloodDisorders" } Kelainan darah
			%div.Separator

			%input#RadioButtonWithComplicationsDiabeticComa{ :type => "radio", :name => "RadioButtonWithComplications", :value => "diabetikum"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsDiabeticComa" } Koma diabetikum
			%div.Separator

			%input#RadioButtonWithComplicationsHeartDisorders{ :type => "radio", :name => "RadioButtonWithComplications", :value => "heartproblem"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsHeartDisorders" } Gangguan jantung dan/ pembuluh darah
			%div.Separator

			%input#RadioButtonWithComplicationsOthers{ :type => "radio", :name => "RadioButtonWithComplications", :value => "other"}
			%label.RadioButton{ :for => "RadioButtonWithComplicationsOthers" } Lainnya
		%br  		
		%input#TextWithComplicationsOtherDesc.Full.Single{ :type =>"text" }
		%br
		%hr
		
		%label.Single.Item 6. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini. 
		%br		
		%input#TextAdditionalInfo.Full.Single{ :type =>"text" }
		%br
		%hr

		%div.Note
			%h2 PERNYATAAN DAN KUASA
			%ol
				%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
				%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
				%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
				%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.