%form#PopUpParagliding.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpParagliding', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpParagliding', 'PopUpActivity', stringPageInfixTypeCurrent + 'Paragliding', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Paralayang

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.4 KUESIONER TERBANG LAYANG
			%div.RadioButton
				%input#RadioButtonGlidingChangeGliding{ :type => "radio", :name => "RadioButtonGlidingChange", :value => "Gliding" }
				%label.RadioButton{ :for => "RadioButtonGlidingChangeGliding" } Gliding
				%div.Separator
				%input#RadioButtonGlidingChangeHang{ :type => "radio", :name => "RadioButtonGlidingChange", :value => "Hang Gliding" }
				%label.RadioButton{ :for => "RadioButtonGlidingChangeHang" } Hang Gliding
		%br
		%hr

		%label.Medium.Single.Item 1. Sebutkan jenis terbang layang yang Anda gunakan.
		%br
		%label.Medium.Single.Item Mohon sebutkan apakah menggunakan mesin atau tidak, buatan sendiri atau pabrik.
		%br
		%input#TextPGModelUsed.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 2. Mohon sebutkan secara rinci lisensi dan sertifikat penerbangan Anda.
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Ijin/Sertifikat
			%label.Short.Single.Item1.Center.Margin Tanggal Diperoleh
			%label.Short.Single.Item1.Center.Margin Masa Berlaku
		%div.ContainerFit
			%input#TextPGCertificateLicense1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextPGCertificateDateObtain1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPGCertificateDateExpired1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextPGCertificateLicense2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextPGCertificateDateObtain2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPGCertificateDateExpired2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextPGCertificateLicense3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextPGCertificateDateObtain3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPGCertificateDateExpired3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextPGCertificateLicense4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextPGCertificateDateObtain4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPGCertificateDateExpired4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextPGCertificateLicense5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextPGCertificateDateObtain5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPGCertificateDateExpired5.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 3. Apakah Anda bergabung dengan klub atau asosiasi terbang layang?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonPGClubMemberYes.PositionerRight{ :type => "radio", :name => "RadioButtonPGClubMember", :value => "true" }
			%label.RadioButton.PositionerRight{ :for => "RadioButtonPGClubMemberYes" } Ya
			%div.Separator.PositionerRight
			%input#RadioButtonPGClubMemberNo.PositionerRight{ :type => "radio", :name => "RadioButtonPGClubMember", :value => "false" }
			%label.RadioButton.PositionerRight{ :for => "RadioButtonPGClubMemberNo" } Tidak
		%br
		%input#TextPGClubMemberDesc.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label.Medium.Single.Item 4. Seberapa sering Anda melakukan terbang layang dan berapa jam terbang Anda?
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin
			%label.Short.Single.Item1.Center.Margin Total
			%label.Short.Single.Item1.Center.Margin 1 Tahun Terakhir
			%label.Short.Single.Item1.Center.Margin 1 Tahun Mendatang (perkiraan)
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Jumlah Penerbangan
			%input#TextPGTotalAmount.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPGTotalLast1YearAmount.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPGTotalNext1YearAmount.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Jumlah Jam Terbang
			%input#TextPGTotalHour.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPGTotalLast1YearHour.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPGTotalNext1YearHour.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%label.Medium.Single.Item 5. Sebutkan tujuan terbang layang Anda.
		%br
		%input#TextPGDestination.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 6. Selain untuk kesenangan, adakah tujuan lain dari Anda melakukan terbang layang, misalnya kegiatan pertanian atau komersil, dll?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonPGOtherPurposeYes{ :type => "radio", :name => "RadioButtonPGOtherPurpose", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPGOtherPurposeYes" } Ya
			%div.Separator
			%input#RadioButtonPGOtherPurposeNo{ :type => "radio", :name => "RadioButtonPGOtherPurpose", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPGOtherPurposeNo" } Tidak
		%br
		%label.PositionerLeft (Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini).
		%br
		%input#TextPGOtherPurposeDesc.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 7. Apakah Anda berpartisipasi atau akan berpartisipasi dalam aerobatic, perlombaan, pameran atau tes terbang?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonPGParticipatingYes{ :type => "radio", :name => "RadioButtonPGParticipating", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPGParticipatingYes" } Ya
			%div.Separator
			%input#RadioButtonPGParticipatingNo{ :type => "radio", :name => "RadioButtonPGParticipating", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPGParticipatingNo" } Tidak
		%br
		%label.PositionerLeft (Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini).
		%br
		%input#TextPGParticipatingDesc.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 8. Apakah Anda pernah mengalami kecelakaan terbang layang atau ijin terbang Anda dicabut karena alasan tertentu?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonPGAccidentYes{ :type => "radio", :name => "RadioButtonPGAccident", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPGAccidentYes" } Ya
			%div.Separator
			%input#RadioButtonPGAccidentNo{ :type => "radio", :name => "RadioButtonPGAccident", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPGAccidentNo" } Tidak
		%br
		%label.PositionerLeft (Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini).
		%br
		%input#TextPGAccidentDesc.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label.Medium.Single.Item 9. Mohon jelaskan informasi lainnya yang menurut Anda penting.
		%br
		%input#TextPGOtherImportantInfo.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
