%form#PopUpBreathing.PopUp
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 KUESIONER GANGGUAN PERNAPASAN

	/ MAIN

	%fieldset
		%form#HealthQuestionnaireMain
			%div.ContainerFit
				%span.Multi.Single.6c Gangguan fungsi/sistem Pernapasan, Paru-paru, Asma, Bronkitis, Tuberkulosis, Batuk Darah dan lainnya?									
			%br
			%hr
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item 1. Apakah gangguan pernafasan yang Anda derita?
				%input#RadioButtonPolicyHolderResepDoktorChangeAsma{ :type => "radio", :name => "RadioButtonPolicyHolderResepDoktorChange", :value => "Asma" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderResepDoktorChangeAsma" } Asma
				%div.Separator
				%input#RadioButtonPolicyHolderResepDoktorChangeBronchitis{ :type => "radio", :name => "RadioButtonPolicyHolderResepDoktorChange", :value => "Bronchitis" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderResepDoktorChangeBronchitis" } Bronchitis
				%div.Separator
				%input#RadioButtonPolicyHolderResepDoktorChangeTBC{ :type => "radio", :name => "RadioButtonPolicyHolderResepDoktorChange", :value => "TBC" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderResepDoktorChangeTBC" } TBC
				%div.Separator
				%input#RadioButtonPolicyHolderResepDoktorChangeLAinnya{ :type => "radio", :name => "RadioButtonPolicyHolderResepDoktorChange", :value => "Lainnya" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderResepDoktorChangeLAinnya" } Lainnya
			%br
			%input#TextPolicyHolderGangguanFungsi.Full.Single.Item1.Margin{ :type =>"text" }
			%br	
			%hr

			%label.medium.Single.Item 2. Kapan pertama kali gejala-gejala tersebut dirasakan?
			%br    
			%input#TextPolicyHolderKapanGejalaGejala.Full.Single.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%label.medium.Single.Item 3. a. Berapa kali serangan dalam 2 (dua) tahun terakhir?
			%br    
			%input#TextPolicyHolderSeranganDalamDuaTahunA.Full.Single.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%label.medium.Single.Item b. Kapan serangan terakhir?
			%br    
			%input#TextPolicyHolderSeranganDalamDuaTahunB.Full.Single.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%br
			%label.medium.Single.Item 4. Berapa kali serangan-serangan tersebut menyebabkan Anda: (Mohon melampirkan resume perawatan yang Anda miliki)
			%br
			%label#LabelPolicyHolder.Wrap.Single.PositionerLeft.Margin Absen dari pekerjaan:
			%input#TextPolicyHolderHari.Medium.Single.PositionerLeft.Margin{ :type => "text" }
			%input#TextPolicyHolderBulan.Medium.Single.PositionerLeft.Margin{ :type => "text" }
			%input#TextPolicyLainnyaTahun.Medium.Single.PositionerLeft.Margin{ :type => "text" }
			%br
			%div.ContainerFit 
				%label.Long.Single.PositionerLeft Dirawat di Rumah Sakit
				%input#TextPolicyHolderDirawatDiRumahSakit.Full.Single.Item.Margin{ :type =>"text" }
			%br
			%div.ContainerFit 
				%label.Long.Single.PositionerLeft Tanggal
				%input#TextPolicyHolderTanggal.Full.Single.Item.Margin{ :type =>"text" }
			%br
			%div.ContainerFit 
				%label.Long.Single.PositionerLeft Lama Perawatan
				%input#TextPolicyHolderLamaPerawatan.Full.Single.Item.Margin{ :type =>"text" }
			%br
			%div.ContainerFit 
				%label.Long.Single.PositionerLeft Nama Dokter yang merawat
				%input#TextPolicyHolderLamaPerawatan.Full.Single.Item.Margin{ :type =>"text" }
			%br
			%div.ContainerFit 
				%label.Long.Single.PositionerLeft Alamat Dokter / Rumah Sakit
				%input#TextPolicyHolderAlamatDokter.Full.Single.Item.Margin{ :type =>"text" }
			%br
			%hr

			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item 5. Sewaktu tidak ada serangan, apakah ada keluhan-keluhan berikut?
				%br
				%input#RadioButtonPolicyHolderBatuk.Single{ :type => "radio", :name => "RadioButtonPolicyHolderBatuk", :value => "batuk", :disabled => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderbatuk" } batuk
				%div.Separator
				%input#RadioButtonPolicyHolderNapasPendek.Single{ :type => "radio", :name => "RadioButtonPolicyHolderNapasPendek", :value => "batuk", :disabled => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderNapasPendek" }  napas pendek
				%div.Separator
				%input#RadioButtonPolicyHolderberbunyiNgik.Single{ :type => "radio", :name => "RadioButtonPolicyHolderberbunyiNgik", :value => "Berbunyik ngik", :disabled => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderberbunyiNgik" } berbunyi "ngik"
			%br	
			%hr

			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item 6. a. Pengobatan apakah yang digunakan untuk mengatasi gangguan pernapasan?
				%br
				%input#RadioButtonPolicyHolderinhaler.Single{ :type => "radio", :name => "RadioButtonPolicyHoldeinhaler", :value => "inhaler", :disabled => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderinhaler" } inhaler
				%div.Separator
				%input#RadioButtonPolicyHolderObatObatan.Single{ :type => "radio", :name => "RadioButtonPolicyHolderObatObatan", :value => "Obat-obatan, Jelaskan nama obat dan dosisnya", :disabled => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderObatObatan" } Obat-obatan, Jelaskan nama obat dan dosisnya
			%br
				%input#TextPolicyHolderJelaskanObatObatLain.Full.Single.Item.Margin{ :type =>"text" }

			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item b. Kapan obat-obatan tersebut digunakan?
				%input#RadioButtonPolicyHolderResepDoktorSetiapHari{ :type => "radio", :name => "RadioButtonPolicyHolderResepDoktorSetiapHari", :value => "Setiap hari" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderResepDoktorSetiapHari" } Setiap hari
				%div.Separator
				%input#RadioButtonPolicyHolderHanyaSaatSerangan{ :type => "radio", :name => "RadioButtonPolicyHolderHanyaSaatSerangan", :value => "Hanya saat serangan" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderHanyaSaatSerangan" } Hanya saat serangan
			%br
				%label.medium.Single.Item c. Apakah obat-obatan tersebut masih digunakan sampai sekarang?
			%br
			%div.ContainerFit 
				%div.RadioButton.Medium.Item
					%input#RadioButtonPolicyObatObatanChangeYes{ :type => "radio", :name => "RadioButtonPolicyObatObatanChange", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyObatObatanChangeYes" } Ya
					%div.Separator
					%input#RadioButtonPolicyObatObatanNo{ :type => "radio", :name => "RadioButtonPolicyObatObatanChange", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonPolicyObatObatanChangeNo" } Tidak
				%input#TextPolicyHolderAlasanObatObatan.Full.Single.Item.Margin{ :type =>"text" }
			%br
			%hr

			%label.medium.Single.Item 7. Kapan dan bagaimana hasil pemeriksaan darah, rontgen dada, spirometri lainnya? (Mohon dilampirkan fotocopi hasil pemeriksaannya) 
			%br    
			%input#TextPolicyHolderSeranganDalamDuaTahunB.Full.Multi.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%label.medium.Single.Item 8. Jelaskan tanggal konsultasi terakhir, nama dan alamat lengkap dokter yang biasa dikunjungi untuk gangguan pernapasan. 
			%br    
			%input#TextPolicyHolderSeranganDalamDuaTahunB.Full.Multi.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%h2 PERNYATAAN DAN KUASA
			%ol
				%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
				%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
				%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
				%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.






