%form#PopUpBackbone.PopUp

	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpBackbone', 'PopUpMotion')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpBackbone', 'PopUpMotion', stringPageInfixTypeCurrent + 'Backbone', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Gangguan Tulang Belakang

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6i Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
		%br
		%hr

			%label#Wrap.Single.PositionerLeft 1. Apakah Anda pernah menderita hernia/spondylosis/kelainan tulang belakang lainnya?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonBackBonePainYes{ :type => "radio", :name => "RadioButtonBackBonePain", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonBackBonePainYes" } Ya
				%div.Separator
				%input#RadioButtonBackBonePainNo{ :type => "radio", :name => "RadioButtonBackBonePain", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonBackBonePainNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextExplainBackBonePain.Full.Multi.PositionerLeft.Margin{ :type => "text" }

		%br
		%hr

		%label.medium.Single.Item 2. Kapan pertama kali keluhan tersebut dirasakan?
		%br
		%input#DateLastConsult.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item 3. Seberapa seringkah keluhan tersebut timbul dalam 12 bulan terakhir?
		%br
		%input#TextComplaintsArise.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.medium.Single.Item 4. Mohon menjelaskan secara rinci pada kolom di bawah ini dan pada bagian tubuh mana?
		%br
		%input#TextSufferPart.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

			%label#Wrap.Single.PositionerLeft 5. Apakah aktivitas Anda mengalami hambatan?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonActivityProblemYes{ :type => "radio", :name => "RadioButtonActivityProblem", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonActivityProblemYes" } Ya
				%div.Separator
				%input#RadioButtonActivityProblemNo{ :type => "radio", :name => "RadioButtonActivityProblem", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonActivityProblemNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextExplainActivityProblem.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%div.ContainerFit 
			%label.Long.Single.PositionerLeft 6. Kapan mengalami hambatan?
			%input#DateLastBackBoneProblem.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item 7. Mohon menjelaskan secara rinci pada kolom di bawah ini menurut Dokter apa penyebab diagnosis  gangguan tulang belakang tersebut? 
		%br
		%label.medium.Single.Item (Kecelakaan, Proses penuaan, kecelakaan sewaktu berolahraga, dan sebagainya).
		%input#TextReasonForBackProblem.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr
			%label#Wrap.Single.PositionerLeft 8. Apakah Anda pernah menjalani X-ray, MRI, atau pemeriksaan lainnya?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonXRayMRITestYes{ :type => "radio", :name => "RadioButtonXRayMRITest", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonXRayMRITestYes" } Ya
				%div.Separator
				%input#RadioButtonXRayMRITestNo{ :type => "radio", :name => "RadioButtonXRayMRITest", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonXRayMRITestNo" } Tidak
		%br
		%div.ContainerFit 
			%label.Medium.Single.PositionerLeft Jika "Ya", mohon berikan tanggal pemeriksaan:
			%input#DateTest.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%br
		%label.medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan tulang belakang ini. (Lampirkan fotokopi hasil pemeriksaan)
		%input#TextExplainResultOfTest.Full.Multi.PositionerLeft.Margin{ :type => "text" }

		%br
		%hr
			%label#Wrap.Single.PositionerLeft 9. Apakah Anda menggunakan tongkat untuk berjalan atau alat bantu lainnya?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonUseStaffYes{ :type => "radio", :name => "RadioButtonUseStaff", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonUseStaffYes" } Ya
				%div.Separator
				%input#RadioButtonUseStaffNo{ :type => "radio", :name => "RadioButtonUseStaff", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonUseStaffNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextExplainUseStaff.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr
		
			%label#Wrap.Single.PositionerLeft 10. Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonUndergoOperationYes{ :type => "radio", :name => "RadioButtonUndergoOperation", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonUndergoOperationYes" } Ya
				%div.Separator
				%input#RadioButtonUndergoOperationNo{ :type => "radio", :name => "RadioButtonUndergoOperation", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonUndergoOperationNo" } Tidak
		%br		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Jika "Ya", mohon berikan tanggal operasi:
			%input#DateOperation.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextDokterName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPhoneNumber.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextClinicName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextClinicAddress.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr
		
		%label.medium.Single.Item 11. Mohon jelaskan dengan rinci jenis pengobatan Anda saat ini dan dahulu pada kolom di bawah ini.
		%br
			%label#Wrap.Single.PositionerLeft Apakah diberi suntikan?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonInjectionYes{ :type => "radio", :name => "RadioButtonInjection", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonInjectionYes" } Ya
				%div.Separator
				%input#RadioButtonInjectionNo{ :type => "radio", :name => "RadioButtonInjection", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonInjectionNo" } Tidak
				
		%br
		%div.ContainerFit 
			%label.Short.Single.Item.Margin Tanggal Berobat
			%label.Short.Single.Item.Margin Nama Obat
			%label.Short.Single.Item.Margin Dosis
			%label.Short.Single.Item.Margin Frekuensi
		%div.ContainerFit 
			%input#DateMedicine1.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#DateMedicine2.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#DateMedicine3.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency3.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#DateMedicine4.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency4.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#DateMedicine5.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency5.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextDokterName1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPhoneNumber1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextClinicName1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextClinicAddress1.Full.Multi.Item.Margin{ :type =>"text" }
		
		%br
		%hr
		%label#Wrap.Single.PositionerLeft 12. Saat ini dengan Dokter siapa Anda melakukan kontrol?
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextDokterName2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPhoneNumber2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextClinicName2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextClinicAddress2.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 13. Seberapa sering Anda kontrol?
			%input#TextControlNumber.Short.Single.Item.Margin{ :type =>"text" }
			%label#Wrap.Single kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu 
		%br
		%hr
		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft 14. Kapan terakhir kali Anda kontrol?
			%input#DateLastControl.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr
		
			%label#Wrap.Single.PositionerLeft 15. Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ? 
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonLeaveYes{ :type => "radio", :name => "RadioButtonLeave", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonLeaveYes" } Ya
				%div.Separator
				%input#RadioButtonLeaveNo{ :type => "radio", :name => "RadioButtonLeave", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonLeaveNo" } Tidak
		%br
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft Jika "Ya", kapan: 
			%input#DateOperation.Long.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%label#Wrap.Single.PositionerLeft  Dan berapa lama?
			%input#TextLeaveNumber.Short.Single.Item.Margin{ :type =>"text" }
		
		%br
		%hr
			%div.ContainerFit
				%label#Wrap.Single.PositionerLeft 16. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.	
			%br	
				%input#TextExplainInformation.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr
	
	%div.Note
		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Gangguan Tulang Belakang ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
			%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
			%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
			%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.