%form#PopUpLiver.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpLiver')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonPopUpDone('PopUpLiver', stringPageInfixTypeCurrent + 'Liver', arrayHealthQuestionnaire, ['Date' + stringPageInfixTypeCurrent + 'Diabetes' + 'FirstKnown'])" }
		%h2 Pertanyaan Kesehatan

	/ FIELDSET
	
	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6g Gangguan fungsi/sistem Hati dan Pankreas, Kencing Manis (Diabetes Melitus), Batu Empedu, Tumor Hati, penyakit Limpa dan lainnya?
		%br
		%div.RadioButton
			%input#ButtonDiabetes.ButtonPrimary{ :type => "button", :value => "Kuesioner Diabetes", :onclick => "buttonPopUpNavigation(this.id, 'PopUpLiver', 'PopUpDiabetes', stringPageInfixTypeCurrent + 'Diabetes', arrayHealthQuestionnaire)" }
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%textarea#AreaAmandmentDetail.Full.Multi
		%label.Medium.Single (maksimum 250 karakter)