%form#PopUpThyroid.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpThyroid', 'PopUpGland')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpThyroid', 'PopUpGland', stringPageInfixTypeCurrent + 'Thyroid', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Kelainan Kelenjar Gondok

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6j Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
		%br

		%div.ContainerFit
			%label#Wrap.Single.Full.PositionerLeft 1. Kapan pertama kali Anda mendapatkan gangguan pada kelenjar gondok (tiroid)?
			%input#DateFirstGotDay.Full.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%hr

		%div.ContainerFit
		%label.medium.Single.Item 2. Apa diagnosa dokter untuk gangguan kelenjar gondok Anda?
		%br

		%div.RadioButton.PositionerLeft
			%input#RadioButtonTherapyDrug.Single{ :type => "radio", :name => "RadioButtonTherapy", :value => "drug" }
			%label.RadioButton{ :for => "RadioButtonTherapyDrug" } Hipertiroidisme
			%div.Separator

			%input#RadioButtonTherapyRadio.Medium.Single{ :type => "radio", :name => "RadioButtonTherapy", :value => "radiotherapy" }
			%label.RadioButton{ :for => "RadioButtonTherapyRadio" } Hipotiroidisme
			%div.Separator

			%input#RadioButtonTherapyChemo.Medium.Single{ :type => "radio", :name => "RadioButtonTherapy", :value => "chemotherapy" }
			%label.RadioButton{ :for => "RadioButtonTherapyChemo" } Tiroiditis
			%div.Separator

			%input#RadioButtonTherapyDrug.Medium.Single{ :type => "radio", :name =>"RadioButtonTherapy", :value => "drug" }
			%label.RadioButton{ :for => "RadioButtonTherapyDrug" } Penyakit Hashimoto
			%div.Separator

			%input#RadioButtonTherapyRadio{ :type => "radio", :name =>"RadioButtonTherapy", :value => "radiotherapy" }
			%label.RadioButton{ :for => "RadioButtonTherapyRadio" } Goiter
			%div.Separator

			%input#RadioButtonTherapyChemo{ :type => "radio", :name =>"RadioButtonTherapy", :value => "chemotherapy" }
			%label.RadioButton{ :for => "RadioButtonTherapyChemo" } Penyakit Grave
			%div.Separator

			%input#RadioButtonTherapyOthers{ :type => "radio", :name =>"RadioButtonTherapy", :value => "other" }
			%label.RadioButton{ :for => "RadioButtonTherapyOthers" } lainnya
		%br
		%input#TextTherapyOtherDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 3. Mohon melengkapi pada kolom di bawah ini dengan data Dokter dan tempat Anda konsultasi?
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Tanggal terakhir konsultasi
			%input#DateLastConsult.Full.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextConsultDoctName.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextConsultPhone.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextConsultClinic.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextConsultAddress.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%label.medium.Single.Item 4. Apakah Anda pernah atau saat ini sedang mengkonsumsi obat sehubungan kelainan kelenjar gondok (tiroid)?
		%br
		%div.ContainerFit 
			%div.RadioButton
				%input#RadioButtonTakenYes{ :type => "radio", :name => "RadioButtonTaken", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTakenYes" } Ya
				%div.Separator
				%input#RadioButtonTakenNo{ :type => "radio", :name => "RadioButtonTaken", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTakenNo" } Tidak
				%label.medium.Single ("Jika Ya, mohon tuliskan nama obat dan dosisnya")
		%br
		%div.ContainerFit 
			%label.Short.Single.Item.Margin.Center Tanggal Berobat
			%label.Short.Single.Item.Margin.Center Nama Obat
			%label.Short.Single.Item.Margin.Center Dosis
			%label.Short.Single.Item.Margin.Center Frekuensi
		%div.ContainerFit 
			%input#DateMedicine1.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#DateMedicine2.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#DateMedicine3.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextMedicineName3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineDosage3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextMedicineFrequency3.Full.Single.Item.Margin{ :type =>"text" }
		%br
		
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft 
			%label.Short.Single.Item1.Center Tanggal
			%label.Short.Single.Item1.Center Keterangan
		%div.ContainerFit				
			%label.Medium.Single.PositionerLeft Kapan pengobatan dimulai
			%input#TextPolicyHolderThyroidMedicationStartDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStartReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Kapan pengobatan dihentikan
			%input#TextPolicyHolderThyroidMedicationStopDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStopReason.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%label.Medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini alasan pengobatan diberhentikan.
		%br
		%input#TextOffShore.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%label.Medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini jika ada pengobatan lainnya.
		%br
		%input#TextOffShore.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr
		%label.Medium.Single.Item 5. Apakah Anda pernah melakukan pemeriksaan medis sehubungan kelainan kelenjar gondok (tiroid)?
		%br
		%div.ContainerFit 
			%div.RadioButton
				%input#RadioButtonTakenYes{ :type => "radio", :name => "RadioButtonTaken", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTakenYes" } Ya
				%div.Separator
				%input#RadioButtonTakenNo{ :type => "radio", :name => "RadioButtonTaken", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTakenNo" } Tidak
				%label.medium.Single (Jika "Ya", mohon melengkapi hasil pemeriksaan pada kolom di bawah ini).
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Jenis Pemeriksaan
			%label.Short.Single.Item1.Center Tanggal
			%label.Short.Single.Item1.Center Hasil
		%div.ContainerFit				
			%label.Medium.Single.PositionerLeft T3
			%input#TextPolicyHolderThyroidMedicationStartDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStartReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft T4
			%input#TextPolicyHolderThyroidMedicationStopDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStopReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit				
			%label.Medium.Single.PositionerLeft TSH
			%input#TextPolicyHolderThyroidMedicationStartDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStartReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft ECG
			%input#TextPolicyHolderThyroidMedicationStopDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStopReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit				
			%label.Medium.Single.PositionerLeft Biopsi
			%input#TextPolicyHolderThyroidMedicationStartDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStartReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Scan/MRI/USG
			%input#TextPolicyHolderThyroidMedicationStopDate.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderThyroidMedicationStopReason.Short.Single.Item1.Margin{ :type => "text" }

		%br
		%hr
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 6. Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
			%input#RadioButtonpengobatanYes{ :type => "radio", :name => "RadioButtonpengobatan", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonpengobatanYes" } Ya
			%div.Separator
			%input#RadioButtonpengobatanNo{ :type => "radio", :name => "RadioButtonpengobatan", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonpengobatanNo" } Tidak
		%br	
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal operasi:
			%input#DatePolicyHolderTanggalOperasi.Short.Single.Item1.Margin{ :type => "text" , "data-field" => "date" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Lama perawatan di Rumah Sakit:
			%input#TextPolicyHolderLamaPerawatan.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Jenis Operasi:
			%input#TextPolicyHolderNamaRumahSakit.Short.Single.Item1.Margin{ :type => "text" }
		%br	
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextPolicyHolderNamaDokterSpesialis.Short.Single.Item1.Margin{ :type => "text" }
		%br	
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPolicyHolderJenisOperasi.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft	Nama Klinik/Rumah Sakit:
			%input#TextPolicyHolderJenisOperasi.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextPolicyHolderJenisOperasi.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%label.Medium.Single.Item Mohon melampirkan hasil Patologi Anatomi operasi tersebut
		%div.RadioButton.Medium.Item
			%input#RadioButtonPolicyMalampirPatologiYes{ :type => "radio", :name => "RadioButtonPolicyMalampirPatologiChange", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPolicyMalampirPatologiYes" } Ada
			%div.Separator

			%input#RadioButtonPolicyMalampirPatologiNo{ :type => "radio", :name => "RadioButtonPolicyMalampirPatologiChange", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPolicyMalampirPatologiNo" } Tidak ada
		%br
		%label.medium.Single.Item Jika "Tidak", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#RadioButtonPolicyMalampirPatologi.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%label.medium.Single.Item Menurut Dokter Anda, bagaimana hasil Patology Anatomi tersebut?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonPolicyJinak{ :type => "radio", :name => "RadioButtonPolicyMalampirPatologiAnatomi", :value => "Jinak" }
			%label.RadioButton{ :for => "RadioButtonPolicyJinak" } Jinak
			%div.Separator

			%input#RadioButtonPolicyGanas{ :type => "radio", :name => "RadioButtonPolicyMalampirPatologiAnatomi", :value => "Ganas" }
			%label.RadioButton{ :for => "RadioButtonPolicyGanas" } Ganas
			%div.Separator

			%input#RadioButtonPolicyLainnya{ :type => "radio", :name => "RadioButtonPolicyMalampirPatologiAnatomi", :value => "Lainnya" }
			%label.RadioButton{ :for => "RadioButtonPolicyLainnya" } Lainnya, sebutkan 
		%br
		%input#RadioButtonPolicyMalampirPatologi.Full.Multi.Item.Margin{ :type =>"text" , :placeholder => ""}
		%br
		%hr
		
		%label.medium.Single.Item 7. Apakah ada pengobatan atau tindakan yang dilakukan setelah operasi?
		%div.RadioButton.PositionerRight
			%input#RadioButtonItemObatYes{ :type => "radio", :name => "RadioButtonItemObat", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonItemObatYes" } Ya
			%div.Separator
			%input#RadioButtonItemObatNo{ :type => "radio", :name => "RadioButtonItemObat", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonItemObatNo" } Tidak
		%br
		%label.medium.Single.Item Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Obat
				%input#RadioButtonObatYes{ :type => "radio", :name => "RadioButtonObat", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonObatYes" } Ya
				%div.Separator
				%input#RadioButtonObatNo{ :type => "radio", :name => "RadioButtonObat", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonObatNo" } Tidak
			%input#TextInputPolicyObat.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Radioterapi
				%input#RadioButtonRadioterapiYes{ :type => "radio", :name => "RadioButtonRadioterapi", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonRadioterapiYes" } Ya
				%div.Separator
				%input#RadioButtonRadioterapiNo{ :type => "radio", :name => "RadioButtonRadioterapi", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonRadioterapiNo" } Tidak
			%input#TextInputPolicyRadioterapi.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}	
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Kemoterapi
				%input#RadioButtonKemoterapiYes{ :type => "radio", :name => "RadioButtonKemoterapi", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonKemoterapiYes" } Ya
				%div.Separator
				%input#RadioButtonKemoterapiNo{ :type => "radio", :name => "RadioButtonKemoterapi", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonKemoterapiNo" } Tidak
			%input#TextInputPolicyKemoterapi.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}	
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Lainnya
				%input#RadioButtonLainnyaYes{ :type => "radio", :name => "RadioButtonLainnya", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonLainnyaYes" } Ya
				%div.Separator
				%input#RadioButtonLainnyaNo{ :type => "radio", :name => "RadioButtonLainnya", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonLainnyaNo" } Tidak
			%input#TextInputPolicyLainnya.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}	
		%hr	
		%label.medium.Single.Item 8. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br    
		%input#TextPolicyHolderTambahanTentangKondisi.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Gangguan Kelenjar Gondok (Tiroid) ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
			%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
			%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
			%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.