%form#FormPopUpBeneficiariesList.SPAJPopUp
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Tambah Penerima Manfaat

	%fieldset
		%div.ContainerFit
			%label.Medium.Single.Item{ :for => "TextFullName" } Nama Lengkap
			%input#TextFullName.Full.Single.Item{ :type => "text", :required => "true" }
		%br
		
		%label.Medium.Single.PositionerLeft{ :for => "RadioButtonSexMale" } Jenis Kelamin
		%div.RadioButton.PositionerLeft
			%input#RadioButtonSexMale.Medium.Single{ :type => "radio", :name => "RadioButtonSex", :value => "male" }
			%label.RadioButton{ :for => "RadioButtonSexMale" } Pria
			%div.Separator
			%input#RadioButtonSexFemale.Medium.Single{ :type => "radio", :name => "RadioButtonSex", :value => "female" }
			%label.RadioButton{ :for => "RadioButtonSexFemale" } Wanita
		%br        		
		
		%label.Medium.Single.PositionerLeft{ :for => "DateBirthday" } Tanggal Lahir
		%input#DateBirthday.Long.Single.PositionerLeft{ :type => "text", :required => "true", "data-field" => "date" }
		%label.Medium.Single.PositionerRight{ :for => "TextAge" } Umur	
		%input#TextAge.Long.Single.PositionerRight{ :type => "text" }
		%br
		
		%label.Medium.Single.PositionerLeft{ :for => "SelectNationality" } Kewarganegaraan
		%select#SelectNationality.Single.Long.PositionerLeft
			%option{ :value => "indonesia"} Indonesia
			%option{ :value => "malaysia"} Malaysia
			%option{ :value => "india"} India
			%option{ :value => "china"} China
			%option{ :value => "singapore"} Singapore
		%br
		
		%label.Medium.Multi.PositionerLeft{ :for => "SelectRelationship" } Hubungan Dengan Calon Tertanggung
		%select#SelectRelationship.Single.Long.PositionerLeft
			%option{ :value => "null"} Please Select
			%option{ :value => "self"} Diri Sendiri
			%option{ :value => "parent"} Orang Tua
			%option{ :value => "child"} Anak
			%option{ :value => "spouse"} Pasangan
			%option{ :value => "brother"} Saudara Laki-Laki
			%option{ :value => "sister"} Saudara Perempuan
			%option{ :value => "grandparent"} Kakek / Nenek
			%option{ :value => "grandchildren"} Cucu
			%option{ :value => "aunt"} Bibi
			%option{ :value => "uncle"} Paman
			%option{ :value => "nephew"} Keponakan Laki-Laki
			%option{ :value => "niece"} Keponakan Perempuan
			%option{ :value => "employee"} Pekerja
			%option{ :value => "employer"} Pemberi Kerja
			%option{ :value => "other"} Lainnya
			%option{ :value => "heir"} Ahli Waris
			%option{ :value => "guardian"} Wali
			%option{ :value => "creditordebitor"} Kreditor / Debitor
			%option{ :value => "charity"} Amal
			%option{ :value => "heirlaw"} Ahli Waris Hukum
		%br
		
		%label.Medium.Single.PositionerLeft{ :for => "TextSharePercentage" } Share Percentage
		%input#TextSharePercentage.Single.Long.PositionerLeft{ :type => "text" }
		%br