%form#PopUpThyroid.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpThyroid', 'PopUpGland')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpThyroid', 'PopUpGland', stringPageInfixTypeCurrent + 'Thyroid', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Kelainan Kelenjar Gondok

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
		%br

		%div.ContainerFit
			%label#Wrap.Single.Full.PositionerLeft{ :for => "DateTHFirstGot" } 1. Kapan pertama kali Anda mendapatkan gangguan pada kelenjar gondok (tiroid)?
			%input#DateTHFirstGot.Medium.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%hr

		%div.ContainerFit
		%label.medium.Single.Item 2. Apa diagnosa Dokter untuk gangguan kelenjar gondok (tiroid) Anda?
		%br

		%div.RadioButton.PositionerLeft
			%input#RadioButtonTHTherapyHyperthyroidisme.Single{ :type => "radio", :name => "RadioButtonTHTherapy", :value => "hyperthyroidisme" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyHyperthyroidisme" } Hipertiroidisme
			%div.Separator

			%input#RadioButtonTHTherapyHypothyroidisme.Medium.Single{ :type => "radio", :name => "RadioButtonTHTherapy", :value => "hypothyroidisme" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyHypothyroidisme" } Hipotiroidisme
			%div.Separator

			%input#RadioButtonTHTherapyThyroiditis.Medium.Single{ :type => "radio", :name => "RadioButtonTHTherapy", :value => "thyroiditis" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyThyroiditis" } Tiroiditis
			%div.Separator

			%input#RadioButtonTHTherapyHasimoto.Medium.Single{ :type => "radio", :name =>"RadioButtonTHTherapy", :value => "hasimoto" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyHasimoto" } Penyakit Hashimoto
			%div.Separator

			%input#RadioButtonTHTherapyGoiter{ :type => "radio", :name =>"RadioButtonTHTherapy", :value => "goiter" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyGoiter" } Goiter
			%div.Separator

			%input#RadioButtonTHTherapyGrave{ :type => "radio", :name =>"RadioButtonTHTherapy", :value => "grave" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyGrave" } Penyakit Grave
			%div.Separator

			%input#RadioButtonTHTherapyOthers{ :type => "radio", :name =>"RadioButtonTHTherapy", :value => "other" }
			%label.RadioButton{ :for => "RadioButtonTHTherapyOthers" } lainnya
		%br
		%input#TextTHTherapyOtherDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 3. Mohon melengkapi pada kolom di bawah ini dengan data Dokter dan tempat Anda konsultasi?
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Tanggal terakhir konsultasi
			%input#DateTHLastConsult.Full.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextTHConsultDoctName.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextTHConsultPhone.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextTHConsultClinic.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextTHConsultAddress.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%label.medium.Single.Item 4. Apakah Anda pernah atau saat ini sedang mengkonsumsi obat sehubungan kelainan kelenjar gondok (tiroid)?
		%br
		%div.ContainerFit
			%div.RadioButton
				%input#RadioButtonTHConsumeDrugYes{ :type => "radio", :name => "RadioButtonTHConsumeDrug", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTHConsumeDrugYes" } Ya
				%div.Separator
				%input#RadioButtonTHConsumeDrugNo{ :type => "radio", :name => "RadioButtonTHConsumeDrug", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTHConsumeDrugNo" } Tidak
				%label.medium.Single (Jika “Ya”, mohon mengisi kolom di bawah ini).
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Margin.Center Tanggal Berobat
			%label.Short.Single.Item.Margin.Center Nama Obat
			%label.Short.Single.Item.Margin.Center Dosis
			%label.Short.Single.Item.Margin.Center Frekuensi
		%div.ContainerFit
			%input#TextTHMedicationDate1.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationName1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationDose1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationFrequency1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextTHMedicationDate2.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationName2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationDose2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationFrequency2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextTHMedicationDate3.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationName3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationDose3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationFrequency3.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%input#TextTHMedicationDate4.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationName4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationDose4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationFrequency4.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%input#TextTHMedicationDate5.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationName5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationDose5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextTHMedicationFrequency5.Full.Single.Item.Margin{ :type =>"text" }
		%br

		%div.ContainerFit
			%label.Medium.Single.PositionerLeft
			%label.Short.Single.Item1.Center Tanggal
			%label.Short.Single.Item1.Center Keterangan
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Kapan pengobatan dimulai
			%input#TextTHMedicationStartDate.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationStartReason.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Kapan pengobatan dihentikan
			%input#TextTHMedicationStopDate.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTHMedicationStopReason.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%label.Medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini alasan pengobatan dihentikan.
		%br
		%input#TextTHMedicationStopReasonDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%label.Medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini jika ada pengobatan lainnya.
		%br
		%input#TextTHMedicationStopReasonOtherMedicine.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr
		%label.Medium.Single.Item 5. Apakah Anda pernah melakukan pemeriksaan medis sehubungan kelainan kelenjar gondok (tiroid)?
		%br
		%div.ContainerFit
			%div.RadioButton
				%input#RadioButtonTHMedicalCheckYes{ :type => "radio", :name => "RadioButtonTHMedicalCheck", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTHMedicalCheckYes" } Ya
				%div.Separator
				%input#RadioButtonTHMedicalCheckNo{ :type => "radio", :name => "RadioButtonTHMedicalCheck", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTHMedicalCheckNo" } Tidak
				%label.medium.Single (Jika "Ya", mohon melengkapi hasil pemeriksaan pada kolom di bawah ini).
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Jenis Pemeriksaan
			%label.Short.Single.Item1.Center Tanggal
			%label.Short.Single.Item1.Center Hasil
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft T3
			%input#TextT3Date.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextT3Result.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft T4
			%input#TextT4Date.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextT4Result.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft TSH
			%input#TextTSHDate.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTSHResult.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft ECG
			%input#TextECGDate.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextECGResult.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Biopsi
			%input#TextBiopsyDate.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextBiopsyResult.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Scan/MRI/USG
			%input#TextScanMRIUSGDate.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextScanMRIUSGResult.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 6. Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
			%input#RadioButtonTHOperationYes{ :type => "radio", :name => "RadioButtonTHOperation", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonTHOperationYes" } Ya
			%div.Separator
			%input#RadioButtonTHOperationNo{ :type => "radio", :name => "RadioButtonTHOperation", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonTHOperationNo" } Tidak
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal operasi:
			%input#DateTHOperationDate.Short.Single.Item1.Margin{ :type => "text" , "data-field" => "date" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Lama perawatan di Rumah Sakit:
			%input#TextTHHospitalTreatmentDuration.Tiny.Single.Item1.Margin{ :type => "text" }
			%label.Medium.Single.PositionerLeft Hari
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Jenis Operasi:
			%input#TextTHOperationType.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextTHDoctorName.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextTHHospitalTelephone.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft	Nama Klinik/Rumah Sakit:
			%input#TextTHHospitalName.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%label.Medium.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextTHHospitalAddress.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%label.Medium.Single.Item Mohon melampirkan hasil Patologi Anatomi operasi tersebut
		%div.RadioButton.Medium.Item
			%input#RadioButtonAttachOperationResultYes{ :type => "radio", :name => "RadioButtonAttachOperationResult", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonAttachOperationResultYes" } Ada
			%div.Separator

			%input#RadioButtonAttachOperationResultNo{ :type => "radio", :name => "RadioButtonAttachOperationResult", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonAttachOperationResultNo" } Tidak ada
		%br
		%label.medium.Single.Item Jika "Tidak", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextExplainOperationResultNo.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%label.medium.Single.Item Menurut Dokter Anda, bagaimana hasil Patology Anatomi tersebut?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonPathologyResultNormal{ :type => "radio", :name => "RadioButtonPathologyResult", :value => "normal" }
			%label.RadioButton{ :for => "RadioButtonPathologyResultNormal" } Jinak
			%div.Separator

			%input#RadioButtonPathologyResultDanger{ :type => "radio", :name => "RadioButtonPathologyResult", :value => "danger" }
			%label.RadioButton{ :for => "RadioButtonPathologyResultDanger" } Ganas
			%div.Separator

			%input#RadioButtonPathologyResultOthers{ :type => "radio", :name => "RadioButtonPathologyResult", :value => "other" }
			%label.RadioButton{ :for => "RadioButtonPathologyResultOthers" } Lainnya, sebutkan
		%br
		%input#TextPathologyResultOtherDesc.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 7. Apakah ada pengobatan atau tindakan yang dilakukan setelah operasi?
		%div.RadioButton.PositionerRight
			%input#RadioButtonMedicineAfterOperationYes{ :type => "radio", :name => "RadioButtonMedicineAfterOperation", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonMedicineAfterOperationYes" } Ya
			%div.Separator
			%input#RadioButtonMedicineAfterOperationNo{ :type => "radio", :name => "RadioButtonMedicineAfterOperation", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonMedicineAfterOperationNo" } Tidak
		%br
		%label.medium.Single.Item Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Obat
				%input#RadioButtonTHMedicineNameYes{ :type => "radio", :name => "RadioButtonTHMedicineName", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTHMedicineNameYes" } Ya
				%div.Separator
				%input#RadioButtonTHMedicineNameNo{ :type => "radio", :name => "RadioButtonTHMedicineName", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTHMedicineNameNo" } Tidak
			%input#TextTHMedicineName.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Radioterapi
				%input#RadioButtonTHRadioTherapyYes{ :type => "radio", :name => "RadioButtonTHRadioTherapy", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTHRadioTherapyYes" } Ya
				%div.Separator
				%input#RadioButtonTHRadioTherapyNo{ :type => "radio", :name => "RadioButtonTHRadioTherapy", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTHRadioTherapyNo" } Tidak
			%input#TextTHRadioTherapy.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Kemoterapi
				%input#RadioButtonTHChemoTherapyYes{ :type => "radio", :name => "RadioButtonTHChemoTherapy", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTHChemoTherapyYes" } Ya
				%div.Separator
				%input#RadioButtonTHChemoTherapyNo{ :type => "radio", :name => "RadioButtonTHChemoTherapy", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTHChemoTherapyNo" } Tidak
			%input#TextTHChemoTherapy.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}
		%div.ContainerFit
			%div.RadioButton.PositionerLeft
				%label.medium.Single.Item  Lainnya
				%input#RadioButtonTHOtherTreatmentYes{ :type => "radio", :name => "RadioButtonTHOtherTreatment", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTHOtherTreatmentYes" } Ya
				%div.Separator
				%input#RadioButtonTHOtherTreatmentNo{ :type => "radio", :name => "RadioButtonTHOtherTreatment", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonTHOtherTreatmentNo" } Tidak
			%input#TextTHOtherTreatment.Medium.Single.Item.Margin{ :type =>"text" , :placeholder => ""}
		%hr
		%label.medium.Single.Item 8. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br
		%input#TextTHAdditionalInfo.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Gangguan Kelenjar Gondok (Tiroid) ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
			%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
			%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
			%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
