%form#PopUpAlcohol.PopUp

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpAlcohol', 'PopUpJunkie')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpAlcohol', 'PopUpJunkie', stringPageInfixTypeCurrent + 'Alcohol', arrayHealthQuestionnaire)" }
		%h2 KUESIONER GANGGUAN TULANG BELAKANG

		/ MAIN

	%fieldset
		%form#HealthQuestionnaireMain
			%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderWeightChangeYes" } 1. Apakah saat ini Anda mengkonsumsi alkohol/obat-obatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonPolicyHolderAlcoholConsumeYes{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholConsume", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholConsumeYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderAlcoholConsumeNo{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholConsume", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholConsumeNo" } Tidak
			%br

			%label.Medium.PositionerRight Waktu Pengunaan
			%br

			%div.ContainerFit
				%label.LongFix.Single.Item3.Left Jenis
				%label.Short.Single.Item1.Center Frekuensi
				%label.Short.Single.Item1.Center Dosis
				%label.Short.Single.Item1.Center Dari
				%label.Short.Single.Item1.Center Sampai

			%hr

			%div.ContainerFit
				%label#LabelPolicyHolderAlcohol.LongFix.Single.Item3.Margin Alkohol
				%input#TextPolicyHolderAlcoholFrequency1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd1.Short.Single.Item1.Margin{ :type => "text" }

			%div.ContainerFit
				%label#LabelPolicyHolderNarkotika.LongFix.Single.Item3.Margin Narkotika
				%input#TextPolicyHolderAlcoholFrequency2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd2.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderAmphetamine.LongFix.Single.Item3.Margin Amphetamine
				%input#TextPolicyHolderAlcoholFrequency3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd3.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderGanjamarijuana.LongFix.Single.Item3.Margin Ganja, marijuana
				%input#TextPolicyHolderAlcoholFrequency4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd4.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderCocainee.LongFix.Single.Item3.Margin Cocaine
				%input#TextPolicyHolderAlcoholFrequency5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd5.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderHalusinogen.LongFix.Single.Item3.Margin Halusinogen
				%input#TextPolicyHolderAlcoholFrequency6.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose6.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart6.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd6.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderPenenangobattidur.LongFix.Single.Item3.Margin Penenang/ obat tidur
				%input#TextPolicyHolderAlcoholFrequency7.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose7.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart7.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd7.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderZattertentu.LongFix.Single.Item3.Margin Zat tertentu (Lem, Thinner)
				%input#TextPolicyHolderAlcoholFrequency8.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose8.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart8.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd8.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderObatpenghilangrasasakit.LongFix.Single.Item3.Margin Obat penghilang rasa sakit
				%input#TextPolicyHolderAlcoholFrequency9.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose9.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart9.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd9.Short.Single.Item1.Margin{ :type =>"text" }

			%div.ContainerFit
				%label#LabelPolicyHolderLainnya.LongFix.Single.Item3.Margin Lainnya
				%input#TextPolicyHolderAlcoholFrequency0.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDose0.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholStart0.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholEnd0.Short.Single.Item1.Margin{ :type =>"text" }
			%hr
			%br

			%label.medium.Single.Item 2. Jika Anda telah berhenti menggunakan alkohol/obat-obatan tersebut diatas.
			%br
			%label.medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini atas saran/permintaan siapa dan sejak kapan Anda berhenti. 
			%br
			%input#TextPolicyHolderAlcoholOrderToStop.Full.Multi.Item1.Margin{ :type =>"text" }
			%br

			%label.medium.Single.Item 3. Apakah Anda pernah melakukan konsultasi atau mendapatkan terapi dari dokter karena penggunaan alkohol/obat-obatan?
			%br

			%div.ContainerFit
				%label.LongFix.Single.Item1.Center.Margin Nama Dokter
				%label.Short.Single.Item1.Center.Margin Alamat
				%label.Short.Single.Item1.Center.Margin Waktu Konsultasi
			%hr
			%div.ContainerFit
				%input#TextPolicyHolderAlcoholDoctorName1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDoctorAddress1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholConsultTime1.Short.Single.Item1.Margin{ :type => "text" }
			%br

			%div.ContainerFit
				%input#TextPolicyHolderAlcoholDoctorName2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDoctorAddress2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholConsultTime2.Short.Single.Item1.Margin{ :type => "text" }
			%br

			%div.ContainerFit
				%input#TextPolicyHolderAlcoholDoctorName3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholDoctorAddress3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextPolicyHolderAlcoholConsultTime3.Short.Single.Item1.Margin{ :type => "text" }
			%br
			%hr

			%label.medium.Single.Item 4.  Pernahkah Anda mengalami kondisi medis atau gangguan yang berhubungan dengan penggunaan alkohol/obat-obatan? (Misal hepatitis, HIV, kesehatan mental, dan lain-lain)
			%br
			%div.ContainerFit
				%div.RadioButton.Medium.Item
					%input#RadioButtonPolicyHolderKodisiMedisChangeYes{ :type => "radio", :name => "RadioButtonPolicyHolderKodisiMedisChange", :value => "true" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderKodisiMedisChangeYes" } Ya
					%div.Separator
					%input#RadioButtonPolicyHolderKodisiMedisChangeNo{ :type => "radio", :name => "RadioButtonPolicyHolderKodisiMedisChange", :value => "false" }
					%label.RadioButton{ :for => "RadioButtonPolicyHolderKodisiMedisChangeNo" } Tidak
				%input#TextPolicyHolderAlcoholExplainMedicalCondition.Full.Multi.Item.Margin{ :type =>"text" }
			%br
			%hr

			
			%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderMermelukanRawatanChangeYes" } 5. Apakah Anda menjalani perawatan di rumah sakit karena penggunaan alkohol/obat-obatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonPolicyHolderAlcoholMedicalTreatmentYes{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholMedicalTreatment", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholMedicalTreatmentYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderAlcoholMedicalTreatmentNo{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholMedicalTreatment", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholMedicalTreatmentNo" } Tidak
			%br
				%label.Single.PositionerLeft Jika “Ya”, mohon mengisi secara rinci pada kolom di bawah ini.
			%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Nama Dokter
				%input#TextPolicyHolderAlcoholTreatmentDoctor.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft No. Telp/Hp
				%input#TextPolicyHolderAlcoholTreatmentPhone.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Alamat Dokter
				%input#TextPolicyHolderAlcoholTreatmentAddress.Full.Multi.Item.Margin{ :type =>"text" }
				%br
			%hr

			
			%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderMermelukanRawatanChangeYes" }
				6. Apakah Anda saat ini masih mendapatkan perawatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonPolicyHolderAlcoholContinueTreatmentYes{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholContinueTreatment", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholContinueTreatmentYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderAlcoholContinueTreatmentNo{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholContinueTreatment", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholContinueTreatmentNo" } Tidak
			%br
			%label.Single.PositionerLeft (Jika “Ya”, mohon mengisi kolom di bawah ini).
			%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Nama Dokter
				%input#TextPolicyHolderAlcoholContinueTreatmentDoctor.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft No. Telp/Hp
				%input#TextPolicyHolderAlcoholContinueTreatmentPhone.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Alamat Dokter
				%input#TextPolicyHolderAlcoholContinueTreatmentAddress.Full.Multi.Item.Margin{ :type =>"text" }
				%br
			%hr

			%label.Wrap.Single.PositionerLeft 7. Apakah Anda pernah tidak masuk kerja karena kondisi ini? 
			%div.RadioButton.PositionerRight
				%input#RadioButtonPolicyHolderAlcoholOnLeaveYes{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholOnLeave", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholOnLeaveYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderAlcoholOnLeaveNo{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholOnLeave", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholOnLeaveNo" } Tidak
			%br
			%label.Single.PositionerLeft Jika “Ya”, kapan:
			%br
			%input#DatePolicyHolderAlcoholOnLeaveDay1.Full.Single.Margin{ :type =>"text" , "data-field" => "date" }
			%br
			%hr

			%label.Wrap.Single.PositionerLeft 8. Apakah pernah melakukan pemeriksaan kesehatan sehubungan penggunaan alkohol/obat-obatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonPolicyHolderAlcoholMedicalCheckupYes{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholMedicalCheckup", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholMedicalCheckupYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderAlcoholMedicalCheckupNo{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholMedicalCheckup", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderAlcoholMedicalCheckupNo" } Tidak
			%br
			%label.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci dan berapa lama terjadinya pada kolom di bawah ini.
			%br
			%input#TextPolicyHolderAlcoholExplainMedicalCheckup.Full.Multi.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%label.Wrap.Single.PositionerLeft 9. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
			%br
			%input#TextPolicyHolderAlcaholAddtionalInformation.Full.Multi.PositionerLeft.Margin{ :type =>"text" }
			%br
			%hr

			%h2 PERNYATAAN DAN KUASA

			%ol
				%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Alkohol dan Penggunaan Obat-obatan ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
				%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
				%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
				%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
				%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
