%form#PopUpTraveling.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpTraveling', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpTraveling', 'PopUpActivity', stringPageInfixTypeCurrent + 'Traveling', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Untuk Perjalanan Ke Luar Negeri/Tinggal Di Luar Negeri

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.4 KUESIONER UNTUK PERJALANAN KE LUAR NEGERI/TINGGAL DI LUAR NEGERI
		%br
		%hr

		%div.ContainerFit
			%label.Medium.Single.Item 1. Apakah alasan utama untuk melakukan perjalanan atau bertempat tinggal di luar negeri?
			%div.RadioButton
				%input#RadioButtonTVReasonVacation{ :type => "radio", :name => "RadioButtonTVReason", :value => "vacation" }
				%label.RadioButton{ :for => "RadioButtonTVReasonVacation" } Liburan
				%div.Separator
				%input#RadioButtonTVReasonBusiness{ :type => "radio", :name => "RadioButtonTVReason", :value => "business" }
				%label.RadioButton{ :for => "RadioButtonTVReasonBusiness" } Bisnis
				%div.Separator
				%input#RadioButtonTVReasonOthers{ :type => "radio", :name => "RadioButtonTVReason", :value => "other" }
				%label.RadioButton{ :for => "RadioButtonTVReasonOthers" } Lainnya, sebutkan
			%input#TextTVReasonOtherDesc.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 2. Sebutkan dengan rinci rencana bepergian dalam 12 bulan yang akan datang:
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Negara
			%label.Short.Single.Item1.Center.Margin Kota
			%label.Short.Single.Item1.Center.Margin Tanggal Tiba
			%label.Short.Single.Item1.Center.Margin Tanggal Berangkat
			%label.Short.Single.Item1.Center.Margin Tipe Visa
		%div.ContainerFit
			%input#TextTVDestinationCountry1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVDestinationCity1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVArrivalDate1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVDepartureDate1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVVisaType1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVDestinationCountry2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVDestinationCity2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVArrivalDate2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVDepartureDate2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVVisaType2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVDestinationCountry3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVDestinationCity3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVArrivalDate3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVDepartureDate3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVVisaType3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVDestinationCountry4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVDestinationCity4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVArrivalDate4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVDepartureDate4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVVisaType4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVDestinationCountry5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVDestinationCity5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVArrivalDate5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVDepartureDate5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextTVVisaType5.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%label.Medium.Single.Item 3. Sebutkan dengan rinci perjalanan yang telah dilakukan dalam 12 bulan terakhir:
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Negara
			%label.Short.Single.Item1.Center.Margin Kota
			%label.Short.Single.Item1.Center.Margin Tanggal Tiba
			%label.Short.Single.Item1.Center.Margin Tanggal Berangkat
			%label.Short.Single.Item1.Center.Margin Tipe Visa
		%div.ContainerFit
			%input#TextTVNextDestinationCountry1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVNextDestinationCity1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextArrivalDate1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextDepartureDate1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextVisaType1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVNextDestinationCountry2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVNextDestinationCity2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextArrivalDate2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextDepartureDate2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextVisaType2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVNextDestinationCountry3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVNextDestinationCity3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextArrivalDate3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextDepartureDate3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextVisaType3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVNextDestinationCountry4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVNextDestinationCity4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextArrivalDate4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextDepartureDate4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextVisaType4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextTVNextDestinationCountry5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextTVNextDestinationCity5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextArrivalDate5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextDepartureDate5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextTVNextVisaType5.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 4. Sebutkan kewarganegaraan Anda?
			%input#TextMyNationality.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 5. Sebutkan dengan rinci aset atau perumahan yang dimiliki/dikontrol oleh Anda di negara yang Anda kunjungi atau negara tempat Anda tinggal, pada kolom di bawah ini
		%br
		%input#TextAbroadAsset.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 6. Jika Anda berencana untuk berada di negara manapun selama lebih dari 21 hari, harap memberikan rincian sebagai berikut
		%br
		%label.Medium.Single.Item a. Jenis tempat tinggal (misal: apartemen, rumah, hotel, tempat penampungan sementara, dll)
		%br
		%input#TextTVStay.Full.Single.Item1.Margin{ :type =>"text" }

		%label.Medium.Single.Item b. Alamat lengkap tempat tinggal Anda: (Termasuk nama jalan dan nomor, kota, kode pos, negara).
		%br
		%input#TextTVAddress.Full.Single.Item1.Margin{ :type =>"text" }

		%label.Medium.Single.Item c. Seberapa jauh jarak fasilitas medis dari tempat tinggal Anda: (Jarak menuju praktek dokter dan/atau rumah sakit).
		%br
		%input#TextTVHospitalDistance.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 7. Jika perjalanan Anda untuk tujuan bisnis, harap memberikan rincian sebagai berikut
		%br

		%label.Medium.Single.Item a. Nama perusahaan/tempat usaha:
		%br
		%input#TextTVCompanyBusinessName.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item b. Jenis usaha:
		%br
		%input#TextTVBusinessType.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item c. Tugas dan tanggung jawab:
		%br
		%input#TextTVJobDescription.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item d. Tanggal dimulai:
		%br
		%input#DateTVTripStarted.Full.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
		%br

		%label.Medium.Single.Item e. Remunerasi tahunan:
		%br
		%input#TextTVAnnualRemuneration.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item f. Sebutkan dengan rinci cara mendapatkan perawatan kesehatan dan cara atau prosedur dalam kasus penyakit berat atau cedera:
		%br
		%input#TextTVInjuryProcedure.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item g. Sarana transportasi yang tersedia di negara tersebut: (Misal: angkutan umum atau pribadi, pesawat pribadi, dan lain-lain).
		%br
		%input#TextTVTransportation.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item h. Sebutkan alat/perangkat pengaman yang disiapkan/dipergunakan oleh pemberi kerja pada saat melakukan pekerjaan:
		%br
		%input#TextTVSafetyEquipment.Full.Single.Item1.Margin{ :type =>"text" }
		%br

		%label.Medium.Single.Item i. Apakah Anda terikat dengan suatu kontrak atau perjanjian? Mohon menjelaskan secara rinci pada kolom di bawah ini. (Tanggal mulai, durasi dan lain-lain serta memberikan fotokopi kontrak atau perjanjian jika tersedia).
		%br
		%input#TextTVContract.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 8. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br
		%input#TextTVAdditionalInformation.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
