%form#PopUpFlight.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpFlight', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpFlight', 'PopUpActivity', stringPageInfixTypeCurrent + 'Flight', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Penerbangan

	/ MAIN

	%fieldset
		%label.Single.PoitionerLeft 1. Anda terbang sebagai ?
		%div.RadioButton.PositionerRight
			%input#RadioButtonFLJobPilot{ :type => "radio", :name => "RadioButtonFLJob", :value => "pilot" }
			%label.RadioButton{ :for => "RadioButtonFLJobPilot" } Pilot
			%div.Separator
			%input#RadioButtonFLJobStewardess{ :type => "radio", :name => "RadioButtonFLJob", :value => "stewardess" }
			%label.RadioButton{ :for => "RadioButtonFLJobStewardess" } Pramugari
			%div.Separator
			%input#RadioButtonFLJobNavigator{ :type => "radio", :name => "RadioButtonFLJob", :value => "navigator" }
			%label.RadioButton{ :for => "RadioButtonFLJobNavigator" } Navigator
		%br
		%hr

		%label.Single.PoitionerLeft 2. Apakah Anda memiliki pesawat sendiri?
		%div.RadioButton.PositionerRight
			%input#RadioButtonHavePlaneYes{ :type => "radio", :name => "RadioButtonHavePlane", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonHavePlaneYes" } Ya
			%div.Separator
			%input#RadioButtonHavePlaneNo{ :type => "radio", :name => "RadioButtonHavePlane", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonHavePlaneNo" } Tidak
		%br
		%hr

		%label.Single.PoitionerLeft 3. Sebutkan jenis pesawat apakah yang Anda terbangkan/tumpangi?
		%br
		%label.Single.PoitionerLeft Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%div.ContainerFit
			%input#TextPlaneType.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Single.PoitionerLeft  4. Mohon sebutkan secara rinci lisensi dan/atau sertifikat penerbangan yang Anda miliki.
		%div.ContainerFit
			%label.Short.Single.Item1.Center Lisensi/ Sertifikat
			%label.Short.Single.Item1.Center Tanggal Perolehan
			%label.Short.Single.Item1.Center Masa Berlaku
		%div.ContainerFit
			%input#TextLicenseCertificate1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLicenseCertificateObtain1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextLicenseCertificateExtention1.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%input#TextLicenseCertificate2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLicenseCertificateObtain2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextLicenseCertificateExtention2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextLicenseCertificate3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLicenseCertificateObtain3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextLicenseCertificateExtention3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextLicenseCertificate4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLicenseCertificateObtain4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextLicenseCertificateExtention4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextLicenseCertificate5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextLicenseCertificateObtain5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%input#TextLicenseCertificateExtention5.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%label.Single.PoitionerLeft 5. Apakah Anda berencana untuk merubah cakupan lisensi yang saat ini Anda miliki?
		%div.RadioButton.PositionerRight
			%input#RadioButtonScopeYes{ :type => "radio", :name => "RadioButtonScope", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonScopeYes" } Ya
			%div.Separator
			%input#RadioButtonScopeNo{ :type => "radio", :name => "RadioButtonScope", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonScopeNo" } Tidak
		%br
		%label.Single.PoitionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextScopeDesc.Full.Single.Margin{ :type =>"text"}
		%br
		%hr

		%label.Single.PoitionerLeft 6. Apakah Anda anggota suatu klub atau asosiasi kegiatan penerbangan?
		%div.RadioButton.PositionerRight
			%input#RadioButtonClubNo.PositionerRight{ :type => "radio", :name => "RadioButtonClub", :value => "false" }
			%label.RadioButton.PositionerRight{ :for => "RadioButtonClubNo" } Tidak
			%div.Separator.PositionerRight
			%input#RadioButtonClubYes.PositionerRight{ :type => "radio", :name => "RadioButtonClub", :value => "true" }
			%label.RadioButton.PositionerRight{ :for => "RadioButtonClubYes" } Ya
		%br
		%label.Single.Item Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextIsClubDesc.Full.Single.Item1.Margin{ :type =>"text"}
		%br
		%hr

		%label.Single.PoitionerLeft  7. Mohon lengkapi kolom pertanyaan dibawah ini sesuai dengan jumlah jam terbang Anda
		%br

		%div{ :style => "overflow-x: scroll; max-width: 600px;" }
		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Kategori Penerbangan
			%label.ShortFix.Single.Item1.Center Tujuan
			%label.ShortFix.Single.Item1.Center
			%label.ShortFix.Wrap.Item1.Center Jumlah Penerbangan
			%label.ShortFix.Single.Item1.Center
			%label.ShortFix.Single.Item1.Center
			%label.ShortFix.Wrap.Item1.Center Jumlah Jam Terbang
			%label.ShortFix.Single.Item1.Center
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin
			%label.ShortFix.Single.Item1.Center
			%label.ShortFix.Single.Item1.Center Total
			%label.ShortFix.Wrap.Item1.Center 12 bulan terakhir
			%label.ShortFix.Wrap.Item1.Center 12 bulan yang akan datang
			%label.ShortFix.Single.Item1.Center Total
			%label.ShortFix.Wrap.Item1.Center 12 bulan terakhir
			%label.ShortFix.Wrap.Item1.Center 12 bulan yang akan datang
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Penerbangan berjadwal
			%input#TextScheduledDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextScheduledAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextScheduledTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextScheduledTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextScheduledAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextScheduledTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextScheduledTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Penerbangan tidak berjadwal
			%input#TextNonScheduledDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextNonScheduledAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextNonScheduledTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextNonScheduledTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextNonScheduledAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextNonScheduledTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextNonScheduledTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Penerbangan komersial
			%input#TextCommercialDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextCommercialAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextCommercialTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextCommercialTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextCommercialAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextCommercialTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextCommercialTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Penerbangan Pribadi
			%input#TextPrivateDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextPrivateAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextPrivateTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextPrivateTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextPrivateAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextPrivateTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextPrivateTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Helikopter
			%input#TextHelicopterDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextHelicopterAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextHelicopterTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextHelicopterTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextHelicopterAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextHelicopterTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextHelicopterTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Terbang layang
			%input#TextParaglidingDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextParaglidingAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextParaglidingTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextParaglidingTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextParaglidingAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextParaglidingTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextParaglidingTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br

		%div.ContainerFit
			%label#LabelPolicyHolderNarkotika.SmallFix.Single.Item3.Margin Lainnya
			%input#TextOthersDestination.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextOthersAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextOthersTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextOthersTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextOthersAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextOthersTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
			%input#TextOthersTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%label.Single.PoitionerLeft 8. Nama lokasi/tempat/bandara mulai penerbangan?
		%br
		%label.Single.Item Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextFrom.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Single.PoitionerLeft 9. Apakah Anda terbang dari bandara control?
		%div.RadioButton.PositionerRight
			%input#RadioButtonAirportControlYes{ :type => "radio", :name => "RadioButtonAirportControl", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonAirportControlYes" } Ya
			%div.Separator
			%input#RadioButtonAirportControlNo{ :type => "radio", :name => "RadioButtonAirportControl", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonAirportControlNo" } Tidak
		%br
		%label.Single.PoitionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextAirportControlDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Single.PoitionerLeft 10. Pernahkan Anda mengalami kecelakaan terbang atau pelanggaran pengunaan/ pencabutan lisensi?
		%div.RadioButton.PositionerRight
			%input#RadioButtonAccidentFLYes{ :type => "radio", :name => "RadioButtonAccidentFL", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonAccidentFLYes" } Ya
			%div.Separator
			%input#RadioButtonAccidentFLNo{ :type => "radio", :name => "RadioButtonAccidentFL", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonAccidentFLNo" } Tidak
		%br
		%label.Single.PoitionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextAccidentFLDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Single.PoitionerLeft 11. Apakah Anda memiliki larangan dalam penerbangan yang dianjurkan dalam surat keterangan medis?
		%div.RadioButton.PositionerRight
			%input#RadioButtonNoFlyYes{ :type => "radio", :name => "RadioButtonNoFly", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonNoFlyYes" } Ya
			%div.Separator
			%input#RadioButtonNoFlyNo{ :type => "radio", :name => "RadioButtonNoFly", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonNoFlyNo" } Tidak
		%br
		%label.Single.PoitionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextNoFlyDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.PoitionerLeft 12. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%input#TextOtherInfo.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

	%div.Note
		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
