%form#PopUpRespiratoryDetail.PopUp
		
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpRespiratoryDetail', 'PopUpRespiratory')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpRespiratoryDetail', 'PopUpRespiratory', stringPageInfixTypeCurrent + 'RespiratoryDetail', arrayHealthQuestionnaire)" }
		%h2 KUESIONER GANGGUAN PERNAPASAN

	/ MAIN

	%fieldset		
		%div.ContainerFit
			%span.Multi.Single.6c Gangguan fungsi/sistem Pernapasan, Paru-paru, Asma, Bronkitis, Tuberkulosis, Batuk Darah dan lainnya?									
		%br
		%hr
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 1. Apakah gangguan pernafasan yang Anda derita?
			%input#RadioButtonDisruptionAsthma{ :type => "radio", :name => "RadioButtonDisruption", :value => "asthma" }
			%label.RadioButton{ :for => "RadioButtonDisruptionAsthma" } Asma
			%div.Separator
			%input#RadioButtonDisruptionBronchitis{ :type => "radio", :name => "RadioButtonDisruption", :value => "bronchitis" }
			%label.RadioButton{ :for => "RadioButtonDisruptionBronchitis" } Bronchitis
			%div.Separator
			%input#RadioButtonDisruptionTBC{ :type => "radio", :name => "RadioButtonDisruption", :value => "tbc" }
			%label.RadioButton{ :for => "RadioButtonDisruptionTBC" } TBC
			%div.Separator
			%input#RadioButtonDisruptionOthers{ :type => "radio", :name => "RadioButtonDisruption", :value => "other" }
			%label.RadioButton{ :for => "RadioButtonDisruptionOthers" } Lainnya
		%br		
		%input#TextDisruptionOtherDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br	
		%hr

		%label.medium.Single.Item 2. Kapan pertama kali gejala-gejala tersebut dirasakan?
		%br    
		%input#DateFirstTimeArise.Full.Single.Item1.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item 3. a. Berapa kali serangan dalam 2 (dua) tahun terakhir?
		%br    
		%input#NumberLastTwoYearsAttack.Full.Single.Item1.Margin{ :type => "number" }
		%br
		%hr

		%label.medium.Single.Item b. Kapan serangan terakhir?
		%br    
		%input#DateLastAttack.Full.Single.Item1.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%hr
		
		%div.ContainerFit
		%label.Single.Item 4. Berapa kali serangan-serangan tersebut menyebabkan Anda: (Mohon melampirkan resume perawatan yang Anda miliki)
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonAttackCauseAbsent{ :type => "radio", :name => "RadioButtonAttackCause", :value => "absent" }
			%label.RadioButton{ :for => "RadioButtonAttackCauseAbsent" } Tidak masuk kerja selama:
		%br
		%span.Separator.PositionerRight Tahun
		%input#NumberAttackCauseAbsentYear.Short.Single.PositionerRight{ :type => "number" }
		%span.Separator.PositionerRight Bulan
		%input#NumberAttackCauseAbsentMonth.Short.Single.PositionerRight{ :type => "number" }
		%span.Separator.PositionerRight Minggu
		%input#NumberAttackCauseAbsentWeek.Short.Single.PositionerRight{ :type => "number" }
		%span.Separator.PositionerRight Hari
		%input#NumberAttackCauseAbsentDay.Short.Single.PositionerRight{ :type => "number" }
		%br
		
		%div.RadioButton.PositionerLeft
			%input#RadioButtonAttackCauseHospital{ :type => "radio", :name => "RadioButtonAttackCause", :value => "hospital" }
			%label.RadioButton{ :for => "RadioButtonAttackCauseHospital" } Dirawat di Rumah Sakit
		%br
		%div.ContainerFit
			%label.Long.Single.Item Tanggal
			%input#DateAttackCauseHospital.Full.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%div.ContainerFit 
			%label.Long.Single.Item Lama Perawatan
			%div.Full.Single{ :style => "width: 100%;" }
				%input#TextAttackCauseHospitalDuration.Single.Item{ :type => "text" }		
				%label.Single.Item (hari/minggu/bulan*) *coret yang tidak perlu
		%br
		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Dokter yang merawat
			%input#TextAttackCauseDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%br
		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextAttackCauseHospitalTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%br
		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/RumahSakit:
			%input#TextAttackCauseHospitalName.Full.Single.Item.Margin{ :type =>"text" }
		%br
		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Dokter / Rumah Sakit
			%input#TextAttackCauseHospitalAddress.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 5. Sewaktu tidak ada serangan, apakah ada keluhan-keluhan berikut?
			%br
			%input#RadioButtonComplainCaugh.Single{ :type => "radio", :name => "RadioButtonComplain", :value => "caugh" }
			%label.RadioButton{ :for => "RadioButtonComplainCaugh" } batuk
			%div.Separator
			%input#RadioButtonComplainShortnessBreath.Single{ :type => "radio", :name => "RadioButtonComplain", :value => "shortnessbreath" }
			%label.RadioButton{ :for => "RadioButtonComplainShortnessBreath" }  napas pendek
			%div.Separator
			%input#RadioButtonComplainNgikSound.Single{ :type => "radio", :name => "RadioButtonComplain", :value => "ngiksound" }
			%label.RadioButton{ :for => "RadioButtonComplainNgikSound" } berbunyi "ngik"
		%br	
		%hr

		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 6. a. Pengobatan apakah yang digunakan untuk mengatasi gangguan pernapasan?
			%br
			%input#RadioButtonTherapyInhaler.Single{ :type => "radio", :name => "RadioButtonTherapy", :value => "inhaler" }
			%label.RadioButton{ :for => "RadioButtonTherapyInhaler" } inhaler
			%div.Separator
			%input#RadioButtonTherapyDrug.Single{ :type => "radio", :name => "RadioButtonTherapy", :value => "drugs" }
			%label.RadioButton{ :for => "RadioButtonTherapyDrug" } Obat-obatan, Jelaskan nama obat dan dosisnya
		%br
		
		%div.ContainerFit
			%label.Short.Single.Item1.Center Nama Obat  
			%label.Short.Single.Item1.Center Dosis
			%label.Short.Single.Item1.Center Frekuensi						
												
		%div.ContainerFit					
			%input#TextDrugName1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugDose1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugFrequency1.Short.Single.Item1.Margin{ :type => "text" }															
		%br
		%div.ContainerFit					
			%input#TextDrugName2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugDose2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugFrequency2.Short.Single.Item1.Margin{ :type => "text" }															
		%br
		%div.ContainerFit					
			%input#TextDrugName3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugDose3.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugFrequency3.Short.Single.Item1.Margin{ :type => "text" }															
		%br
		%div.ContainerFit					
			%input#TextDrugName4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugDose4.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugFrequency4.Short.Single.Item1.Margin{ :type => "text" }															
		%br
		%div.ContainerFit					
			%input#TextDrugName5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugDose5.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextDrugFrequency5.Short.Single.Item1.Margin{ :type => "text" }															
		%br

		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item b. Kapan obat-obatan tersebut digunakan?
			%input#RadioButtonConsumptionEveryDay{ :type => "radio", :name => "RadioButtonConsumption", :value => "everyday" }
			%label.RadioButton{ :for => "RadioButtonConsumptionEveryDay" } Setiap hari
			%div.Separator
			%input#RadioButtonConsumptionWhenAttacked{ :type => "radio", :name => "RadioButtonConsumption", :value => "whenattacked" }
			%label.RadioButton{ :for => "RadioButtonConsumptionWhenAttacked" } Hanya saat serangan
		%br
			%label.medium.Single.Item c. Apakah obat-obatan tersebut masih digunakan sampai sekarang?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonStillConsumedYes{ :type => "radio", :name => "RadioButtonStillConsumed", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonStillConsumedYes" } Ya
				%div.Separator
				%input#RadioButtonStillConsumedNo{ :type => "radio", :name => "RadioButtonStillConsumed", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonStillConsumedNo" } Tidak
			%input#TextStillConsumedDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 7. Kapan dan bagaimana hasil pemeriksaan darah, rontgen dada, spirometri lainnya? (Mohon dilampirkan fotocopi hasil pemeriksaannya) 
		%br    
		%input#TextMedicalCheckResult.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 8. Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
		%div.ContainerFit		
		%br
			%Label.Long.Single.PositionerLeft Tanggal terakhir konsultasi
			%input#DateConsult.Medium.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Diagnosa			
			%input#TextConsultDiagnose.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:			
			%input#TextConsultDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:			
			%input#TextConsultPhone.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/RumahSakit:			
			%input#TextConsultHospitalName.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft AlamatKlinik/RumahSakit:			
			%input#TextConsultHospitalAddress.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		
		%label.Medium.Single.Item 9. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawahini.
		%br    
		%input#TextAdditionalInfo.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.