%form#PopUpNerve.PopUp
		
	/ HEADER			
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpNerve')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonPopUpDone('PopUpNerve', stringPageInfixTypeCurrent + 'Nerve', arrayHealthQuestionnaire, ['text' + stringPageInfixTypeCurrent + 'Epilepsy' + 'AgeAttack'])" }
		%h2 Pertanyaan Kesehatan

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6f Gangguan fungsi/sistem Saraf dan Otot, Vertigo, Stroke, Sering Pusing atau Pingsan, Epilepsi (kejang), Kelumpuhan, Kesemutan, Baal, Gangguan Kejiwaan dan lainnya?
		%br		
		%div.RadioButton
			%input#ButtonEpilepsy.ButtonPrimary{ :type => "button", :value => "Kuesioner Epilepsi Dan Kejang", :onclick => "buttonPopUpNavigation(this.id, 'PopUpNerve', 'PopUpEpilepsy', stringPageInfixTypeCurrent + 'Epilepsy', arrayHealthQuestionnaire)" }		
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%textarea#AreaDetail.Full.Multi
		%label.Medium.Single (maksimum 250 karakter)