%form#PopUpMotion.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpMotion')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonPopUpDone('PopUpMotion', stringPageInfixTypeCurrent + 'Motion', arrayHealthQuestionnaire, ['RadioButton' + stringPageInfixTypeCurrent + 'Backbone' + 'BBDissorder', 'RadioButton' + stringPageInfixTypeCurrent + 'Joint' + 'Atritis'])" }
		%h2 Pertanyaan Kesehatan

	/ MAIN

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6i Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
		%br
		%div.RadioButton
			%input#ButtonBackbone.ButtonPrimary{ :type => "button", :value => "Kuesioner Gangguan Tulang Belakang", :onclick => "buttonPopUpNavigation(this.id, 'PopUpMotion', 'PopUpBackbone', stringPageInfixTypeCurrent + 'Backbone', arrayHealthQuestionnaire)" }
			%div.Separator
			%input#ButtonJoint.ButtonPrimary{ :type => "button", :value => "Kuesioner Gangguan Sendi", :onclick => "buttonPopUpNavigation(this.id, 'PopUpMotion', 'PopUpJoint', stringPageInfixTypeCurrent + 'Joint', arrayHealthQuestionnaire)" }
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%textarea#AreaAmandmentDetail.Full.Multi
		%label.Medium.Single (maksimum 250 karakter)		