%form#PopUpChestPain.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpChestPain', 'PopUpCardiac')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpChestPain', 'PopUpCardiac', 'ChestPain', arrayHealthQuestionnaire)" }
		%h2 KUESIONER NYERI DADA
	
	/ FIELDSET
	
	%fieldset		
		%label.medium.Single.Item 2. Berapa lama serangan tersebut berlangsung?
		%br    
		%input#TextAttackDuration.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr