%form#PopUpJoint.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpJoint', 'PopUpMotion')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpJoint', 'PopUpMotion', stringPageInfixTypeCurrent + 'Joint', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Gangguan Sendi

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6i Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
		%br
		%hr

		%label.medium.Single.Item{ :for => "RadioButtonAtritis" } 1. Apakah Anda pernah menderita artritis / rematik / kelainan sendi lainnya?
		%br
		%div.RadioButton.Medium.Item
			%input#RadioButtonAtritisYes{ :type => "radio", :name => "RadioButtonAtritis", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonAtritisYes" } Ya
			%div.Separator
			%input#RadioButtonAtritisNo{ :type => "radio", :name => "RadioButtonAtritis", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonAtritisNo" } Tidak
		%input#TextAtritisDescription.Full.Single.Item.Margin{ :type =>"text" , :placeholder => "Jika Ya, jelaskan kapan dan bagaimana hasilnya"}
		%br
		%hr

		%label.Single.Item{ :for => "DateAtritisComplain" } 2. Jika Ya, kapan pertama kali keluhan tersebut timbul?
		%br
		%input#DateAtritisComplain.Medium.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item{ :for => "TextAtritisComplainAmount" } 3. Seberapa seringkah keluhan tersebut timbul dalam 12 bulan terakhir?
		%br
		%input#TextAtritisComplainAmount.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.medium.Single.Item{ :for => "TextArtritisComplainLocation" } 4. Mohon jelaskan dan bagian tubuh mana ?
		%br
		%input#TextAtritisComplainLocation.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft{ :for => "RadioButtonJNLimitedActivity" } 5. Apakah aktivitas Anda mengalami hambatan? 
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonJNLimitedActivityYes{ :type => "radio", :name => "RadioButtonJNLimitedActivity", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonJNLimitedActivityYes" } Ya
			%div.Separator
			%input#RadioButtonJNLimitedActivityNo{ :type => "radio", :name => "RadioButtonJNLimitedActivity", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonJNLimitedActivityNo" } Tidak
		%br
		%label.Full.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextJNLimitedActivityDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonCertainLocation" } 6. Apakah terdapat gangguan fungsi sendi atau bagian tubuh tertentu ?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonCertainLocationYes{ :type => "radio", :name => "RadioButtonCertainLocation", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonCertainLocationYes" } Ya
			%div.Separator
			%input#RadioButtonCertainLocationNo{ :type => "radio", :name => "RadioButtonCertainLocation", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonCertainLocationNo" } Tidak
		%br
		%label.Full.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextCertainLocationDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.Wrap.Full.PositionerLeft{ :for => "TextJNComplainDetail" } 7. Mohon menjelaskan secara rinci pada kolom di bawah ini,Kapan kapan dan apa penyebab diagnosis dokter  atas gangguan sendi   yang Anda derita serta apa diagnosis tersebut?(Kecelakaan, Proses penentuan, Kecelakaan sewaktu berolahraga, dan sebagainya).		
		%br
		%input#TextJNComplainDetail.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 8. Apakah Anda pernah menjalani X-ray atau pemeriksaan lainnya?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonJNXRayYes{ :type => "radio", :name => "RadioButtonJNXRay", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonJNXRayYes" } Ya
			%div.Separator
			%input#RadioButtonJNXRayNo{ :type => "radio", :name => "RadioButtonJNXRay", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonJNXRayNo" } Tidak
		%br		
		%label.Full.Single.PositionerLeft Jika "Ya", mohon berikan tanggal pemeriksaan
		%input#DateJNXRay.Medium.Single.PositionerLeft{ :type => "text", "data-field" => "date" }
		%br		
		%label.Full.Single.PositionerLeft Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan sendi ini. (Lampirkan fotokopi hasil pemeriksaan)
		%br
		%input#TextJNXRayDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 9. Apakah Anda menggunakan tongkat untuk berjalan atau alat bantu lainnya?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonJNWalkingStickYes{ :type => "radio", :name => "RadioButtonJNWalkingStick", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonJNWalkingStickYes" } Ya
			%div.Separator
			%input#RadioButtonJNWalkingStickNo{ :type => "radio", :name => "RadioButtonJNWalkingStick", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonJNWalkingStickNo" } Tidak
		%br
		%label.Full.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secararincipada kolom di bawah ini.
		%input#TextJNWalkingStickDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 10. Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonJNSuggestSurgeryYes{ :type => "radio", :name => "RadioButtonJNSuggestSurgery", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonJNSuggestSurgeryYes" } Ya
			%div.Separator
			%input#RadioButtonJNSuggestSurgeryNo{ :type => "radio", :name => "RadioButtonJNSuggestSurgery", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonJNSuggestSurgeryNo" } Tidak
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Jika "Ya", mohon berikan tanggal operasi:
			%input#DateJNSuggestSurgery.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextJNUPDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextJNUPDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextJNUPHospitalName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextJNUPHospitalAddress.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 11. Mohon jelaskan dengan rinci jenis pengobatan Anda saat ini dan sebelumnya pada kolom di bawah ini.
		%br
			%label#Wrap.Single.PositionerLeft Apakah diberi suntikan?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonJNInjectionYes{ :type => "radio", :name => "RadioButtonJNInjection", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonJNInjectionYes" } Ya
				%div.Separator
				%input#RadioButtonJNInjectionNo{ :type => "radio", :name => "RadioButtonJNInjection", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonJNInjectionNo" } Tidak

		%br
		%div.ContainerFit
			%label.Short.Single.Item.Margin Tanggal Berobat
			%label.Short.Single.Item.Margin Nama Obat
			%label.Short.Single.Item.Margin Dosis
			%label.Short.Single.Item.Margin Frekuensi
		%div.ContainerFit
			%input#TextJNUPTreatmentDate1.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextJNUPDrugName1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPDose1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPFrequency1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextJNUPTreatmentDate2.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextJNUPDrugName2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPDose2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPFrequency2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextJNUPTreatmentDate3.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextJNUPDrugName3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPDose3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPFrequency3.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextJNUPTreatmentDate4.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextJNUPDrugName4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPDose4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPFrequency4.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextJNUPTreatmentDate5.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextJNUPDrugName5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPDose5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextJNUPFrequency5.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextJNMIDDLEDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextJNMIDDLEDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextJNMIDDLEHospitalName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextJNMIDDLEHospitalAddress.Full.Multi.Item.Margin{ :type =>"text" }

		%br
		%hr
		%label#Wrap.Single.PositionerLeft 12. Saat ini dengan Dokter siapa Anda melakukan kontrol?
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextJNBOTTOMDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextJNBOTTOMDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextJNBOTTOMHospitalName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextJNBOTTOMHospitalAddress.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 13. Seberapa sering Anda kontrol?
			%input#TextJNCheckUpFrequency.Short.Single.Item.Margin{ :type =>"text" }
			%label#Wrap.Single kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu
		%br
		%hr

		%div.ContainerFit
			%label.Long.Single.PositionerLeft 14. Kapan terakhir kali Anda kontrol?
			%input#DateJNLastCheckUp.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 15. Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonOffFromWorkYes{ :type => "radio", :name => "RadioButtonOffFromWork", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonOffFromWorkYes" } Ya
			%div.Separator
			%input#RadioButtonOffFromWorkNo{ :type => "radio", :name => "RadioButtonOffFromWork", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonOffFromWorkNo" } Tidak
		%br
		%div.ContainerFit
			%label.Wrap.Single.PositionerLeft Jika "Ya", kapan:
			%input#DateOfficeOffFromWork.Medium.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%label.Wrap.Single.PositionerLeft  Dan berapa lama?
			%input#TextOfficeOffFromWorkDuration.Medium.Single.Item.Margin{ :type => "text" }
			%label#Wrap.Single.PositionerLeft  Hari
		%br
		%hr
		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 16. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br
			%input#TextJNAdditionalInformation.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

	%div.Note
		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.