%form#FormAdditionalQuestion
    %header
        %input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
        %input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
        %h2 Pertanyaan Kesehatan

    %fieldset
        %label#LabelDetail.Wrap{ :for => "TextDetail" }
        %label#LabelNote.Wrap{ :for => "TextDetail" } silahkan memberikan rincian lebih lanjut
        %input#TextDetail.Full.Single{ :type => "text" }