%form#PopUpCell.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpCardiac')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Pertanyaan Kesehatan

	/ MAIN

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6l Gangguan fungsi Pertumbuhan Sel, Tumor, Kista, Kanker, Benjolan pada permukaan kulit atau pertumbuhan abnormal lainnya?
		%br
		%a.NavigationPopUp{ :href => "../../Page/HTML/.html" } KUESIONER TUMOR
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%input#TextPolicyHolderKuesionerTumorSub.Full.Multi.Item.Margin{ :type =>"text" }
		%label.Medium.Single (maksimum 250 karakter