%form#PopUpRespiratory.PopUp
		
	/ HEADER			
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpRespiratory')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonPopUpDone('PopUpRespiratory', stringPageInfixTypeCurrent + 'Respiratory', arrayHealthQuestionnaire, ['RadioButton' + stringPageInfixTypeCurrent + 'RespiratoryDetail' + 'Disruption'])" }
		%h2 Pertanyaan Kesehatan

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6c Gangguan fungsi/sistem Pernapasan, Paru-paru, Asma, Bronkitis, Tuberkulosis, Batuk Darah dan lainnya?
		%br		
		%div.RadioButton
			%input#ButtonRespiratory.ButtonPrimary{ :type => "button", :value => "Kuesioner Gangguan Pernapasan", :onclick => "buttonPopUpNavigation(this.id, 'PopUpRespiratory', 'PopUpRespiratoryDetail', stringPageInfixTypeCurrent + 'RespiratoryDetail', arrayHealthQuestionnaire)" }		
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%textarea#AreaAmandmentDetail.Full.Multi
		%label.Medium.Single (maksimum 250 karakter)