%form#PopUpAlcohol.PopUp

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpAlcohol', 'PopUpJunkie')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpAlcohol', 'PopUpJunkie', stringPageInfixTypeCurrent + 'Alcohol', arrayHealthQuestionnaire)" }
		%h2 KUESIONER ALKOHOL DAN PENGGUNAAN OBAT-OBATAN

		/ MAIN

	%fieldset
		%form#HealthQuestionnaireMain
			%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonALConsume" } 1. Apakah saat ini Anda mengkonsumsi alkohol/obat-obatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonALConsumeYes{ :type => "radio", :name => "RadioButtonALConsume", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonALConsumeYes" } Ya
				%div.Separator
				%input#RadioButtonALConsumeNo{ :type => "radio", :name => "RadioButtonALConsume", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonALConsumeNo" } Tidak
			%br

			%label.Medium.PositionerRight Waktu Pengunaan
			%br

			%div.ContainerFit
				%label.MediumFix.Single.Item1.Left Jenis
				%label.Short.Single.Item1.Center Frekuensi
				%label.Short.Single.Item1.Center Dosis
				%label.Short.Single.Item1.Center Dari
				%label.Short.Single.Item1.Center Sampai

			%hr

			%div.ContainerFit
				%label#LabelPolicyHolderAlcohol.MediumFix.Single.Item1.Margin Alkohol
				%input#TextALFrequency1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose1.Short.Single.Item1.Margin{ :type => "text" }
				%input#DateALStart1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#DateALEnd1.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderAlcohol.MediumFix.Single.Item1.Margin Narkotika
				%input#TextALFrequency2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd2.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderAmphetamine.MediumFix.Single.Item1.Margin Amphetamine
				%input#TextALFrequency3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd3.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderGanjamarijuana.MediumFix.Single.Item1.Margin Ganja, marijuana
				%input#TextALFrequency4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd4.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderCocainee.MediumFix.Single.Item1.Margin Cocaine
				%input#TextALFrequency5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd5.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderHalusinogen.MediumFix.Single.Item1.Margin Halusinogen
				%input#TextALFrequency6.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose6.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart6.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd6.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderPenenangobattidur.MediumFix.Single.Item1.Margin Penenang/ obat tidur
				%input#TextALFrequency7.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose7.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart7.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd7.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderZattertentu.MediumFix.Single.Item1.Margin Zat tertentu (Lem, Thinner)
				%input#TextALFrequency8.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose8.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart8.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd8.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderObatpenghilangrasasakit.MediumFix.Single.Item1.Margin Obat penghilang rasa sakit
				%input#TextALFrequency9.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose9.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart9.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd9.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%div.ContainerFit
				%label#LabelPolicyHolderLainnya.MediumFix.Single.Item1.Margin Lainnya
				%input#TextALFrequency10.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDose10.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALStart10.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
				%input#TextALEnd10.Short.Single.Item1.Margin{ :type => "text", "data-field" => "date" }
			%hr
			%br

			%label.medium.Single.Item 2. Jika Anda telah berhenti menggunakan alkohol/obat-obatan tersebut diatas.
			%br
			%label.medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini atas saran/permintaan siapa dan sejak kapan Anda berhenti.
			%br
			%input#TextSober.Full.Multi.Item1.Margin{ :type =>"text" }
			%br

			%label.medium.Single.Item 3. Apakah Anda pernah melakukan konsultasi atau mendapatkan terapi dari dokter karena penggunaan alkohol/obat-obatan?
			%br

			%div.ContainerFit
				%label.Short.Single.Item1.Center.Margin Nama Dokter
				%label.Short.Single.Item1.Center.Margin Alamat
				%label.Short.Single.Item1.Center.Margin Waktu Konsultasi
			%hr
			%div.ContainerFit
				%input#TextALDoctorName1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDoctorAddress1.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALConsultTime1.Short.Single.Item1.Margin{ :type => "text" }
			%br

			%div.ContainerFit
				%input#TextALDoctorName2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDoctorAddress2.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALConsultTime2.Short.Single.Item1.Margin{ :type => "text" }
			%br

			%div.ContainerFit
				%input#TextALDoctorName3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDoctorAddress3.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALConsultTime3.Short.Single.Item1.Margin{ :type => "text" }
			%br

			%div.ContainerFit
				%input#TextALDoctorName4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDoctorAddress4.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALConsultTime4.Short.Single.Item1.Margin{ :type => "text" }
			%br

			%div.ContainerFit
				%input#TextALDoctorName5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALDoctorAddress5.Short.Single.Item1.Margin{ :type => "text" }
				%input#TextALConsultTime5.Short.Single.Item1.Margin{ :type => "text" }
			%br
			%hr

			%label.Full.Single.Item 4.  Pernahkah Anda mengalami kondisi medis atau gangguan yang berhubungan dengan penggunaan alkohol/obat-obatan?
			%br
			%label.Medium.Single.Item (Misal hepatitis, HIV, kesehatan mental, dan lain-lain)						
			%div.RadioButton.PositionerRight
				%input#RadioButtonMedicalConditionNo.PositionerRight{ :type => "radio", :name => "RadioButtonMedicalCondition", :value => "false" }
				%label.RadioButton.PositionerRight{ :for => "RadioButtonMedicalConditionNo" } Tidak
				%div.Separator.PositionerRight
				%input#RadioButtonMedicalConditionYes.PositionerRight{ :type => "radio", :name => "RadioButtonMedicalCondition", :value => "true" }
				%label.RadioButton.PositionerRight{ :for => "RadioButtonMedicalConditionYes" } Ya
			%br
			%label.Medium.Single.Item Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
			%br
			%input#TextMedicalConditionDescription.Full.Multi.Item.Margin{ :type =>"text" }
			%br
			%hr

			%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonALMedicalTreatment" } 5. Apakah Anda menjalani perawatan di rumah sakit karena penggunaan alkohol/obat-obatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonALMedicalTreatmentYes{ :type => "radio", :name => "RadioButtonALMedicalTreatment", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonALMedicalTreatmentYes" } Ya
				%div.Separator
				%input#RadioButtonALMedicalTreatmentNo{ :type => "radio", :name => "RadioButtonALMedicalTreatment", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonALMedicalTreatmentNo" } Tidak
			%br
				%label.Single.PositionerLeft Jika “Ya”, mohon mengisi secara rinci pada kolom di bawah ini.
			%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Nama Dokter
				%input#TextALTreatmentDoctorName.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft No. Telp/Hp
				%input#TextALTreatmentDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Alamat Dokter
				%input#TextALTreatmentDoctorAddress.Full.Multi.Item.Margin{ :type =>"text" }
				%br
			%hr

			%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonContinueTreatment" } 6. Apakah Anda saat ini masih mendapatkan perawatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonContinueTreatmentYes{ :type => "radio", :name => "RadioButtonContinueTreatment", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonContinueTreatmentYes" } Ya
				%div.Separator
				%input#RadioButtonContinueTreatmentNo{ :type => "radio", :name => "RadioButtonContinueTreatment", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonContinueTreatmentNo" } Tidak
			%br
			%label.Single.PositionerLeft (Jika “Ya”, mohon mengisi kolom di bawah ini).
			%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Nama Dokter
				%input#TextALContinueTreatmentDoctorName.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft No. Telp/Hp
				%input#TextALContinueTreatmentDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
				%br
			%div.ContainerFit
				%label.Long.Single.PositionerLeft Alamat Dokter
				%input#TextALContinueTreatmentDoctorAddress.Full.Multi.Item.Margin{ :type =>"text" }
				%br
			%hr

			%label.Wrap.Single.PositionerLeft 7. Apakah Anda pernah tidak masuk kerja karena kondisi ini?
			%div.RadioButton.PositionerRight
				%input#RadioButtonALOnLeaveYes{ :type => "radio", :name => "RadioButtonALOnLeave", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonALOnLeaveYes" } Ya
				%div.Separator
				%input#RadioButtonALOnLeaveNo{ :type => "radio", :name => "RadioButtonALOnLeave", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonALOnLeaveNo" } Tidak
			%br
			%label.Single.PositionerLeft Jika “Ya”, kapan:
			%input#DateALOnLeavePeriod.Short.Single.Margin.PositionerLeft{ :type => "date", "data-field" => "date" }
			%label.Single.PositionerLeft Dan berapa lama:
			%input#TextOnLeavePeriod.Short.Single.Margin.PositionerLeft{ :type => "text" }
			%label.Single.PositionerLeft Hari
			%br
			%hr

			%label.Wrap.Single.PositionerLeft 8. Apakah pernah melakukan pemeriksaan kesehatan sehubungan penggunaan alkohol/obat-obatan?
			%div.RadioButton.PositionerRight
				%input#RadioButtonALCheckUpYes{ :type => "radio", :name => "RadioButtonALCheckUp", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonALCheckUpYes" } Ya
				%div.Separator
				%input#RadioButtonALCheckUpNo{ :type => "radio", :name => "RadioButtonALCheckUp", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonALCheckUpNo" } Tidak
			%br
			%label.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci dan berapa lama terjadinya pada kolom di bawah ini.
			%br
			%input#TextALCheckUp.Full.Multi.Item1.Margin{ :type =>"text" }
			%br
			%hr

			%label.Single.Item 9. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
			%br
			%input#TextALAddtionalInformation.Full.Multi.PositionerLeft.Margin{ :type =>"text" }
			%br
			%hr

		%div.Note
			%h2 PERNYATAAN DAN KUASA

			%ol
				%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Alkohol dan Penggunaan Obat-obatan ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
				%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
				%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
				%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
				%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
