%form#FormPopUpBeneficiariesList.SPAJPopUp
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Tambah Penerima Manfaat

	%fieldset
		%div.ContainerFit
			%label.Medium.Single.Item{ :for => "TextFullName" } Nama Lengkap
			%input#TextFullName.Full.Single.Item{ :type => "text", :maxlength => "30" :required => "true" }
		%br
		
		%label.Medium.Single.PositionerLeft{ :for => "RadioButtonSexMale" } Jenis Kelamin
		%div.RadioButton.PositionerLeft
			%input#RadioButtonSexMale.Medium.Single{ :type => "radio", :name => "RadioButtonSex", :value => "male" }
			%label.RadioButton{ :for => "RadioButtonSexMale" } Pria
			%div.Separator
			%input#RadioButtonSexFemale.Medium.Single{ :type => "radio", :name => "RadioButtonSex", :value => "female" }
			%label.RadioButton{ :for => "RadioButtonSexFemale" } Wanita
		%br        		
		
		%label.Medium.Single.PositionerLeft{ :for => "DateBirthday" } Tanggal Lahir
		%input#DateBirthday.Long.Single.PositionerLeft{ :type => "text", :required => "true", "data-field" => "date" }
		%label.Medium.Single.PositionerRight{ :for => "TextAge" } Umur	
		%input#TextAge.Long.Single.PositionerRight{ :type => "text" }
		%br
		
		%label.Medium.Single.PositionerLeft{ :for => "SelectNationality" } Kewarganegaraan
		%select#SelectNationality.Single.Long.PositionerLeft
			%option{ :value => "INDO"} INDONESIA
			%option{ :value=> "AFG"} AFGHANISTAN
			%option{ :value=> "AL"} ALBANIA
			%option{ :value=> "AND"} ANDORRA
			%option{ :value=> "AR"} ARGENTINA
			%option{ :value=> "AU"} AUSTRIA
			%option{ :value=> "AUS"} AUSTRALIA
			%option{ :value=> "BD"} BANGLADESH
			%option{ :value=> "BDS"} BARBADOS
			%option{ :value=> "BG"} BULGARIA
			%option{ :value=> "BH"} BELIZE
			%option{ :value=> "BL"} BELGIUM
			%option{ :value=> "BN"} BENIN
			%option{ :value=> "BOL"} BOLIVIA
			%option{ :value=> "BR"} BRAZIL
			%option{ :value=> "BRD"} BRUNEI DARUSSALAM
			%option{ :value=> "BRN"} BAHRAIN
			%option{ :value=> "BS"} BAHAMAS
			%option{ :value=> "BW"} BOTSWANA
			%option{ :value=> "BY"} BELORUSSIA
			%option{ :value=> "CAMB"} CAMBODIA
			%option{ :value=> "AFG"} CANADA
			%option{ :value=> "CAR"} CENTRAL AFRICA REPUBLIC
			%option{ :value=> "CB"} CUBA
			%option{ :value=> "CHN"} CHINA
			%option{ :value=> "CIS"} CIS COUNTRIES
			%option{ :value=> "CL"} CHILE
			%option{ :value=> "CO"} COLOMBIA
			%option{ :value=> "CIS"} COSTA RICA
			%option{ :value=> "CT"} CROATIA
			%option{ :value=> "CY"} CYPRUS
			%option{ :value=> "CZ"} CZECH REPUBLIC
			%option{ :value=> "DN"} DENMARK
			%option{ :value=> "DOM"} DOMINICA
			%option{ :value=> "DOMR"} DOMINICAN REPUBLIC
			%option{ :value=> "EE"} EASTERN EUROPE
			%option{ :value=> "ENG"} ENGLAND
			%option{ :value=> "ES"} EL SALVADOR
			%option{ :value=> "ET"} EYGPT
			%option{ :value=> "ETH"} ETHIOPIA
			%option{ :value=> "EW"} ESTONIA
			%option{ :value=> "FIN"} FINLAND
			%option{ :value=> "FJ"} FIJI ISLANDS
			%option{ :value=> "ET"} EYGPT
			%option{ :value=> "FR"} FRANCE
			%option{ :value=> "FRI"} FAROE ISLAND
			%option{ :value=> "GB"} GREAT BRITAIN
			%option{ :value=> "GBA"} ALDERNEY
			%option{ :value=> "GBG"} GUERNSEY (CHANNEL ISLAND)
			%option{ :value=> "GBZ"} GIBRALTAR
			%option{ :value=> "GCA"} GUATEMALA
			%option{ :value=> "GH"} GHANA
			%option{ :value=> "GR"} GERMANY
			%option{ :value=> "GRE"} GREECE
			%option{ :value=> "GUY"} GUYANA
			%option{ :value=> "HG"} HUNGARY
			%option{ :value=> "HK"} HONG KONG
			%option{ :value=> "HT"} HAITI
			%option{ :value=> "IC"} ICELAND
			%option{ :value=> "IND"} INDIA
			%option{ :value=> "IR"} IRAN
			%option{ :value=> "IRL"} IRELAND
			%option{ :value=> "IRQ"} IRAQ
			%option{ :value=> "ISM"} ISLE OF MAN
			%option{ :value=> "IRQ"} IRAQ
			%option{ :value=> "ISR"} ISRAEL
			%option{ :value=> "ITL"} ITALY
			%option{ :value=> "IVC"} IVORY COAST
			%option{ :value=> "JAM"} JAMAICA
			%option{ :value=> "JAP"} JAPAN
			%option{ :value=> "JOR"} JORDAN
			%option{ :value=> "KOR"} KOREA (NORTH & SOUTH)
			%option{ :value=> "JOR"} KUWAIT
			%option{ :value=> "KY"} KENYA
			%option{ :value=> "LAO"} LAOS
			%option{ :value=> "LEB"} LEBANON
			%option{ :value=> "LIB"} LIBYA
			%option{ :value=> "LITH"} LITHUANIA
			%option{ :value=> "LS"} LESOTHO
			%option{ :value=> "LUX"} LUXEMBOURG
			%option{ :value=> "LV"} LATVIA
			%option{ :value=> "MAC"} MACAU
			%option{ :value=> "MAD"} MALDIVES
			%option{ :value=> "MADG"} MADAGASCAR
			%option{ :value=> "MAL"} MALAYSIA
			%option{ :value=> "MCD"} MACEDONIA
			%option{ :value=> "ME"} MIDDLE EAST
			%option{ :value=> "MEX"} MEXICO
			%option{ :value=> "MGL"} MONGOLIA
			%option{ :value=> "ML"} MALI
			%option{ :value=> "MLT"} MALTA
			%option{ :value=> "MNC"} MONACO
			%option{ :value=> "MRC"} MOROCCO
			%option{ :value=> "MRS"} MAURITIUS
			%option{ :value=> "MRT"} MAURITANIA
			%option{ :value=> "MW"} MELAWI
			%option{ :value=> "MYA"} MYANMAR
			%option{ :value=> "NEP"} NEPAL
			%option{ :value=> "NGR"} NIGERIA
			%option{ :value=> "NIC"} NICARAGUA
			%option{ :value=> "NIG"} NIGER
			%option{ :value=> "NA"} NORTH KOREA
			%option{ :value=> "NL"} NETHERLANDS
			%option{ :value=> "NOR"} NORWAY
			%option{ :value=> "NZ"} NEW ZEALAND
			%option{ :value=> "OT"} OTHERS
			%option{ :value=> "OTP"} OTHER PACIFIC ISLANDS
			%option{ :value=> "PA"} PANAMA
			%option{ :value=> "PK"} PAKISTAN
			%option{ :value=> "PL"} POLAND
			%option{ :value=> "PLP"} PHILIPPINES
			%option{ :value=> "PNG"} PAPUA NEW GUINEA
			%option{ :value=> "POR"} PORTUGAL
			%option{ :value=> "PR"} PERU
			%option{ :value=> "PRG"} PARAGUAY
			%option{ :value=> "QA"} QATAR
			%option{ :value=> "RUS"} RUSSIA
			%option{ :value=> "RWA"} RWANDA
			%option{ :value=> "SAFR"} SOUTH AFRICA
			%option{ :value=> "SGPR"} SINGAPORE
			%option{ :value=> "SK"} SOUTH KOREA
			%option{ :value=> "SLK"} SLOVAKIA
			%option{ :value=> "SM"} SAMOA
			%option{ :value=> "SML"} SOMALIA
			%option{ :value=> "SMR"} SAN MARINO
			%option{ :value=> "SN"} SENEGAL
			%option{ :value=> "SP"} SPAIN
			%option{ :value=> "SRL"} SRI LANKA
			%option{ :value=> "SRN"} SURINAM
			%option{ :value=> "SWD"} SWEDEN
			%option{ :value=> "SWZ"} SWITZERLAND
			%option{ :value=> "SY"} SEYCHELLES
			%option{ :value=> "SYR"} SYRIA
			%option{ :value=> "TA"} THE AMERICAS
			%option{ :value=> "THAI"} THAILAND
			%option{ :value=> "TN"} TUNISIA
			%option{ :value=> "PA"} PANAMA
			%option{ :value=> "PK"} PAKISTAN
			%option{ :value=> "PL"} POLAND
			%option{ :value=> "PLP"} PHILIPPINES
			%option{ :value=> "PNG"} PAPUA NEW GUINEA
			%option{ :value=> "POR"} PORTUGAL
			%option{ :value=> "PR"} PERU
			%option{ :value=> "PRG"} PARAGUAY
			%option{ :value=> "QA"} QATAR
			%option{ :value=> "RUS"} RUSSIA
			%option{ :value=> "RWA"} RWANDA
			%option{ :value=> "TR"} TURKEY
			%option{ :value=> "TWN"} TAIWAN
			%option{ :value=> "TZN"} TANZAINIA
			%option{ :value=> "UAE"} UNITED ARAB EMIRATES
			%option{ :value=> "UGD"} UGANDA
			%option{ :value=> "UK"} UNITED KINGDOM
			%option{ :value=> "UKR"} UKRAINE
			%option{ :value=> "URU"} URUGUAY
			%option{ :value=> "USA"} UNITED STATES OF AMERICA
			%option{ :value=> "VT"} VIETNAM
			%option{ :value=> "VZ"} VENEZUELA
			%option{ :value=> "WE"} WESTERN EUROPE
			%option{ :value=> "WG"} GRENADA
			%option{ :value=> "YG"} YUGOSLAVIA
			%option{ :value=> "YM"} YEMEN
			%option{ :value=> "ZIW"} ZIMBABWE
			%option{ :value=> "ZRE"} ZAIRE
		%br
		
		%label.Medium.Multi.PositionerLeft{ :for => "SelectRelationship" } Hubungan Dengan Calon Tertanggung
		%select#SelectRelationship.Single.Long.PositionerLeft
			%option{ :value => "null"} Please Select
			%option{ :value => "self"} Diri Sendiri
			%option{ :value => "parent"} Orang Tua
			%option{ :value => "child"} Anak
			%option{ :value => "spouse"} Pasangan
			%option{ :value => "brother"} Saudara Laki-Laki
			%option{ :value => "sister"} Saudara Perempuan
			%option{ :value => "grandparent"} Kakek / Nenek
			%option{ :value => "grandchildren"} Cucu
			%option{ :value => "aunt"} Bibi
			%option{ :value => "uncle"} Paman
			%option{ :value => "nephew"} Keponakan Laki-Laki
			%option{ :value => "niece"} Keponakan Perempuan
			%option{ :value => "employee"} Pekerja
			%option{ :value => "employer"} Pemberi Kerja
			%option{ :value => "other"} Lainnya
			%option{ :value => "heir"} Ahli Waris
			%option{ :value => "guardian"} Wali
			%option{ :value => "creditordebitor"} Kreditor / Debitor
			%option{ :value => "charity"} Amal
			%option{ :value => "heirlaw"} Ahli Waris Hukum
		%br
		
		%label.Medium.Single.PositionerLeft{ :for => "TextSharePercentage" } Share Percentage
		%input#TextSharePercentage.Single.Long.PositionerLeft{ :type => "text" }
		%br