%form#PopUpMotion.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpCardiac')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Pertanyaan Kesehatan

	/ MAIN

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6i Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
		%br
		%div.RadioButton
			%a.NavigationPopUp{ :href => "../../Page/HTML/.html" } KUESIONER GANGGUAN TULANG BELAKANG
			%div.Separator
			%a.NavigationPopUp{ :href => "../../Page/HTML/.html" } KUESIONER SENDI
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%input#TextPolicyHolderKuesionerGangguanTulangBelakangSub.Full.Multi.Item.Margin{ :type =>"text" }
		%label.Medium.Single (maksimum 250 karakter)