%form#FormPopUpHealth.PopUp
    %header
        %input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
        %input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
        %h2 Pertanyaan Kesehatan

    %fieldset
        %label#LabelDiseaseName.Wrap{ :for => "TextDiseaseName" } Nama Penyakit
        %input#TextDiseaseName.Full.Single{ :type => "text" }

        %label#LabelDiseaseSickFrom.Wrap{ :for => "DateDiseaseSickFrom" } Kapan Mulai Sakit
        %input#DateDiseaseSickFrom.Full.Single{ :type => "text", "data-field" => "date" }

        %label#LabelDiseaseSickDuration.Wrap{ :for => "TextDiseaseSickDuration" } Lama Sakit
        %input#TextSickDiseaseDuration.Full.Single{ :type => "text" }

        %label#LabelDiseaseDoctorName.Wrap{ :for => "TextDiseaseDoctorName" } Nama Dokter
        %input#TextDiseaseDoctorName.Full.Single{ :type => "text" }

        %label#LabelDiseaseHospital.Wrap{ :for => "TextDiseaseHospital" } Rumah Sakit / Klinik / Laboratorium / Puskesmas
        %input#TextDiseaseHospital.Full.Single{ :type => "text" }

        %label#LabelDiseaseAddress.Wrap{ :for => "TextDiseaseAddress" } Alamat
        %input#TextDiseaseAddress.Full.Single{ :type => "text" }

        %label#LabelDiseaseTelephone.Wrap{ :for => "TextDiseaseTelephone" } Nomor Telepon
        %input#TextDiseaseTelephone.Full.Single{ :type => "text" }
