%form#PopUpHiking.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpHiking', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpHiking', 'PopUpActivity', stringPageInfixTypeCurrent + 'Hiking', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Untuk Pendakian Gunung Dan Panjat Tebing

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.4 PENDAKIAN GUNUNG DAN PANJAT TEBING
		%br
		%hr

		%label.Medium.Single.Item 1. Mohon sebutkan jenis kegiatan pendakian gunung/panjat tebing yang Anda lakukan misalnya bouldering, hiking, pendakian es, pendakian dalam ruangan, mountainnering, tracking, dan lain-lain?
		%br
		%label.Medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHKType.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 2. Sudah berapa lama Anda melakukan olah raga ini?
		%br
		%label.Medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHKHowLong.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 3. Berapa kali dalam 1 (satu) bulan Anda melakukan olah raga ini?
		%br
		%label.Medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini, termasuk jika olah raga ini Anda lakukan tidak rutin dalam 1 (satu) bulan.
		%br
		%input#TextHKFrequency.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 4. Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
		%br
		%label.Medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHKLocation.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 5. Selain disebutkan di atas apakah Anda pernah/memiliki rencana untuk mendaki di negara lain?
		%br
		%label.Medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Negara dan Lokasi
			%label.Short.Single.Item1.Center.Margin Waktu Pendakian
		%div.ContainerFit
			%input#TextHKUPLocation1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKUPLocation2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKUPWhen2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKUPLocation3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKUPWhen3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKUPLocation4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKUPWhen4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKUPLocation5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKUPWhen5.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr

		%label.Medium.Single.Item 6. Mohon sebutkan peralatan apa saja yang digunakan sewaktu melakukan olah raga ini.
		%br
		%div.ContainerFit
			%div.Checkbox.Item
				%input#CheckboxToolsAltimeter{ :type => "checkbox", :name => "CheckboxTools", :value => "altimeter" }
				%label.Checkbox{ :for => "CheckboxToolsAltimeter" } Altimer
				%br
				%input#CheckboxToolsAnchor{ :type => "checkbox", :name => "CheckboxTools", :value => "anchor" }
				%label.Checkbox{ :for => "CheckboxToolsAnchor" } Jangkar
				%br
				%input#CheckboxToolsCam{ :type => "checkbox", :name => "CheckboxTools", :value => "cam" }
				%label.Checkbox{ :for => "CheckboxToolsCam" } Cams, Camatots, Spring Loaded Cam Devices
				%br
				%input#CheckboxToolsHandphone{ :type => "checkbox", :name => "CheckboxTools", :value => "handphone" }
				%label.Checkbox{ :for => "CheckboxToolsHandphone" } Cellular/Mobile Telephone
				%br
				%input#CheckboxToolsChocksAndNutsHexes{ :type => "checkbox", :name => "CheckboxTools", :value => "chocksandnutshexes" }
				%label.Checkbox{ :for => "CheckboxToolsChocksAndNutsHexes" } Chocks and Nuts, Hexes
				%br
				%input#CheckboxToolsClimbingHarness{ :type => "checkbox", :name => "CheckboxTools", :value => "climbingharness" }
				%label.Checkbox{ :for => "CheckboxToolsClimbingHarness" } Climbing Harness
				%br
				%input#CheckboxToolsIceBoots{ :type => "checkbox", :name => "CheckboxTools", :value => "iceboots" }
				%label.Checkbox{ :for => "CheckboxToolsIceBoots" } Sepatu Es
				%br
				%input#CheckboxToolsLadders{ :type => "checkbox", :name => "CheckboxTools", :value => "etriersorwebladders" }
				%label.Checkbox{ :for => "CheckboxToolsLadders" } Etriers or Web ladders Devices

			%div.Checkbox.Item
				%input#CheckboxToolsGPS{ :type => "checkbox", :name => "CheckboxTools", :value => "GPS" }
				%label.Checkbox{ :for => "CheckboxToolsGPS" } Global Positioning System (GPS)
				%br
				%input#CheckboxToolslight{ :type => "checkbox", :name => "CheckboxTools", :value => "flashlight" }
				%label.Checkbox{ :for => "CheckboxToolslight" } Senter
				%br
				%input#CheckboxToolsHeavyWinterClothing{ :type => "checkbox", :name => "CheckboxTools", :value => "heavywinterclothing" }
				%label.Checkbox{ :for => "CheckboxToolsHeavyWinterClothing" } Heavy Winter Clothing
				%br
				%input#CheckboxToolsHelmet{ :type => "checkbox", :name => "CheckboxTools", :value => "helmet" }
				%label.Checkbox{ :for => "CheckboxToolsHelmet" } Helm
				%br
				%input#CheckboxToolsAxe{ :type => "checkbox", :name => "CheckboxTools", :value => "axe" }
				%label.Checkbox{ :for => "CheckboxToolsAxe" } Kapak
				%br
				%input#CheckboxToolsIceScrews{ :type => "checkbox", :name => "CheckboxTools", :value => "ice screws" }
				%label.Checkbox{ :for => "CheckboxToolsIceScrews" } Ice Screws
				%br
				%input#CheckboxToolsNavigation{ :type => "checkbox", :name => "CheckboxTools", :value => "navigation" }
				%label.Checkbox{ :for => "CheckboxToolsNavigation" } Peta & Kompas
				%br
				%input#CheckboxToolsJumars{ :type => "checkbox", :name => "CheckboxTools", :value => "jumars" }
				%label.Checkbox{ :for => "CheckboxToolsJumars" } Mechanical Ascenders (jumars)

			%div.Checkbox.Item
				%input#CheckboxToolsHikingBoots{ :type => "checkbox", :name => "CheckboxTools", :value => "hikingboots" }
				%label.Checkbox{ :for => "CheckboxToolsHikingBoots" } Sepatu Gunung
				%br
				%input#CheckboxToolsOxygenTank{ :type => "checkbox", :name => "CheckboxTools", :value => "oxygentank" }
				%label.Checkbox{ :for => "CheckboxToolsOxygenTank" } Oxygen Tanks
				%br
				%input#CheckboxToolsPerlonRopesAndCarabiners{ :type => "checkbox", :name => "CheckboxTools", :value => "perlonropesandcarabiners" }
				%label.Checkbox{ :for => "CheckboxToolsPerlonRopesAndCarabiners" } Perlon Ropes & Carabiners
				%br
				%input#CheckboxToolsBeaks{ :type => "checkbox", :name => "CheckboxTools", :value => "beaks" }
				%label.Checkbox{ :for => "CheckboxToolsBeaks" } Pitons or Toucans (beaks)
				%br
				%input#CheckboxToolsPortaledge{ :type => "checkbox", :name => "CheckboxTools", :value => "portaledge" }
				%label.Checkbox{ :for => "CheckboxToolsPortaledge" } Portaledge
				%br
				%input#CheckboxToolsTwoWayRadio{ :type => "checkbox", :name => "CheckboxTools", :value => "twowayradio" }
				%label.Checkbox{ :for => "CheckboxToolsTwoWayRadio" } Two Way Radio
				%br
				%input#CheckboxToolsSnowPicket{ :type => "checkbox", :name => "CheckboxTools", :value => "snow picket" }
				%label.Checkbox{ :for => "CheckboxToolsSnowPicket" } Snow Picket
				%br
				%input#CheckboxToolsStoppers{ :type => "checkbox", :name => "CheckboxTools", :value => "stoppers" }
				%label.Checkbox{ :for => "CheckboxToolsStoppers" } Stoppers
		%br
		%hr

		%label.Medium.Single.Item 7. Berapakah tinggi/ derajat pendakian Anda?
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Rata-Rata tinggi dan derajat
			%label.Short.Single.Item.Center.Margin 
			%label.Short.Single.Item1.Center.Margin Pencapaian Maksimum
			%label.Short.Single.Item1.Center.Margin 
			%label.Short.Single.Item1.Center.Margin Rencana tinggi dan derajat pendakian
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin 
			%label.Short.Single.Item.Center.Margin Tinggi
			%label.Short.Single.Item1.Center.Margin Derajat
			%label.Short.Single.Item1.Center.Margin Tanggal
			%label.Short.Single.Item1.Center.Margin 
		%div.ContainerFit
			%input#TextHKBOTTOMAverageHeightAndAngle1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMHeight1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMAngle1.Short.Single.Item.Margin{ :type => "text" }
			%input#DateHKBOTTOMWhen1.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextHKBOTTOMPlanHeightAndAngle1.Short.Single.Item.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKBOTTOMAverageHeightAndAngle2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMHeight2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMAngle2.Short.Single.Item.Margin{ :type => "text" }
			%input#DateHKBOTTOMWhen2.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextHKBOTTOMPlanHeightAndAngle2.Short.Single.Item.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKBOTTOMAverageHeightAndAngle3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMHeight3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMAngle3.Short.Single.Item.Margin{ :type => "text" }
			%input#DateHKBOTTOMWhen3.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextHKBOTTOMPlanHeightAndAngle3.Short.Single.Item.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextHKBOTTOMAverageHeightAndAngle4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMHeight4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMAngle4.Short.Single.Item.Margin{ :type => "text" }
			%input#DateHKBOTTOMWhen4.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextHKBOTTOMPlanHeightAndAngle4.Short.Single.Item.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%input#TextHKBOTTOMAverageHeightAndAngle5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMHeight5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextHKBOTTOMAngle5.Short.Single.Item.Margin{ :type => "text" }
			%input#DateHKBOTTOMWhen5.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextHKBOTTOMPlanHeightAndAngle5.Short.Single.Item.Margin{ :type => "text" }
		%hr

		%label#Wrap.Single.PositionerLeft 8. Apakah Anda seorang anggota suatu Perkumpulan Pendaki Gunung/Panjat Tebing atau Asosiasi Pendaki Gunung/Panjat Tebing
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonHKAssociationYes{ :type => "radio", :name => "RadioButtonHKAssociation", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonHKAssociationYes" } Ya
			%div.Separator
			%input#RadioButtonHKAssociationNo{ :type => "radio", :name => "RadioButtonHKAssociation", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonHKAssociationNo" } Tidak
		%br
		%label.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci dengan melengkapi kolom di bawah ini (Nama asosiasi/perkumpulan, tanggal bergabung, lokasi perkumpulan dan aktivitas rutin).
		%br
		%input#TextHKAssociationDesc.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 9. Apakah Anda pernah mendaki seorang diri atau di malam hari?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonHKSelfOrNightYes{ :type => "radio", :name => "RadioButtonHKSelfOrNight", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonHKSelfOrNightYes" } Ya
			%div.Separator
			%input#RadioButtonHKSelfOrNightNo{ :type => "radio", :name => "RadioButtonHKSelfOrNight", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonHKSelfOrNightNo" } Tidak
		%br
		%label.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHKSelfOrNightDesc.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label.Medium.Single.Item 10. Apakah Anda mendaki hanya untuk sekedar olah raga saja atau sebagai bagian dari pekerjaan?
		%br

		%div.RadioButton.Medium.PositionerLeft
			%label.PositionerLeft Olah raga
			%input#RadioButtonHKSportYes.PositionerLeft{ :type => "radio", :name => "RadioButtonHKSport", :value => "true" }
			%label.RadioButton.PositionerLeft{ :for => "RadioButtonHKSportYes" } Ya
			%div.Separator.PositionerLeft
			%input#RadioButtonHKSportNo.PositionerLeft{ :type => "radio", :name => "RadioButtonHKSport", :value => "false" }
			%label.RadioButton.PositionerLeft{ :for => "RadioButtonHKSportNo" } Tidak
			%br
			%label.PositionerLeft Pekerjaan
			%input#RadioButtonHKJobYes.PositionerLeft{ :type => "radio", :name => "RadioButtonHKJob", :value => "true" }
			%label.RadioButton.PositionerLeft{ :for => "RadioButtonHKJobYes" } Ya
			%div.Separator.PositionerLeft
			%input#RadioButtonHKJobNo.PositionerLeft{ :type => "radio", :name => "RadioButtonHKJob", :value => "false" }
			%label.RadioButton.PositionerLeft{ :for => "RadioButtonHKJobNo" } Tidak
		%br
		%label.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHKJob.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 11. Pernahkah Anda mengalami kecelakaan sewaktu mendaki gunung/panjat tebing?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonHKAccidentYes{ :type => "radio", :name => "RadioButtonHKAccident", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonHKAccidentYes" } Ya
			%div.Separator
			%input#RadioButtonHKAccidentNo{ :type => "radio", :name => "RadioButtonHKAccident", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonHKAccidentNo" } Tidak
		%br
		%label.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHKAccident.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 12. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br
		%input#TextHKAdditionalInformation.Full.Multi.Item.Margin{ :type =>"text"}
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
