%form#PopUpHipertensi.PopUp
	
	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpHipertensi', 'PopUpCardiac')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone()" }
		%h2 KUESIONER TEKANAN DARAH TINGGI 

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6d Gangguan fungsi/sistem Jantung dan Pembuluh Darah, Nyeri Dada, Serangan Jantung, Demam, Jantung, Rematik, Tekanan Darah Tinggi (Hipertensi)/Rendah, (Hipotensi), Hiperkolesterol, Penyempitan/Penyumbatan Pembuluh Darah Otak dan lainnya? 

		%br
		%hr
		%div.ContainerFit
			%label#LabelPolicyHolder.Medium.Single.Item3.Margin 1. a. Kapan pertama kali diketahui menderita tekanan 
			%input#TextKapanNyeriHari.Medium.Single.Item1.Margin{ :type => "text", :placeholder => "Hari" }
			%input#TextKapanNyeriBulan.Medium.Single.Item1.Margin{ :type => "text", :placeholder => "Bulan" }
			%input#TextKapanNyeriTahun.Medium.Single.Item1.Margin{ :type => "text", :placeholder => "Tahun" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft  b. Berapa tekanan darah saat itu?
			%input#TextPolicyHolderAlasanTekananDarah.Medium.Single.Item.Margin{ :type =>"text" }
		%br	
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item c. Mengapa saat itu dilakukan pemeriksaan tekanan darah?
			%br
			%input#RadioButtonPemeriksaanRutin{ :type => "radio", :name => "RadioButtonPemeriksaanTekanan", :value => "Pemeriksaan rutin" }
			%label.RadioButton{ :for => "RadioButtonPemeriksaanRutin" } Pemeriksaan rutin
			%div.Separator
			%input#RadioButtonAdeluhanMohonJelaskan{ :type => "radio", :name => "RadioButtonPemeriksaanTekanan", :value => "Adeluhan. Mohon jelaskan" }
			%label.RadioButton{ :for => "RadioButtonAdeluhanMohonJelaskan" }Adeluhan. Mohon jelaskan
		%br
		%input#TextPolicyHolderLokasiNyeriTersebut.Full.Single.Item1.Margin{ :type =>"text" }
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item d. Apakah dikonsultasikan ke dokter ?
			%input#RadioButtonPolicydikonsultasikanYA{ :type => "radio", :name => "RadioButtonPolicyKonsultasiDoktorChange", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPolicydikonsultasikanYA" } Ya
			%div.Separator
			%input#RadioButtonPolicydikonsultasikanNO{ :type => "radio", :name => "RadioButtonPolicyKonsultasiDoktorChange", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPolicydikonsultasikanNO" } Tidak
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Dokter
			%input#TextPolicyHolderNamaDokterTD.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Dokter
			%input#TextPolicyHolderAlamatDokterTD.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%label#LabelPolicyHolderLainnya.Wrap.Single.PositionerLeft.Margin e. Bagaimana frekuensi kontrol ke dokter?
		%input#TextPolicyHolderLainnyaFrequency.Medium.Single.PositionerLeft.Margin{ :type => "text" }
		%label#LabelPolicyHolderLainnya.Wrap.Single.PositionerLeft.Margin kali per minggu/ bulan/ tahun
		%br
		%hr

		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 2. Apakah kenaikan tekanan darah tersebut berhubungan dengan penyakit sebagai berikut:
			%br
			%input#RadioButtonJantung{ :type => "radio", :name => "RadioButtonBerhubungPenyakit", :value => "Jantung" }
			%label.RadioButton{ :for => "RadioButtonJantung" }  Jantung
			%div.Separator
			%input#RadioButtonOtak{ :type => "radio", :name => "RadioButtonBerhubungPenyakit", :value => "Otak" }
			%label.RadioButton{ :for => "RadioButtonOtak" }Otak
			%div.Separator
			%input#RadioButtonGinjal{ :type => "radio", :name => "RadioButtonBerhubungPenyakit", :value => "Ginjal" }
			%label.RadioButton{ :for => "RadioButtonGinjal" }Ginjal
			%div.Separator
			%input#RadioButtonBerhubungPenyakitLainnya{ :type => "radio", :name => "RadioButtonBerhubungPenyakit", :value => "Lainnya" }
			%label.RadioButton{ :for => "RadioButtonBerhubungPenyakitLainnya" }Lainnya
		%br
		%input#TextPolicyHolderBerhubungPenyakitAlasan.Full.Single.Item1.Margin{ :type =>"text" }
		%hr
		%div.ContainerFit
			%label#LabelPolicyHolder.Medium.Single.Item3.Margin 3. a. Kapan pengobatan kenaikan tekanan darah dimulai?
			%input#TextTekananDarahMulaiHari.Medium.Single.Item1.Margin{ :type => "text", :placeholder => "Hari" }
			%input#TextTekananDarahMulaiBulan.Medium.Single.Item1.Margin{ :type => "text", :placeholder => "Bulan" }
			%input#TextTekananDarahMulaiTahun.Medium.Single.Item1.Margin{ :type => "text", :placeholder => "Tahun" }
		%br
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item  b. Apakah pernah berhenti minum obat?
			%input#RadioButtonPolicyBerhentiUbatYes{ :type => "radio", :name => "RadioButtonPolicyBerhentiUbat", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPolicyBerhentiUbatYes" } Ya
			%div.Separator
			%input#RadioButtonPolicyBerhentiUbatNo{ :type => "radio", :name => "RadioButtonPolicyBerhentiUbat", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPolicyBerhentiUbatNo" } Tidak
		%br
		%input#TextPolicyHolderRadioButtonPolicyBerhentiUbatAlasan.Full.Single.Item1.Margin{ :type =>"text" }
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item  c. Apakah saat ini masih dalam pengobatan?
			%input#RadioButtonPolicyMasihDalamPengobatanYes{ :type => "radio", :name => "RadioButtonPolicyMasihDalamPengobatan", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPolicyMasihDalamPengobatanYes" } Ya
			%div.Separator
			%input#RadioButtonPolicyMasihDalamPengobatanNo{ :type => "radio", :name => "RadioButtonPolicyMasihDalamPengobatan", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPolicyMasihDalamPengobatanNo" } Tidak
		%br
		%input#TextPolicyHolderRadioButtonPolicyMasihDalamPengobatanAlasan.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 4. Apakah pernah melakukan pemeriksaan sebagai berikut? Jika Ya, jelaskan kapan dan bagaimana hasilnya. 
			%br
			%input#RadioButtonPemeriksaanEKG{ :type => "radio", :name => "RadioButtonHasilPemeriksaan", :value => "EKG/ ECG" }
			%label.RadioButton{ :for => "RadioButtonPemeriksaanEKG" } EKG/ ECG
			%div.Separator
			%input#RadioButtonRontgenDada{ :type => "radio", :name => "RadioButtonHasilPemeriksaan", :value => "Rontgen dada" }
			%label.RadioButton{ :for => "RadioButtonRontgenDada" }Rontgen dada
			%div.Separator
			%input#RadioButtonTreadmill{ :type => "radio", :name => "RadioButtonHasilPemeriksaan", :value => "Treadmill" }
			%label.RadioButton{ :for => "RadioButtonTreadmill" }Treadmill
			%div.Separator
			%input#RadioButtonLaboratorium{ :type => "radio", :name => "RadioButtonHasilPemeriksaan", :value => "Laboratorium" }
			%label.RadioButton{ :for => "RadioButtonLaboratorium" }Laboratorium
			%div.Separator
			%input#RadioButtonEchocardiogram{ :type => "radio", :name => "RadioButtonHasilPemeriksaan", :value => "Echocardiogram" }
			%label.RadioButton{ :for => "RadioButtonEchocardiogram" }Echocardiogram
			%div.Separator
			%input#RadioButtonHasilPemeriksaanLainnya{ :type => "radio", :name => "RadioButtonHasilPemeriksaan", :value => "Lainnya" }
			%label.RadioButton{ :for => "RadioButtonHasilPemeriksaanLainnya" } Lainnya
		%br
		%input#TextPolicyHolderRadioButtonPolicyRadioButtonHasilPemeriksaanAlasan.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item  5. Apakah mendapat perawatan rumah sakit sehubungan dengan tekanan darah tinggi?
			%input#RadioButtonPolicyBerawatDarahTinggiYes{ :type => "radio", :name => "RadioButtonPolicyBerawatDarahTinggi", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonPolicyBerawatDarahTinggiYes" } Ya
			%div.Separator
			%input#RadioButtonPolicyBerawatDarahTinggiNo{ :type => "radio", :name => "RadioButtonPolicyBerawatDarahTinggi", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonPolicyBerawatDarahTinggiNo" } Tidak
		%br
		%div.ContainerFit
			%label.Short.Single.Item1.Center Alasan Perawatan  
			%label.Short.Single.Item1.Center Nama Dokter
			%label.Short.Single.Item1.Center Alamat Dokter 
			%label.Short.Single.Item1.Center Tanggal perawatan
			%label.Short.Single.Item1.Center Jangka waktu perawatan  
		%div.ContainerFit
			%input#TextPolicyHolderAlasanRawatan1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderNamaDokter1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderAlamatDokter1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderTanggalPerawatan1.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderJangkaWaktuPerawatan1.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%div.ContainerFit
			%input#TextPolicyHolderAlasanRawatan2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderNamaDokter2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderAlamatDokter2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderTanggalPerawatan2.Short.Single.Item1.Margin{ :type => "text" }
			%input#TextPolicyHolderJangkaWaktuPerawatan2.Short.Single.Item1.Margin{ :type => "text" }
		%br
		%hr
		%div.RadioButton.PositionerLeft
			%label.medium.Single.Item 6. Apakah disertai komplikasi organ lain sebagai berikut?  
			%br
			%input#RadioButtonTidakAda{ :type => "radio", :name => "RadioButtonHasilkomplikasiOrgan", :value => "Tidak ada" }
			%label.RadioButton{ :for => "RadioButtonTidakAda" }  Tidak ada
			%div.Separator
			%input#RadioButtonOrganGinjal{ :type => "radio", :name => "RadioButtonHasilkomplikasiOrgan", :value => "Ginjal" }
			%label.RadioButton{ :for => "RadioButtonOrganGinjal" }Ginjal
			%div.Separator
			%input#RadioButtonOrganOtak{ :type => "radio", :name => "RadioButtonHasilkomplikasiOrgan", :value => "Otak" }
			%label.RadioButton{ :for => "RadioButtonOrganOtak" }Otak
			%div.Separator
			%input#RadioButtonGangguanPenglihatan{ :type => "radio", :name => "RadioButtonHasilkomplikasiOrgan", :value => "Gangguan Penglihatan" }
			%label.RadioButton{ :for => "RadioButtonGangguanPenglihatan" }Gangguan Penglihatan
			%div.Separator
			%input#RadioButtonHati{ :type => "radio", :name => "RadioButtonHasilkomplikasiOrgan", :value => "Hati" }
			%label.RadioButton{ :for => "RadioButtonHati" }Hati
			%div.Separator
			%input#RadioButtonHasilkomplikasiOrganLain{ :type => "radio", :name => "RadioButtonHasilkomplikasiOrgan", :value => "Lainnya" }
			%label.RadioButton{ :for => "RadioButtonHasilkomplikasiOrganLain" } Lainnya
		%br
		%input#TextPolicyHolderRadioButtonPolicyRadioButtonHasilkomplikasiOrganAlasan.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 7. Jelaskan rata-rata tekanan darah dalam 12 bulan terakhir (termasuk tanggalnya).
		%br
		%input#TextPolicyHolderTekananDarahDalam12Bulan.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal.Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.