%form#PopUpCell.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpCell')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonPopUpDone('PopUpCell', stringPageInfixTypeCurrent + 'Cell', arrayHealthQuestionnaire, ['Date' + stringPageInfixTypeCurrent + 'Tumor' + 'FirstDiagnose'])" }
		%h2 Pertanyaan Kesehatan

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6l Gangguan fungsi Pertumbuhan Sel, Tumor, Kista, Kanker, Benjolan pada permukaan kulit atau pertumbuhan abnormal lainnya?
		%br
		%div.RadioButton
			%input#ButtonTumor.ButtonPrimary{ :type => "button", :value => "Kuesioner Tumor", :onclick => "buttonPopUpNavigation(this.id, 'PopUpCell', 'PopUpTumor', stringPageInfixTypeCurrent + 'Tumor', arrayHealthQuestionnaire)" }
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%textarea#AreaDetail.Full.Multi
		%label.Medium.Single (maksimum 250 karakter)