%form#FormPopUpBeneficiariesList.SPAJPopUp
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Tambah Penerima Manfaat

	%fieldset
		%div.ContainerFit
			%label.Medium.Single.Item{ :for => "TextFullName" } Nama Lengkap
			%input#TextFullName.Full.Single.Item{ :type => "text", :maxlength => "30", :required => "true" }
		%br

		%label.Medium.Single.PositionerLeft{ :for => "RadioButtonSexMale" } Jenis Kelamin
		%div.RadioButton.PositionerLeft
			%input#RadioButtonSexMale.Medium.Single{ :type => "radio", :name => "RadioButtonSex", :value => "male" }
			%label.RadioButton{ :for => "RadioButtonSexMale" } Pria
			%div.Separator
			%input#RadioButtonSexFemale.Medium.Single{ :type => "radio", :name => "RadioButtonSex", :value => "female" }
			%label.RadioButton{ :for => "RadioButtonSexFemale" } Wanita
		%br

		%label.Medium.Single.PositionerLeft{ :for => "DateBirthday" } Tanggal Lahir
		%input#DateBirthday.Long.Single.PositionerLeft{ :type => "text", :required => "true", "data-field" => "date" }
		%label.Medium.Single.PositionerRight{ :for => "TextAge" } Umur
		%input#TextAge.Long.Single.PositionerRight{ :type => "text" }
		%br

		%label.Medium.Single.PositionerLeft{ :for => "SelectNationality" } Kewarganegaraan
		%select#SelectNationality.Single.Long.PositionerLeft
			%option{ :value => "Indonesia" } INDONESIA
			%option{ :value=> "Afghanistan" } AFGHANISTAN
			%option{ :value=> "Albania" } ALBANIA
			%option{ :value=> "Andorra" } ANDORRA
			%option{ :value=> "Argentina" } ARGENTINA
			%option{ :value=> "Austria" } AUSTRIA
			%option{ :value=> "Australia" } AUSTRALIA
			%option{ :value=> "Bangladesh" } BANGLADESH
			%option{ :value=> "Barbados" } BARBADOS
			%option{ :value=> "Bulgaria" } BULGARIA
			%option{ :value=> "Belize" } BELIZE
			%option{ :value=> "Belgium" } BELGIUM
			%option{ :value=> "Benin" } BENIN
			%option{ :value=> "Bolivia" } BOLIVIA
			%option{ :value=> "Brazil" } BRAZIL
			%option{ :value=> "Brunei Darussalam" } BRUNEI DARUSSALAM
			%option{ :value=> "Bahrain" } BAHRAIN
			%option{ :value=> "Bahamas" } BAHAMAS
			%option{ :value=> "Botswana" } BOTSWANA
			%option{ :value=> "Belorussia" } BELORUSSIA
			%option{ :value=> "Cambodia" } CAMBODIA
			%option{ :value=> "Canada" } CANADA
			%option{ :value=> "Central Africa Republic" } CENTRAL AFRICA REPUBLIC
			%option{ :value=> "Cuba" } CUBA
			%option{ :value=> "China" } CHINA
			%option{ :value=> "CIS Countries" } CIS COUNTRIES
			%option{ :value=> "Chile" } CHILE
			%option{ :value=> "Colombia" } COLOMBIA
			%option{ :value=> "Costa Rica" } COSTA RICA
			%option{ :value=> "Croatia" } CROATIA
			%option{ :value=> "Cyprus" } CYPRUS
			%option{ :value=> "Czech Republic"} CZECH REPUBLIC
			%option{ :value=> "Denmark"} DENMARK
			%option{ :value=> "Dominica"} DOMINICA
			%option{ :value=> "Dominican Republic"} DOMINICAN REPUBLIC
			%option{ :value=> "Eastern Europe"} EASTERN EUROPE
			%option{ :value=> "England"} ENGLAND
			%option{ :value=> "El Salvador"} EL SALVADOR
			%option{ :value=> "Egypt"} EYGPT
			%option{ :value=> "Ethiopia"} ETHIOPIA
			%option{ :value=> "Estonia"} ESTONIA
			%option{ :value=> "Finlan"} FINLAND
			%option{ :value=> "Fiji Islands"} FIJI ISLANDS
			%option{ :value=> "Egpyt"} EYGPT
			%option{ :value=> "Frace"} FRANCE
			%option{ :value=> "Faroe Island"} FAROE ISLAND
			%option{ :value=> "Great Britain"} GREAT BRITAIN
			%option{ :value=> "Alderney"} ALDERNEY
			%option{ :value=> "Guernsey (Channel Island)"} GUERNSEY (CHANNEL ISLAND)
			%option{ :value=> "Gibraltar"} GIBRALTAR
			%option{ :value=> "Guatemala"} GUATEMALA
			%option{ :value=> "Ghana"} GHANA
			%option{ :value=> "Germany"} GERMANY
			%option{ :value=> "Greece"} GREECE
			%option{ :value=> "Guyana"} GUYANA
			%option{ :value=> "Hungary"} HUNGARY
			%option{ :value=> "Hongkong"} HONG KONG
			%option{ :value=> "Haiti"} HAITI
			%option{ :value=> "Iceland"} ICELAND
			%option{ :value=> "India"} INDIA
			%option{ :value=> "Iran"} IRAN
			%option{ :value=> "Ireland"} IRELAND
			%option{ :value=> "Iraq"} IRAQ
			%option{ :value=> "Isle Of Man"} ISLE OF MAN
			%option{ :value=> "Iraq"} IRAQ
			%option{ :value=> "Israel"} ISRAEL
			%option{ :value=> "Italy"} ITALY
			%option{ :value=> "Ivory Coast"} IVORY COAST
			%option{ :value=> "Jamaica"} JAMAICA
			%option{ :value=> "Japan"} JAPAN
			%option{ :value=> "Jordan"} JORDAN
			%option{ :value=> "Korea (North & South)"} KOREA (NORTH & SOUTH)
			%option{ :value=> "Kuwait"} KUWAIT
			%option{ :value=> "Kenya"} KENYA
			%option{ :value=> "Laos"} LAOS
			%option{ :value=> "Lebanon"} LEBANON
			%option{ :value=> "Libya"} LIBYA
			%option{ :value=> "Lithuania"} LITHUANIA
			%option{ :value=> "Lesotho"} LESOTHO
			%option{ :value=> "Luxembourg"} LUXEMBOURG
			%option{ :value=> "Lative"} LATVIA
			%option{ :value=> "Macau"} MACAU
			%option{ :value=> "Maldives"} MALDIVES
			%option{ :value=> "Madagascar"} MADAGASCAR
			%option{ :value=> "Malaysia"} MALAYSIA
			%option{ :value=> "Macedonia"} MACEDONIA
			%option{ :value=> "Middle East"} MIDDLE EAST
			%option{ :value=> "Mexico"} MEXICO
			%option{ :value=> "Mongolia"} MONGOLIA
			%option{ :value=> "Mali"} MALI
			%option{ :value=> "Malta"} MALTA
			%option{ :value=> "Monaco"} MONACO
			%option{ :value=> "Morocco"} MOROCCO
			%option{ :value=> "Mauritius"} MAURITIUS
			%option{ :value=> "Mauritania"} MAURITANIA
			%option{ :value=> "Melawai"} MELAWI
			%option{ :value=> "Myanmar"} MYANMAR
			%option{ :value=> "Nepal"} NEPAL
			%option{ :value=> "Nigeria"} NIGERIA
			%option{ :value=> "Nicaragua"} NICARAGUA
			%option{ :value=> "Niger"} NIGER
			%option{ :value=> "North Korea"} NORTH KOREA
			%option{ :value=> "Netherlands"} NETHERLANDS
			%option{ :value=> "Norway"} NORWAY
			%option{ :value=> "New Zealand"} NEW ZEALAND
			%option{ :value=> "Others"} OTHERS
			%option{ :value=> "Other Pacific Islands"} OTHER PACIFIC ISLANDS
			%option{ :value=> "Panama"} PANAMA
			%option{ :value=> "Pakistan"} PAKISTAN
			%option{ :value=> "Poland"} POLAND
			%option{ :value=> "Philippines"} PHILIPPINES
			%option{ :value=> "Papua New Guinea"} PAPUA NEW GUINEA
			%option{ :value=> "Portugal"} PORTUGAL
			%option{ :value=> "Peru"} PERU
			%option{ :value=> "Paraguay"} PARAGUAY
			%option{ :value=> "Qatar"} QATAR
			%option{ :value=> "Russia"} RUSSIA
			%option{ :value=> "Rwanda"} RWANDA
			%option{ :value=> "South Africa"} SOUTH AFRICA
			%option{ :value=> "Singapore"} SINGAPORE
			%option{ :value=> "South Korea"} SOUTH KOREA
			%option{ :value=> "Slovakia"} SLOVAKIA
			%option{ :value=> "Samoa"} SAMOA
			%option{ :value=> "Somalia"} SOMALIA
			%option{ :value=> "San Marino"} SAN MARINO
			%option{ :value=> "Senegal"} SENEGAL
			%option{ :value=> "Spain"} SPAIN
			%option{ :value=> "Sri Lanka"} SRI LANKA
			%option{ :value=> "Surinam"} SURINAM
			%option{ :value=> "Sweden"} SWEDEN
			%option{ :value=> "Switzerland"} SWITZERLAND
			%option{ :value=> "Seychelles"} SEYCHELLES
			%option{ :value=> "Syria"} SYRIA
			%option{ :value=> "The Americas"} THE AMERICAS
			%option{ :value=> "Thailand"} THAILAND
			%option{ :value=> "Tunisia"} TUNISIA
			%option{ :value=> "Turkey"} TURKEY
			%option{ :value=> "Taiwan"} TAIWAN
			%option{ :value=> "Tanzania"} TANZAINIA
			%option{ :value=> "United Arab Emirates"} UNITED ARAB EMIRATES
			%option{ :value=> "Uganda"} UGANDA
			%option{ :value=> "United Kingdom"} UNITED KINGDOM
			%option{ :value=> "Ukraine"} UKRAINE
			%option{ :value=> "Uruguay"} URUGUAY
			%option{ :value=> "United States Of America"} UNITED STATES OF AMERICA
			%option{ :value=> "Vietnam"} VIETNAM
			%option{ :value=> "Venezuela"} VENEZUELA
			%option{ :value=> "Western Europe"} WESTERN EUROPE
			%option{ :value=> "Grenada"} GRENADA
			%option{ :value=> "Yugoslavia"} YUGOSLAVIA
			%option{ :value=> "Yemen"} YEMEN
			%option{ :value=> "Zimbabwe"} ZIMBABWE
			%option{ :value=> "Zaire"} ZAIRE
		%br

		%label.Medium.Multi.PositionerLeft{ :for => "SelectRelationship" } Hubungan Dengan Calon Tertanggung
		%select#SelectRelationship.Single.Long.PositionerLeft
		%br

		%label.Medium.Single.PositionerLeft{ :for => "TextSharePercentage" } Share Percentage
		%input#TextSharePercentage.Single.Long.PositionerLeft{ :type => "text" }
		%br
