%form#PopUpEpilepsy.PopUp
	
	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpEpilepsy', 'PopUpNerve')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpEpilepsy', 'PopUpNerve', stringPageInfixTypeCurrent + 'Epilepsy', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Epilepsi Dan Kejang		

	/ MAIN

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6f Gangguan fungsi/sistem Saraf dan Otot, Vertigo, Stroke, Sering Pusing atau Pingsan, Epilepsi (kejang), Kelumpuhan, Kesemutan, Baal, Gangguan Kejiwaan dan lainnya?
		%br
		%hr
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 1. Sejak umur berapa Anda terserang epilepsi?
			%input#TextProspectiveInsuredEpilepsySince.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 2. Berapa kali terjadi serangan dalam satu bulan atau setahun?
			%input#TextProspectiveInsuredEpilepsyHowMany.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 3. Kapan terakhir kali serangan terjadi?
			%input#DateProspectiveInsuredEpilepsyLast.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 4. Pada saat terjadi serangan, apakah:
		%br

		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonProspectiveInsuredEpilepsyWhatHappenLostConsciousness{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyWhatHappen", :value => "lostconsciousness" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyWhatHappenLostConsciousness" } Hanya hilang kesadaran sejenak tanpa kaku-kaku, kemudian lupa dengan apa yang telah terjadi.

				%br

				%input#RadioButtonProspectiveInsuredEpilepsyWhatHappenSuddenlyFall{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyWhatHappen", :value => "suddenlyfall" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyWhatHappenSuddenlyFall" } Tiba-tiba jatuh atau kaku-kaku pada seluruh tubuh dengan irama kaku-lemas-kaku secara bergantian, juga terjadi pada otot-otot wajah dengan mulut berbusa. Dan pada saat terjadi kedua kaki dan lengan lurus, kesadaran hilang dan bila berakhir, kemudian tertidur.
		%br

		%hr
			%label.medium.Single.Item 5. Sebelum terjadi serangan, apakah dirasakan adanya pusing-pusing, mencium bau-bauan, melihat cahaya, atau bunyi-bunyian?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonProspectiveInsuredEpilepsyIsFeelYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyIsFeel", :value => "ya" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyIsFeelYes" } ya
				%div.Separator
				%input#RadioButtonProspectiveInsuredEpilepsyIsFeelNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyIsFeel", :value => "tidak" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyIsFeelNo" } Tidak
				%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
			%input#TextProspectiveInsuredEpilepsyIsFeelDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
			%label.medium.Single.Item 6. Apakah Anda pernah dirawat karena epilepsi?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonProspectiveInsuredEpilepsyTreatedYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyTreated", :value => "ya" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyTreatedYes" } Ya
				%div.Separator
				%input#RadioButtonProspectiveInsuredEpilepsyTreatedNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyTreated", :value => "tidak"}
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyTreatedNo" } Tidak
			%input#TextProspectiveInsuredEpilepsyTreatedDesc.Full.Single.Item.Margin{ :type =>"text"}
		%br
		%hr
		%label.medium.Single.Item 7. Apakah Anda selalu berkonsultasi / berobat ke dokter?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonProspectiveInsuredEpilepsyConsult{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsult", :value => "ya" }
			%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyConsult" } Ya
			%div.Separator
			%input#RadioButtonProspectiveInsuredEpilepsyConsult{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsult", :value => "tidak" }
			%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyConsult" } Tidak
		%label#Wrap.Single.PositionerLeft Nama Dokter
		%input#TextProspectiveInsuredEpilepsyConsultDoctorName.Longfix.Single.PositionerLeft.Margin{ :type =>"text" }
		%br
		%label#Wrap.Single.PositionerLeft Telepon/Handphone
		%input#TextProspectiveInsuredEpilepsyConsultDoctorPhone.Longfix.Single.PositionerLeft.Margin{ :type =>"text" }
		%br
		%label#Wrap.Single.PositionerLeft Alamat Lengkap Dokter
		%input#TextProspectiveInsuredEpilepsyConsultDoctorAddress.Longfix.Single.PositionerLeft.Margin{ :type =>"text" }
		%br
		%hr 
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 8. Kapan terakhir kali Anda berkonsultasi dengan dokter?
			%input#DateProspectiveInsuredEpilepsyLastconsult.Short.Single.Item.Margin{ :type =>"text" }
		%br
			%label#Wrap.Single.PositionerLeft Apakah Anda mendapat obat dokter?
			%div.RadioButton.Medium.Item
				%input#RadioButtonProspectiveInsuredEpilepsyGetDrugYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyGetDrug", :value => "ya" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyGetDrugYes" } Ya
				%div.Separator
				%input#RadioButtonProspectiveInsuredEpilepsyGetDrug{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyGetDrug", :value => "tidak" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyGetDrug" } Tidak
		%label#Wrap.Single.PositionerLeft (Jika "Ya", mohon mengisi kolom di bawah ini).
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Name Obat
			%label.Short.Single.Item1.Center.Margin Dosis
			%label.Short.Single.Item.Center.Margin Frekuensi			
		%div.ContainerFit
			%input#TextProspectiveInsuredEpilepsyDrugListName1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextProspectiveInsuredEpilepsyDrugListDosis1.Short.Single.Item.Margin{ :type => "text" }			
			%input#TextProspectiveInsuredEpilepsyDrugListFrekuensi1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextProspectiveInsuredEpilepsyDrugListName2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextProspectiveInsuredEpilepsyDrugListDosis2.Short.Single.Item.Margin{ :type => "text" }			
			%input#TextProspectiveInsuredEpilepsyDrugListFrekuensi2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextProspectiveInsuredEpilepsyDrugListName3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextProspectiveInsuredEpilepsyDrugListDosis3.Short.Single.Item.Margin{ :type => "text" }			
			%input#TextProspectiveInsuredEpilepsyDrugListFrekuensi3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextProspectiveInsuredEpilepsyDrugListName4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextProspectiveInsuredEpilepsyDrugListDosis4.Short.Single.Item.Margin{ :type => "text" }			
			%input#TextProspectiveInsuredEpilepsyDrugListFrekuensi4.Short.Single.Item1.Margin{ :type => "text" }
		%br

		%hr
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 9. Apakah Anda masih minum obat secara teratur hingga saat ini?
			%br
			%input#RadioButtonProspectiveInsuredEpilepsyConsumDrugYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsumDrug", :value => "ya" }
			%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyConsumDrugYes" } Ya
			%div.Separator
			%input#RadioButtonProspectiveInsuredEpilepsyConsumDrugNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyConsumDrug", :value => "tidak" }
			%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyConsumDrugNo" } Tidak
		%hr

		%div.ContainerFit
		%label.medium.Single.Item 10. Apakah Anda pernah menderita penyakit infeksi selaput otak/gegar otak sebelumnya?
		%br
		%input#RadioButtonProspectiveInsuredEpilepsyInfectedYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyInfected", :value => "ya" }
		%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyInfectedYes" } Ya
		%div.Separator
		%input#RadioButtonProspectiveInsuredEpilepsyInfectedNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyInfected", :value => "tidak" }
		%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyInfectedNo" } Tidak
		%hr
		%label.medium.Single.Item 11. Apakah ada riwayat keluarga Anda yang menderita epilepsi ?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonProspectiveInsuredEpilepsyHistoryYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyHistory", :value => "ya" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyHistoryYes" } Ya
				%div.Separator
				%input#RadioButtonProspectiveInsuredEpilepsyHistoryNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyHistory", :value => "tidak" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyHistoryNo" } Tidak
				%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
				%br
				%input#TextProspectiveInsuredEpilepsyHistoryDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 12. Apakah Anda menderita penyakit lain seperti kencing manis, hipertensi, tumor otak dan/atau komplikasinya ?
		%br    
		%div.ContainerFit 
			%div.RadioButton.Medium.Item		
				%input#RadioButtonProspectiveInsuredOtherDiseasesDiabetes{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "diabetes" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredOtherDiseasesDiabetes" } Kencing Manis (Diabetes Melitus)
				%div.Separator
				%input#RadioButtonProspectiveInsuredOtherDiseasesHipertensi{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "hipertensi" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredOtherDiseasesHipertensi" } Darah Tinggi (Hipertensi)
				%div.Separator
				%input#RadioButtonProspectiveInsuredOtherDiseasesTumor{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "tumor" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredOtherDiseasesTumor" } Tumor
				%div.Separator
				%input#RadioButtonProspectiveInsuredOtherDiseasesComplication{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherDiseases", :value => "complication" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredOtherDiseasesComplication" } Penyakit komplikasi lainnya, sebutkan 
				%br
		
		%input#TextProspectiveInsuredEpilepsyComplicationDesc.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 13. Apakah Anda pernah melakukan pemeriksaan berikut?
		%br
		%div.ContainerFit 
			%div.RadioButton.Medium.Item
				%input#RadioButtonProspectiveInsuredEpilepsyCheckupYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyCheckup", :value => "ya" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyCheckupYes" } Ya
				%div.Separator
				%input#RadioButtonProspectiveInsuredEpilepsyCheckupNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredEpilepsyCheckup", :value => "tidak" }
				%label.RadioButton{ :for => "RadioButtonProspectiveInsuredEpilepsyCheckupNo" } Tidak
				%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
				%br
				%input#TextProspectiveInsuredEpilepsyCheckupDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr


		%label.medium.Single.Item 14. Mohon Anda sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini:
		%br    
		%input#TextProspectiveInsuredEpilepsyInfo.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.