%form#PopUpEpilepsy.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpEpilepsy', 'PopUpNerve')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpEpilepsy', 'PopUpNerve', stringPageInfixTypeCurrent + 'Epilepsy', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Epilepsi Dan Kejang

	/ MAIN

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6f Gangguan fungsi/sistem Saraf dan Otot, Vertigo, Stroke, Sering Pusing atau Pingsan, Epilepsi (kejang), Kelumpuhan, Kesemutan, Baal, Gangguan Kejiwaan dan lainnya?
		%br
		%hr
		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 1. Sejak umur berapa Anda terserang epilepsi?
			%input#TextSince.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 2. Berapa kali terjadi serangan dalam satu bulan atau setahun?
			%input#TextHowMany.Short.Single.Item.Margin{ :type =>"text" }
		%br
		%hr
		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 3. Kapan terakhir kali serangan terjadi?
			%input#DateLast.Short.Single.Item.Margin{ :type =>"text", "data-field" => "date" }
		%br
		%hr
		%div.ContainerFit
			%label#Wrap.Single.PositionerLeft 4. Pada saat terjadi serangan, apakah:
		%br

		%div.ContainerFit
			%div.RadioButton.Medium.Item
				%input#RadioButtonWhatHappenLostConsciousness{ :type => "radio", :name => "RadioButtonWhatHappen", :value => "lostconsciousness" }
				%label.RadioButton{ :for => "RadioButtonWhatHappenLostConsciousness" } Hanya hilang kesadaran sejenak tanpa kaku-kaku, kemudian lupa dengan apa yang telah terjadi.
				%br

				%input#RadioButtonWhatHappenSuddenlyFall{ :type => "radio", :name => "RadioButtonWhatHappen", :value => "suddenlyfall" }
				%label.RadioButton{ :for => "RadioButtonWhatHappenSuddenlyFall" } Tiba-tiba jatuh atau kaku-kaku pada seluruh tubuh dengan irama kaku-lemas-kaku secara bergantian, juga terjadi pada otot-otot wajah dengan mulut berbusa. Dan pada saat terjadi kedua kaki dan lengan lurus, kesadaran hilang dan bila berakhir, kemudian tertidur.
		%br
		%hr

		%label.Msedium.Single.Item 5. Sebelum terjadi serangan, apakah dirasakan adanya pusing-pusing, mencium bau-bauan, melihat cahaya, atau bunyi-bunyian?
		%br

		%div.ContainerFit
			%div.RadioButton.Medium.Item
				%input#RadioButtonIsFeelYes{ :type => "radio", :name => "RadioButtonIsFeel", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonIsFeelYes" } ya
				%div.Separator
				%input#RadioButtonIsFeelNo{ :type => "radio", :name => "RadioButtonIsFeel", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonIsFeelNo" } Tidak
				%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
			%input#TextIsFeelDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 6. Apakah Anda pernah dirawat karena epilepsi?
		%br
		%div.ContainerFit
			%div.RadioButton.Medium.Item
				%input#RadioButtonTreatedYes{ :type => "radio", :name => "RadioButtonTreated", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonTreatedYes" } Ya
				%div.Separator
				%input#RadioButtonTreatedNo{ :type => "radio", :name => "RadioButtonTreated", :value => "false"}
				%label.RadioButton{ :for => "RadioButtonTreatedNo" } Tidak
			%input#TextTreatedDesc.Full.Single.Item.Margin{ :type =>"text"}
		%br
		%hr

		%label.Medium.Single.Item 7. Apakah Anda selalu berkonsultasi / berobat ke dokter?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonConsultYes{ :type => "radio", :name => "RadioButtonConsult", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonConsultYes" } Ya
			%div.Separator
			%input#RadioButtonConsultNo{ :type => "radio", :name => "RadioButtonConsult", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonConsultNo" } Tidak
		%label.Wrap.Single.PositionerLeft Nama Lengkap Dokter:
		%input#TextConsultDoctorName.Longfix.Single.PositionerLeft.Margin{ :type =>"text" }
		%br
		%label.Single.PositionerLeft{ :for => "TextConsultDoctorTelephone" } No. Telepon/Handphone:
		%input#TextConsultDoctorTelephone.Longfix.Single.PositionerLeft.Margin{ :type =>"text" }
		%br
		%label.Single.PositionerLeft{ :for => "TextConsultDoctorAddress" } Alamat Lengkap Dokter:
		%input#TextConsultDoctorAddress.Longfix.Single.PositionerLeft.Margin{ :type =>"text" }
		%br
		%hr
		%div.ContainerFit
			%label.Wrap.Single.PositionerLeft 8. Kapan terakhir kali Anda berkonsultasi dengan dokter?
			%input#DateLastConsult.Short.Single.Item.Margin{ :type => "text", "data-field" => "date" }
		%br
			%label.Wrap.Single.PositionerLeft Apakah Anda mendapat obat dokter?
			%div.RadioButton.Medium.Item
				%input#RadioButtonGetDrugYes{ :type => "radio", :name => "RadioButtonGetDrug", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonGetDrugYes" } Ya
				%div.Separator
				%input#RadioButtonGetDrugNo{ :type => "radio", :name => "RadioButtonGetDrug", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonGetDrugNo" } Tidak
		%label.Wrap.Single.PositionerLeft (Jika "Ya", mohon mengisi kolom di bawah ini).
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Center.Margin Name Obat
			%label.Short.Single.Item1.Center.Margin Dosis
			%label.Short.Single.Item.Center.Margin Frekuensi
		%div.ContainerFit
			%input#TextEPUPName1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPDose1.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPFrequency1.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextEPUPName2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPDose2.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPFrequency2.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextEPUPName3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPDose3.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPFrequency3.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextEPUPName4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPDose4.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPFrequency4.Short.Single.Item1.Margin{ :type => "text" }
		%div.ContainerFit
			%input#TextEPUPName5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPDose5.Short.Single.Item.Margin{ :type => "text" }
			%input#TextEPUPFrequency5.Short.Single.Item1.Margin{ :type => "text" }
		%br

		%hr
		%div.ContainerFit
			%div.RadioButton.Medium.Item
				%label.Wrap.Single.PositionerLeft 9. Apakah Anda masih minum obat secara teratur hingga saat ini?
				%br
				%input#RadioButtonConsumeDrugYes{ :type => "radio", :name => "RadioButtonConsumeDrug", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonConsumeDrugYes" } Ya
				%div.Separator
				%input#RadioButtonConsumeDrugNo{ :type => "radio", :name => "RadioButtonConsumeDrug", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonConsumeDrugNo" } Tidak
		%br
		%hr

		%div.ContainerFit
			%label.Wrap.Item 10. Apakah Anda pernah menderita penyakit infeksi selaput otak/gegar otak sebelumnya?
			%br
			%div.RadioButton.Medium.Item
				%input#RadioButtonInfectedYes{ :type => "radio", :name => "RadioButtonInfected", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonInfectedYes" } Ya
				%div.Separator
				%input#RadioButtonInfectedNo{ :type => "radio", :name => "RadioButtonInfected", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonInfectedNo" } Tidak
			%br
			%hr

		%div.ContainerFit
			%label.Single.Item 11. Apakah ada riwayat keluarga Anda yang menderita epilepsi ?
			%div.RadioButton.Medium.Item
				%input#RadioButtonHistoryYes{ :type => "radio", :name => "RadioButtonHistory", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonHistoryYes" } Ya
				%div.Separator
				%input#RadioButtonHistoryNo{ :type => "radio", :name => "RadioButtonHistory", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonHistoryNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#TextHistoryDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 12. Apakah Anda menderita penyakit lain seperti kencing manis, hipertensi, tumor otak dan/atau komplikasinya ?
		%br
		%div.ContainerFit
			%div.RadioButton.Medium.Item
				%input#RadioButtonOtherDiseasesDiabetes{ :type => "radio", :name => "RadioButtonOtherDiseases", :value => "diabetes" }
				%label.RadioButton{ :for => "RadioButtonOtherDiseasesDiabetes" } Kencing Manis (Diabetes Melitus)
				%div.Separator
				%input#RadioButtonOtherDiseasesHypertension{ :type => "radio", :name => "RadioButtonOtherDiseases", :value => "hypertension" }
				%label.RadioButton{ :for => "RadioButtonOtherDiseasesHypertension" } Darah Tinggi (Hipertensi)
				%div.Separator
				%input#RadioButtonOtherDiseasesTumor{ :type => "radio", :name => "RadioButtonOtherDiseases", :value => "tumor" }
				%label.RadioButton{ :for => "RadioButtonOtherDiseasesTumor" } Tumor
				%div.Separator
				%input#RadioButtonOtherDiseasesComplication{ :type => "radio", :name => "RadioButtonOtherDiseases", :value => "complication" }
				%label.RadioButton{ :for => "RadioButtonOtherDiseasesComplication" } Penyakit komplikasi lainnya, sebutkan
				%br
		%input#TextOtherDiseasesDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 13. Apakah Anda pernah melakukan pemeriksaan berikut?
		%br
		%div.ContainerFit
			%div.RadioButton.Medium.Item
				%input#RadioButtonCheckupTwoYes{ :type => "radio", :name => "RadioButtonCheckupTwo", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonCheckupTwoYes" } Ya
				%div.Separator
				%input#RadioButtonCheckupTwoNo{ :type => "radio", :name => "RadioButtonCheckupTwo", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonCheckupTwoNo" } Tidak
				%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
				%br
				%input#TextCheckupTwoDesc.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%hr


		%label.medium.Single.Item 14. Mohon Anda sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini:
		%br
		%input#TextInfo.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
