%form#PopUpMining.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpMining', 'PopUpActivity')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpMining', 'PopUpActivity', stringPageInfixTypeCurrent + 'Mining', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Industri Pertambangan, Perminyakan dan Gas

	/ FIELDSET

	%fieldset
		%label.Medium.Single.Item 
			1. Jabatan Anda saat ini. 
			%i
				(Borer; Cathead man; Construction superintendent; Conveyor operator; Crane operator; Derickman; Drilled; Field superintendent; Flame cutter; Floorman; Floormanbelow ground; Manhole maker; Pipe fitter; Power loader operator; pumpman; Rig electrician; Rig mechanic; Roughneck; Roustabout; Scaffolder; Topman; Watchman; Welder-cutter; Well pusher; Wireline operator)
		%br
		%label.Medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%textarea#AreaPosition.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 2. Jika tidak termasuk dalam daftar di atas
		%br
		%label.Medium.Single.Item Mohon menjelaskan jabatan dan rincian pekerjaan sehari-hari jabatan Anda tersebut pada kolom di bawah ini.
		%br
		%textarea#AreaPositionDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 3. Sudah berapa lama Anda bekerja dalam bidang Pertambangan/Perminyakkan/Gas?
		%br
		%label.Medium.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%textarea#AreaDuration.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 4. Mohon dijelaskan berapa persen pekerjaan Anda yang bersifat manual atau fisik dari total pekerjaan Anda serta uraian pekerjaan Anda sehari-hari pada kolom di bawah ini.
		%br
		%textarea#AreaAreaPercent.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 
			5. Apakah Anda ikut serta dalam aktifitas Tambang Terbuka/ 
			%i
				Open Cast Mining?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonOpenCastYes{ :type => "radio", :name => "RadioButtonOpenCast", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonOpenCastYes" } Ya
			%div.Separator
			%input#RadioButtonOpenCastNo{ :type => "radio", :name => "RadioButtonOpenCast", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonOpenCastNo" } Tidak
		%br
		%label.Medium.Single.Item Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
		%br
		%input#AreaOutdoor.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 6. Dimana lokasi Anda bekerja?
		%br
		%label.Single.Item Mohon menjelaskan secara rinci pada kolom di bawah ini (sebutkan nama lokasi dan daerah/provinsinya).
		%br
		%input#AreaWorkLocation.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label.Medium.Single.Item 7. Apabila Anda bekerja di lapangan, mohon menjawab pertanyaan-pertanyaan berikut:
		%br
		%label.Medium.Single.Item.FirstIndent a. Dimanakah lokasi Anda Bekerja berada?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonOLLocationOnShore.PositionerLeft{ :type => "radio", :name => "RadioButtonOLLocation", :value => "onshore" }
			%label.RadioButton.PositionerLeft.SecondIndent{ :for => "RadioButtonOLLocationOnShore" } Permukaan tanah/darat
			%div.Separator.PositionerLeft
			%input#RadioButtonOLLocationOfShore.PositionerLeft{ :type => "radio", :name => "RadioButtonOLLocation", :value => "ofshore" }
			%label.RadioButton.PositionerLeft{ :for => "RadioButtonOLLocationOfShore" } Lepas pantai		
		%br
		%label.Medium.Single.Item.FirstIndent b. Bila di darat apakah di permukaan tanah atau di bawah tanah?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonOLLocationOnShoreYesGround.PositionerLeft{ :type => "radio", :name => "RadioButtonOLLocationOnShoreYes", :value => "onshore" }
			%label.RadioButton.PositionerLeft.SecondIndent{ :for => "RadioButtonOLLocationOnShoreYesGround" } Permukaan tanah/darat
			%div.Separator.PositionerLeft
			%input#RadioButtonOLLocationOnShoreYesUnderground.PositionerLeft{ :type => "radio", :name => "RadioButtonOLLocationOnShoreYes", :value => "ofshore" }
			%label.RadioButton.PositionerLeft{ :for => "RadioButtonOLLocationOnShoreYesUnderground" } Bawah tanah, sebutkan kedalamannya:			
			%input#TextOLLocationOnShoreUndergroundDepth.Short.Single.Item1.Margin{ :type =>"text" }
			%label.Medium.Single.Item meter				
		%br

		%label.Single.PositionerLeft.FirstIndent c. Apakah Anda juga bertugas di lepas pantai dan/atau bawah tanah?
		%div.RadioButton.PositionerRight
			%input#RadioButtonDutyNo.PositionerRight{ :type => "radio", :name => "RadioButtonDuty", :value => "false" }
			%label.RadioButton.PositionerRight{ :for => "RadioButtonDutyNo" } Tidak
			%div.Separator.PositionerRight
			%input#RadioButtonDutyYes.PositionerRight{ :type => "radio", :name => "RadioButtonDuty", :value => "true" }
			%label.RadioButton.PositionerRight{ :for => "RadioButtonDutyYes" } Ya
			%br
		%label.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini
		%br
		%label.Single.PositionerLeft (Berapa frekuensinya dalam 1 (satu) tahun berada di lokasi tersebut dan berapa lama)?
		%br
		%input#TextDutyDesc.Full.Single.Item1.Margin{ :type =>"text"}
		%br
		%label.Single.PositionerLeft.FirstIndent d. Apakah dalam bekerja Anda menggunakan bahan peledak?
		%div.RadioButton.PositionerRight
			%input#RadioButtonUsingExplosiveYes{ :type => "radio", :name => "RadioButtonUsingExplosive", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonUsingExplosiveYes" } Ya
			%div.Separator
			%input#RadioButtonUsingExplosiveNo{ :type => "radio", :name => "RadioButtonUsingExplosive", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonUsingExplosiveNo" } Tidak
		%br
		%label.Single.PositionerLeft.FirstIndent e. Apakah Anda melakukan tugas penyelaman?
		%div.RadioButton.PositionerRight
			%input#RadioButtonDivingDutyYes{ :type => "radio", :name => "RadioButtonDivingDuty", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonDivingDutyYes" } Ya
			%div.Separator
			%input#RadioButtonDivingDutyNo{ :type => "radio", :name => "RadioButtonDivingDuty", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonDivingDutyNo" } Tidak
		%br
		%label.Single.PositionerLeft.FirstIndent f. Apakah Anda bertugas di ketinggian tertentu?
		%br
		%div.RadioButton.PositionerLeft
			%input#RadioButtonHeightYes.PositionerLeft{ :type => "radio", :name => "RadioButtonHeight", :value => "true" }
			%label.RadioButton.PositionerLeft.SecondIndent{ :for => "RadioButtonHeightYes" } Ya, berapa meter di atas permukaan laut:
			%input#TextHeightDesc.Short.Single.Item1.Margin.PositionerLeft{ :type => "text" }
			%label.Medium.Single.Item meter
			%br
			%input#RadioButtonHeightNo.PositionerLeft{ :type => "radio", :name => "RadioButtonHeight", :value => "false" }
			%label.RadioButton.PositionerLeft.SecondIndent{ :for => "RadioButtonHeightNo" } Tidak	
		%br
		%hr

		%label.Medium.Single.Item 8. Transportasi apa yang Anda gunakan menuju lokasi kerja? Berapa lama waktu yang Anda perlukan untuk menuju lokasi? (Jika menggunakan helikopter, mohon dijelaskan jumlah jam terbang per tahun) dan mengisi formulir kuesioner penerbangan.
		%br
		%textarea#AreaTransportation.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft{ :for => "RadioButtonOLAccident" } 9. Apakah Anda pernah mengalami kecelakaan kerja/gangguan kesehatan sehubungan dengan pekerjaan Anda?
		%div.RadioButton.Medium.PositionerRight		
			%input#RadioButtonOLAccidentYes{ :type => "radio", :name => "RadioButtonOLAccident", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonOLAccidentYes" } Ya
			%div.Separator
			%input#RadioButtonOLAccidentNo{ :type => "radio", :name => "RadioButtonOLAccident", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonOLAccidentNo" } Tidak
		%br
		%label.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini
		%br
		%input#TextOLAccidentDesc.Full.Single.Item1.Margin{ :type =>"text" }
		%br
		%hr
		
		%label.Single.Item 10. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br
		%input#TextOLAdditionalInfo.Full.Multi.Item1.Margin{ :type =>"text" }
		%br
		%hr

	%div.Note
		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya menyatakan dengan sebenarnya bahwa semua pernyataan dan jawaban di atas adalah lengkap dan sesuai dengan keadaan sebenarnya.
			%li Saya memberi kuasa kepada setiap Dokter/ Rumah Sakit/ Klinik/ Puskesmas/ laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/ lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan saya, untuk mengungkapkan kepada Penanggung semua keterangan tentang catatan riwayat kesehatan saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari Surat Pengajuan Asuransi Jiwa dan akan mengikat saya, ahli waris, dan keluarga saya.
			%li Kuasa ini tetap berlaku pada waktu saya masih hidup maupun sesudah saya meninggal. Salinan/ fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
