%form#PopUpGland.PopUp
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonPopUpCancel('PopUpCardiac')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Pertanyaan Kesehatan

	/ MAIN

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6j Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
		%br
		%a.NavigationPopUp{ :href => "../../Page/HTML/.html" } KUESIONER KELAINAN KELENJAR GONDOK 
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%input#TextPolicyHolderKuesionerKelainanKelenjarGondokSub.Full.Multi.Item.Margin{ :type =>"text" }
		%label.Medium.Single (maksimum 250 karakter)