%form#PopUpBackbone.PopUp

	/ HEADER
	
	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpBackbone', 'PopUpMotion')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpBackbone', 'PopUpMotion', stringPageInfixTypeCurrent + 'Backbone', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Gangguan Tulang Belakang

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6i Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
		%br
		%hr

			%label#Wrap.Single.PositionerLeft 1. Apakah Anda pernah menderita hernia/spondylosis/kelainan tulang belakang lainnya?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonPolicyHolderBackboneLeaveYes{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneLeaveYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderBackboneLeaveNo{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneLeaveNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextPolicyHolderBackboneOperationMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }

		%br
		%hr

		%label.medium.Single.Item 2. Kapan pertama kali keluhan tersebut dirasakan?
		%br
		%input#DateFirstComplain.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item 3. Seberapa seringkah keluhan tersebut timbul dalam 12 bulan terakhir?
		%br
		%input#TextPolicyHolderBackboneConsultPhone.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.medium.Single.Item 4. Mohon menjelaskan secara rinci pada kolom di bawah ini dan pada bagian tubuh mana?
		%br
		%input#TextPolicyHolderBackboneOperationMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

			%label#Wrap.Single.PositionerLeft 5. Apakah aktivitas Anda mengalami hambatan?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonPolicyHolderBackboneLeave1Yes{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave1", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneLeave1Yes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderBackboneLeave1No{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave1", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneLeave1No" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextPolicyHolderBackboneOperationobstacleMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%div.ContainerFit 
			%label.Long.Single.PositionerLeft 6. Kapan mengalami hambatan?
			%input#DatePolicyHolderBackboneLastCheckupYear1.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item 7. Mohon menjelaskan secara rinci pada kolom di bawah ini menurut Dokter apa penyebab diagnosis  gangguan tulang belakang tersebut? 
		%br
		%label.medium.Single.Item (Kecelakaan, Proses penuaan, kecelakaan sewaktu berolahraga, dan sebagainya).
		%input#TextPolicyHolderBackboneOperationCauseDiagnosisOfSpinalDisordersMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr
			%label#Wrap.Single.PositionerLeft 8. Apakah Anda pernah menjalani X-ray, MRI, atau pemeriksaan lainnya?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonPolicyHolderBackboneUndergoCheckupYes{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUndergoCheckup", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneUndergoCheckupYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderBackboneUndergoCheckupNo{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUndergoCheckup", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneUndergoCheckupNo" } Tidak
		%br
		%div.ContainerFit 
			%label.Medium.Single.PositionerLeft Jika "Ya", mohon berikan tanggal pemeriksaan:
			%input#DatePolicyHolderBackboneUndergoCheckupYear.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%br
		%label.medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan tulang belakang ini. (Lampirkan fotokopi hasil pemeriksaan)
		%input#TextPolicyHolderBackboneOperationCheckupResultMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }

		%br
		%hr
			%label#Wrap.Single.PositionerLeft 9. Apakah Anda menggunakan tongkat untuk berjalan atau alat bantu lainnya?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonPolicyHolderBackboneUsingStickYes{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUsingStick", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneUsingStickYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderBackboneUsingStickNo{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUsingStick", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneUsingStickNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextPolicyHolderBackboneOperationUsingStickMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr
		
			%label#Wrap.Single.PositionerLeft 10. Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesYes{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalities", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneUsingStickYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesNo{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalities", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesNo" } Tidak
		%br		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Jika "Ya", mohon berikan tanggal operasi:
			%input#DatePolicyHolderBackboneSurgeryForAbnormalitiesYear.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextPolicyHolderBackboneConsultDoktorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPolicyHolderBackboneConsultTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextPolicyHolderBackboneConsultClinicName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextPolicyHolderBackboneConsultClinicAddress.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr
		
		%label.medium.Single.Item 11. Mohon jelaskan dengan rinci jenis pengobatan Anda saat ini dan dahulu pada kolom di bawah ini.
		%br
			%label#Wrap.Single.PositionerLeft Apakah diberi suntikan?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonPolicyHolderBackbonetypeOfTreatmentYes{ :type => "radio", :name => "RadioButtonPolicyHolderBackbonetypeOfTreatment", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackbonetypeOfTreatmentYes" } Ya
				%div.Separator
				%input#RadioButtonPolicyHolderBackbonetypeOfTreatmentNo{ :type => "radio", :name => "RadioButtonPolicyHolderBackbonetypeOfTreatment", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonPolicyHolderBackbonetypeOfTreatmentNo" } Tidak
				
		%br
		%div.ContainerFit 
			%label.Short.Single.Item.Margin Tanggal Berobat
			%label.Short.Single.Item.Margin Nama Obat
			%label.Short.Single.Item.Margin Dosis
			%label.Short.Single.Item.Margin Frekuensi
		%div.ContainerFit 
			%input#TextPolicyHolderBackBoneDateTreatment.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPolicyHolderBackBoneDrugName1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneDose1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneFrequency.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#TextPolicyHolderBackBoneDateTreatment2.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPolicyHolderBackBoneDrugName2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneDose2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneFrequency2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#TextPolicyHolderBackBoneDateTreatment3.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPolicyHolderBackBoneDrugName3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneDose3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneFrequency3.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#TextPolicyHolderBackBoneDateTreatment4.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPolicyHolderBackBoneDrugName4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneDose4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneFrequency4.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%input#TextPolicyHolderBackBoneDateTreatment5.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextPolicyHolderBackBoneDrugName5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneDose5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextPolicyHolderBackBoneFrequency5.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextPolicyHolderBackboneDokterNameTreatment.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPolicyHolderBackbonePhoneNumberTreatment.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextPolicyHolderBackboneClinicNameTreatment.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextPolicyHolderBackboneClinicAddressTreatment.Full.Multi.Item.Margin{ :type =>"text" }
		
		%br
		%hr
		%label#Wrap.Single.PositionerLeft 12. Saat ini dengan Dokter siapa Anda melakukan kontrol?
		%br
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextPolicyHolderBackboneDokterNameCurrent.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextPolicyHolderBackbonePhoneNumberCurrent.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextPolicyHolderBackboneClinicNameCurrent.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextPolicyHolderBackboneClinicAddressCurrent.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft 13. Seberapa sering Anda kontrol?
			%input#TextPolicyHolderBackboneControlTimes.Short.Single.Item.Margin{ :type =>"text" }
			%label#Wrap.Single kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu 
		%br
		%hr
		
		%div.ContainerFit 
			%label.Long.Single.PositionerLeft 14. Kapan terakhir kali Anda kontrol?
			%input#DatePolicyHolderBackboneLastControlYear.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr
		
			%label#Wrap.Single.PositionerLeft 15. Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ? 
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonBackboneAbsentfromWorkYes{ :type => "radio", :name => "RadioButtonBackboneAbsentfromWork", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonBackboneAbsentfromWorkYes" } Ya
				%div.Separator
				%input#RadioButtonBackboneAbsentfromWorkNo{ :type => "radio", :name => "RadioButtonBackboneAbsentfromWork", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonBackboneAbsentfromWorkNo" } Tidak
		%br
		%div.ContainerFit 
			%label#Wrap.Single.PositionerLeft Jika "Ya", kapan: 
			%input#DateBackboneDateMomentCheckupYear.Long.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%label#Wrap.Single.PositionerLeft  Dan berapa lama?
			%input#TextLeaveNumber.Short.Single.Item.Margin{ :type =>"text" }
		
		%br
		%hr
			%div.ContainerFit
				%label#Wrap.Single.PositionerLeft 16. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.	
			%br	
				%input#TextPolicyHolderBackboneImportantOperationMethod.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr
	
	%div.Note
		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Gangguan Tulang Belakang ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
			%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
			%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
			%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.