%form#PopUpBackbone.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel", :onclick => "buttonSubPopUpCancel('PopUpBackbone', 'PopUpMotion')" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done", :onclick => "buttonSubPopUpDone('PopUpBackbone', 'PopUpMotion', stringPageInfixTypeCurrent + 'Backbone', arrayHealthQuestionnaire)" }
		%h2 Kuesioner Gangguan Tulang Belakang

	/ FIELDSET

	%fieldset
		%div.ContainerFit
			%span.Multi.Single.6i Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
		%br
		%hr
		%label#Wrap.Single.PositionerLeft{ :for => "RadioButtonBBDissorderYes" } 1. Apakah Anda pernah menderita hernia/spondylosis/kelainan tulang belakang lainnya?
		%div.RadioButton.PositionerRight
			%input#RadioButtonBBDissorderYes{ :type => "radio", :name => "RadioButtonBBDissorder", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonBBDissorderYes" } Ya
			%div.Separator
			%input#RadioButtonBBDissorderNo{ :type => "radio", :name => "RadioButtonBBDissorder", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonBBDissorderNo" } Tidak
		%br
		%label.Single.Item{ :for => "TextDissorderDescription" } Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextBBDissorderDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.Single.Item 2. Kapan pertama kali keluhan tersebut dirasakan?
		%br
		%input#DateBBFirstComplain.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.Single.Item 3. Seberapa seringkah keluhan tersebut timbul dalam 12 bulan terakhir?
		%br
		%input#TextComplainAmount.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label.Single.Item 4. Mohon menjelaskan secara rinci pada kolom di bawah ini dan pada bagian tubuh mana?
		%br
		%input#TextBBPainLocation.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 5. Apakah aktivitas Anda mengalami hambatan?
		%div.RadioButton.Medium.PositionerRight
			%input#RadioButtonBBLimitedActivityYes{ :type => "radio", :name => "RadioButtonBBLimitedActivity", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonBBLimitedActivityYes" } Ya
			%div.Separator
			%input#RadioButtonBBLimitedActivityNo{ :type => "radio", :name => "RadioButtonBBLimitedActivity", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonBBLimitedActivityNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextBBLimitedActivityDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%div.ContainerFit
			%label.Long.Single.PositionerLeft 6. Kapan mengalami hambatan?
			%input#DateBBFirstLimitedActivity.Full.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

		%label.medium.Single.Item 7. Mohon menjelaskan secara rinci pada kolom di bawah ini menurut Dokter apa penyebab diagnosis  gangguan tulang belakang tersebut?
		%br
		%label.medium.Single.Item (Kecelakaan, Proses penuaan, kecelakaan sewaktu berolahraga, dan sebagainya).
		%input#TextBBCause.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 8. Apakah Anda pernah menjalani X-ray, MRI, atau pemeriksaan lainnya?
		%div.RadioButton.PositionerRight
			%input#RadioButtonBBXRayYes{ :type => "radio", :name => "RadioButtonBBXRay", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonBBXRayYes" } Ya
			%div.Separator
			%input#RadioButtonBBXRayNo{ :type => "radio", :name => "RadioButtonBBXRay", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonBBXRayNo" } Tidak
		%br
		%label.Single.PositionerLeft Jika "Ya", mohon berikan tanggal pemeriksaan:
		%input#DateBBXRay.Medium.Single.PositionerLeft{ :type => "text", "data-field" => "date" }
		%br
		%label.medium.Single.Item Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan tulang belakang ini. (Lampirkan fotokopi hasil pemeriksaan)
		%br
		%input#TextBBXRayDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }

		%br
		%hr
			%label#Wrap.Single.PositionerLeft 9. Apakah Anda menggunakan tongkat untuk berjalan atau alat bantu lainnya?
			%div.RadioButton.PositionerRight
				%input#RadioButtonWalkingStickYes{ :type => "radio", :name => "RadioButtonWalkingStick", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonWalkingStickYes" } Ya
				%div.Separator
				%input#RadioButtonWalkingStickNo{ :type => "radio", :name => "RadioButtonWalkingStick", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonWalkingStickNo" } Tidak
		%br
		%label.medium.Single.Item Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
		%input#TextBBWalkingStickDescription.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

		%label#Wrap.Single.PositionerLeft 10. Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
		%div.RadioButton.PositionerRight
			%input#RadioButtonSuggestSurgeryYes{ :type => "radio", :name => "RadioButtonSuggestSurgery", :value => "true" }
			%label.RadioButton{ :for => "RadioButtonSuggestSurgeryYes" } Ya
			%div.Separator
			%input#RadioButtonSuggestSurgeryNo{ :type => "radio", :name => "RadioButtonSuggestSurgery", :value => "false" }
			%label.RadioButton{ :for => "RadioButtonSuggestSurgeryNo" } Tidak
		%br
		%div.ContainerFit
			%label.Full.Single.PositionerLeft Jika "Ya", mohon berikan tanggal operasi:
			%input#DateSuggestSurgery.Long.Single.PositionerLeft.Margin{ :type => "text", "data-field" => "date" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextBBTOPDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextBBTOPDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextBBTOPClinicName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextBBTOPClinicAddress.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%label.medium.Single.Item 11. Mohon jelaskan dengan rinci jenis pengobatan Anda saat ini dan dahulu pada kolom di bawah ini.
		%br
			%label#Wrap.Single.PositionerLeft Apakah diberi suntikan?
			%div.RadioButton.Medium.PositionerRight
				%input#RadioButtonBBInjectionYes{ :type => "radio", :name => "RadioButtonBBInjection", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonBBInjectionYes" } Ya
				%div.Separator
				%input#RadioButtonBBInjectionNo{ :type => "radio", :name => "RadioButtonBBInjection", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonBBInjectionNo" } Tidak
		%br
		%div.ContainerFit
			%label.Short.Single.Item.Margin Tanggal Berobat
			%label.Short.Single.Item.Margin Nama Obat
			%label.Short.Single.Item.Margin Dosis
			%label.Short.Single.Item.Margin Frekuensi
		%div.ContainerFit
			%input#TextBBMIDDLEDateTreatment1.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextBBMIDDLEDrugName1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEDose1.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEFrequency1.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextBBMIDDLEDateTreatment2.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextBBMIDDLEDrugName2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEDose2.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEFrequency2.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextBBMIDDLEDateTreatment3.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextBBMIDDLEDrugName3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEDose3.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEFrequency3.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextBBMIDDLEDateTreatment4.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextBBMIDDLEDrugName4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEDose4.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEFrequency4.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%input#TextBBMIDDLEDateTreatment5.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%input#TextBBMIDDLEDrugName5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEDose5.Full.Single.Item.Margin{ :type =>"text" }
			%input#TextBBMIDDLEFrequency5.Full.Single.Item.Margin{ :type =>"text" }
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextBBBOTTOMDoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextBBBOTTOMDoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextBBBOTTOMClinicName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextBBBOTTOMClinicAddress.Full.Multi.Item.Margin{ :type =>"text" }

		%br
		%hr
		%label.Single.PositionerLeft 12. Saat ini dengan Dokter siapa Anda melakukan kontrol?
		%br
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Lengkap Dokter:
			%input#TextBBBottom2DoctorName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft No. Telepon/Handphone:
			%input#TextBBBottom2DoctorTelephone.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Nama Klinik/Rumah Sakit:
			%input#TextBBBottom2ClinicName.Full.Single.Item.Margin{ :type =>"text" }
		%div.ContainerFit
			%label.Long.Single.PositionerLeft Alamat Klinik/Rumah Sakit:
			%input#TextBBBottom2ClinicAddress.Full.Multi.Item.Margin{ :type =>"text" }
		%br
		%hr

		%div.ContainerFit
			%label.Long.Single.PositionerLeft 13. Seberapa sering Anda kontrol?
			%input#TextBBControlAmount.Short.Single.Item.Margin{ :type =>"text" }
			%label.Single.Margin.PositionerLeft kali per
			%select#SelectBBControlAmountPeriod.Single.PositionerLeft
		%br
		%hr

		%div.ContainerFit
			%label.Long.Single.PositionerLeft 14. Kapan terakhir kali Anda kontrol?
			%input#DateBBLastConsult.Full.Single.Item.Margin{ :type => "text", "data-field" => "date" }
		%br
		%hr

			%label.Single.PositionerLeft 15. Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ?
			%div.RadioButton.PositionerRight
				%input#RadioButtonBBAbsentYes{ :type => "radio", :name => "RadioButtonBBAbsent", :value => "true" }
				%label.RadioButton{ :for => "RadioButtonBBAbsentYes" } Ya
				%div.Separator
				%input#RadioButtonBBAbsentNo{ :type => "radio", :name => "RadioButtonBBAbsent", :value => "false" }
				%label.RadioButton{ :for => "RadioButtonBBAbsentNo" } Tidak
		%br
		%div.ContainerFit
			%label.Single.PositionerLeft Jika "Ya", kapan:
			%input#DateBBAbsent.Medium.Single.Item.Margin{ :type => "text", "data-field" => "date" }
			%label.Single.PositionerLeft  Dan berapa lama?
			%input#TextBBAbsentAmount.Short.Single.Item.Margin{ :type =>"text" }
			%label.Single.PositionerLeft  hari
		%br
		%hr
		%div.ContainerFit
			%label.Wrap.PositionerLeft 16. Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
		%br
			%input#TextBBAdditionalInformation.Full.Multi.PositionerLeft.Margin{ :type => "text" }
		%br
		%hr

	%div.Note
		%h2 PERNYATAAN DAN KUASA
		%ol
			%li Saya/Kami menyatakan bahwa Saya/Kami telah memahami dan menyetujui untuk mengisi secara lengkap dan benar semua informasi dalam Kuesioner Gangguan Tulang Belakang ini sesuai dengan keadaan sebenarnya sebagai bagian dari kontrak   asuransi Jiwa/Kesehatan/Kecelakaan.
			%li Saya memberi kuasa kepada setiap Dokter/Rumah Sakit/Klinik/Puskesmas/Laboratorium, perusahaan asuransi atau perusahaan reasuransi, badan, instansi/lembaga atau pihak lain yang mempunyai catatan riwayat kesehatan Saya, untuk mengungkapkan kepada Penanggung mengenai semua keterangan tentang catatan riwayat kesehatan Saya.
			%li Kuasa ini merupakan hal yang tidak terpisahkan dari SPAJ dan akan mengikat Saya, Penerima Manfaat/Ahli Waris, dan keluarga Saya (jika ada).
			%li Kuasa ini tetap berlaku pada waktu Saya masih hidup maupun sesudah Saya meninggal dunia. Salinan/fotokopi dari surat kuasa ini sama sah berlakunya seperti dokumen asli.
			%li Apabila informasi tersebut yang Saya/Kami berikan tidak benar, maka Penanggung berhak membatalkan Polis Saya/Kami sejak awal.
