%form#PopUpCardiac.PopUp

	/ HEADER

	%header
		%input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
		%input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
		%h2 Pertanyaan Kesehatan

	/ FIELDSET

	%fieldset
		%label#LabelDetail.Multi.Single
			6d Gangguan fungsi/sistem Jantung dan Pembuluh Darah, Nyeri Dada, Serangan Jantung, Demam, Jantung, Rematik, Tekanan Darah Tinggi (Hipertensi)/Rendah, (Hipotensi), Hiperkolesterol, Penyempitan/Penyumbatan Pembuluh Darah Otak dan lainnya?
		%br
		%div.RadioButton
			%input#ButtonChestPain.ButtonPrimary{ :type => "button", :value => "Kuesioner Nyeri Dada" }
			%div.Separator
			%input#ButtonHipertensi.ButtonPrimary{ :type => "button", :value => "Kuesioner Tekanan Darah Tinggi" }
		%hr
		%label.Medium.Single silahkan memberikan rincian lebih lanjut
		%br
		%input#TextDetail.Full.Multi{ :type =>"text" }
		%label.Medium.Single (maksimum 250 karakter)