%form#FormAdditionalQuestion
    %header
        %input#ButtonCancel.ButtonPrimary.PositionerLeft{ :type => "button", :value => "Cancel" }
        %input#ButtonDone.ButtonPrimary.PositionerRight{ :type => "button", :value => "Done" }
        %h2 Pertanyaan Kesehatan

    %fieldset
        %label#LabelDiseaseName.Wrap{ :for => "TextDiseaseName" } Nama Penyakit
        %input#TextDiseaseName.Full.Single{ :type => "text" }
        
        %label#LabelSickFrom.Wrap{ :for => "DateSickFrom" } Kapan Mulai Sakit
        %input#DateSickFrom.Full.Single{ :type => "text" }
        
        %label#LabelSickDuration.Wrap{ :for => "TextSickDuration" } Lama Sakit
        %input#TextSickDuration.Full.Single{ :type => "text" }
        
        %label#LabelDoctorName.Wrap{ :for => "TextDoctorName" } Nama Dokter
        %input#TextDoctorName.Full.Single{ :type => "text" }
        
        %label#LabelHospital.Wrap{ :for => "TextHospital" } Rumah Sakit / Klinik / Laboratorium / Puskesmas
        %input#TextHospital.Full.Single{ :type => "text" }
        
        %label#LabelAddress.Wrap{ :for => "TextAddress" } Alamat
        %input#TextAddress.Full.Single{ :type => "text" }
        
        %label#LabelTelephone.Wrap{ :for => "TextTelephone" } Nomor Telepon
        %input#TextTelephone.Full.Single{ :type => "text" }