/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import healthquestionnairepdf-initialization-general
@import healthquestionnairepdf-setup


/* HEADER */

header
	margin-top: $general_space_large
    margin-bottom: $general_space_large
	img
		float: left
		vartical-align: middle
	.Address
		float: right
		text-align: right
		vartical-align: middle
        

/* MAIN */

main
	.Note
		border-style: solid
		border-width: $general_borderwidth_thin


/* FOOTER */



/* WIDTH */


/* HEIGHT */


/* POSITIONER */

.PositionerRight, .PositionerLeft, .PositionerCenter
	margin-top: 2px
    margin-bottom: 2px
    vertical-align: top
	
.PositionerRight
    float: right
    
.PositionerLeft
    float: left

.PositionerCenter
    position: relative
    margin: auto