/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import healthquestionnairepdf-initialization-general


/* GENERAL */

input.Tiny, textarea.Tiny
	width: $input_width_short / 4

input.Short, textarea.Short
	width: $input_width_short

input.Medium, textarea.Medium
	width: $input_width_medium

input.Long, textarea.Long
	width: $input_width_long

input.Full, textarea.Full
	width: 100%

input.Single, textarea.Single
	height: $input_height_single

input.Double, textarea.Double
	height: $input_height_double

input.Multi, textarea.Multi
	height: $input_height_multi

input.Wrap, textarea.Wrap
	min-height: $input_height_single


/* TEXT */

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="date"], textarea
	padding-left: $general_space_tiny
	padding-right: $general_space_tiny
	text-align: left
	font-size: $fontsize_input_general
	vertical-align: top
	border-top-style: none
	border-left-style: none
	border-right-style: none
	border-bottom-style: solid
	border-bottom-width: thin

input[type="text"].LineDot, input[type="password"].LineDot, input[type="number"].LineDot, input[type="email"].LineDot, input[type="date"].LineDot, textarea.LineDot
	border-bottom-style: dotted

div.TableItem
	input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="date"], textarea
		margin-top: $general_space_tiny
		margin-bottom: $general_space_tiny
		padding-left: $general_space_tiny
		padding-right: $general_space_tiny
		text-align: left
		font-size: $fontsize_input_general
		vertical-align: top
		border-top-style: solid
		border-top-width: $general_borderwidth_thin
		border-left-style: none
		border-left-width: none
		border-right-style: solid
		border-right-width: $general_borderwidth_thin
		border-bottom-style: solid
		border-bottom-width: $general_borderwidth_thin
	input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="date"], textarea
		padding-left: $general_space_tiny
		padding-right: $general_space_tiny
		text-align: left
		font-size: $fontsize_input_general
		vertical-align: top
		border-right-style: solid
		border-right-width: $general_borderwidth_thin


/* RADIO BUTTON */

input[type="radio"]
    display: none
input[type="radio"]:checked + .BoxRound
    background-image: url("../../Resource/Input/input_checkbox_checked.svg")

input[type="radio"].Plain
    display: none
input[type="radio"].Plain + label
	text-align: center
	+BorderRadius($general_borderradius_thick)


/* CHECKBOX */

input[type="checkbox"]
    display: none
input[type="checkbox"]:checked + .BoxRound
    background-image: url("../../Resource/Input/input_checkbox_checked.svg")

input[type="checkbox"].Plain
    display: none
input[type="checkbox"].Plain + label
	text-align: center
	+BorderRadius($general_borderradius_thick)
