/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import healthquestionnaire-initialization-general
@import healthquestionnaire-setup


/* HEADER */

header
	.Highlighted
		padding-top: $general_space_small
		padding-right: $general_space_huge
		padding-left: $general_space_huge
		padding-bottom: $general_space_small
		border-top-style: solid
		border-top-width: $general_borderwidth_thin
		border-bottom-style: solid
		border-bottom-width: $general_borderwidth_thin
		display: block
	h2
		border-bottom-style: solid
		border-bottom-width: $general_borderwidth_thin


/* MAIN */

main
	form, fieldset
		padding-top: $general_space_small
		padding-right: $general_space_medium
		padding-left: $general_space_medium
		padding-bottom: $general_space_small
		.ContainerFit, .ContainerLeft, .ContainerRight
			margin-top: $general_space_tiny
			margin-bottom: $general_space_tiny
			display: flex
			flex-wrap: nowrap
			align-content: stretch
			align-items: stretch
			.Item
				flex-grow: 1
			.Item1
				flex-grow: 1
			.Item2
				flex-grow: 2
			.Item3
				flex-grow: 3
			.Margin
				margin: $general_space_tiny
			.Center
				text-align: center
			.Left
				text-align: left
			.Right
				text-align: right
		.ContainerFit
			justify-content: space-between
		.ContainerLeft
			justify-content: flex-start
		.ContainerRight
			justify-content: flex-end

.Tiny
	min-width: $label_width_short / 4
	width: $label_width_short / 4
.Small
	min-width: $label_width_short / 0.85
	width: $label_width_short / 0.85
.Short
	min-width: $label_width_short
	width: $label_width_short
.Medium
	min-width: $label_width_medium * 1.5
	width: $label_width_medium * 1.5
.Long
	min-width: $label_width_long
	width: $label_width_long
.Full
	width: 100%
.TinyFix
	width: $label_width_short / 4
	max-width: $label_width_short / 4
.SmallFix
	width: $label_width_short / 0.85
	max-width: $label_width_short / 0.85
.ShortFix
	width: $label_width_short
	max-width: $label_width_short
.MediumFix
	width: $label_width_medium * 1.5
	max-width: $label_width_medium * 1.5
.LongFix
	width: $label_width_long * 2
	max-width: $label_width_long * 2
.LongFix
	width: 100%
	max-width: 100%


/* MAIN */

main
	form
		padding-top: $general_space_small
		padding-right: $general_space_medium
		padding-left: $general_space_medium
		padding-bottom: $general_space_small


/* POP UP */

main
	section.PopUp
		position: fixed
		top: 0px
		right: 0px
		left: 0px
		bottom: 0px
		padding: $general_space_medium
		display: none
		overflow: auto
		form.PopUp
			margin: $general_space_large
			padding: 0px
			header
				margin: 0px
				padding-top: $general_space_small
				padding-right: $general_space_medium
				padding-left: $general_space_medium
				padding-bottom: $general_space_small
			fieldset
				margin: $general_space_medium


/* CONDITION */

.PositionerRight
	float: right
	margin-top: 2px
	margin-bottom: 2px
	vertical-align: top

.PositionerLeft
	float: left
	margin-top: 2px
	margin-bottom: 2px
	vertical-align: top

.PositionerCenter
	position: relative
	margin: auto

.Horizontal25of100
	width: 24%
	display: inline-block