/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import spajform-initialization-general


/* GENERAL */

p
	font-family: $url_familyprimary_secondary


/* HEADER */

header
    h1
	   font-family: $url_familyprimary_primary
    h2
        font-family: $url_familyprimary_secondary


/* FORM */

main
	form
        label, span
            font-family: $url_familyprimary_primary
        table.BoxSquare
            font-family: $url_familyprimary_primary
        .BoxRound
            font-family: $url_familyprimary_primary
        ol, ul
            font-family: $url_familyprimary_primary
        .Note
            h3
                font-family: $url_familyprimary_secondary
            p
                font-family: $url_familyprimary_primary
            ol, ul
                li
                    font-family: $url_familyprimary_primary
        table.SignatureSmall, table.SignatureMedium
            font-family: $url_familyprimary_primary
        span.Separator, span.Description, span.Wrap, span.Note
            font-family: $url_familyprimary_primary
        p
            font-family: $url_familyprimary_secondary


/* TABLE */

table.Square
    thead
        tr
            th
                font-family: $url_familyprimary_secondary
    tbody
        tr
            td
                font-family: $url_familyprimary_primary
table.Round, table.Space
    thead
        tr
            th
                font-family: $url_familyprimary_primary
    tbody
        tr
            td
                font-family: $url_familyprimary_primary


/* LINK */
				
.NavigationPopUp
	font-family: $url_familyprimary_primary