/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import spajpdf-initialization-general
@import spajpdf-setup


/* HEADER */

header
    margin-bottom: $general_space_large
    img
        float: right
        width: 260px
        height: 80px
    h1
        float: left

.HeaderContainer
	position: absolute
	height: 50px
	left: $general_space_medium
	right: $general_space_medium
	.HeaderGeneral
		padding: $general_space_small
        +BorderRadius-Top($general_borderradius_thick)

.HeaderBreak
	width: 100%
	height: 50px
        

/* MAIN */

main
    padding: $general_space_medium
    section
        padding: $general_space_tiny
        .Note
            margin-bottom: $general_space_medium
            padding: $general_space_small
            border-style: solid
            border-width: $general_borderwidth_thin
            +BorderRadius($general_borderradius_thin)
			
			
/* FOOTER */

.FooterContainer
	position: absolute
	height: 50px
	left: $general_space_medium
	right: $general_space_medium
	.FooterGeneral
		padding-top: $general_space_medium
		padding-left: $general_space_small
		padding-right: $general_space_small
		padding-bottom: $general_space_tiny
		+BorderRadius-Bottom($general_borderradius_thick)

.PageBreak
	width: 100%
	height: 50px


/* CONDITION */

.PositionerRight
    float: right
    margin-top: 2px
    margin-bottom: 2px
    vertical-align: top
    
.PositionerLeft
    float: left
    margin-top: 2px
    margin-bottom: 2px
    vertical-align: top

.PositionerCenter
    position: relative
    margin: auto
        
.Horizontal25of100
    width: 24%
    display: inline-block