/* @charset "utf-8"; */
/* CSS Document */


// IMPORT

@import spajpdf-initialization-general
@import spajpdf-setup


/* HEADER */

header
    margin-bottom: $general_space_large
    img
        float: right
        width: 260px
        height: 80px
    h1
        float: left

.HeaderContainer
	position: absolute
	height: 65px
	left: $general_space_medium
	right: $general_space_medium
	.HeaderGeneral
		padding-top: $general_space_small
		padding-left: $general_space_medium
		padding-right: $general_space_medium
		padding-bottom: $general_space_small
		+BorderRadius-Top($general_borderradius_thick)
	hr
		border-top: none
		border-left: none
		border-right: none
		border-bottom-style: solid
		border-bottom-width: $general_borderwidth_thin

.HeaderBreak
	width: 100%
	height: 65px
        

/* MAIN */

main
    padding: $general_space_medium
    section
        .Note
            margin-bottom: $general_space_medium
            padding: $general_space_small
            border-style: solid
            border-width: $general_borderwidth_thin
            +BorderRadius($general_borderradius_thin)
			
			
/* FOOTER */

.FooterContainer, .FooterContainerLast
	position: absolute
	height: 60px
	left: $general_space_medium
	right: $general_space_medium
	.FooterGeneral, .FooterLast
		padding-top: $general_space_medium
		padding-left: $general_space_small
		padding-right: $general_space_small
		padding-bottom: $general_space_tiny
		+BorderRadius-Bottom($general_borderradius_thick)
	img
		width: 130px

.FooterContainerLast
	height: 120px

.FooterContainerLast + .PageBreak
	margin-top: 70px

.PageBreak
	width: 100%
	height: 60px


/* CONDITION */

.PositionerRight
    float: right
    margin-top: 2px
    margin-bottom: 2px
    vertical-align: top
    
.PositionerLeft
    float: left
    margin-top: 2px
    margin-bottom: 2px
    vertical-align: top

.PositionerCenter
    position: relative
    margin: auto
        
.Horizontal25of100
    width: 24%
    display: inline-block