/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* FUNCTION */
/* ANIMATION */
/* HEADER */
/* FORM */
/* INPUT */
/* NOTE */
/* SIGNATURE */
/* FOOTER */
/* TABLE */
/* LINK */
/* GENERAL */
/* ICON */
/* LAYOUT */
/* FORM INITIALIZATION */
/* LABEL */
/* BOX */
/* TABLE INITIALIZATION */
/* TABLE */
/* INPUT INITIALIZATION */
/* LINK */
/* RESOURCE */
/* TYPEFACE */
/* LINK */
/* Clear Hyperlink */
a.Clear {
  text-decoration: none;
}

a.Clear:link {
  text-decoration: none;
}

a.Clear:visited {
  text-decoration: none;
}

a.Clear:hover {
  text-decoration: none;
}

a.Clear:active {
  text-decoration: none;
}

/* Underline Hyperlink */
a.Underline {
  text-decoration: underline;
}

a.Underline:link {
  color: inherit;
  text-decoration: underline;
}

a.Underline:visited {
  color: inherit;
  text-decoration: underline;
}

a.Underlinek:hover {
  color: inherit;
  text-decoration: underline;
}

a.Underline:active {
  color: inherit;
  text-decoration: underline;
}

/* NAVIGATION */
nav a {
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  font-size: 0.8em;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.NavigationPopUp {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}

/* BUTTON BY TEXT */
.ButtonPrimary, .ButtonSecondary, .ButtonPreview, .ButtonDelete, .ButtonView {
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-bottom-font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-display: inline-block;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.ButtonPrimary:disabled {
  z-index: 2;
}

.ButtonPrimary:hover {
  z-index: 2;
}

.ButtonSecondary:disabled {
  z-index: 2;
}

.ButtonSecondary:hover {
  z-index: 2;
}

.ButtonPreview {
  display: none;
}
